# Inilization

In [1]:
import pandas as pd
from pyspark.sql import functions as F

#For 3.3.1
#Register Sedona Functions to Spark
from sedona.register import SedonaRegistrator
SedonaRegistrator.registerAll(spark)


#For 3.3.2
from shapely.geometry import Point, Polygon, mapping
import h3.api.numpy_int as h3int

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, date_format, count, countDistinct, when, expr
import calendar
from pyspark.sql.types import IntegerType
from pyspark.sql.window import Window

In [3]:
import pandas as pd
from IPython.display import HTML
import base64
from pyspark.sql.functions import year, month, dayofmonth, hour, minute, second
from pyspark.sql.functions import monotonically_increasing_id

# Eksplorasi Data

## Data AIS

In [4]:
basepath = "s3a://ungp-ais-data-historical-backup/exact-earth-data/transformed/prod/"

In [5]:
#Read Data January 2022
#df_data = spark.read.parquet(basepath+ "year=2022/month=01/day=01")

#Read Data 2022
df_data = spark.read.parquet(basepath+ "year=2022")

In [6]:
df_data.createOrReplaceTempView("temp_df")

## Cek Data

In [7]:
#Check-out available fields
df_data.printSchema()

root
 |-- mmsi: integer (nullable = true)
 |-- imo: integer (nullable = true)
 |-- vessel_name: string (nullable = true)
 |-- callsign: string (nullable = true)
 |-- vessel_type: string (nullable = true)
 |-- vessel_type_code: integer (nullable = true)
 |-- vessel_type_cargo: string (nullable = true)
 |-- vessel_class: string (nullable = true)
 |-- length: double (nullable = true)
 |-- width: double (nullable = true)
 |-- flag_country: string (nullable = true)
 |-- flag_code: integer (nullable = true)
 |-- destination: string (nullable = true)
 |-- eta: integer (nullable = true)
 |-- draught: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- sog: double (nullable = true)
 |-- cog: double (nullable = true)
 |-- rot: double (nullable = true)
 |-- heading: double (nullable = true)
 |-- nav_status: string (nullable = true)
 |-- nav_status_code: integer (nullable = true)
 |-- source: string (nullable = true)
 |-- dt_pos_utc: timestamp (nullable = true)
 |-- dt_static_utc: timestamp (nullable = true)
 |-- dt_insert_utc: timestamp (nullable = true)
 |-- vessel_type_main: string (nullable = true)
 |-- vessel_type_sub: string (nullable = true)
 |-- message_type: integer (nullable = true)
 |-- eeid: long (nullable = true)
 |-- source_filename: string (nullable = true)
 |-- H3index_0: string (nullable = true)
 |-- H3_int_index_0: long (nullable = true)
 |-- H3_int_index_1: long (nullable = true)
 |-- H3_int_index_2: long (nullable = true)
 |-- H3_int_index_3: long (nullable = true)
 |-- H3_int_index_4: long (nullable = true)
 |-- H3_int_index_5: long (nullable = true)
 |-- H3_int_index_6: long (nullable = true)
 |-- H3_int_index_7: long (nullable = true)
 |-- H3_int_index_8: long (nullable = true)
 |-- H3_int_index_9: long (nullable = true)
 |-- H3_int_index_10: long (nullable = true)
 |-- H3_int_index_11: long (nullable = true)
 |-- H3_int_index_12: long (nullable = true)
 |-- H3_int_index_13: long (nullable = true)
 |-- H3_int_index_14: long (nullable = true)
 |-- H3_int_index_15: long (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)

In [8]:
# Show sample 5 data
# df.show(n=1, vertical=True)
df_data.show(n=5, vertical=True)

-RECORD 0---------------------------------
 mmsi              | 273295870
 imo               | 9167758
 vessel_name       | ARKA-33
 callsign          | UBPW7
 vessel_type       | Fishing
 vessel_type_code  | 30
 vessel_type_cargo | null
 vessel_class      | A
 length            | 0.0
 width             | 0.0
 flag_country      | Russian Federation
 flag_code         | 273
 destination       | BARENTS SEA
 eta               | 8112200
 draught           | 5.0
 longitude         | 49.25605
 latitude          | 76.70656667
 sog               | 0.8
 cog               | 50.6
 rot               | 0.0
 heading           | 6.0
 nav_status        | Under Way Using E...
 nav_status_code   | 0
 source            | S-AIS
 dt_pos_utc        | 2022-11-19 17:23:41
 dt_static_utc     | 2022-11-19 12:37:44
 dt_insert_utc     | 2022-11-19 17:24:02
 vessel_type_main  | null
 vessel_type_sub   | null
 message_type      | 1
 eeid              | 6909951752121494014
 source_filename   | s3a://ungp-ais-da...
 H3index_0         | 8001fffffffffff
 H3_int_index_0    | 576495936675512319
 H3_int_index_1    | 580968749977305087
 H3_int_index_2    | 585469600825606143
 H3_int_index_3    | 589998626659368959
 H3_int_index_4    | 594476585331982335
 H3_int_index_5    | 598980183885611007
 H3_int_index_6    | 603483783378763775
 H3_int_index_7    | 607987382905470975
 H3_int_index_8    | 612490982518161407
 H3_int_index_9    | 616994582143696895
 H3_int_index_10   | 621498181771034623
 H3_int_index_11   | 626001781398392831
 H3_int_index_12   | 630505381025761279
 H3_int_index_13   | 635008980653131647
 H3_int_index_14   | 639512580280502119
 H3_int_index_15   | 644016179907872611
 month             | 11
 day               | 19
-RECORD 1---------------------------------
 mmsi              | 273295870
 imo               | 9167758
 vessel_name       | ARKA-33
 callsign          | UBPW7
 vessel_type       | Fishing
 vessel_type_code  | 30
 vessel_type_cargo | null
 vessel_class      | A
 length            | 0.0
 width             | 0.0
 flag_country      | Russian Federation
 flag_code         | 273
 destination       | BARENTS SEA
 eta               | 8112200
 draught           | 5.0
 longitude         | 49.26321667
 latitude          | 76.70918333
 sog               | 0.8
 cog               | 63.3
 rot               | 0.0
 heading           | 352.0
 nav_status        | Under Way Using E...
 nav_status_code   | 0
 source            | S-AIS
 dt_pos_utc        | 2022-11-19 17:32:47
 dt_static_utc     | 2022-11-19 12:37:44
 dt_insert_utc     | 2022-11-19 17:33:12
 vessel_type_main  | null
 vessel_type_sub   | null
 message_type      | 1
 eeid              | 6909951752121494014
 source_filename   | s3a://ungp-ais-da...
 H3index_0         | 8001fffffffffff
 H3_int_index_0    | 576495936675512319
 H3_int_index_1    | 580968749977305087
 H3_int_index_2    | 585469600825606143
 H3_int_index_3    | 589998626659368959
 H3_int_index_4    | 594476585331982335
 H3_int_index_5    | 598980183885611007
 H3_int_index_6    | 603483783378763775
 H3_int_index_7    | 607987382905470975
 H3_int_index_8    | 612490982518161407
 H3_int_index_9    | 616994582144483327
 H3_int_index_10   | 621498181771821055
 H3_int_index_11   | 626001781399183359
 H3_int_index_12   | 630505381026551295
 H3_int_index_13   | 635008980653921599
 H3_int_index_14   | 639512580281292055
 H3_int_index_15   | 644016179908662579
 month             | 11
 day               | 19
-RECORD 2---------------------------------
 mmsi              | 273295870
 imo               | 9167758
 vessel_name       | ARKA-33
 callsign          | UBPW7
 vessel_type       | Fishing
 vessel_type_code  | 30
 vessel_type_cargo | null
 vessel_class      | A
 length            | 0.0
 width             | 0.0
 flag_country      | Russian Federation
 flag_code         | 273
 destination       | BARENTS SEA
 eta               | 8112200
 draught           | 5.0
 longitude         | 49.26666667
 latitude          | 76.70975
 sog               | 1.2
 cog               | 93.3
 rot               | 0.0
 heading           | 12.0
 nav_status        | Under Way Using E...
 nav_status_code   | 0
 source            | S-AIS
 dt_pos_utc        | 2022-11-19 17:38:20
 dt_static_utc     | 2022-11-19 12:37:44
 dt_insert_utc     | 2022-11-19 17:41:49
 vessel_type_main  | null
 vessel_type_sub   | null
 message_type      | 1
 eeid              | 6909951752121494014
 source_filename   | s3a://ungp-ais-da...
 H3index_0         | 8001fffffffffff
 H3_int_index_0    | 576495936675512319
 H3_int_index_1    | 580968749977305087
 H3_int_index_2    | 585469600825606143
 H3_int_index_3    | 589998626659368959
 H3_int_index_4    | 594476585331982335
 H3_int_index_5    | 598980183885611007
 H3_int_index_6    | 603483783378763775
 H3_int_index_7    | 607987382905470975
 H3_int_index_8    | 612490982518161407
 H3_int_index_9    | 616994582144483327
 H3_int_index_10   | 621498181771689983
 H3_int_index_11   | 626001781399052287
 H3_int_index_12   | 630505381026422271
 H3_int_index_13   | 635008980653792575
 H3_int_index_14   | 639512580281163023
 H3_int_index_15   | 644016179908533505
 month             | 11
 day               | 19
-RECORD 3---------------------------------
 mmsi              | 273295870
 imo               | 9167758
 vessel_name       | ARKA-33
 callsign          | UBPW7
 vessel_type       | Fishing
 vessel_type_code  | 30
 vessel_type_cargo | null
 vessel_class      | A
 length            | 0.0
 width             | 0.0
 flag_country      | Russian Federation
 flag_code         | 273
 destination       | BARENTS SEA
 eta               | 8112200
 draught           | 5.0
 longitude         | 49.24713333
 latitude          | 76.71133333
 sog               | 4.7
 cog               | 319.7
 rot               | 0.0
 heading           | 320.0
 nav_status        | Under Way Using E...
 nav_status_code   | 0
 source            | S-AIS
 dt_pos_utc        | 2022-11-19 17:59:43
 dt_static_utc     | 2022-11-19 17:49:47
 dt_insert_utc     | 2022-11-19 18:00:08
 vessel_type_main  | null
 vessel_type_sub   | null
 message_type      | 1
 eeid              | 6909951752121494014
 source_filename   | s3a://ungp-ais-da...
 H3index_0         | 8001fffffffffff
 H3_int_index_0    | 576495936675512319
 H3_int_index_1    | 580968749977305087
 H3_int_index_2    | 585469600825606143
 H3_int_index_3    | 589998626659368959
 H3_int_index_4    | 594476585331982335
 H3_int_index_5    | 598980183885611007
 H3_int_index_6    | 603483783378763775
 H3_int_index_7    | 607987382905470975
 H3_int_index_8    | 612490982518161407
 H3_int_index_9    | 616994582143959039
 H3_int_index_10   | 621498181771263999
 H3_int_index_11   | 626001781398614015
 H3_int_index_12   | 630505381025982975
 H3_int_index_13   | 635008980653353087
 H3_int_index_14   | 639512580280723575
 H3_int_index_15   | 644016179908094067
 month             | 11
 day               | 19
-RECORD 4---------------------------------
 mmsi              | 273295870
 imo               | 9167758
 vessel_name       | ARKA-33
 callsign          | UBPW7
 vessel_type       | Fishing
 vessel_type_code  | 30
 vessel_type_cargo | null
 vessel_class      | A
 length            | 0.0
 width             | 0.0
 flag_country      | Russian Federation
 flag_code         | 273
 destination       | BARENTS SEA
 eta               | 8112200
 draught           | 5.0
 longitude         | 49.26831667
 latitude          | 76.70758333
 sog               | 0.8
 cog               | 106.7
 rot               | 0.0
 heading           | 338.0
 nav_status        | Under Way Using E...
 nav_status_code   | 0
 source            | S-AIS
 dt_pos_utc        | 2022-11-19 17:49:37
 dt_static_utc     | 2022-11-19 15:49:43
 dt_insert_utc     | 2022-11-19 17:49:55
 vessel_type_main  | null
 vessel_type_sub   | null
 message_type      | 3
 eeid              | 6909951752121494014
 source_filename   | s3a://ungp-ais-da...
 H3index_0         | 8001fffffffffff
 H3_int_index_0    | 576495936675512319
 H3_int_index_1    | 580968749977305087
 H3_int_index_2    | 585469600825606143
 H3_int_index_3    | 589998626659368959
 H3_int_index_4    | 594476585331982335
 H3_int_index_5    | 598980183885611007
 H3_int_index_6    | 603483783378763775
 H3_int_index_7    | 607987382905470975
 H3_int_index_8    | 612490982518161407
 H3_int_index_9    | 616994582144221183
 H3_int_index_10   | 621498181771362303
 H3_int_index_11   | 626001781398724607
 H3_int_index_12   | 630505381026092543
 H3_int_index_13   | 635008980653462655
 H3_int_index_14   | 639512580280833135
 H3_int_index_15   | 644016179908203628
 month             | 11
 day               | 19
only showing top 5 rows

## Jumlah Records

In [9]:
total_record = df_data.count()
total_record

8898338622

In [8]:
# Konversi 'dt_pos_utc' ke tipe timestamp
df_data = df_data.withColumn("dt_pos_utc", df_data["dt_pos_utc"].cast("timestamp"))

# Kelompokkan berdasarkan bulan dan hitung jumlah rekaman
rekaman_per_bulan = df_data.withColumn("months", date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(count("*").alias("jumlah_record_per_bulan"))

# Tampilkan DataFrame Spark yang telah diubah dan diurutkan
rekaman_per_bulan.show()

+---------+-----------------------+
|   months|jumlah_record_per_bulan|
+---------+-----------------------+
|  January|              708861173|
|      May|              768489481|
|    April|              751292713|
| December|              732984416|
|  October|              769321662|
|     July|              818121481|
|     June|              770268067|
| November|              615345777|
|September|              766432785|
|   August|              795930405|
| February|              652348211|
|    March|              748942451|
+---------+-----------------------+

## 0,1% Records

In [9]:
# Hitung 1% dari jumlah rekaman per bulan dan tambahkan sebagai kolom baru
rekaman_per_bulan = rekaman_per_bulan.withColumn("satu_persen", col("jumlah_record_per_bulan") * 0.001)

# Tampilkan DataFrame
rekaman_per_bulan.show()

+---------+-----------------------+-----------------+
|   months|jumlah_record_per_bulan|      satu_persen|
+---------+-----------------------+-----------------+
| November|              615345777|       615345.777|
|     June|              770268067|       770268.067|
|  October|              769321662|       769321.662|
|     July|              818121481|       818121.481|
|  January|              708861173|708861.1730000001|
| February|              652348211|       652348.211|
|   August|              795930405|       795930.405|
|    March|              748942451|       748942.451|
|    April|              751292713|       751292.713|
|      May|              768489481|       768489.481|
| December|              732984416|       732984.416|
|September|              766432785|       766432.785|
+---------+-----------------------+-----------------+

In [10]:
def create_sampled_data_for_each_month(df_data_dengan_bulan, unique_months):
    # Inisialisasi DataFrame untuk menyimpan hasil
    sampled_data = None
    
    # Loop melalui setiap bulan dan ambil sekitar 1% data
    for month in unique_months:
        # Filter data berdasarkan bulan
        filtered_data = df_data_dengan_bulan.filter(col("bulan") == month)
        
        # Ambil sekitar 1% dari data untuk bulan tersebut
        sampled_data_month = filtered_data.sample(fraction=0.01, seed=42)
        
        # Gabungkan hasil untuk setiap bulan menjadi satu DataFrame
        if sampled_data is None:
            sampled_data = sampled_data_month
        else:
            sampled_data = sampled_data.union(sampled_data_month)

    return sampled_data

In [11]:
# Ekstrak nama bulan dari timestamp
df_data_dengan_bulan = df_data.withColumn("bulan", date_format("dt_pos_utc", "MMMM"))

# Hitung jumlah unik bulan
unique_months = df_data_dengan_bulan.select("bulan").distinct()

# Eksekusi fungsi
sampledd_data = create_sampled_data_for_each_month(df_data_dengan_bulan, unique_months)

### Save 1% Data

In [12]:
# Save Path
save_path = "s3a://ungp-ais-data-historical-backup/user_temp/"
save_path_unique = save_path + "222011349/"

In [13]:
# Save Data
sampledd_data.write.option("header", True).mode("overwrite").parquet(save_path_unique + "data-ais-01persen-dunia-2022.parquet")

### Read 1% Data

In [5]:
# Read Data
data_sampel = spark.read.parquet(save_path_unique + "data-ais-01persen-dunia-2022.parquet", header=True)

### Record per Bulan

In [14]:
# Kelompokkan berdasarkan bulan dan hitung jumlah rekaman
rekaman_per_bulan_1pers = data_sampel.withColumn("months", date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(count("*").alias("jumlah_record_per_bulan"))

# Tampilkan DataFrame Spark yang telah diubah dan diurutkan
rekaman_per_bulan_1pers.show()

+---------+-----------------------+
|   months|jumlah_record_per_bulan|
+---------+-----------------------+
|     July|                8180319|
| November|                6152686|
|    March|                7495299|
|  October|                7692290|
|      May|                7688979|
|   August|                7956939|
|    April|                7515300|
|     June|                7702391|
| December|                7332324|
|September|                7664096|
| February|                6523538|
|  January|                7092365|
+---------+-----------------------+

## Statistical Summary Data AIS

In [6]:
# MMSI, IMO, Status Navigasi, Tipe Kapal, Negara Kapal

# Variabel yang ingin dihitung statistik deskriptif
variables_to_describe = ["mmsi", "imo", "nav_status_code", "vessel_type_code", "flag_code", "sog"]

# Ambil statistik deskriptif tertentu untuk kolom-kolom tersebut
stats_df = data_sampel.select(variables_to_describe).describe()

# Pilih statistik tertentu
selected_stats = ["count", "mean", "stddev", "min", "25%", "50%", "75%", "max"]
stats_df = stats_df.select(["summary"] + [col(var).alias(var) for var in variables_to_describe]).filter(col("summary").isin(selected_stats))

# Tampilkan statistik deskriptif
stats_df.show()

+-------+--------------------+--------------------+------------------+-----------------+------------------+------------------+
|summary|                mmsi|                 imo|   nav_status_code| vessel_type_code|         flag_code|               sog|
+-------+--------------------+--------------------+------------------+-----------------+------------------+------------------+
|  count|            88996526|            49396979|          88996526|         88996526|          87373801|          88996526|
|   mean|3.9557185937097013E8|1.4585489263007926E7|5.4672777114917945|62.17126814590493|395.20465823616854|3.5833767893369504|
| stddev|1.3375405787626652E8| 6.717527475649801E7| 6.600339462843639|20.75899491321837|133.48844301584683|5.3688225276747525|
|    min|                   0|                   1|                 0|                0|               201|               0.0|
|    max|          1073722367|          1073741823|                16|              255|               775|             102.1|
+-------+--------------------+--------------------+------------------+-----------------+------------------+------------------+

In [40]:
# Latitude, Longitude, dt_pos_utc

# Pemisahan komponen waktu dari kolom dt_pos_utc
data_sampel = data_sampel.withColumn("year", year("dt_pos_utc"))
data_sampel = data_sampel.withColumn("month", month("dt_pos_utc"))
data_sampel = data_sampel.withColumn("day", dayofmonth("dt_pos_utc"))
data_sampel = data_sampel.withColumn("hour", hour("dt_pos_utc"))
data_sampel = data_sampel.withColumn("minute", minute("dt_pos_utc"))
data_sampel = data_sampel.withColumn("second", second("dt_pos_utc"))

# Variabel yang ingin dihitung statistik deskriptif
variables_to_describe_2 = ["latitude", "longitude", "year", "month", "day", "hour", "minute", "second"]

# Ambil statistik deskriptif tertentu untuk kolom-kolom tersebut
stats_df_2 = data_sampel.select(variables_to_describe_2).describe()

# Pilih statistik tertentu
selected_stats = ["count", "mean", "stddev", "min", "25%", "50%", "75%", "max"]
stats_df_2 = stats_df_2.select(["summary"] + [col(var).alias(var) for var in variables_to_describe_2]).filter(col("summary").isin(selected_stats))

# Tampilkan statistik deskriptif
stats_df_2.show()

+-------+------------------+------------------+--------------------+------------------+------------------+------------------+------------------+------------------+
|summary|          latitude|         longitude|                year|             month|               day|              hour|            minute|            second|
+-------+------------------+------------------+--------------------+------------------+------------------+------------------+------------------+------------------+
|  count|          88996526|          88996526|            88996526|          88996526|          88996526|          88996526|          88996526|          88996526|
|   mean|24.839926569895283|27.691537992568044|   2021.999999404471| 6.515206245241528|15.765656245952792|11.537739832676165| 29.53726906149123| 29.34361451367214|
| stddev|26.503972458336904| 87.63593397212728|7.717049408373282E-4|3.3739793152006343| 8.846388808618093|6.9232543558837385|17.307282607379644|17.311541165567967|
|    min|             -90.0|            -180.0|                2021|                 1|                 1|                 0|                 0|                 0|
|    max|              90.0|             180.0|                2022|                12|                31|                23|                59|                59|
+-------+------------------+------------------+--------------------+------------------+------------------+------------------+------------------+------------------+

## Nilai Unik

### MMSI Unik per Bulan

In [6]:
# Hitung jumlah 'mmsi' yang unik per bulan
unique_mmsi_per_month = data_sampel.withColumn("months", date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(countDistinct("mmsi").alias("unique_mmsi_count"))

# Tampilkan DataFrame Spark
unique_mmsi_per_month.show()

+---------+-----------------+
|   months|unique_mmsi_count|
+---------+-----------------+
|     July|           310532|
| November|           281458|
| February|           236903|
|  January|           253983|
|    March|           268823|
|  October|           289747|
|      May|           291265|
|   August|           314024|
|    April|           289684|
|     June|           295255|
| December|           257860|
|September|           305440|
+---------+-----------------+

### IMO Unik per Bulan

In [7]:
# Hitung jumlah 'imo' yang unik per bulan
unique_imo_per_month = data_sampel.withColumn("months", date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(countDistinct("imo").alias("unique_imo_count"))

# Tampilkan DataFrame Spark
unique_imo_per_month.show()

+---------+----------------+
|   months|unique_imo_count|
+---------+----------------+
|     July|           71362|
| November|           70912|
| February|           68606|
|  January|           70475|
|    March|           69970|
|  October|           71333|
|      May|           71172|
|   August|           71549|
|    April|           70502|
|     June|           71212|
| December|           70225|
|September|           71452|
+---------+----------------+

### Status Navigasi Setahun

In [10]:
# Hitung jumlah 'mmsi' per masing-masing 'nav_status' dengan DataFrame API
mmsi_count_per_nav_status = data_sampel.select("mmsi","nav_status").groupBy("nav_status").agg(F.count("mmsi").alias("mmsi_count"))

# Tampilkan DataFrame Spark
mmsi_count_per_nav_status.show()

+--------------------+----------+
|          nav_status|mmsi_count|
+--------------------+----------+
|              Moored|  13668349|
|             Aground|     60725|
|Restricted Manoeu...|   1487784|
|         Not Defined|   4680386|
|   Not Under Command|    351955|
|  Engaged In Fishing|   2024920|
|    Underway Sailing|   1751607|
|             Unknown|  19166200|
|           At Anchor|   7643080|
|Under Way Using E...|  38161520|
+--------------------+----------+

### Tipe Kapal Setahun

In [11]:
# Hitung jumlah 'mmsi' per masing-masing 'vessel_type'
mmsi_count_per_vessel_type = data_sampel.select("mmsi","vessel_type").groupBy("vessel_type").agg(count("mmsi").alias("mmsi_count"))

# Tampilkan DataFrame Spark
mmsi_count_per_vessel_type.show(mmsi_count_per_vessel_type.count(), truncate=False)

+------------------------------------+----------+
|vessel_type                         |mmsi_count|
+------------------------------------+----------+
|Sailing                             |2607522   |
|Tanker                              |10218414  |
|Ships Not Party to Armed Conflict   |47387     |
|Military                            |294571    |
|Towing                              |1958264   |
|Reserved                            |382493    |
|SAR                                 |560415    |
|Unknown                             |3064681   |
|Other                               |5256911   |
|UNAVAILABLE                         |26120     |
|Law Enforcement                     |367312    |
|Tug                                 |6701986   |
|Pleasure Craft                      |4674990   |
|Passenger                           |4960352   |
|Diving                              |143889    |
|Fishing                             |10360734  |
|Port Tender                         |337944    |
|Spare                               |1335571   |
|Medical Transport                   |20699     |
|Pilot                               |737693    |
|WIG                                 |296352    |
|Dredging                            |1087616   |
|Not Available                       |144213    |
|Cargo                               |32547838  |
|Vessel With Anti-Pollution Equipment|167599    |
|HSC                                 |694960    |
+------------------------------------+----------+

### Negara Kapal Setahun

In [13]:
# Hitung jumlah 'mmsi' per masing-masing 'flag_country'
mmsi_count_per_flag_country = data_sampel.select("mmsi","flag_country").groupBy("flag_country").agg(count("mmsi").alias("mmsi_count"))

# Tampilkan DataFrame Spark
mmsi_count_per_flag_country.show(mmsi_count_per_vessel_type.count(), truncate=False)

+------------------------+----------+
|flag_country            |mmsi_count|
+------------------------+----------+
|Paraguay                |165457    |
|Anguilla                |2002      |
|Macao                   |3164      |
|Senegal                 |68484     |
|Sweden                  |990070    |
|Kiribati                |23507     |
|Guyana                  |16455     |
|Philippines             |267347    |
|Djibouti                |8506      |
|Singapore               |2463184   |
|Malaysia                |572954    |
|Turkey                  |545610    |
|Malawi                  |462       |
|Iraq                    |6108      |
|Germany                 |1787833   |
|Comoros                 |65588     |
|Afghanistan             |361       |
|Cambodia                |1678      |
|Saint Helena            |9372      |
|Jordan                  |7319      |
|Maldives                |3585      |
|Rwanda                  |599       |
|Palau                   |105558    |
|Ascension Island        |1001      |
|France                  |1015987   |
|Turks and Caicos Islands|515       |
+------------------------+----------+
only showing top 26 rows

# Quality Assurance

## MMSI Unik per

### Status Navigasi

In [8]:
# Hitung jumlah 'mmsi' yang unik berdasarkan 'nav_status'
unique_mmsi_per_nav_status = data_sampel.groupBy("nav_status").agg(countDistinct("mmsi").alias("unique_mmsi_per_nav_status_count"))

# Tampilkan DataFrame Spark
unique_mmsi_per_nav_status.show()

+--------------------+--------------------------------+
|          nav_status|unique_mmsi_per_nav_status_count|
+--------------------+--------------------------------+
|              Moored|                          103317|
|Restricted Manoeu...|                           13669|
|             Aground|                            1981|
|         Not Defined|                           36212|
|   Not Under Command|                           18338|
|  Engaged In Fishing|                            7059|
|    Underway Sailing|                           25453|
|             Unknown|                          411470|
|           At Anchor|                           85960|
|Under Way Using E...|                          172355|
+--------------------+--------------------------------+

### Tipe Kapal

In [9]:
# Hitung jumlah 'mmsi' yang unik berdasarkan 'vessel_type'
unique_mmsi_per_vessel_type = data_sampel.groupBy("vessel_type").agg(countDistinct("mmsi").alias("unique_mmsi_per_vessel_type_count"))

# Tampilkan DataFrame Spark
unique_mmsi_per_vessel_type.show(unique_mmsi_per_vessel_type.count(), truncate=False)

+------------------------------------+---------------------------------+
|vessel_type                         |unique_mmsi_per_vessel_type_count|
+------------------------------------+---------------------------------+
|Sailing                             |67649                            |
|Tanker                              |25376                            |
|Ships Not Party to Armed Conflict   |318                              |
|Military                            |2152                             |
|Towing                              |6938                             |
|Reserved                            |3165                             |
|SAR                                 |4329                             |
|Unknown                             |110671                           |
|Other                               |19461                            |
|UNAVAILABLE                         |5139                             |
|Law Enforcement                     |2650                             |
|Tug                                 |22275                            |
|Pleasure Craft                      |72881                            |
|Passenger                           |17351                            |
|Diving                              |1019                             |
|Fishing                             |136741                           |
|Port Tender                         |2809                             |
|Spare                               |2260                             |
|Medical Transport                   |119                              |
|Pilot                               |2939                             |
|WIG                                 |2158                             |
|Dredging                            |4412                             |
|Not Available                       |14761                            |
|Cargo                               |130674                           |
|Vessel With Anti-Pollution Equipment|1118                             |
|HSC                                 |2832                             |
+------------------------------------+---------------------------------+

### Negara Kapal

In [39]:
# Filter out rows where 'flag_country' is not null
df_filtered = data_sampel.filter(col("flag_country").isNotNull())

# Hitung jumlah 'mmsi' yang unik berdasarkan 'flag_country'
unique_mmsi_per_flag_country = df_filtered.groupBy("flag_country").agg(countDistinct("mmsi").alias("unique_mmsi_per_flag_country_count"))

# Tampilkan DataFrame Spark
unique_mmsi_per_flag_country = unique_mmsi_per_flag_country.orderBy("flag_country")
unique_mmsi_per_flag_country.show(unique_mmsi_per_flag_country.count(), truncate=False)

+--------------------------------+----------------------------------+
|flag_country                    |unique_mmsi_per_flag_country_count|
+--------------------------------+----------------------------------+
|Adelie Land                     |34                                |
|Afghanistan                     |40                                |
|Alaska                          |205                               |
|Albania                         |748                               |
|Algeria                         |165                               |
|American Samoa                  |30                                |
|Andorra                         |695                               |
|Angola                          |93                                |
|Anguilla                        |99                                |
|Antigua and Barbuda             |737                               |
|Argentina                       |1077                              |
|Armenia                         |78                                |
|Aruba                           |6                                 |
|Ascension Island                |100                               |
|Australia                       |8253                              |
|Austria                         |606                               |
|Azerbaijan                      |349                               |
|Azores                          |583                               |
|Bahamas                         |1257                              |
|Bahrain                         |2843                              |
|Bangladesh                      |182                               |
|Barbados                        |344                               |
|Belarus                         |27                                |
|Belgium                         |3960                              |
|Belize                          |798                               |
|Benin                           |32                                |
|Bermuda                         |327                               |
|Bhutan                          |294                               |
|Bolivia                         |87                                |
|Bosnia and Herzegovina          |18                                |
|Botswana                        |64                                |
|Brazil                          |2606                              |
|British Virgin Islands          |551                               |
|Brunei                          |63                                |
|Bulgaria                        |478                               |
|Burkina Faso                    |32                                |
|Burundi                         |30                                |
|Cambodia                        |135                               |
|Cameroon                        |393                               |
|Canada                          |6936                              |
|Cape Verde                      |46                                |
|Cayman Islands                  |1776                              |
|Central African Republic        |140                               |
|Chad                            |11                                |
|Chile                           |616                               |
|China                           |182156                            |
|Christmas Island                |51                                |
|Cocos Islands                   |58                                |
|Colombia                        |346                               |
|Comoros                         |379                               |
|Congo                           |91                                |
|Cook Islands                    |839                               |
|Costa Rica                      |112                               |
|Croatia                         |976                               |
|Crozet Archipelago              |55                                |
|Cuba                            |119                               |
|Cyprus                          |3774                              |
|Czech Republic                  |169                               |
|Denmark                         |7369                              |
|Djibouti                        |75                                |
|Dominica                        |154                               |
|Dominican Republic              |35                                |
|Ecuador                         |671                               |
|Egypt                           |343                               |
|El Salvador                     |44                                |
|Equatorial Guinea               |81                                |
|Eritrea                         |44                                |
|Estonia                         |398                               |
|Ethiopia                        |20                                |
|Falkland Islands                |53                                |
|Faroe Islands                   |393                               |
|Fiji                            |139                               |
|Finland                         |2082                              |
|France                          |14861                             |
|French Guiana                   |28                                |
|Gabon                           |120                               |
|Gambia                          |27                                |
|Georgia                         |199                               |
|Germany                         |15945                             |
|Ghana                           |114                               |
|Gibraltar                       |480                               |
|Greece                          |2472                              |
|Greenland                       |233                               |
|Grenada                         |112                               |
|Guadeloupe                      |139                               |
|Guatemala                       |74                                |
|Guinea                          |35                                |
|Guinea-Bissau                   |54                                |
|Guyana                          |110                               |
|Haiti                           |37                                |
|Honduras                        |69                                |
|Hong Kong                       |3689                              |
|Hungary                         |99                                |
|Iceland                         |1325                              |
|India                           |4482                              |
|Indonesia                       |13330                             |
|Iran                            |3340                              |
|Iraq                            |94                                |
|Ireland                         |1030                              |
|Israel                          |274                               |
|Italy                           |5872                              |
|Ivory Coast                     |37                                |
|Jamaica                         |345                               |
|Japan                           |9537                              |
|Jordan                          |48                                |
|Kazakhstan                      |153                               |
|Kenya                           |39                                |
|Kerguelen Islands               |55                                |
|Kiribati                        |110                               |
|Kuwait                          |149                               |
|Kyrgyzstan                      |53                                |
|Laos                            |31                                |
|Latvia                          |263                               |
|Lebanon                         |86                                |
|Lesotho                         |10                                |
|Liberia                         |5480                              |
|Libya                           |66                                |
|Liechtenstein                   |38                                |
|Lithuania                       |189                               |
|Luxembourg                      |368                               |
|Macao                           |79                                |
|Macedonia                       |22                                |
|Madagascar                      |88                                |
|Madeira                         |947                               |
|Malawi                          |30                                |
|Malaysia                        |2664                              |
|Maldives                        |54                                |
|Mali                            |4                                 |
|Malta                           |4785                              |
|Marshall Islands                |5308                              |
|Martinique                      |175                               |
|Mauritania                      |72                                |
|Mauritius                       |153                               |
|Mexico                          |651                               |
|Micronesia                      |188                               |
|Moldova                         |154                               |
|Monaco                          |127                               |
|Mongolia                        |418                               |
|Montenegro                      |88                                |
|Montserrat                      |22                                |
|Morocco                         |240                               |
|Mozambique                      |62                                |
|Myanmar                         |1091                              |
|Namibia                         |148                               |
|Nauru                           |43                                |
|Nepal                           |26                                |
|Netherlands                     |20233                             |
|Netherlands Antilles            |129                               |
|New Caledonia                   |220                               |
|New Zealand                     |2073                              |
|Nicaragua                       |181                               |
|Niger                           |23                                |
|Nigeria                         |922                               |
|Niue                            |127                               |
|North Korea                     |188                               |
|Northern Mariana                |27                                |
|Norway                          |12560                             |
|Oman                            |153                               |
|Pakistan                        |242                               |
|Palau                           |566                               |
|Palestine                       |27                                |
|Panama                          |9245                              |
|Papua New Guinea                |155                               |
|Paraguay                        |220                               |
|Peru                            |446                               |
|Philippines                     |974                               |
|Pitcairn Island                 |147                               |
|Poland                          |1813                              |
|Portugal                        |1020                              |
|Puerto Rico                     |63                                |
|Qatar                           |401                               |
|Reunion                         |479                               |
|Romania                         |531                               |
|Russian Federation              |6644                              |
|Rwanda                          |204                               |
|Saint Helena                    |55                                |
|Saint Kitts and Nevis           |412                               |
|Saint Lucia                     |16                                |
|Saint Paul and Amsterdam Islands|9                                 |
|Saint Pierre and Miquelon       |64                                |
|Saint Vincent and the Grenadines|1034                              |
|Samoa                           |57                                |
|San Marino                      |88                                |
|Sao Tome and Principe           |172                               |
|Saudi Arabia                    |1008                              |
|Senegal                         |92                                |
|Serbia                          |93                                |
|Seychelles                      |317                               |
|Sierra Leone                    |630                               |
|Singapore                       |5654                              |
|Slovakia                        |197                               |
|Slovenia                        |115                               |
|Solomon Islands                 |27                                |
|Somalia                         |282                               |
|South Africa                    |840                               |
|South Korea                     |8108                              |
|South Sudan                     |28                                |
|Spain                           |6895                              |
|Sri Lanka                       |2141                              |
|Sudan                           |80                                |
|Suriname                        |20                                |
|Swaziland                       |78                                |
|Sweden                          |8263                              |
|Switzerland                     |1030                              |
|Syria                           |26                                |
|Tahiti                          |140                               |
|Taiwan                          |4986                              |
|Tajikistan                      |18                                |
|Tanzania                        |407                               |
|Thailand                        |1692                              |
|Togo                            |404                               |
|Tonga                           |24                                |
|Trinidad and Tobago             |125                               |
|Tunisia                         |107                               |
|Turkey                          |4448                              |
|Turkmenistan                    |91                                |
|Turks and Caicos Islands        |25                                |
|Tuvalu                          |320                               |
|UK                              |21339                             |
|US Virgin Islands               |12                                |
|USA                             |42655                             |
|Uganda                          |50                                |
|Ukraine                         |496                               |
|United Arab Emirates            |1006                              |
|Uruguay                         |263                               |
|Uzbekistan                      |15                                |
|Vanuatu                         |572                               |
|Vatican City                    |195                               |
|Venezuela                       |1174                              |
|Vietnam                         |22219                             |
|Wallis and Futuna Islands       |39                                |
|Yemen                           |45                                |
|Zambia                          |40                                |
|Zimbabwe                        |3                                 |
+--------------------------------+----------------------------------+

## IMO Unik per

### Status Navigasi

In [11]:
# Hitung jumlah 'mmsi' yang unik berdasarkan 'vessel_type'
unique_imo_per_nav_status = data_sampel.select("imo","nav_status").groupBy("nav_status").agg(countDistinct("imo").alias("unique_imo_per_nav_status_count"))

# Tampilkan DataFrame Spark
unique_imo_per_nav_status.show(unique_imo_per_nav_status.count(), truncate=False)

+--------------------------+-------------------------------+
|nav_status                |unique_imo_per_nav_status_count|
+--------------------------+-------------------------------+
|Moored                    |62323                          |
|Restricted Manoeuvrability|10961                          |
|Aground                   |969                            |
|Not Defined               |9227                           |
|Not Under Command         |16623                          |
|Engaged In Fishing        |3304                           |
|Underway Sailing          |16780                          |
|Unknown                   |12126                          |
|At Anchor                 |54210                          |
|Under Way Using Engine    |72170                          |
+--------------------------+-------------------------------+

### Tipe Kapal

In [12]:
# Hitung jumlah 'mmsi' yang unik berdasarkan 'vessel_type'
unique_imo_per_vessel_type = data_sampel.select("imo","vessel_type").groupBy("vessel_type").agg(countDistinct("imo").alias("unique_imo_per_vessel_type_count"))

# Tampilkan DataFrame Spark
unique_imo_per_vessel_type.show(unique_imo_per_vessel_type.count(), truncate=False)

+------------------------------------+--------------------------------+
|vessel_type                         |unique_imo_per_vessel_type_count|
+------------------------------------+--------------------------------+
|Sailing                             |870                             |
|Tanker                              |15786                           |
|Ships Not Party to Armed Conflict   |127                             |
|Military                            |528                             |
|Towing                              |2133                            |
|Reserved                            |1047                            |
|SAR                                 |527                             |
|Unknown                             |7109                            |
|Other                               |7326                            |
|UNAVAILABLE                         |97                              |
|Tug                                 |8750                            |
|Law Enforcement                     |518                             |
|Pleasure Craft                      |2695                            |
|Passenger                           |5496                            |
|Diving                              |240                             |
|Fishing                             |8380                            |
|Port Tender                         |262                             |
|Spare                               |856                             |
|Medical Transport                   |29                              |
|WIG                                 |593                             |
|Pilot                               |450                             |
|Dredging                            |1223                            |
|Not Available                       |479                             |
|Cargo                               |35309                           |
|Vessel With Anti-Pollution Equipment|203                             |
|HSC                                 |1213                            |
+------------------------------------+--------------------------------+

### Negara Kapal

In [13]:
# Hitung jumlah 'mmsi' yang unik berdasarkan 'vessel_type'
unique_imo_per_flag_country = data_sampel.select("imo","flag_country").groupBy("flag_country").agg(countDistinct("imo").alias("unique_imo_per_flag_country_count"))

# Tampilkan DataFrame Spark
unique_imo_per_flag_country.show(unique_imo_per_flag_country.count(), truncate=False)

+--------------------------------+---------------------------------+
|flag_country                    |unique_imo_per_flag_country_count|
+--------------------------------+---------------------------------+
|Anguilla                        |7                                |
|Paraguay                        |64                               |
|Yemen                           |7                                |
|Senegal                         |36                               |
|Sweden                          |341                              |
|Kiribati                        |52                               |
|Guyana                          |70                               |
|Philippines                     |620                              |
|Eritrea                         |2                                |
|Djibouti                        |29                               |
|Tonga                           |8                                |
|Singapore                       |3349                             |
|Malaysia                        |1014                             |
|Turkey                          |781                              |
|Iraq                            |28                               |
|Germany                         |783                              |
|Comoros                         |294                              |
|Jordan                          |30                               |
|Maldives                        |10                               |
|Palau                           |478                              |
|France                          |720                              |
|Greece                          |1394                             |
|Sri Lanka                       |138                              |
|Kerguelen Islands               |21                               |
|British Virgin Islands          |55                               |
|Taiwan                          |476                              |
|Dominica                        |58                               |
|Togo                            |338                              |
|Algeria                         |92                               |
|Slovakia                        |13                               |
|null                            |249                              |
|Argentina                       |522                              |
|Belgium                         |398                              |
|Angola                          |37                               |
|Qatar                           |129                              |
|Ecuador                         |194                              |
|Pitcairn Island                 |11                               |
|Albania                         |44                               |
|Finland                         |258                              |
|New Caledonia                   |24                               |
|Myanmar                         |33                               |
|Ghana                           |42                               |
|Sierra Leone                    |469                              |
|Peru                            |164                              |
|China                           |7529                             |
|Bahamas                         |1231                             |
|India                           |1099                             |
|Belarus                         |2                                |
|Malta                           |2727                             |
|Kuwait                          |121                              |
|Marshall Islands                |5116                             |
|Tuvalu                          |255                              |
|Somalia                         |35                               |
|Chile                           |317                              |
|Cayman Islands                  |1025                             |
|Croatia                         |223                              |
|Nigeria                         |625                              |
|Wallis and Futuna Islands       |17                               |
|Gabon                           |84                               |
|Italy                           |1271                             |
|Suriname                        |3                                |
|Netherlands Antilles            |55                               |
|Lithuania                       |69                               |
|Norway                          |2303                             |
|Turkmenistan                    |53                               |
|Spain                           |960                              |
|Cuba                            |37                               |
|Mauritania                      |21                               |
|Guadeloupe                      |8                                |
|Denmark                         |933                              |
|Bangladesh                      |126                              |
|Barbados                        |316                              |
|Iran                            |889                              |
|Alaska                          |116                              |
|Russian Federation              |3430                             |
|Ireland                         |144                              |
|Congo                           |11                               |
|Thailand                        |495                              |
|Morocco                         |125                              |
|Monaco                          |9                                |
|Panama                          |8293                             |
|Cape Verde                      |22                               |
|Hong Kong                       |2726                             |
|Venezuela                       |117                              |
|Ukraine                         |104                              |
|Iceland                         |202                              |
|Israel                          |32                               |
|Saint Kitts and Nevis           |346                              |
|USA                             |4423                             |
|Oman                            |45                               |
|North Korea                     |131                              |
|South Korea                     |1646                             |
|Cyprus                          |1157                             |
|Gibraltar                       |171                              |
|Uruguay                         |63                               |
|Mexico                          |524                              |
|Estonia                         |102                              |
|Montenegro                      |20                               |
|Indonesia                       |3658                             |
|Saint Vincent and the Grenadines|791                              |
|Mongolia                        |262                              |
|Azerbaijan                      |229                              |
|Libya                           |35                               |
|Liberia                         |5629                             |
|Tunisia                         |49                               |
|Honduras                        |31                               |
|UK                              |1816                             |
|Trinidad and Tobago             |50                               |
|Saudi Arabia                    |333                              |
|Namibia                         |72                               |
|Switzerland                     |69                               |
|Ethiopia                        |12                               |
|Jamaica                         |116                              |
|Latvia                          |97                               |
|United Arab Emirates            |636                              |
|Brunei                          |42                               |
|Guinea                          |8                                |
|Azores                          |274                              |
|Canada                          |666                              |
|Seychelles                      |47                               |
|Faroe Islands                   |177                              |
|Kyrgyzstan                      |3                                |
|Czech Republic                  |9                                |
|Cook Islands                    |229                              |
|Belize                          |601                              |
|Brazil                          |556                              |
|Antigua and Barbuda             |694                              |
|Tanzania                        |329                              |
|Japan                           |2541                             |
|Luxembourg                      |196                              |
|New Zealand                     |85                               |
|Greenland                       |56                               |
|Poland                          |143                              |
|Portugal                        |111                              |
|Cameroon                        |271                              |
|Australia                       |412                              |
|Papua New Guinea                |93                               |
|Romania                         |96                               |
|Guinea-Bissau                   |35                               |
|Bulgaria                        |40                               |
|Solomon Islands                 |10                               |
|Austria                         |8                                |
|Egypt                           |173                              |
|Kazakhstan                      |91                               |
|South Africa                    |72                               |
|Bermuda                         |175                              |
|Bahrain                         |134                              |
|Micronesia                      |38                               |
|Colombia                        |99                               |
|Pakistan                        |43                               |
|Vanuatu                         |418                              |
|Northern Mariana                |5                                |
|Vatican City                    |5                                |
|Niue                            |61                               |
|Madeira                         |898                              |
|Mauritius                       |39                               |
|Moldova                         |100                              |
|Vietnam                         |1263                             |
|Netherlands                     |2214                             |
|Cambodia                        |11                               |
|Ascension Island                |4                                |
|Equatorial Guinea               |39                               |
|Reunion                         |23                               |
|Madagascar                      |6                                |
|Nicaragua                       |6                                |
|Cocos Islands                   |2                                |
|Benin                           |1                                |
|American Samoa                  |0                                |
|Central African Republic        |3                                |
|Nauru                           |24                               |
|Guatemala                       |9                                |
|Gambia                          |11                               |
|Kenya                           |12                               |
|Falkland Islands                |22                               |
|Haiti                           |3                                |
|Fiji                            |33                               |
|Malawi                          |1                                |
|Sudan                           |2                                |
|Adelie Land                     |1                                |
|San Marino                      |5                                |
|Sao Tome and Principe           |25                               |
|Bolivia                         |30                               |
|Saint Pierre and Miquelon       |5                                |
|Tahiti                          |18                               |
|Laos                            |1                                |
|Georgia                         |43                               |
|Syria                           |6                                |
|Macedonia                       |7                                |
|Lebanon                         |32                               |
|Dominican Republic              |21                               |
|Ivory Coast                     |4                                |
|Bhutan                          |10                               |
|Aruba                           |1                                |
|Armenia                         |3                                |
|Samoa                           |17                               |
|Uzbekistan                      |3                                |
|El Salvador                     |11                               |
|Costa Rica                      |7                                |
|Niger                           |3                                |
|French Guiana                   |8                                |
|Saint Lucia                     |3                                |
|Mozambique                      |15                               |
|Andorra                         |5                                |
|Slovenia                        |6                                |
|Mali                            |0                                |
|US Virgin Islands               |1                                |
|Uganda                          |1                                |
|Zambia                          |2                                |
|Martinique                      |3                                |
|Burkina Faso                    |0                                |
|Hungary                         |2                                |
|Crozet Archipelago              |1                                |
|Afghanistan                     |0                                |
|Saint Helena                    |6                                |
|Rwanda                          |1                                |
|Turks and Caicos Islands        |0                                |
|Chad                            |1                                |
|Montserrat                      |1                                |
|Burundi                         |1                                |
|Serbia                          |3                                |
|Liechtenstein                   |3                                |
|Grenada                         |4                                |
|South Sudan                     |1                                |
|Bosnia and Herzegovina          |0                                |
|Saint Paul and Amsterdam Islands|2                                |
|Nepal                           |0                                |
|Lesotho                         |1                                |
|Tajikistan                      |1                                |
|Puerto Rico                     |0                                |
|Palestine                       |0                                |
|Zimbabwe                        |0                                |
|Botswana                        |0                                |
|Macao                           |0                                |
|Christmas Island                |0                                |
|Swaziland                       |0                                |
+--------------------------------+---------------------------------+

## Nilai Valid

### MMSI Valid

In [ ]:
# Definisikan nilai mmsi yang valid
nilai_valid = [100000000, 999999999]

# Jumlah mmsi yang valid
jumlah_mmsi_valid_per_bulan = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter(data_sampel['mmsi'].between(nilai_valid[0], nilai_valid[1])) \
    .groupBy("months").agg(F.count("mmsi").alias("mmsi_valid"))

# Buat DataFrame hasil
mmsi_valid = jumlah_mmsi_valid_per_bulan

# Tampilkan hasil
mmsi_valid.show()

### IMO Valid

In [ ]:
# Definisikan nilai imo yang valid
nilai_valid = [1000000, 9999999]

# Hitung jumlah imo valid per bulan
jumlah_imo_valid_per_bulan = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter(data_sampel['imo'].between(nilai_valid[0], nilai_valid[1])) \
    .groupBy("months").agg(F.count("imo").alias("imo_valid"))

# Buat DataFrame hasil
imo_valid = jumlah_imo_valid_per_bulan

# Tampilkan hasil
imo_valid.show()

### Status Navigasi Valid

In [ ]:
# Definisikan nilai nav_status_code yang valid
nilai_valid = [0, 14]

# Hitung jumlah nav_status_code  valid per bulan
jumlah_nav_status_code_valid_per_bulan = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter(data_sampel['nav_status_code'].between(nilai_valid[0], nilai_valid[1])) \
    .groupBy("months").agg(F.count("nav_status_code").alias("nav_status_code_valid"))

# Buat DataFrame hasil
nav_status_code_valid = jumlah_nav_status_code_valid_per_bulan

# Tampilkan hasil
nav_status_code_valid.show()

### Tipe Kapal Valid

In [ ]:
# Definisikan nilai vessel_type_code yang valid
nilai_valid = [1, 255]

# Hitung jumlah vessel_type_code  valid per bulan
jumlah_vessel_type_code_valid_per_bulan = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter(data_sampel['vessel_type_code'].between(nilai_valid[0], nilai_valid[1])) \
    .groupBy("months").agg(F.count("vessel_type_code").alias("vessel_type_code_valid"))

# Buat DataFrame hasil
vessel_type_code_valid = jumlah_vessel_type_code_valid_per_bulan

# Tampilkan hasil
vessel_type_code_valid.show()

### Negara Kapal Valid

In [ ]:
# Definisikan nilai flag_country_code yang valid
nilai_valid = [201, 775]

# Hitung jumlah flag_country_code tidak valid per bulan
jumlah_flag_country_code_valid_per_bulan = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter(data_sampel['flag_code'].between(nilai_valid[0], nilai_valid[1])) \
    .groupBy("months").agg(F.count("flag_code").alias("flag_country_code_valid"))

# Buat DataFrame hasil
flag_country_code_valid = jumlah_flag_country_code_valid_per_bulan

# Tampilkan hasil
flag_country_code_valid.show()

### Latitude & Longitude Valid

In [ ]:
# Definisikan nilai latitude yang valid
nilai_valid = [-90, 90]

# Hitung jumlah latitude tidak valid per bulan
jumlah_latitude_valid_per_bulan = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter(data_sampel['latitude'].between(nilai_valid[0], nilai_valid[1])) \
    .groupBy("months").agg(F.count("latitude").alias("latitude_valid"))

# Buat DataFrame hasil
latitude_valid = jumlah_latitude_valid_per_bulan

# Tampilkan hasil
latitude_valid.show()

In [ ]:
# Definisikan nilai longitude yang valid
nilai_valid = [-180, 180]

# Hitung jumlah longitude tidak valid per bulan
jumlah_longitude_valid_per_bulan = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter(data_sampel['longitude'].between(nilai_valid[0], nilai_valid[1])) \
    .groupBy("months").agg(F.count("longitude").alias("longitude_valid"))

# Buat DataFrame hasil
longitude_valid = jumlah_longitude_valid_per_bulan

# Tampilkan hasil
longitude_valid.show()

### dt_pos_utc Valid

In [ ]:
# Definisikan pola regex untuk nilai 'dt_pos_utc' yang valid
pattern = "^[1-9][0-9]{0,3}-[1-9]|0[1-9]|1[0-2]-[1-9]|0[1-9]|[1-2][0-9]|3[0-1] [0-9]|0[0-9]|1[0-9]|2[0-3]:[0-5][0-9]:[0-5][0-9]$"

# Filter data untuk mendapatkan hanya nilai 'dt_pos_utc' yang tidak valid
dt_pos_utc_valid_per_bulan = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter(F.col("dt_pos_utc").rlike(pattern)) \
    .groupBy("months").agg(F.count("dt_pos_utc").alias("dt_pos_utc_valid"))

# Buat DataFrame hasil
dt_pos_utc_valid = dt_pos_utc_valid_per_bulan

# Tampilkan hasil
dt_pos_utc_valid.show()

## Nilai Default

### MMSI dengan Nilai Default per Bulan

In [14]:
# Tentukan nilai yang ingin dihitung
default_value_1 = 0
default_value_2 = 1193046

# Hitung jumlah 'mmsi' dengan nilai default per bulan
mmsi_default_per_month = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter((F.col("mmsi") == default_value_1) | (F.col("mmsi") == default_value_2)) \
    .groupBy("months", "mmsi").agg(F.count("mmsi").alias("mmsi_count_default"))

# Tampilkan DataFrame Spark hasil akhir
mmsi_default_per_month.show()

+--------+-------+------------------+
|  months|   mmsi|mmsi_count_default|
+--------+-------+------------------+
|     May|      0|                 1|
|November|1193046|                19|
|November|      0|                59|
+--------+-------+------------------+

### IMO dengan Nilai Default per Bulan

In [15]:
# Tentukan nilai yang ingin dihitung
default_value = 0  # Ganti dengan nilai yang diinginkan

# Hitung jumlah 'imo' dengan nilai default per bulan
imo_default_per_month = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter(F.col("imo") == default_value) \
    .groupBy("months").agg(F.count("imo").alias("imo_count_default"))

# Tampilkan DataFrame Spark hasil akhir
imo_default_per_month.show()

+------+-----------------+
|months|imo_count_default|
+------+-----------------+
+------+-----------------+

### Status Navigasi dengan Nilai Default per Bulan

In [16]:
# Tentukan nilai yang ingin dihitung
default_value = "Not Defined"  # Ganti dengan nilai yang diinginkan

# Hitung jumlah 'nav_status' dengan nilai default per bulan
nav_status_default_per_month = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter(F.col("nav_status") == default_value) \
    .groupBy("months").agg(F.count("nav_status").alias("nav_status_count_default"))

# Tampilkan DataFrame Spark hasil akhir
nav_status_default_per_month.show()

+---------+------------------------+
|   months|nav_status_count_default|
+---------+------------------------+
| November|                  329642|
| December|                  371464|
|     July|                  430255|
|    March|                  388469|
|  October|                  399015|
|   August|                  416208|
|    April|                  384620|
|September|                  397973|
|     June|                  405164|
|      May|                  414301|
|  January|                  386246|
| February|                  357029|
+---------+------------------------+

### Tipe Kapal dengan Nilai Default per Bulan

In [17]:
# Tentukan nilai yang ingin dihitung
default_value = "Not Available"  # Ganti dengan nilai yang diinginkan

# Hitung jumlah 'vessel_type' dengan nilai default per bulan
vessel_type_default_per_month = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter(F.col("vessel_type") == default_value) \
    .groupBy("months").agg(F.count("vessel_type").alias("vessel_type_count_default"))

# Tampilkan DataFrame Spark hasil akhir
vessel_type_default_per_month.show()

+---------+-------------------------+
|   months|vessel_type_count_default|
+---------+-------------------------+
| November|                     9215|
|    March|                    15311|
|  October|                     8152|
|   August|                     8457|
| December|                     8537|
|September|                     8181|
|     July|                    13723|
|    April|                    17472|
|      May|                    13430|
|     June|                    12554|
|  January|                    16355|
| February|                    12826|
+---------+-------------------------+

### Negara Kapal dengan Nilai Default per Bulan

In [18]:
# MISAL DEFAULT = 0
# Tentukan nilai yang ingin dihitung
default_value = 0  # Ganti dengan nilai yang diinginkan

# Hitung jumlah 'flag_country' dengan nilai default per bulan
flag_country_default_per_month = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter(F.col("flag_code") == default_value) \
    .groupBy("months").agg(F.count("flag_code").alias("flag_country_count_default"))

# Tampilkan DataFrame Spark hasil akhir
flag_country_default_per_month.show()

+------+--------------------------+
|months|flag_country_count_default|
+------+--------------------------+
+------+--------------------------+

### Latitude & Longitude dengan Nilai Default per Bulan

In [19]:
# Tentukan nilai yang ingin dihitung
default_value = 91  # Ganti dengan nilai yang diinginkan

# Hitung jumlah 'latitude' dengan nilai default per bulan
latitude_default_per_month = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter(F.col("latitude") == default_value) \
    .groupBy("months").agg(F.count("latitude").alias("latitude_count_default"))

# Tampilkan DataFrame Spark hasil akhir
latitude_default_per_month.show()

+------+----------------------+
|months|latitude_count_default|
+------+----------------------+
+------+----------------------+

In [20]:
# Tentukan nilai yang ingin dihitung
default_value = 181  # Ganti dengan nilai yang diinginkan

# Hitung jumlah 'longitude' dengan nilai default per bulan
longitude_default_per_month = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter(F.col("longitude") == default_value) \
    .groupBy("months").agg(F.count("longitude").alias("longitude_count_default"))

# Tampilkan DataFrame Spark hasil akhir
longitude_default_per_month.show()

+------+-----------------------+
|months|longitude_count_default|
+------+-----------------------+
+------+-----------------------+

### dt_pos_utc dengan Nilai Default per Bulan

In [21]:
# Tentukan nilai yang ingin dihitung
default_value = "0-0-0 24:60:60"

# Hitung jumlah nilai default pada kolom 'dt_pos_utc' per bulan
dt_pos_utc_default_per_month = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter(F.col("dt_pos_utc") == default_value) \
    .groupBy("months").agg(F.count("dt_pos_utc").alias("dt_pos_ut_count_dafault"))

# Tampilkan DataFrame Spark hasil akhir
dt_pos_utc_default_per_month.show()

+------+-----------------------+
|months|dt_pos_ut_count_dafault|
+------+-----------------------+
+------+-----------------------+

## Tidak Valid

### MMSI Tidak Valid

In [22]:
# Definisikan nilai mmsi yang valid
nilai_valid = [100000000, 999999999]

# Hitung jumlah mmsi tidak valid per bulan
jumlah_mmsi_tidak_valid_per_bulan = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter((~data_sampel['mmsi'].between(nilai_valid[0], nilai_valid[1])) & 
            ((data_sampel['mmsi'] != 0) | (data_sampel['mmsi'] != 1193046)) &
            (data_sampel['mmsi'].isNotNull())
           ) \
    .groupBy("months").agg(F.count("mmsi").alias("mmsi_tidak_valid"))

# Buat DataFrame hasil
mmsi_invalid = jumlah_mmsi_tidak_valid_per_bulan

# Tampilkan hasil
mmsi_invalid.show()

+--------+----------------+
|  months|mmsi_tidak_valid|
+--------+----------------+
|November|           10235|
|     May|            1121|
+--------+----------------+

### IMO Tidak Valid

In [23]:
# Definisikan nilai imo yang valid
nilai_valid = [1000000, 9999999]

# Hitung jumlah imo tidak valid per bulan
jumlah_imo_tidak_valid_per_bulan = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter((~data_sampel['imo'].between(nilai_valid[0], nilai_valid[1])) & 
            (data_sampel['imo'] != 0) &
            (data_sampel['imo'].isNotNull()) 
           )\
    .groupBy("months").agg(F.count("imo").alias("imo_tidak_valid"))

# Buat DataFrame hasil
imo_invalid = jumlah_imo_tidak_valid_per_bulan

# Tampilkan hasil
imo_invalid.show()

+---------+---------------+
|   months|imo_tidak_valid|
+---------+---------------+
| November|          92215|
|  October|         111154|
|   August|         120266|
| December|         102670|
|September|         112087|
|    April|         115899|
|      May|         122504|
|     June|         116427|
|     July|         118819|
|    March|         111760|
|  January|         118295|
| February|          83405|
+---------+---------------+

### Status Navigasi Tidak Valid

In [24]:
# Definisikan nilai nav_status_code yang valid
nilai_valid = [0, 14]

# Hitung jumlah nav_status_code tidak valid per bulan
jumlah_nav_status_code_tidak_valid_per_bulan = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter((~data_sampel['nav_status_code'].between(nilai_valid[0], nilai_valid[1])) & 
            (data_sampel['nav_status_code'] != 15) & 
            (data_sampel['nav_status_code'].isNotNull())
           ) \
    .groupBy("months").agg(F.count("nav_status_code").alias("nav_status_code_tidak_valid"))

# Buat DataFrame hasil
nav_status_code_invalid = jumlah_nav_status_code_tidak_valid_per_bulan

# Tampilkan hasil
nav_status_code_invalid.show()

+---------+---------------------------+
|   months|nav_status_code_tidak_valid|
+---------+---------------------------+
| December|                    1819149|
| November|                    1574392|
|    March|                    2002786|
|  October|                    2028730|
|   August|                    2202927|
|September|                    2113752|
|     July|                    2346794|
|      May|                    2123036|
|    April|                    2092711|
|     June|                    2194173|
| February|                    1550993|
|  January|                    1797143|
+---------+---------------------------+

### Tipe Kapal Tidak Valid

In [6]:
# Definisikan nilai vessel_type_code yang valid
nilai_valid = [1, 255]

# Hitung jumlah vessel_type_code tidak valid per bulan
jumlah_vessel_type_code_tidak_valid_per_bulan = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter((~data_sampel['vessel_type_code'].between(nilai_valid[0], nilai_valid[1])) & 
            (data_sampel['vessel_type_code'] != 0) &
            (data_sampel['vessel_type_code'].isNotNull())
           ) \
    .groupBy("months").agg(F.count("vessel_type_code").alias("vessel_type_code_tidak_valid"))

# Buat DataFrame hasil
vessel_type_code_invalid = jumlah_vessel_type_code_tidak_valid_per_bulan

# Tampilkan hasil
vessel_type_code_invalid.show()

+---------+----------------------------+
|   months|vessel_type_code_tidak_valid|
+---------+----------------------------+
|     July|                       13723|
|  January|                       16355|
|      May|                       13430|
|   August|                        8457|
|    April|                       17472|
|September|                        8181|
|    March|                       15311|
|  October|                        8152|
|     June|                       12554|
| February|                       12826|
| November|                        9215|
| December|                        8537|
+---------+----------------------------+

### Negara Kapal Tidak Valid

In [26]:
# Definisikan nilai flag_country_code yang valid
nilai_valid = [201, 775]

# Hitung jumlah flag_country_code tidak valid per bulan
jumlah_flag_country_code_tidak_valid_per_bulan = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter((~data_sampel['flag_code'].between(nilai_valid[0], nilai_valid[1])) & 
            (data_sampel['flag_code'] != 0) &
            (data_sampel['flag_code'].isNotNull())
           ) \
    .groupBy("months").agg(F.count("flag_code").alias("flag_country_code_tidak_valid"))

# Buat DataFrame hasil
flag_country_code_invalid = jumlah_flag_country_code_tidak_valid_per_bulan

# Tampilkan hasil
flag_country_code_invalid.show()

+------+-----------------------------+
|months|flag_country_code_tidak_valid|
+------+-----------------------------+
+------+-----------------------------+

### Latitude & Longitude Tidak Valid

In [27]:
# Definisikan nilai latitude yang valid
nilai_valid = [-90, 90]

# Hitung jumlah latitude tidak valid per bulan
jumlah_latitude_tidak_valid_per_bulan = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter((~data_sampel['latitude'].between(nilai_valid[0], nilai_valid[1])) & 
            (data_sampel['latitude'] != 91) &
            (data_sampel['latitude'].isNotNull())
           ) \
    .groupBy("months").agg(F.count("latitude").alias("latitude_tidak_valid"))

# Buat DataFrame hasil
latitude_invalid = jumlah_latitude_tidak_valid_per_bulan

# Tampilkan hasil
latitude_invalid.show()

+------+--------------------+
|months|latitude_tidak_valid|
+------+--------------------+
+------+--------------------+

In [28]:
# Definisikan nilai longitude yang valid
nilai_valid = [-180, 180]

# Hitung jumlah longitude tidak valid per bulan
jumlah_longitude_tidak_valid_per_bulan = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter((~data_sampel['longitude'].between(nilai_valid[0], nilai_valid[1])) & 
            (data_sampel['longitude'] != 181) &
            (data_sampel['longitude'].isNotNull())
           ) \
    .groupBy("months").agg(F.count("longitude").alias("longitude_tidak_valid"))

# Buat DataFrame hasil
longitude_invalid = jumlah_longitude_tidak_valid_per_bulan

# Tampilkan hasil
longitude_invalid.show()

+------+---------------------+
|months|longitude_tidak_valid|
+------+---------------------+
+------+---------------------+

### dt_pos_utc Tidak Valid

In [29]:
# Definisikan pola regex untuk nilai 'dt_pos_utc' yang valid
pattern = "^[1-9][0-9]{0,3}-[1-9]|0[1-9]|1[0-2]-[1-9]|0[1-9]|[1-2][0-9]|3[0-1] [0-9]|0[0-9]|1[0-9]|2[0-3]:[0-5][0-9]:[0-5][0-9]$"

default_value = "0-0-0 24:60:60"

# Filter data untuk mendapatkan hanya nilai 'dt_pos_utc' yang tidak valid
dt_pos_utc_tidak_valid_per_bulan = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter((~F.col("dt_pos_utc").rlike(pattern)) & 
            (data_sampel['dt_pos_utc'] != default_value) &
            (data_sampel['dt_pos_utc'].isNotNull())
           ) \
    .groupBy("months").agg(F.count("dt_pos_utc").alias("dt_pos_utc_tidak_valid"))

# Buat DataFrame hasil
dt_pos_utc_invalid = dt_pos_utc_tidak_valid_per_bulan

# Tampilkan hasil
dt_pos_utc_invalid.show()

+------+----------------------+
|months|dt_pos_utc_tidak_valid|
+------+----------------------+
+------+----------------------+

## Missing Value

### MS MMSI

In [30]:
# Hitung jumlah nilai yang hilang per bulan untuk kolom "mmsi"
missing_values_per_month_mmsi = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(
        F.sum(F.col("mmsi").isNull().cast(IntegerType())).alias("mmsi_missing")
    )

# Tampilkan DataFrame Spark
missing_values_per_month_mmsi.show()

+---------+------------+
|   months|mmsi_missing|
+---------+------------+
|     July|           0|
| November|           0|
|    March|           0|
|  October|           0|
|   August|           0|
|    April|           0|
|     June|           0|
| December|           0|
|September|           0|
|      May|           0|
|  January|           0|
| February|           0|
+---------+------------+

### MS IMO

In [31]:
# Hitung jumlah nilai yang hilang per bulan untuk kolom "imo"
missing_values_per_month_imo = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(
        F.sum(F.col("imo").isNull().cast(IntegerType())).alias("imo_missing")
    )

# Tampilkan DataFrame Spark
missing_values_per_month_imo.show()

+---------+-----------+
|   months|imo_missing|
+---------+-----------+
| November|    2756953|
| December|    3103764|
|     July|    3797411|
|    March|    3331086|
|  October|    3348990|
|   August|    3560343|
|    April|    3386429|
|     June|    3580787|
|September|    3437559|
|      May|    3484930|
| February|    2729591|
|  January|    3081704|
+---------+-----------+

### MS Status Navigasi

In [32]:
# Hitung jumlah nilai yang hilang per bulan untuk kolom "nav_status"
missing_values_per_month_nav_status = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(
        F.sum(F.col("nav_status").isNull().cast(IntegerType())).alias("nav_status_missing")
    )

# Tampilkan DataFrame Spark
missing_values_per_month_nav_status.show()

+---------+------------------+
|   months|nav_status_missing|
+---------+------------------+
| November|                 0|
|    March|                 0|
|  October|                 0|
|   August|                 0|
| December|                 0|
|September|                 0|
|    April|                 0|
|     June|                 0|
|     July|                 0|
|      May|                 0|
|  January|                 0|
| February|                 0|
+---------+------------------+

### MS Tipe Kapal

In [33]:
# Hitung jumlah nilai yang hilang per bulan untuk kolom "vessel_type"
missing_values_per_month_vessel_type = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(
        F.sum(F.col("vessel_type").isNull().cast(IntegerType())).alias("vessel_type_missing")
    )

# Tampilkan DataFrame Spark
missing_values_per_month_vessel_type.show()

+---------+-------------------+
|   months|vessel_type_missing|
+---------+-------------------+
| November|                  0|
|    March|                  0|
|  October|                  0|
|   August|                  0|
| December|                  0|
|September|                  0|
|    April|                  0|
|     June|                  0|
|     July|                  0|
|      May|                  0|
| February|                  0|
|  January|                  0|
+---------+-------------------+

### MS Negara Kapal

In [34]:
# Hitung jumlah nilai yang hilang per bulan untuk kolom "flag_country"
missing_values_per_month_flag_country = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(
        F.sum(F.col("flag_country").isNull().cast(IntegerType())).alias("flag_country_missing")
    )

# Tampilkan DataFrame Spark
missing_values_per_month_flag_country.show()

+---------+--------------------+
|   months|flag_country_missing|
+---------+--------------------+
| November|               46730|
|    March|                   0|
|  October|                   0|
|   August|                   0|
| December|                   0|
|September|                   0|
|     July|                   0|
|      May|                4334|
|    April|                   0|
|     June|                   0|
|  January|                   0|
| February|                   0|
+---------+--------------------+

### MS Latitude & Longitude

In [35]:
# Hitung jumlah nilai yang hilang per bulan untuk kolom "latitude"
missing_values_per_month_latitude = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(
        F.sum(F.col("latitude").isNull().cast(IntegerType())).alias("latitude_missing")
    )

# Tampilkan DataFrame Spark
missing_values_per_month_latitude.show()

+---------+----------------+
|   months|latitude_missing|
+---------+----------------+
| November|               0|
|    March|               0|
|  October|               0|
|   August|               0|
| December|               0|
|    April|               0|
|     June|               0|
|September|               0|
|     July|               0|
|      May|               0|
|  January|               0|
| February|               0|
+---------+----------------+

In [36]:
# Hitung jumlah nilai yang hilang per bulan untuk kolom "longitude"
missing_values_per_month_longitude = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(
        F.sum(F.col("longitude").isNull().cast(IntegerType())).alias("longitude_missing")
    )

# Tampilkan DataFrame Spark
missing_values_per_month_longitude.show()

+---------+-----------------+
|   months|longitude_missing|
+---------+-----------------+
|     July|                0|
| November|                0|
|    March|                0|
|  October|                0|
|   August|                0|
|    April|                0|
| December|                0|
|September|                0|
|      May|                0|
|     June|                0|
| February|                0|
|  January|                0|
+---------+-----------------+

### MS dt_pos_utc

In [37]:
# Hitung jumlah nilai yang hilang per bulan untuk kolom "dt_pos_utc"
missing_values_per_month_dt_pos_utc = data_sampel.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(
        F.sum(F.col("dt_pos_utc").isNull().cast(IntegerType())).alias("dt_pos_utc_missing")
    )

# Tampilkan DataFrame Spark
missing_values_per_month_dt_pos_utc.show()

+---------+------------------+
|   months|dt_pos_utc_missing|
+---------+------------------+
|     July|                 0|
| November|                 0|
|    March|                 0|
|  October|                 0|
|   August|                 0|
|    April|                 0|
|     June|                 0|
| December|                 0|
|September|                 0|
|      May|                 0|
| February|                 0|
|  January|                 0|
+---------+------------------+

## Pergerakan Anomali

In [ ]:
# plot jarak tempuh (y) sama waktu tempuh (x)
# Dari plotnya keliatan mana yang jarak tempuhnya besar tapi waktu tempuhnya kecil (atau sebaliknya?)

### Status Navigasi & SOG

In [20]:
from pyspark.sql.functions import expr

# Tentukan persentil yang diinginkan
percentiles = [0.5, 0.75, 0.9, 0.95, 0.99, 0.999]

# Loop melalui setiap persentil dan hitung nilai kuantil untuk sog
quantile_columns = [expr(f"percentile_approx(sog, {p})").alias(f"sog_{int(p * 100)} %") for p in percentiles]

# Kelompokkan berdasarkan nav_status dan hitung kuantilnya
quantiles_per_nav_status = data_sampel.select("nav_status","sog").groupBy("nav_status").agg(*quantile_columns)

# Tampilkan hasil
quantiles_per_nav_status.show()

+--------------------+--------+--------+--------+--------+--------+--------+
|          nav_status|sog_50 %|sog_75 %|sog_90 %|sog_95 %|sog_99 %|sog_99 %|
+--------------------+--------+--------+--------+--------+--------+--------+
|              Moored|     0.0|     0.0|     0.0|     0.2|     9.2|    17.5|
|Restricted Manoeu...|     0.0|     1.0|     4.6|     7.0|    11.3|    16.2|
|             Aground|     0.0|     0.1|     6.0|     9.0|    15.8|    25.0|
|         Not Defined|     0.0|     1.0|     7.0|     9.1|    15.0|    26.3|
|   Not Under Command|     0.5|     1.5|     4.5|     8.3|    13.2|    20.7|
|  Engaged In Fishing|     1.3|     4.2|     8.3|     9.8|    12.0|    14.0|
|    Underway Sailing|     0.0|     4.5|     9.5|    11.7|    15.7|    26.7|
|             Unknown|     0.0|     2.2|     6.2|     7.9|    11.3|    28.4|
|           At Anchor|     0.0|     0.1|     0.2|     0.5|     7.7|    12.6|
|Under Way Using E...|     7.9|    11.9|    14.0|    16.6|    20.0|    28.0|
+--------------------+--------+--------+--------+--------+--------+--------+

### Validasi Status Navigasi dengan SOG

In [7]:
# Memeriksa kecocokan nav_status dan sog

# Ekstrak nama bulan dari timestamp
data_sampel_bulan = data_sampel.withColumn("bulan", date_format("dt_pos_utc", "MMMM"))

# Tentukan kriteria pergerakan tidak normal
kriteria_pergerakan_tidak_normal = (
    ((col("nav_status").isin(['At Anchor', 'Moored'])) &
    (col("sog") > 1)) | 
    ((col("nav_status").isin(['Not Under Command', 'Underway Sailing', 'Under Way Using Engine', 'Engaged In Fishing', 'Restricted Manoeuvrability', 'Aground'])) &
    (col("sog") < 1))
)

# Hitung pergerakan tidak normal per bulan
pergerakan_tidak_normal_per_bulan = data_sampel_bulan.withColumn(
    "pergerakan_tidak_normal",
    when(kriteria_pergerakan_tidak_normal, 1).otherwise(0)
).groupBy("bulan").agg({"pergerakan_tidak_normal": "sum"}).withColumnRenamed("SUM(pergerakan_tidak_normal)", "total_pergerakan_tidak_normal")

# Tampilkan hasil
pergerakan_tidak_normal_per_bulan.show()

+---------+-----------------------------+
|    bulan|total_pergerakan_tidak_normal|
+---------+-----------------------------+
| February|                      1333742|
|  January|                      1460853|
|    March|                      1476077|
|  October|                      1516312|
|      May|                      1500083|
|   August|                      1539682|
|September|                      1491274|
|     July|                      1573546|
|    April|                      1454747|
| December|                      1462994|
|     June|                      1491183|
| November|                      1306845|
+---------+-----------------------------+

# Filter

## Filter MMSI

In [15]:
# Filter data untuk mmsi di dalam rentang tertentu
filtered_mmsi = data_sampel.filter(col("mmsi").between(100000000, 999999999))

In [16]:
filtered_mmsi.count()

Error while receiving.
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/socket.py", line 669, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
RuntimeError: reentrant call inside <_io.BufferedReader name=3>
Closing down clientserver connection
Closing down clientserver connection

ERROR: Exception while sending command.
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/socket.py", line 669, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
RuntimeError: reentrant call inside <_io.BufferedReader name=3>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/opt/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving
ERROR: KeyboardInterrupt while sending command.
Traceback (most recent call last):
  File "/opt/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/opt/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
  File "/opt/conda/lib/python3.8/socket.py", line 669, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt

KeyboardInterrupt:

In [ ]:
# Hitung jumlah 'mmsi' yang unik per bulan
unique_filtered_mmsi_per_month = filtered_mmsi.withColumn("months", date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(countDistinct("mmsi").alias("unique_mmsi_count"))

# Tampilkan DataFrame Spark
unique_filtered_mmsi_per_month.show()

## Filter IMO

In [ ]:
# Filter data untuk imo di dalam rentang tertentu
filtered_imo = filtered_mmsi.filter(col("imo").between(1000000, 9999999))

In [ ]:
filtered_imo.count()

In [ ]:
# Hitung jumlah 'imo' yang unik per bulan
unique_filtered_imo_per_month = filtered_imo.withColumn("months", date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(countDistinct("imo").alias("unique_imo_count"))

# Tampilkan DataFrame Spark
unique_filtered_imo_per_month.show()

## Filter Status Navigasi

In [ ]:
# Filter data untuk nav_status_code di dalam rentang tertentu
filtered_nav_status_code = filtered_imo.filter(col("nav_status_code").between(0, 14))

In [ ]:
# Nilai yang akan di-filter
nav_status_values = ['Under Way Using Engine', 'At Anchor', 'Restricted Manoeuvrability', 'Moored', 'Engaged In Fishing', 'Underway Sailing']

# Filter data berdasarkan nilai 'nav_status'
filtered_nav_status = filtered_nav_status_code.filter(col("nav_status").isin(nav_status_values))

In [ ]:
filtered_nav_status.count()

In [ ]:
# Hitung jumlah 'mmsi' per masing-masing 'nav_status'
mmsi_count_per_filtered_nav_status = filtered_nav_status.groupBy("nav_status").agg(count("mmsi").alias("mmsi_count"))

# Tampilkan DataFrame Spark
mmsi_count_per_filtered_nav_status.show()

In [ ]:
# Hitung jumlah 'mmsi' yang unik berdasarkan 'nav_status'
unique_mmsi_per_filtered_nav_status = filtered_nav_status.groupBy("nav_status").agg(countDistinct("mmsi").alias("unique_mmsi_per_filtered_nav_status_count"))

# Tampilkan DataFrame Spark
unique_mmsi_per_filtered_nav_status.show()

## Filter Tipe Kapal

In [ ]:
# Filter data untuk vessel_type_code di dalam rentang tertentu
filtered_vessel_type_code = filtered_nav_status.filter(col("vessel_type_code").between(1, 255))

In [ ]:
# Nilai yang akan di-filter
vessel_type_values = ['Sailing', 'Tanker', 'Other', 'Pleasure Craft', 'Passenger', 'Fishing', 'Port Tender', 'Dredging', 'Cargo']

# Filter data berdasarkan nilai 'vessel_type'
filtered_vessel_type = filtered_vessel_type_code.filter(col("vessel_type").isin(vessel_type_values))

In [ ]:
filtered_vessel_type.count()

In [ ]:
# Hitung jumlah 'mmsi' per masing-masing 'vessel_type'
mmsi_count_per_filtered_vessel_type = filtered_vessel_type.groupBy("vessel_type").agg(count("mmsi").alias("mmsi_count"))

# Tampilkan DataFrame Spark
mmsi_count_per_filtered_vessel_type.show()

In [ ]:
# Hitung jumlah 'mmsi' yang unik berdasarkan 'vessel_type'
unique_mmsi_per_filtered_vessel_type = filtered_vessel_type.groupBy("vessel_type").agg(countDistinct("mmsi").alias("unique_mmsi_per_filtered_vessel_type_count"))

# Tampilkan DataFrame Spark
unique_mmsi_per_filtered_vessel_type.show()

## Filter Negara Kapal

In [ ]:
# Filter data untuk flag_country_code di dalam rentang tertentu
filtered_flag_country_code = filtered_vessel_type.filter(col("flag_code").between(201, 775))

In [ ]:
# Filter data berdasarkan nilai 'flag_country'
# bagi jadi dua, Indonesia dan negara asing
filtered_flag_country = filtered_flag_country_code.withColumn("status_country", when(col("flag_country") == "Indonesia", "Indonesia").otherwise("Asing"))

In [ ]:
filtered_flag_country_code.count()

In [ ]:
# Hitung jumlah 'mmsi' per masing-masing 'flag_country'
mmsi_count_per_filtered_flag_country = filtered_flag_country.groupBy("flag_country").agg(count("mmsi").alias("mmsi_count"))

# Tampilkan DataFrame Spark
mmsi_count_per_filtered_flag_country.show()

In [ ]:
# Filter out rows where 'flag_country' is not null
df_filtered = filtered_flag_country.filter(col("flag_country").isNotNull())

# Hitung jumlah 'mmsi' yang unik berdasarkan 'flag_country'
unique_mmsi_per_filtered_flag_country = df_filtered.groupBy("flag_country").agg(countDistinct("mmsi").alias("unique_mmsi_per_flag_country_count"))

# Tampilkan DataFrame Spark
unique_mmsi_per_filtered_flag_country.show()

## Filter Lat, Long

In [ ]:
# Filter data untuk latitude & longitude di dalam rentang tertentu
filtered_lat = filtered_flag_country_code.filter(col("latitude").between(-90, 90))
filtered_lat_long = filtered_lat.filter(col("longitude").between(-180, 180))

In [ ]:
filtered_lat_long.count()

## Filter dt_pos_utc

In [ ]:
# Filter data untuk dt_pos_utc di dalam rentang tertentu
pattern = "^[1-9][0-9]{0,3}-[1-9]|0[1-9]|1[0-2]-[1-9]|0[1-9]|[1-2][0-9]|3[0-1] [0-9]|0[0-9]|1[0-9]|2[0-3]:[0-5][0-9]:[0-5][0-9]$"

# Filter data untuk mendapatkan hanya nilai 'dt_pos_utc' yang tidak valid
filtered_dt_pos_utc = filtered_lat_long.filter(F.col("dt_pos_utc").rlike(pattern))

In [ ]:
filtered_dt_pos_utc.count()

## Filter Pelayaran/Pergerakan Anomali

In [ ]:
# plot jarak tempuh (y) sama waktu tempuh (x)
# Dari plotnya keliatan mana yang jarak tempuhnya besar tapi waktu tempuhnya kecil (atau sebaliknya?)

In [ ]:
# Tentukan kriteria pergerakan tidak normal
kriteria_pergerakan_tidak_normal = (
    ((col("nav_status").isin(['At Anchor', 'Moored'])) &
    (col("sog") > 1)) | 
    ((col("nav_status").isin(['Not Under Command', 'Underway Sailing', 'Under Way Using Engine', 'Engaged In Fishing', 'Restricted Manoeuvrability', 'Aground'])) &
    (col("sog") < 1))
)

# kriteria pergerakan normal
kriteria_pergerakan_normal = ~kriteria_pergerakan_tidak_normal

# Filter pergerakan normal
filtered_pergerakan_normal = filtered_dt_pos_utc.filter(kriteria_pergerakan_normal)

In [ ]:
filtered_pergerakan_normal.count()

## Filter Kapal di Pelabuhan

## Filter Pergerakan Anomali

# Setelah Difilter

## Record

In [ ]:
# Kelompokkan berdasarkan bulan dan hitung jumlah rekaman
rekaman_per_bulan_filter = filtered_pergerakan_normal.groupBy("months").agg(count("*").alias("jumlah_record_per_bulan"))

# Tampilkan DataFrame Spark yang telah diubah dan diurutkan
rekaman_per_bulan_filter.show()

# Download

## Fungsi

In [7]:
def create_download_link(df, title, filename):
    csv = df.to_csv(index = False)
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">{title}</a>'
    html = html.format(payload=payload, title=title, filename=filename)
    return HTML(html)

## Download Data

In [19]:
# Jumlah Records (All)

# DataFrame Spark
rekaman_per_bulan = spark.createDataFrame(rekaman_per_bulan)

# Export ke Pandas DataFrame
rekaman_per_bulan = rekaman_per_bulan.toPandas()

# Download Data
create_download_link(rekaman_per_bulan, title="rekaman_per_bulan", filename="rekaman_per_bulan.csv")

/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [10]:
# Records (1%)

# DataFrame Spark
#sampled_data = spark.createDataFrame(sampled_data)

# Export ke Pandas DataFrame
#sampled_data = sampled_data.toPandas()

# Download Data
#create_download_link(sampled_data, title=sampled_data, filename="sampled_data.csv")

In [ ]:
# Partisi Records (1%)

# DataFrame Spark
#sampledd_data_1 = spark.createDataFrame(sampledd_data_1)
#sampledd_data_2 = spark.createDataFrame(sampledd_data_2)
#sampledd_data_3 = spark.createDataFrame(sampledd_data_3)
#sampledd_data_4 = spark.createDataFrame(sampledd_data_4)
#sampledd_data_5 = spark.createDataFrame(sampledd_data_5)
#sampledd_data_6 = spark.createDataFrame(sampledd_data_6)
#sampledd_data_7 = spark.createDataFrame(sampledd_data_7)
#sampledd_data_8 = spark.createDataFrame(sampledd_data_8)
#sampledd_data_9 = spark.createDataFrame(sampledd_data_9)
#sampledd_data_10 = spark.createDataFrame(sampledd_data_10)

# Export ke Pandas DataFrame
#sampledd_data_1 = sampledd_data_1.toPandas()
#sampledd_data_2 = sampledd_data_2.toPandas()
#sampledd_data_3 = sampledd_data_3.toPandas()
#sampledd_data_4 = sampledd_data_4.toPandas()
#sampledd_data_5 = sampledd_data_5.toPandas()
#sampledd_data_6 = sampledd_data_6.toPandas()
#sampledd_data_7 = sampledd_data_7.toPandas()
#sampledd_data_8 = sampledd_data_8.toPandas()
#sampledd_data_9 = sampledd_data_9.toPandas()
#sampledd_data_10 = sampledd_data_10.toPandas()

# Download Data
#create_download_link(sampledd_data_1, title=sampledd_data_1, filename="sampledd_data_1.csv")
#create_download_link(sampledd_data_2, title=sampledd_data_2, filename="sampledd_data_2.csv")
#create_download_link(sampledd_data_3, title=sampledd_data_3, filename="sampledd_data_3.csv")
#create_download_link(sampledd_data_4, title=sampledd_data_4, filename="sampledd_data_4.csv")
#create_download_link(sampledd_data_5, title=sampledd_data_5, filename="sampledd_data_5.csv")
#create_download_link(sampledd_data_6, title=sampledd_data_6, filename="sampledd_data_6.csv")
#create_download_link(sampledd_data_7, title=sampledd_data_7, filename="sampledd_data_7.csv")
#create_download_link(sampledd_data_8, title=sampledd_data_8, filename="sampledd_data_8.csv")
#create_download_link(sampledd_data_9, title=sampledd_data_9, filename="sampledd_data_9.csv")
#create_download_link(sampledd_data_10, title=sampledd_data_10, filename="sampledd_data_10.csv")

In [17]:
# Jumlah Records (1%)

# DataFrame Spark
#rekaman_per_bulan_1pers = spark.createDataFrame(rekaman_per_bulan_1pers)

# Export ke Pandas DataFrame
rekaman_per_bulan_1pers = rekaman_per_bulan_1pers.toPandas()

# Download Data
create_download_link(rekaman_per_bulan_1pers, title=rekaman_per_bulan_1pers, filename="rekaman_per_bulan_1pers.csv")

In [9]:
# Statistical Summary

# DataFrame Spark
#stats_df = spark.createDataFrame(stats_df)
#stats_df_2 = spark.createDataFrame(stats_df_2)

# Export ke Pandas DataFrame
stats_df = stats_df.toPandas()
#stats_df_2 = stats_df_2.toPandas()

# Download Data
create_download_link(stats_df, title=stats_df, filename="stats_df.csv")
#create_download_link(stats_df_2, title=stats_df_2, filename="stats_df_2.csv")

In [15]:
# (MMSI, IMO, Status Navigasi, Tipe Kapal, Negara Kapal) Unik

# DataFrame Spark
#df_unique_mmsi_spark = spark.createDataFrame(df_unique_mmsi_spark)
#df_unique_imo_spark = spark.createDataFrame(df_unique_imo_spark)
#mmsi_count_per_nav_status = spark.createDataFrame(mmsi_count_per_nav_status)
#mmsi_count_per_vessel_type = spark.createDataFrame(mmsi_count_per_vessel_type)
#mmsi_count_per_flag_country = spark.createDataFrame(mmsi_count_per_flag_country)

# Export ke Pandas DataFrame
#df_unique_mmsi_spark = df_unique_mmsi_spark.toPandas()
#df_unique_imo_spark = df_unique_imo_spark.toPandas()
#mmsi_count_per_nav_status = mmsi_count_per_nav_status.toPandas()
#mmsi_count_per_vessel_type = mmsi_count_per_vessel_type.toPandas()
mmsi_count_per_flag_country = mmsi_count_per_flag_country.toPandas()
   

# Download Data
#create_download_link(df_unique_mmsi_spark, title=df_unique_mmsi_spark, filename="df_unique_mmsi_spark.csv")
#create_download_link(df_unique_imo_spark, title=df_unique_imo_spark, filename="df_unique_imo_spark.csv")
#create_download_link(mmsi_count_per_nav_status, title=mmsi_count_per_nav_status, filename="mmsi_count_per_nav_status.csv")
#create_download_link(mmsi_count_per_vessel_type, title=mmsi_count_per_vessel_type, filename="mmsi_count_per_vessel_type.csv")
create_download_link(mmsi_count_per_flag_country, title=mmsi_count_per_flag_country, filename="mmsi_count_per_flag_country.csv")

In [19]:
# MMSI Unik per (Status Navigasi, Tipe Kapal, Negara Kapal) 

# DataFrame Spark
#unique_mmsi_per_nav_status = spark.createDataFrame(unique_mmsi_per_nav_status)
#unique_mmsi_per_vessel_type = spark.createDataFrame(unique_mmsi_per_vessel_type)
#unique_mmsi_per_flag_country = spark.createDataFrame(unique_mmsi_per_flag_country)

# Export ke Pandas DataFrame
#unique_mmsi_per_nav_status = unique_mmsi_per_nav_status.toPandas()
#unique_mmsi_per_vessel_type = unique_mmsi_per_vessel_type.toPandas()
#unique_mmsi_per_flag_country = unique_mmsi_per_flag_country.toPandas()
unique_imo_per_flag_country = unique_imo_per_flag_country.toPandas()
  
# Download Data
#create_download_link(unique_mmsi_per_nav_status, title=unique_mmsi_per_nav_status, filename="unique_mmsi_per_nav_status.csv")
#create_download_link(unique_mmsi_per_vessel_type, title=unique_mmsi_per_vessel_type, filename="unique_mmsi_per_vessel_type.csv")
#create_download_link(unique_mmsi_per_flag_country, title=unique_mmsi_per_flag_country, filename="unique_mmsi_per_flag_country.csv")
create_download_link(unique_imo_per_flag_country, title=unique_imo_per_flag_country, filename="unique_imo_per_flag_country.csv")

In [19]:
# Nilai Default

# DataFrame Spark
#mmsi_default_per_month = spark.createDataFrame(mmsi_default_per_month)
#imo_default_per_month = spark.createDataFrame(imo_default_per_month)
#nav_status_default_per_month = spark.createDataFrame(nav_status_default_per_month)
#vessel_type_default_per_month = spark.createDataFrame(vessel_type_default_per_month)
#flag_country_default_per_month = spark.createDataFrame(flag_country_default_per_month)
#latitude_default_per_month = spark.createDataFrame(latitude_default_per_month)
#longitude_default_per_month = spark.createDataFrame(longitude_default_per_month)
#dt_pos_utc_default_per_month = spark.createDataFrame(dt_pos_utc_default_per_month)

# Export ke Pandas DataFrame
#mmsi_default_per_month = mmsi_default_per_month.toPandas()
#imo_default_per_month = imo_default_per_month.toPandas()
#nav_status_default_per_month = nav_status_default_per_month.toPandas()
#vessel_type_default_per_month = vessel_type_default_per_month.toPandas()
#flag_country_default_per_month = flag_country_default_per_month.toPandas()
#latitude_default_per_month = latitude_default_per_month.toPandas()
#longitude_default_per_month = longitude_default_per_month.toPandas()
#dt_pos_utc_default_per_month = dt_pos_utc_default_per_month.toPandas()
             

# Download Data
#create_download_link(mmsi_default_per_month, title=mmsi_default_per_month, filename="mmsi_default_per_month.csv")
#create_download_link(imo_default_per_month, title=imo_default_per_month, filename="imo_default_per_month.csv")
#create_download_link(nav_status_default_per_month, title=nav_status_default_per_month, filename="nav_status_default_per_month.csv")
#create_download_link(vessel_type_default_per_month, title=vessel_type_default_per_month, filename="vessel_type_default_per_month.csv")
#create_download_link(flag_country_default_per_month, title=flag_country_default_per_month, filename="flag_country_default_per_month.csv")
#create_download_link(latitude_default_per_month, title=latitude_default_per_month, filename="latitude_default_per_month.csv")
#create_download_link(longitude_default_per_month, title=longitude_default_per_month, filename="longitude_default_per_month.csv")
#create_download_link(dt_pos_utc_default_per_month, title=dt_pos_utc_default_per_month, filename="dt_pos_utc_default_per_month.csv")

In [ ]:
# Invalid Value

# DataFrame Spark
mmsi_invalid = spark.createDataFrame(mmsi_invalid)
#imo_invalid = spark.createDataFrame(imo_invalid)
#nav_status_code_invalid = spark.createDataFrame(nav_status_code_invalid)
#vessel_type_code_invalid = spark.createDataFrame(vessel_type_code_invalid)
#flag_country_code_invalid = spark.createDataFrame(flag_country_code_invalid)
#latitude_invalid = spark.createDataFrame(latitude_invalid)
#longitude_invalid = spark.createDataFrame(longitude_invalid)
#dt_pos_utc_invalid = spark.createDataFrame(dt_pos_utc_invalid)

# Export ke Pandas DataFrame
mmsi_invalid = mmsi_invalid.toPandas()
#imo_invalid = imo_invalid.toPandas()
#nav_status_code_invalid = nav_status_code_invalid.toPandas()
#vessel_type_code_invalid = vessel_type_code_invalid.toPandas()
#flag_country_code_invalid = flag_country_code_invalid.toPandas()
#latitude_invalid = latitude_invalid.toPandas()
#longitude_invalid = longitude_invalid.toPandas()
#dt_pos_utc_invalid = dt_pos_utc_invalid.toPandas()
       

# Download Data
create_download_link(mmsi_invalid, title=mmsi_invalid, filename="mmsi_invalid.csv")
#create_download_link(imo_invalid, title=imo_invalid, filename="imo_invalid.csv")
#create_download_link(nav_status_code_invalid, title=nav_status_code_invalid, filename="nav_status_code_invalid.csv")
#create_download_link(vessel_type_code_invalid, title=vessel_type_code_invalid, filename="vessel_type_code_invalid.csv")
#create_download_link(flag_country_code_invalid, title=flag_country_code_invalid, filename="flag_country_code_invalid.csv")
#create_download_link(latitude_invalid, title=latitude_invalid, filename="latitude_invalid.csv")
#create_download_link(longitude_invalid, title=longitude_invalid, filename="longitude_invalid.csv")
#create_download_link(dt_pos_utc_invalid, title=dt_pos_utc_invalid, filename="dt_pos_utc_invalid.csv")

In [ ]:
# Missing Value

# DataFrame Spark
missing_values_per_month_mmsi = spark.createDataFrame(missing_values_per_month_mmsi)
#missing_values_per_month_imo = spark.createDataFrame(missing_values_per_month_imo)
#missing_values_per_month_nav_status = spark.createDataFrame(missing_values_per_month_nav_status)
#missing_values_per_month_vessel_type = spark.createDataFrame(missing_values_per_month_vessel_type)
#missing_values_per_month_flag_country = spark.createDataFrame(missing_values_per_month_flag_country)
#missing_values_per_month_latitude = spark.createDataFrame(missing_values_per_month_latitude)
#missing_values_per_month_longitude = spark.createDataFrame(missing_values_per_month_longitude)
#missing_values_per_month_dt_pos_utc = spark.createDataFrame(missing_values_per_month_dt_pos_utc)

# Export ke Pandas DataFrame
missing_values_per_month_mmsi = missing_values_per_month_mmsi.toPandas()
#missing_values_per_month_imo = missing_values_per_month_imo.toPandas()
#missing_values_per_month_nav_status = missing_values_per_month_nav_status.toPandas()
#missing_values_per_month_vessel_type = missing_values_per_month_vessel_type.toPandas()
#missing_values_per_month_flag_country = missing_values_per_month_flag_country.toPandas()
#missing_values_per_month_latitude = missing_values_per_month_latitude.toPandas()
#missing_values_per_month_longitude = missing_values_per_month_longitude.toPandas()
#missing_values_per_month_dt_pos_utc = missing_values_per_month_dt_pos_utc.toPandas()
        

# Download Data
create_download_link(missing_values_per_month_mmsi, title=missing_values_per_month_mmsi, filename="missing_values_per_month_mmsi.csv")
#create_download_link(missing_values_per_month_imo, title=missing_values_per_month_imo, filename="missing_values_per_month_imo.csv")
#create_download_link(missing_values_per_month_nav_status, title=missing_values_per_month_nav_status, filename="missing_values_per_month_nav_status.csv")
#create_download_link(missing_values_per_month_vessel_type, title=missing_values_per_month_vessel_type, filename="missing_values_per_month_vessel_type.csv")
#create_download_link(missing_values_per_month_flag_country, title=missing_values_per_month_flag_country, filename="missing_values_per_month_flag_country.csv")
#create_download_link(missing_values_per_month_latitude, title=missing_values_per_month_latitude, filename="missing_values_per_month_latitude.csv")
#create_download_link(missing_values_per_month_longitude, title=missing_values_per_month_longitude, filename="missing_values_per_month_longitude.csv")
#create_download_link(missing_values_per_month_dt_pos_utc, title=missing_values_per_month_dt_pos_utc, filename="missing_values_per_month_dt_pos_utc.csv")

In [ ]:
# Filter (MMSI, IMO, Status Navigasi, Tipe Kapal, Negara Kapal Default, Latitude, Longitude, dt_pos_utc)

# DataFrame Spark
unique_filtered_mmsi_per_month = spark.createDataFrame(unique_filtered_mmsi_per_month)
#unique_filtered_imo_per_month = spark.createDataFrame(unique_filtered_imo_per_month)
#mmsi_count_per_filtered_nav_status = spark.createDataFrame(mmsi_count_per_filtered_nav_status)
#unique_mmsi_per_filtered_nav_status = spark.createDataFrame(unique_mmsi_per_filtered_nav_status)
#mmsi_count_per_filtered_vessel_type = spark.createDataFrame(mmsi_count_per_filtered_vessel_type)
#unique_mmsi_per_filtered_vessel_type = spark.createDataFrame(unique_mmsi_per_filtered_vessel_type)
#mmsi_count_per_filtered_flag_country = spark.createDataFrame(mmsi_count_per_filtered_flag_country)
#unique_mmsi_per_filtered_flag_country = spark.createDataFrame(unique_mmsi_per_filtered_flag_country)

# Export ke Pandas DataFrame
unique_filtered_mmsi_per_month = unique_filtered_mmsi_per_month.toPandas()
#df_unique_filtered_imo_spark = df_unique_filtered_imo_spark.toPandas()
#mmsi_count_per_filtered_nav_status = mmsi_count_per_filtered_nav_status.toPandas()
#unique_mmsi_per_filtered_nav_status = unique_mmsi_per_filtered_nav_status.toPandas()
#mmsi_count_per_filtered_vessel_type = mmsi_count_per_filtered_vessel_type.toPandas()
#unique_mmsi_per_filtered_vessel_type = unique_mmsi_per_filtered_vessel_type.toPandas()
#mmsi_count_per_filtered_flag_country = mmsi_count_per_filtered_flag_country.toPandas()
#unique_mmsi_per_filtered_flag_country = unique_mmsi_per_filtered_flag_country.toPandas()


# Download Data
create_download_link(unique_filtered_mmsi_per_month, title=unique_filtered_mmsi_per_month, filename="unique_filtered_mmsi_per_month.csv")
#create_download_link(unique_filtered_imo_per_month, title=unique_filtered_imo_per_month, filename="unique_filtered_imo_per_month.csv")
#create_download_link(mmsi_count_per_filtered_nav_status, title=mmsi_count_per_filtered_nav_status, filename="mmsi_count_per_filtered_nav_status.csv")
#create_download_link(unique_mmsi_per_filtered_nav_status, title=unique_mmsi_per_filtered_nav_status, filename="unique_mmsi_per_filtered_nav_status.csv")
#create_download_link(mmsi_count_per_filtered_vessel_type, title=mmsi_count_per_filtered_vessel_type, filename="mmsi_count_per_filtered_vessel_type.csv")
#create_download_link(unique_mmsi_per_filtered_vessel_type, title=unique_mmsi_per_filtered_vessel_type, filename="unique_mmsi_per_filtered_vessel_type.csv")
#create_download_link(mmsi_count_per_filtered_flag_country, title=mmsi_count_per_filtered_flag_country, filename="mmsi_count_per_filtered_flag_country.csv")
#create_download_link(unique_mmsi_per_filtered_flag_country, title=unique_mmsi_per_filtered_flag_country, filename="unique_mmsi_per_filtered_flag_country.csv")

In [ ]:
# Filter yg melakukan pelayaran/lintasan anomali(?)

# DataFrame Spark
rekaman_per_bulan_1pers = spark.createDataFrame(rekaman_per_bulan_1pers)
rekaman_per_bulan_1pers = spark.createDataFrame(rekaman_per_bulan_1pers)

# Export ke Pandas DataFrame
rekaman_per_bulan_1pers = rekaman_per_bulan_1pers.toPandas()

# Download Data
create_download_link(rekaman_per_bulan_1pers, filename="rekaman_per_bulan_1pers.csv")