# Initialialize

In [1]:
from sedona.register import SedonaRegistrator
SedonaRegistrator.registerAll(spark)

True

In [2]:
import subprocess
import sys

In [3]:
GITLAB_USER = "read aistt"
GITLAB_TOKEN = "J1KkstArfyXB6dZvFchN"
git_package = f"git+https://(GITLAB_USER):(GITLAB_TOKEN)@code.officialstatistics.org/trade-task-team-phase-1/ais.git"
std_out = subprocess.run([sys.executable, "-m", "pip", "install", git_package], capture_output=True, text=True) .stdout
print(std_out)

Collecting git+https://%28GITLAB_USER%29:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git
  Cloning https://%28GITLAB_USER%29:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git to /tmp/pip-req-build-jtjqzcbd

In [4]:
GITLAB_USER = 'ml_group_read_only'
GITLAB_TOKEN = 'eac7ZwiseRdeLwmBsrsm'

# Main: for using from current issued version
git_package = f"git+https://{GITLAB_USER}:{GITLAB_TOKEN}@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git"

std_out = subprocess.run([sys.executable, "-m", "pip", "install",git_package], capture_output=True, text=True).stdout
print(std_out)

Collecting git+https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git
  Cloning https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git to /tmp/pip-req-build-1seu8k9t
  Resolved https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git to commit 89f1aab64fee28c2f86e86d6fa7b55118882b1e8
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: unece-ais
  Building wheel for unece-ais (setup.py): started
  Building wheel for unece-ais (setup.py): finished with status 'done'
  Created wheel for unece-ais: filename=unece_ais-0.0.4-py3-none-any.whl size=12493 sha256=d04518835e23cf6ddfa42c87cb13429314d3f21a55869f056eeecaa3559d8340
  Stored in directory: /tmp/pip-ephem-wheel-cache-b842nmm2/wheels/61/b5/f9/bcf024b104169c32950c03a4605d2d07ea9da07cae7bed5e3e
Successfully built unece-ais
Installing collected packages: unece-ais
Successfully installed unece-ais-0.0.4

In [5]:
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, date_format, count, countDistinct, when, expr, unix_timestamp
from pyspark.sql.functions import year, month, dayofmonth, hour, minute, second
from pyspark.sql.functions import monotonically_increasing_id, lead, lag, abs, row_number
from pyspark.sql.functions import concat_ws, split, lit, min, max
from pyspark.sql.types import IntegerType, StringType, StructType
from pyspark.sql.window import Window

from shapely.geometry import Point, Polygon, mapping
from IPython.display import HTML
from ais import functions as af
from unece_ais import unece_ais as un
from multiprocessing import Pool

In [6]:
import h3.api.numpy_int as h3int
import matplotlib.pyplot as plt
import geopandas as gpd
import seaborn as sns
import pandas as pd
import numpy as np
import calendar
import base64
import folium
import tqdm
import h3

generated new fontManager

In [7]:
pd.set_option('display.max_columns', None) #Show all columns in pandas df
pd.set_option('display.max_rows', 100) #Show 100 rows in pandas df
pd.options.display.float_format = '{:.10f}'.format #Show float with 10 decimal points in pandas df

from IPython.core.interactiveshell import InteractiveShell #allow multiple outputs in one jupyter cell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
# Path
base_path = "s3a://ungp-ais-data-historical-backup/user_temp/"
path_unique = base_path + "222011349/"

# Data

## Port-AOI Indonesia

In [10]:
# Read Data
port_aoi = spark.read.parquet(path_unique + "ports_indonesia.parquet", header=True)

In [11]:
#explode data port
port_aoi_exploded = port_aoi.select("Port", F.explode("boundary_h3").alias("boundary_h3"))

## Data AIS

In [12]:
# Read Data
data_ais = spark.read.parquet(path_unique + "data-ais-ihs-indonesia-by-mmsi-filter-2022.parquet", header=True)

In [13]:
# Select beberapa kolom 
data_ais = data_ais.select("mmsi", "imo", "nav_status", "vessel_type", "flag_country", "status_country", "OperatorCountryOfRegistration", "OperatorCountryofDomicileName", "draught", "latitude", "longitude", "dt_pos_utc", "sog", "H3_int_index_8")

In [14]:
data_ais.count()

1444393573

# Masuk-Keluar Indonesia

## Match Port-AOI & Vessel

In [14]:
#Cek kecocokan H3 kapal dg port

# Gabungkan dua DataFrame berdasarkan kondisi
joined_data = data_ais.join(port_aoi_exploded, 
                             data_ais['H3_int_index_8'] == port_aoi_exploded['boundary_h3'], 
                             how='left')

# Tentukan nilai kolom 'position' berdasarkan hasil join
match_port_aoi = joined_data.withColumn("position", 
                                  when(col("boundary_h3").isNull(), "out port")
                                  .otherwise("in port"))

# Selecting relevant columns and filtering out null values
match_port_aoi_select = match_port_aoi.select("mmsi", "Port", "dt_pos_utc", col("flag_country").alias('fc_vessel'), col("status_country").alias('sc_vessel'), "vessel_type", col("nav_status").alias('ns_vessel'), "draught", "position")

In [16]:
match_port_aoi_select.count()

1491768859

In [15]:
# Drop Duplicate jika ada
match_port_aoi_select = match_port_aoi_select.dropDuplicates()

In [18]:
match_port_aoi_select.count()

1491561368

In [16]:
match_port_aoi_select = match_port_aoi_select.orderBy("mmsi", "dt_pos_utc", "Port")

## Arus Masuk-Keluar

### Filter Out Port

In [17]:
# Langkah 1: Buang MMSI yang hanya memiliki nilai "out port" (tanpa "in port")

mmsi_with_in_port_only = match_port_aoi_select.filter(match_port_aoi_select.position == "in port").select("mmsi").distinct()
mmsi_with_out_port_only = match_port_aoi_select.filter(match_port_aoi_select.position == "out port").select("mmsi").distinct()

mmsi_to_keep = mmsi_with_in_port_only.join(mmsi_with_out_port_only, "mmsi", "left")

# Buang MMSI yang hanya memiliki nilai "out port" (tanpa "in port"), tetapi pertahankan nilai "out port" jika ada setidaknya satu nilai "in port"
filtered_data1 = match_port_aoi_select.join(mmsi_to_keep, "mmsi", "inner")

In [18]:
filtered_data1 = filtered_data1.orderBy("mmsi", "dt_pos_utc", "Port")

In [22]:
filtered_data1.count()

1412142505

In [19]:
# Langkah 2: Identifikasi waktu "in port" pertama dan terakhir untuk setiap MMSI
# Membuat window specification untuk mengelompokkan data berdasarkan MMSI dan mengurutkannya berdasarkan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

# Menetapkan flag untuk record "in port" pertama dan terakhir
filtered_data2 = filtered_data1.withColumn("first_in_port", F.min(F.when(F.col("position") == "in port", F.col("dt_pos_utc"))).over(window_spec))
filtered_data2 = filtered_data2.withColumn("last_in_port", F.max(F.when(F.col("position") == "in port", F.col("dt_pos_utc"))).over(window_spec))

# Menetapkan flag untuk record "out port" yang berada sebelum dan sesudah "in port" pertama dan terakhir, serta di antaranya
filtered_data2 = filtered_data2.withColumn("before_first_in_port", F.lead("position").over(window_spec) == "in port")
filtered_data2 = filtered_data2.withColumn("after_last_in_port", F.lag("position").over(window_spec) == "in port")

In [20]:
filtered_data2 = filtered_data2.orderBy("mmsi", "dt_pos_utc", "Port")

In [21]:
# Filter record "out port" yang memenuhi kriteria
filtered_data2 = filtered_data2.filter(
    (F.col("position") == "in port") |
    ((F.col("position") == "out port") & (F.col("before_first_in_port") 
                                          | F.col("after_last_in_port") 
                                         )
    )
)

In [22]:
# Daftar kolom yang ingin dijatuhkan
kolom_drop = ["first_in_port", "last_in_port", "before_first_in_port", "after_last_in_port"]

# Menjatuhkan kolom yang tidak diperlukan dari DataFrame
filtered_data2 = filtered_data2.drop(*kolom_drop)

In [23]:
filtered_data2 = filtered_data2.orderBy("mmsi", "dt_pos_utc", "Port")

In [28]:
filtered_data2.count()

114323028

### Filter In Port

In [24]:
# Definisikan window specification
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

# Tentukan apakah Port sama dengan baris sebelumnya
filter_data = filtered_data2.withColumn(
    "same_port_as_previous",
    F.when(
        F.lag("Port").over(window_spec) == F.col("Port"), 
        True
    ).otherwise(False)
)

In [25]:
# Kolom Port sama dengan baris sebelumnya untuk baris setelahnya
filter_data = filter_data.withColumn("same_port_next", F.lead("same_port_as_previous").over(window_spec))

In [26]:
# Membuat window specification untuk mengelompokkan data berdasarkan MMSI dan mengurutkannya berdasarkan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

# Menambahkan kolom baru untuk menghitung jumlah baris "in port" di antara dua baris "out port" berturut-turut
filter_data = filter_data.withColumn("in_port_count", F.sum(F.when(F.col("position") == "out port", 0).otherwise(1)).over(window_spec))

# Menetapkan flag untuk record "out port" pertama dan terakhir
filter_data = filter_data.withColumn("first_out_port", F.min(F.when(F.col("position") == "out port", F.col("dt_pos_utc"))).over(window_spec))
filter_data = filter_data.withColumn("last_out_port", F.max(F.when(F.col("position") == "out port", F.col("dt_pos_utc"))).over(window_spec))

# Menetapkan flag untuk record "in port" yang berada sebelum dan sesudah "out port" pertama dan terakhir, serta di antaranya
filter_data = filter_data.withColumn("before_first_out_port", F.lead("position").over(window_spec) == "out port")
filter_data = filter_data.withColumn("after_last_out_port", F.lag("position").over(window_spec) == "out port")

In [27]:
filter_data = filter_data.orderBy("mmsi", "dt_pos_utc", "Port")

In [28]:
# Filter record "in port" yang memenuhi kriteria
filter_final = filter_data.filter(
    (F.col("position") == "out port") |
    (
        (F.col("position") == "in port") 
        & 
        (
            (F.col("same_port_as_previous") == False)
            |
            (
                (F.col("same_port_as_previous") == True) 
                & ((F.col("before_first_out_port") == True) 
                    | (F.col("after_last_out_port") == True)
                   | (F.col("same_port_next") == False)
                  )
            )
        )
    )
)

In [29]:
# Daftar kolom yang ingin dijatuhkan
kolom_drop = ["same_port_as_previous", "same_port_next", "in_port_count", "first_out_port", "last_out_port", "before_first_out_port", "after_last_out_port"]

# Menjatuhkan kolom yang tidak diperlukan dari DataFrame
filter_final = filter_final.drop(*kolom_drop)

In [35]:
filter_final.count()

89898831

In [30]:
# Drop Duplicate jika ada
filter_final = filter_final.dropDuplicates()

In [ ]:
filter_final.count()

89898831

In [32]:
filter_final = filter_final.orderBy("mmsi", "dt_pos_utc", "Port")

### Labeli In Port

In [33]:
# Membuat kolom-kolom baru dengan nilai awal '-'
after_filter = filter_final.withColumn("masuk_pelabuhan", lit("-")) \
                   .withColumn("keluar_pelabuhan", lit("-")) \
                   .withColumn("masuk_indo", lit("-")) \
                   .withColumn("keluar_indo", lit("-"))

In [34]:
# Mendapatkan baris-baris dengan urutan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

# Tambahkan kolom prev_position
after_filter = after_filter.withColumn("prev_position", F.lag("position", 1).over(window_spec))

# Tambahkan kolom next_position
after_filter = after_filter.withColumn("next_position", F.lead("position", 1).over(window_spec))

In [35]:
# Definisikan window specification
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

# Tentukan apakah Port sama dengan baris sebelumnya
after_filter = after_filter.withColumn(
    "same_port_as_previous",
    F.when(
        F.lag("Port").over(window_spec) == F.col("Port"), 
        True
    ).otherwise(False)
)

# Tentukan apakah Port sama dengan baris sebelumnya
after_filter = after_filter.withColumn("same_port_next", F.lead("same_port_as_previous").over(window_spec))

In [36]:
# Mendapatkan baris-baris dengan urutan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

match_port_aoi_select_in = after_filter.filter(col("position") == "in port")

# Menambahkan kolom baru untuk menandai baris pertama dengan nilai "in port" dari semua baris "in port" untuk suatu MMSI
match_port_aoi_select_in = match_port_aoi_select_in.withColumn("first_in_port_all", 
                                (lag("position", 1).over(window_spec).isNull()) & (col("position") == "in port"))

# Menambahkan kolom baru untuk mendeteksi baris terakhir dengan nilai "in port" dari semua baris "in port" untuk suatu MMSI
match_port_aoi_select_in = match_port_aoi_select_in.withColumn("last_in_port_all", 
                                (lead("position", 1).over(window_spec).isNull()) & (col("position") == "in port"))

In [37]:
# Gabungkan kembali dengan DataFrame asli
joined_data_port = after_filter.join(match_port_aoi_select_in, 
                             ["mmsi", "Port", "dt_pos_utc", "fc_vessel", "sc_vessel", "vessel_type", "ns_vessel", "draught", "position", "masuk_pelabuhan", "keluar_pelabuhan", "masuk_indo", "keluar_indo", "prev_position", "next_position", "same_port_as_previous", "same_port_next"], 
                             how='outer')

# Select kolom yang relevan dan isi nilai NULL dengan False
match_port = joined_data_port.select("mmsi", "Port", "dt_pos_utc", "fc_vessel", "sc_vessel", "vessel_type", "ns_vessel", "draught", "position", "masuk_pelabuhan", "keluar_pelabuhan", "masuk_indo", "keluar_indo", "prev_position", "next_position", "same_port_as_previous", "same_port_next", "first_in_port_all", "last_in_port_all")

In [38]:
match_port = match_port.filter(
    (F.col("position") == "out port") |
    (
        (F.col("position") == "in port") 
        & 
        (
            (F.col("first_in_port_all").isNotNull())
            &
            (F.col("last_in_port_all").isNotNull())
        )
    )
)

In [39]:
match_port = match_port.orderBy("mmsi", "dt_pos_utc", "Port")

In [40]:
# Mendefinisikan kondisi untuk setiap baris
condition1 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "False")) & (match_port["prev_position"].isNull() & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == False))))                                                      
condition2 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "False")) & (match_port["prev_position"].isNull() & (match_port["next_position"] == "out port")))                                                      

condition3 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & (match_port["next_position"] == "out port")))
condition4 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == False))))
condition5 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == True))))

condition6 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & (match_port["next_position"] == "out port")))
condition7 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == False))))
condition8 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == True))))

condition9 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == True) & (match_port["next_position"] == "out port"))) 
condition10 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == True) & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == False)))) 

condition11 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False) & (match_port["next_position"] == "out port"))) 
condition12 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False) & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == False)))) 
condition13 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False) & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == True)))) 

condition14 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & (match_port["next_position"] == "out port")))
condition15 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & (((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False)) & (match_port["next_position"] == "out port")))
condition16 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & (((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == True)) & (match_port["next_position"] == "out port")))

condition17 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & (match_port["next_position"].isNull())))
condition18 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & (((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False) & (match_port["next_position"].isNull()))))

condition19 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "True")) & ((match_port["prev_position"] == "out port") & (match_port["next_position"] == "out port")))
condition20 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "True")) & (((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False)) & (match_port["next_position"] == "out port")))
condition21 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "True")) & (((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == True)) & (match_port["next_position"] == "out port")))

condition22 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "True")) & ((match_port["prev_position"] == "out port") & (match_port["next_position"].isNull())))
condition23 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "True")) & (((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False) & (match_port["next_position"].isNull()))))

condition24 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "True")) & ((match_port["prev_position"] == "out port")))
condition25 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "True")) & ((match_port["next_position"] == "out port")))

In [41]:
# Mengisi kolom-kolom yang sesuai berdasarkan kondisi
port_traffic = match_port.withColumn("masuk_pelabuhan", when((condition3 | condition4 | condition5 | condition6 | condition7 | condition8 | condition11 | condition12 | condition13 | condition14 | condition15 | condition17 | condition18 | condition19 | condition20 | condition22 | condition23 | condition24), "masuk").otherwise("-")) \
                   .withColumn("keluar_pelabuhan", when((condition1 | condition2 | condition3 | condition4 | condition6 | condition7 | condition9 | condition10 | condition11 | condition12 | condition14 | condition15 | condition16 | condition19 | condition20 | condition21 | condition25), "keluar").otherwise("-")) \
                   .withColumn("masuk_indo", when((condition3 | condition4 | condition5 | condition24), "masuk").otherwise("-")) \
                   .withColumn("keluar_indo", when((condition19 | condition20 | condition21 | condition25), "keluar").otherwise("-"))

In [42]:
# Daftar kolom yang ingin dijatuhkan
kolom_drop = ["prev_position", "next_position", "same_port_as_previous", "same_port_next", "first_in_port_all", "last_in_port_all"]

# Menjatuhkan kolom yang tidak diperlukan dari DataFrame
port_traffic1 = port_traffic.drop(*kolom_drop)

In [49]:
port_traffic1.count()

89898831

In [43]:
port_traffic1 = port_traffic1.orderBy("mmsi", "dt_pos_utc", "Port")

In [44]:
port_traffic_in = port_traffic1.filter(col("position") == "in port")

### Labeli Out Port

In [45]:
# Mendapatkan baris-baris dengan urutan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

# Tambahkan kolom prev_position
port_traffic1 = port_traffic1.withColumn("prev_position", F.lag("position", 1).over(window_spec))

# Tambahkan kolom next_position
port_traffic1 = port_traffic1.withColumn("next_position", F.lead("position", 1).over(window_spec))

In [46]:
# Mendapatkan baris-baris dengan urutan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

match_port_aoi_select_out = port_traffic1.filter(col("position") == "out port")

# Menambahkan kolom baru untuk menandai baris pertama dengan nilai "out port" dari semua baris "out port" untuk suatu MMSI
match_port_aoi_select_out = match_port_aoi_select_out.withColumn("first_out_port_all", 
                                (lag("position", 1).over(window_spec).isNull()) & (col("position") == "out port"))

# Menambahkan kolom baru untuk mendeteksi baris terakhir dengan nilai "out port" dari semua baris "out port" untuk suatu MMSI
match_port_aoi_select_out = match_port_aoi_select_out.withColumn("last_out_port_all", 
                                (lead("position", 1).over(window_spec).isNull()) & (col("position") == "out port"))

In [47]:
# Gabungkan kembali dengan DataFrame asli
joined_data = port_traffic1.join(match_port_aoi_select_out, 
                             ["mmsi", "Port", "dt_pos_utc", "fc_vessel", "sc_vessel", "vessel_type", "ns_vessel", "draught", "position", "masuk_pelabuhan", "keluar_pelabuhan", "masuk_indo", "keluar_indo", "prev_position", "next_position"], 
                             how='outer')

# Select kolom yang relevan dan isi nilai NULL dengan False
port_traffic2 = joined_data.select("mmsi", "Port", "dt_pos_utc", "fc_vessel", "sc_vessel", "vessel_type", "ns_vessel", "draught", "position", "masuk_pelabuhan", "keluar_pelabuhan", "masuk_indo", "keluar_indo", "prev_position", "next_position", "first_out_port_all", "last_out_port_all")

In [48]:
port_traffic2 = port_traffic2.filter(
    (F.col("position") == "in port") |
    (
        (F.col("position") == "out port") 
        & 
        (
            (F.col("first_out_port_all").isNotNull())
            &
            (F.col("last_out_port_all").isNotNull())
        )
    )
)

In [49]:
port_traffic2 = port_traffic2.orderBy("mmsi", "dt_pos_utc", "Port")

In [50]:
# Mendefinisikan kondisi untuk setiap baris
condition1 = (port_traffic2["position"] == "out port") & ((port_traffic2["first_out_port_all"] == "True") & (port_traffic2["next_position"] == "in port"))
condition2 = (port_traffic2["position"] == "out port") & ((port_traffic2["last_out_port_all"]  == "True") & (port_traffic2["prev_position"] == "in port"))
condition3 = (port_traffic2["position"] == "out port") & ((port_traffic2["next_position"] == "in port"))
condition4 = (port_traffic2["position"] == "out port") & ((port_traffic2["prev_position"] == "in port"))

In [51]:
# Mengisi kolom-kolom yang sesuai berdasarkan kondisi
port_traffic3 = port_traffic2.withColumn("masuk_pelabuhan", when((condition1 | condition3), "masuk").otherwise("-")) \
                   .withColumn("keluar_pelabuhan", when((condition2 | condition4), "keluar").otherwise("-")) \
                   .withColumn("masuk_indo", when((condition1), "masuk").otherwise("-")) \
                   .withColumn("keluar_indo", when((condition2), "keluar").otherwise("-"))

In [52]:
# Daftar kolom yang ingin dijatuhkan
kolom_drop = ["prev_position", "next_position", "first_out_port_all", "last_out_port_all"]

# Menjatuhkan kolom yang tidak diperlukan dari DataFrame
port_traffic3 = port_traffic3.drop(*kolom_drop)

In [53]:
port_traffic3 = port_traffic3.orderBy("mmsi", "dt_pos_utc", "Port")

In [61]:
port_traffic3.count()

89898831

In [54]:
port_traffic_out = port_traffic3.filter(col("position") == "out port")

### Final Data

In [55]:
result_out_in = port_traffic_in.unionAll(port_traffic_out)

In [56]:
result_out_in = result_out_in.orderBy("mmsi", "dt_pos_utc", "Port")

In [65]:
result_out_in.count()

89898831

### Save Data

In [ ]:
# Save Data
result_out_in.write.option("header", True).mode("overwrite").parquet(path_unique + "data-ais-ihs-indonesia-by-mmsi-masuk-keluar-indonesia-2022-rev.parquet")

### Read Data

In [9]:
# Read Data
result_out_in = spark.read.parquet(path_unique + "data-ais-ihs-indonesia-by-mmsi-masuk-keluar-indonesia-2022-rev.parquet", header=True)

### Masuk Pelabuhan

In [10]:
# Masuk
result_in_port = result_out_in.filter((col("masuk_pelabuhan") == "masuk") & (col("position") == "in port"))

In [11]:
result_in_port.count()

88524143

In [12]:
# Kapal Asing
result_in_port_asing = result_in_port.filter(col("sc_vessel") == "Asing")

In [13]:
result_in_port_asing.count()

68405063

### Keluar Pelabuhan

In [14]:
# Keluar
result_out_port = result_out_in.filter((col("keluar_pelabuhan") == "keluar") & (col("position") == "in port"))

In [15]:
result_out_port.count()

88524097

In [16]:
# Kapal Asing
result_out_port_asing = result_out_port.filter(col("sc_vessel") == "Asing")

In [17]:
result_out_port_asing.count()

68405031

### Masuk Indonesia

In [18]:
# Masuk
result_in_indo = result_out_in.filter((col("masuk_indo") == "masuk") & (col("position") == "in port"))

In [19]:
result_in_indo.count()

20250

In [20]:
# Kapal Asing
result_in_indo_asing = result_in_indo.filter(col("sc_vessel") == "Asing")

In [21]:
result_in_indo_asing.count()

19278

### Keluar Indonesia

In [22]:
# Keluar
result_out_indo = result_out_in.filter((col("keluar_indo") == "keluar") & (col("position") == "in port"))

In [23]:
result_out_indo.count()

20204

In [24]:
# Kapal Asing
result_out_indo_asing = result_out_indo.filter(col("sc_vessel") == "Asing")

In [25]:
result_out_indo.count()

20204

## Menghitung Jumlah per Bulan

### Masuk Pelabuhan

In [26]:
# Hitung jumlah kapal masuk
vessel_in_count_month = result_in_port.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_in"))

In [27]:
# Tampilkan hasil
vessel_in_count_month.show()

+---------+---------+
|   months|vessel_in|
+---------+---------+
|     July|  7842855|
| November|  5410701|
| February|  6861245|
|  January|  6945000|
|    March|  7178185|
|  October|  8538601|
|      May|  6955419|
|   August|  7952231|
|    April|  6937128|
|     June|  7280143|
| December|  8490845|
|September|  8131790|
+---------+---------+

In [28]:
# Hitung jumlah kapal masuk
vessel_in_count_country = result_in_port.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_in"))

In [29]:
# Tampilkan hasil
vessel_in_count_country.show(vessel_in_count_country.count(), truncate = False)

+--------------------------------+---------+
|fc_vessel                       |vessel_in|
+--------------------------------+---------+
|Singapore                       |27940110 |
|British Virgin Islands          |62563    |
|China                           |1392836  |
|Bangladesh                      |187012   |
|Panama                          |8155033  |
|Saint Vincent and the Grenadines|128365   |
|Saudi Arabia                    |78007    |
|Bahrain                         |651      |
|Malaysia                        |1876908  |
|Turkey                          |54322    |
|Germany                         |70536    |
|France                          |98218    |
|Dominica                        |22111    |
|Belgium                         |212119   |
|Bahamas                         |1113951  |
|Malta                           |1905935  |
|Marshall Islands                |5432610  |
|Cayman Islands                  |517929   |
|Netherlands Antilles            |77815    |
|Lithuania                       |163      |
|Spain                           |10791    |
|Denmark                         |347641   |
|Barbados                        |47357    |
|Alaska                          |16674    |
|Russian Federation              |74943    |
|Saint Kitts and Nevis           |100643   |
|USA                             |94127    |
|Cyprus                          |784849   |
|Mexico                          |29       |
|Liberia                         |6529525  |
|Honduras                        |1741     |
|Switzerland                     |3853     |
|Jamaica                         |2882     |
|Azores                          |98980    |
|Belize                          |153624   |
|Antigua and Barbuda             |297588   |
|Bermuda                         |109104   |
|Northern Mariana                |215      |
|Moldova                         |31       |
|Sweden                          |10838    |
|Kiribati                        |41960    |
|Tonga                           |1        |
|Djibouti                        |16863    |
|Iraq                            |175      |
|Comoros                         |3938     |
|Jordan                          |1342     |
|Greece                          |474425   |
|Kerguelen Islands               |471      |
|Sri Lanka                       |8295     |
|Taiwan                          |128366   |
|Algeria                         |858      |
|Equatorial Guinea               |56503    |
|Finland                         |2427     |
|Ghana                           |1718     |
|India                           |118934   |
|Tuvalu                          |309490   |
|Croatia                         |8180     |
|Wallis and Futuna Islands       |1399     |
|Gabon                           |70716    |
|Italy                           |130182   |
|Norway                          |439288   |
|Iran                            |22417    |
|Ireland                         |494      |
|Thailand                        |265367   |
|Morocco                         |43       |
|Israel                          |1522     |
|South Korea                     |502156   |
|Gibraltar                       |71360    |
|Montenegro                      |4308     |
|Indonesia                       |20119080 |
|UK                              |378295   |
|Ethiopia                        |28261    |
|Kenya                           |28       |
|Japan                           |288233   |
|Luxembourg                      |306266   |
|Cameroon                        |57050    |
|Egypt                           |6305     |
|South Africa                    |1378     |
|Vanuatu                         |44391    |
|Madeira                         |682981   |
|Vietnam                         |807521   |
|Netherlands                     |291734   |
|Philippines                     |149761   |
|Maldives                        |147      |
|Qatar                           |2573     |
|Kuwait                          |38567    |
|Hong Kong                       |3597294  |
|Nauru                           |160      |
|Mongolia                        |108881   |
|Syria                           |148      |
|United Arab Emirates            |22139    |
|Samoa                           |1232     |
|Papua New Guinea                |3160     |
|Pakistan                        |7523     |
|Niue                            |57279    |
|Guyana                          |682      |
|Fiji                            |52       |
|Cambodia                        |2136     |
|Palau                           |86600    |
|Togo                            |48072    |
|Lesotho                         |14405    |
|Myanmar                         |298      |
|Sierra Leone                    |111206   |
|Sao Tome and Principe           |1954     |
|Somalia                         |2019     |
|Libya                           |9031     |
|Brunei                          |9309     |
|Seychelles                      |123      |
|Cook Islands                    |414407   |
|Brazil                          |33694    |
|Tanzania                        |34426    |
|Australia                       |10479    |
|Micronesia                      |1        |
|Mauritius                       |49035    |
+--------------------------------+---------+

In [30]:
# Hitung jumlah kapal masuk
vessel_in_count_vess_type = result_in_port.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_in"))

In [31]:
# Tampilkan hasil
vessel_in_count_vess_type.show()

+--------------+---------+
|   vessel_type|vessel_in|
+--------------+---------+
|       Sailing|   313734|
|        Tanker| 43400003|
|         Other|  6002671|
|Pleasure Craft|   855445|
|     Passenger|  5101038|
|       Fishing|    84663|
|   Port Tender|   115174|
|      Dredging|   667001|
|         Cargo| 31984414|
+--------------+---------+

In [32]:
# Di Pelabuhan Merak
result_in_port_merak = result_in_port.filter(col("Port") == "Tanjung Sekong")

# Passenger
result_in_port_merak_p = result_in_port_merak.filter(col("vessel_type") == "Passenger")

In [33]:
# Hitung jumlah kapal masuk
vessel_in_count_month = result_in_port_merak_p.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_in"))

In [34]:
# Tampilkan hasil
vessel_in_count_month.show()

+---------+---------+
|   months|vessel_in|
+---------+---------+
| November|    70143|
|  January|    59036|
|      May|    43808|
| December|   111813|
|     July|    56408|
| February|    52118|
|    March|    56727|
|  October|   109857|
|   August|    85838|
|    April|    51806|
|     June|    40771|
|September|   106720|
+---------+---------+

### Keluar Pelabuhan

In [35]:
# Hitung jumlah kapal keluar
vessel_out_count_month = result_out_port.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_out"))

In [36]:
# Tampilkan hasil
vessel_out_count_month.show()

+---------+----------+
|   months|vessel_out|
+---------+----------+
|     July|   7842830|
| November|   5410686|
| February|   6861279|
|  January|   6946051|
|    March|   7178256|
|  October|   8538597|
|      May|   6955387|
|   August|   7952244|
|    April|   6937186|
|     June|   7280139|
| December|   8489671|
|September|   8131771|
+---------+----------+

In [37]:
# Hitung jumlah kapal keluar
vessel_out_count_country = result_out_port.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_out"))

In [ ]:
# Tampilkan hasil
vessel_out_count_country.show(vessel_out_count_country.count(), truncate = False)

+--------------------------------+----------+
|fc_vessel                       |vessel_out|
+--------------------------------+----------+
|Singapore                       |27940126  |
|British Virgin Islands          |62563     |
|China                           |1392819   |
|Bangladesh                      |187011    |
|Panama                          |8155038   |
|Saint Vincent and the Grenadines|128363    |
|Saudi Arabia                    |78006     |
|Bahrain                         |651       |
|Malaysia                        |1876913   |
|Turkey                          |54325     |
|Germany                         |70536     |
|France                          |98218     |
|Dominica                        |22111     |
|Belgium                         |212118    |
|Bahamas                         |1113937   |
|Malta                           |1905934   |
|Marshall Islands                |5432622   |
|Cayman Islands                  |517934    |
|Netherlands Antilles            |77816     |
|Lithuania                       |163       |
|Spain                           |10790     |
|Denmark                         |347633    |
|Barbados                        |47361     |
|Alaska                          |16674     |
|Russian Federation              |74943     |
|Saint Kitts and Nevis           |100652    |
|USA                             |94126     |
|Cyprus                          |784853    |
|Mexico                          |29        |
|Liberia                         |6529566   |
|Honduras                        |1741      |
|Switzerland                     |3853      |
|Jamaica                         |2883      |
|Azores                          |98979     |
|Belize                          |153623    |
|Antigua and Barbuda             |297594    |
|Bermuda                         |109101    |
|Northern Mariana                |215       |
|Moldova                         |32        |
|Sweden                          |10838     |
|Kiribati                        |41960     |
|Tonga                           |1         |
|Djibouti                        |16861     |
|Iraq                            |175       |
|Comoros                         |3941      |
|Jordan                          |1342      |
|Greece                          |474413    |
|Kerguelen Islands               |472       |
|Sri Lanka                       |8295      |
|Taiwan                          |128364    |
|Algeria                         |858       |
|Equatorial Guinea               |56503     |
|Finland                         |2427      |
|Ghana                           |1718      |
|India                           |118934    |
|Tuvalu                          |309485    |
|Croatia                         |8180      |
|Wallis and Futuna Islands       |1399      |
|Gabon                           |70719     |
|Italy                           |130182    |
|Norway                          |439286    |
|Iran                            |22418     |
|Ireland                         |494       |
|Thailand                        |265359    |
|Morocco                         |43        |
|Israel                          |1522      |
|South Korea                     |502146    |
|Gibraltar                       |71361     |
|Montenegro                      |4308      |
|Indonesia                       |20119066  |
|UK                              |378294    |
|Ethiopia                        |28262     |
|Kenya                           |28        |
|Japan                           |288225    |
|Luxembourg                      |306267    |
|Cameroon                        |57049     |
|Egypt                           |6303      |
|South Africa                    |1378      |
|Vanuatu                         |44388     |
|Madeira                         |682982    |
|Vietnam                         |807508    |
|Netherlands                     |291733    |
|Philippines                     |149758    |
|Maldives                        |147       |
|Qatar                           |2572      |
|Kuwait                          |38567     |
|Hong Kong                       |3597275   |
|Nauru                           |159       |
|Mongolia                        |108879    |
|Syria                           |148       |
|United Arab Emirates            |22141     |
|Samoa                           |1233      |
|Papua New Guinea                |3159      |
|Pakistan                        |7523      |
|Niue                            |57272     |
|Guyana                          |682       |
|Fiji                            |52        |
|Cambodia                        |2135      |
|Palau                           |86603     |
|Togo                            |48075     |
|Lesotho                         |14405     |
|Myanmar                         |298       |
|Sierra Leone                    |111201    |
|Sao Tome and Principe           |1954      |
|Somalia                         |2018      |
|Libya                           |9031      |
|Brunei                          |9309      |
|Seychelles                      |123       |
|Cook Islands                    |414406    |
|Brazil                          |33694     |
|Tanzania                        |34424     |
|Australia                       |10478     |
|Micronesia                      |1         |
|Mauritius                       |49036     |
+--------------------------------+----------+

In [ ]:
# Hitung jumlah kapal keluar
vessel_out_count_vess_type = result_out_port.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_out"))

In [ ]:
# Tampilkan hasil
vessel_out_count_vess_type.show()

+--------------+----------+
|   vessel_type|vessel_out|
+--------------+----------+
|       Sailing|    313734|
|        Tanker|  43399993|
|         Other|   6002661|
|Pleasure Craft|    855444|
|     Passenger|   5101059|
|       Fishing|     84667|
|   Port Tender|    115173|
|      Dredging|    667008|
|         Cargo|  31984358|
+--------------+----------+

In [ ]:
# Di Pelabuhan Merak
result_out_port_merak = result_out_port.filter(col("Port") == "Tanjung Sekong")

# Passenger
result_out_port_merak_p = result_out_port_merak.filter(col("vessel_type") == "Passenger")

In [ ]:
# Hitung jumlah kapal keluar
vessel_out_count_month = result_out_port_merak_p.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_out"))

In [ ]:
# Tampilkan hasil
vessel_out_count_month.show()

+---------+----------+
|   months|vessel_out|
+---------+----------+
| November|     70140|
|  January|     59036|
|      May|     43807|
| December|    111769|
|     July|     56406|
| February|     52118|
|    March|     56727|
|  October|    109856|
|   August|     85838|
|    April|     51806|
|     June|     40770|
|September|    106720|
+---------+----------+

### Masuk Indonesia

In [ ]:
# Hitung jumlah kapal masuk
vessel_in_count_month = result_in_indo.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_in"))

In [ ]:
# Tampilkan hasil
vessel_in_count_month.show()

+---------+---------+
|   months|vessel_in|
+---------+---------+
|     July|      930|
| November|      508|
| February|     2928|
|  January|     7006|
|    March|     2175|
|  October|      749|
|      May|     1262|
|   August|      861|
|    April|     1454|
|     June|     1040|
| December|      637|
|September|      700|
+---------+---------+

In [ ]:
# Hitung jumlah kapal masuk
vessel_in_count_country = result_in_indo.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_in"))

In [ ]:
# Tampilkan hasil
vessel_in_count_country.show(vessel_in_count_country.count(), truncate = False)

+--------------------------------+---------+
|fc_vessel                       |vessel_in|
+--------------------------------+---------+
|Singapore                       |1514     |
|British Virgin Islands          |1        |
|China                           |670      |
|Bangladesh                      |75       |
|Panama                          |3846     |
|Saint Vincent and the Grenadines|14       |
|Saudi Arabia                    |86       |
|Bahrain                         |1        |
|Malaysia                        |256      |
|Turkey                          |26       |
|Germany                         |30       |
|France                          |38       |
|Dominica                        |3        |
|Belgium                         |40       |
|Bahamas                         |465      |
|Malta                           |778      |
|Marshall Islands                |2585     |
|Cayman Islands                  |90       |
|Netherlands Antilles            |10       |
|Lithuania                       |1        |
|Spain                           |10       |
|Denmark                         |203      |
|Barbados                        |45       |
|Alaska                          |3        |
|Russian Federation              |53       |
|Saint Kitts and Nevis           |28       |
|USA                             |30       |
|Cyprus                          |316      |
|Mexico                          |1        |
|Liberia                         |2866     |
|Honduras                        |1        |
|Switzerland                     |10       |
|Azores                          |61       |
|Belize                          |66       |
|Antigua and Barbuda             |141      |
|Bermuda                         |61       |
|Northern Mariana                |1        |
|Sweden                          |14       |
|Kiribati                        |11       |
|Djibouti                        |13       |
|Comoros                         |20       |
|Jordan                          |1        |
|Greece                          |321      |
|Kerguelen Islands               |1        |
|Sri Lanka                       |6        |
|Taiwan                          |121      |
|Algeria                         |1        |
|Equatorial Guinea               |4        |
|Finland                         |5        |
|Ghana                           |1        |
|India                           |79       |
|Tuvalu                          |59       |
|Croatia                         |8        |
|Wallis and Futuna Islands       |2        |
|Gabon                           |25       |
|Italy                           |53       |
|Norway                          |247      |
|Iran                            |73       |
|Ireland                         |1        |
|Thailand                        |119      |
|Morocco                         |1        |
|Israel                          |1        |
|South Korea                     |298      |
|Gibraltar                       |14       |
|Montenegro                      |3        |
|Indonesia                       |972      |
|UK                              |207      |
|Ethiopia                        |6        |
|Kenya                           |1        |
|Japan                           |252      |
|Luxembourg                      |23       |
|Cameroon                        |30       |
|Egypt                           |4        |
|South Africa                    |3        |
|Vanuatu                         |21       |
|Madeira                         |197      |
|Vietnam                         |341      |
|Netherlands                     |84       |
|Philippines                     |81       |
|Maldives                        |1        |
|Qatar                           |6        |
|Kuwait                          |23       |
|Hong Kong                       |1747     |
|Nauru                           |5        |
|Mongolia                        |48       |
|Syria                           |1        |
|United Arab Emirates            |4        |
|Samoa                           |4        |
|Papua New Guinea                |3        |
|Pakistan                        |6        |
|Niue                            |13       |
|Guyana                          |4        |
|Fiji                            |1        |
|Cambodia                        |1        |
|Palau                           |46       |
|Togo                            |16       |
|Myanmar                         |3        |
|Sierra Leone                    |57       |
|Sao Tome and Principe           |5        |
|Somalia                         |1        |
|Libya                           |6        |
|Brunei                          |7        |
|Seychelles                      |2        |
|Cook Islands                    |36       |
|Brazil                          |12       |
|Tanzania                        |23       |
|Australia                       |14       |
|Micronesia                      |1        |
|Mauritius                       |5        |
+--------------------------------+---------+

In [ ]:
# Hitung jumlah kapal masuk
vessel_in_count_vess_type = result_in_indo.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_in"))

In [ ]:
# Tampilkan hasil
vessel_in_count_vess_type.show()

+--------------+---------+
|   vessel_type|vessel_in|
+--------------+---------+
|       Sailing|       25|
|        Tanker|     5900|
|         Other|      492|
|Pleasure Craft|       63|
|     Passenger|      224|
|       Fishing|      235|
|      Dredging|       62|
|         Cargo|    13240|
|   Port Tender|        9|
+--------------+---------+

### Keluar Indonesia

In [ ]:
# Hitung jumlah kapal keluar
vessel_out_count_month = result_out_indo.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_out"))

In [ ]:
# Tampilkan hasil
vessel_out_count_month.show()

+---------+----------+
|   months|vessel_out|
+---------+----------+
|     July|      1048|
| November|      2501|
| February|       528|
|  January|       505|
|    March|       657|
|  October|      2620|
|      May|       750|
|   August|      1253|
|    April|       711|
|     June|       883|
| December|      7212|
|September|      1536|
+---------+----------+

In [ ]:
# Hitung jumlah kapal keluar
vessel_out_count_country = result_out_indo.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_out"))

In [ ]:
# Tampilkan hasil
vessel_out_count_country.show(vessel_out_count_country.count(), truncate = False)

+--------------------------------+----------+
|fc_vessel                       |vessel_out|
+--------------------------------+----------+
|Singapore                       |1530      |
|British Virgin Islands          |1         |
|China                           |653       |
|Bangladesh                      |74        |
|Panama                          |3851      |
|Saint Vincent and the Grenadines|12        |
|Saudi Arabia                    |85        |
|Bahrain                         |1         |
|Malaysia                        |261       |
|Turkey                          |29        |
|Germany                         |30        |
|France                          |38        |
|Dominica                        |3         |
|Belgium                         |39        |
|Bahamas                         |451       |
|Malta                           |777       |
|Marshall Islands                |2597      |
|Cayman Islands                  |95        |
|Netherlands Antilles            |11        |
|Lithuania                       |1         |
|Spain                           |9         |
|Denmark                         |195       |
|Barbados                        |49        |
|Alaska                          |3         |
|Russian Federation              |53        |
|Saint Kitts and Nevis           |37        |
|USA                             |29        |
|Cyprus                          |320       |
|Mexico                          |1         |
|Liberia                         |2907      |
|Honduras                        |1         |
|Switzerland                     |10        |
|Jamaica                         |1         |
|Azores                          |60        |
|Belize                          |65        |
|Antigua and Barbuda             |147       |
|Bermuda                         |58        |
|Northern Mariana                |1         |
|Moldova                         |1         |
|Sweden                          |14        |
|Kiribati                        |11        |
|Djibouti                        |11        |
|Comoros                         |23        |
|Jordan                          |1         |
|Greece                          |309       |
|Kerguelen Islands               |2         |
|Sri Lanka                       |6         |
|Taiwan                          |119       |
|Algeria                         |1         |
|Equatorial Guinea               |4         |
|Finland                         |5         |
|Ghana                           |1         |
|India                           |79        |
|Tuvalu                          |54        |
|Croatia                         |8         |
|Wallis and Futuna Islands       |2         |
|Gabon                           |28        |
|Italy                           |53        |
|Norway                          |245       |
|Iran                            |74        |
|Ireland                         |1         |
|Thailand                        |111       |
|Morocco                         |1         |
|Israel                          |1         |
|South Korea                     |288       |
|Gibraltar                       |15        |
|Montenegro                      |3         |
|Indonesia                       |958       |
|UK                              |206       |
|Ethiopia                        |7         |
|Kenya                           |1         |
|Japan                           |244       |
|Luxembourg                      |24        |
|Cameroon                        |29        |
|Egypt                           |2         |
|South Africa                    |3         |
|Vanuatu                         |18        |
|Madeira                         |198       |
|Vietnam                         |328       |
|Netherlands                     |83        |
|Philippines                     |78        |
|Maldives                        |1         |
|Qatar                           |5         |
|Kuwait                          |23        |
|Hong Kong                       |1728      |
|Nauru                           |4         |
|Mongolia                        |46        |
|Syria                           |1         |
|United Arab Emirates            |6         |
|Samoa                           |5         |
|Papua New Guinea                |2         |
|Pakistan                        |6         |
|Niue                            |6         |
|Guyana                          |4         |
|Fiji                            |1         |
|Palau                           |49        |
|Togo                            |19        |
|Myanmar                         |3         |
|Sierra Leone                    |52        |
|Sao Tome and Principe           |5         |
|Libya                           |6         |
|Brunei                          |7         |
|Seychelles                      |2         |
|Cook Islands                    |35        |
|Brazil                          |12        |
|Tanzania                        |21        |
|Australia                       |13        |
|Micronesia                      |1         |
|Mauritius                       |6         |
+--------------------------------+----------+

In [ ]:
# Hitung jumlah kapal keluar
vessel_out_count_vess_type = result_out_indo.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_out"))

In [ ]:
# Tampilkan hasil
vessel_out_count_vess_type.show()

+--------------+----------+
|   vessel_type|vessel_out|
+--------------+----------+
|       Sailing|        29|
|        Tanker|      5905|
|         Other|       485|
|Pleasure Craft|        69|
|     Passenger|       234|
|       Fishing|       228|
|      Dredging|        74|
|         Cargo|     13174|
|   Port Tender|         6|
+--------------+----------+

In [ ]:
spark.stop()