# Initialialize

In [1]:
#Sedona Imports
import sedona.sql
from sedona.register import SedonaRegistrator
from sedona.utils import SedonaKryoRegistrator, KryoSerializer
from sedona.core.SpatialRDD import PolygonRDD, PointRDD
from sedona.core.enums import FileDataSplitter
import pyspark.sql.types as pst
from pyspark import StorageLevel
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .appName('Vessel_Traffic_Indonesia') \
    .config("spark.serializer", KryoSerializer.getName) \
    .config("spark.kryo.registrator", SedonaKryoRegistrator.getName) \
    .config("spark.sql.parquet.enableVectorizedReader", "false") \
    .config('spark.jars.packages', 'org.apache.sedona:sedona-python-adapter-3.0_2.12:1.0.1-incubating,org.apache.sedona:sedona-viz-3.0_2.12:1.0.1-incubating') \
    .getOrCreate()

SedonaRegistrator.registerAll(spark)

True

In [3]:
import subprocess
import sys

In [4]:
GITLAB_USER = "read aistt"
GITLAB_TOKEN = "J1KkstArfyXB6dZvFchN"
git_package = f"git+https://(GITLAB_USER):(GITLAB_TOKEN)@code.officialstatistics.org/trade-task-team-phase-1/ais.git"
std_out = subprocess.run([sys.executable, "-m", "pip", "install", git_package], capture_output=True, text=True) .stdout
print(std_out)

Collecting git+https://%28GITLAB_USER%29:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git
  Cloning https://%28GITLAB_USER%29:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git to /tmp/pip-req-build-vvkdzod3

In [5]:
GITLAB_USER = 'ml_group_read_only'
GITLAB_TOKEN = 'eac7ZwiseRdeLwmBsrsm'

# Main: for using from current issued version
git_package = f"git+https://{GITLAB_USER}:{GITLAB_TOKEN}@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git"

std_out = subprocess.run([sys.executable, "-m", "pip", "install",git_package], capture_output=True, text=True).stdout
print(std_out)

Collecting git+https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git
  Cloning https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git to /tmp/pip-req-build-ijd41sli
  Resolved https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git to commit 89f1aab64fee28c2f86e86d6fa7b55118882b1e8
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: unece-ais
  Building wheel for unece-ais (setup.py): started
  Building wheel for unece-ais (setup.py): finished with status 'done'
  Created wheel for unece-ais: filename=unece_ais-0.0.4-py3-none-any.whl size=12493 sha256=f701af6d430967ec0c0d508e0183690b82498b45c5301452bdee61734b31175d
  Stored in directory: /tmp/pip-ephem-wheel-cache-n510hons/wheels/61/b5/f9/bcf024b104169c32950c03a4605d2d07ea9da07cae7bed5e3e
Successfully built unece-ais
Installing collected packages: unece-ais
Successfully installed unece-ais-0.0.4

In [6]:
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, date_format, count, countDistinct, when, expr, unix_timestamp
from pyspark.sql.functions import year, month, dayofmonth, hour, minute, second
from pyspark.sql.functions import monotonically_increasing_id, lead, lag, abs, row_number
from pyspark.sql.functions import concat_ws, split, lit, min, max
from pyspark.sql.types import IntegerType, StringType, StructType
from pyspark.sql.window import Window

from shapely.geometry import Point, Polygon, mapping
from IPython.display import HTML
from ais import functions as af
from unece_ais import unece_ais as un
from multiprocessing import Pool

In [7]:
import h3.api.numpy_int as h3int
import matplotlib.pyplot as plt
import geopandas as gpd
import seaborn as sns
import pandas as pd
import numpy as np
import calendar
import base64
import folium
import tqdm
import h3

generated new fontManager

In [8]:
pd.set_option('display.max_columns', None) #Show all columns in pandas df
pd.set_option('display.max_rows', 100) #Show 100 rows in pandas df
pd.options.display.float_format = '{:.10f}'.format #Show float with 10 decimal points in pandas df

from IPython.core.interactiveshell import InteractiveShell #allow multiple outputs in one jupyter cell
InteractiveShell.ast_node_interactivity = "all"

In [9]:
# Path
base_path = "s3a://ungp-ais-data-historical-backup/user_temp/"
path_unique = base_path + "222011349/"

# Data

## Port-AOI Indonesia

In [10]:
# Read Data
port_aoi = spark.read.parquet(path_unique + "port_merak.parquet", header=True)

In [11]:
#explode data port
port_aoi_exploded = port_aoi.select("Port", F.explode("boundary_h3").alias("boundary_h3"))

## Data AIS

In [12]:
# Read Data
data_ais_filter = spark.read.parquet(path_unique + "data-ais-ihs-indonesia-by-mmsi-filter-2022.parquet", header=True)

In [13]:
# Filter Record < 10

# Menghitung jumlah record per MMSI
record_counts = data_ais_filter.groupBy("mmsi").agg(count("*").alias("record_count"))

# Mendapatkan MMSI dengan record kurang dari 10
mmsi_less_than_10 = record_counts.filter(col("record_count") < 10).select("mmsi")

# Menghapus MMSI dengan record kurang dari 10 dari DataFrame asli menggunakan left_anti join
mmsi_with_record_great_10 = data_ais_filter.join(mmsi_less_than_10, on="mmsi", how="left_anti")

In [14]:
# Filter SOG > 3 berjumlah < 20 

# Filter data berdasarkan kondisi SOG lebih dari 3
filtered_data = mmsi_with_record_great_10.filter(col("sog") > 3)

# Kelompokkan data berdasarkan MMSI dan hitung jumlah catatan
grouped_data = filtered_data.groupBy("mmsi").agg(count("*").alias("record_count"))

# Filter MMSI yang memiliki SOG lebih dari 3 tetapi kurang dari 20
filtered_mmsi = grouped_data.filter((col("record_count") < 20)).select("mmsi")

# Hapus baris yang terkait dengan MMSI yang telah difilter dari DataFrame
mmsi_with_sog_greater3_greater20 = mmsi_with_record_great_10.join(filtered_mmsi, "mmsi", "left_anti")

In [15]:
# Select beberapa kolom 
data_ais = mmsi_with_sog_greater3_greater20.select("mmsi", "imo", "nav_status", "vessel_type", "flag_country", "status_country", "OperatorCountryOfRegistration", "OperatorCountryofDomicileName", "draught", "latitude", "longitude", "dt_pos_utc", "sog", "H3_int_index_8")

# Masuk-Keluar Indonesia

## Match Port-AOI & Vessel

In [17]:
#Cek kecocokan H3 kapal dg port

# Gabungkan dua DataFrame berdasarkan kondisi
joined_data = data_ais.join(port_aoi_exploded, 
                             data_ais['H3_int_index_8'] == port_aoi_exploded['boundary_h3'], 
                             how='left')

# Tentukan nilai kolom 'position' berdasarkan hasil join
match_port_aoi = joined_data.withColumn("position", 
                                  when(col("boundary_h3").isNull(), "out port")
                                  .otherwise("in port"))

# Selecting relevant columns and filtering out null values
match_port_aoi_select = match_port_aoi.select("mmsi", "Port", "dt_pos_utc", col("flag_country").alias('fc_vessel'), col("status_country").alias('sc_vessel'), "vessel_type", col("nav_status").alias('ns_vessel'), "draught", "position")

In [18]:
# Drop Duplicate jika ada
match_port_aoi_select = match_port_aoi_select.dropDuplicates()

In [19]:
match_port_aoi_select = match_port_aoi_select.orderBy("mmsi", "dt_pos_utc", "Port")

## Arus Masuk-Keluar

### Filter Out Port

In [20]:
# Langkah 1: Buang MMSI yang hanya memiliki nilai "out port" (tanpa "in port")

mmsi_with_in_port_only = match_port_aoi_select.filter(match_port_aoi_select.position == "in port").select("mmsi").distinct()
mmsi_with_out_port_only = match_port_aoi_select.filter(match_port_aoi_select.position == "out port").select("mmsi").distinct()

mmsi_to_keep = mmsi_with_in_port_only.join(mmsi_with_out_port_only, "mmsi", "left")

# Buang MMSI yang hanya memiliki nilai "out port" (tanpa "in port"), tetapi pertahankan nilai "out port" jika ada setidaknya satu nilai "in port"
filtered_data1 = match_port_aoi_select.join(mmsi_to_keep, "mmsi", "inner")

In [21]:
filtered_data1 = filtered_data1.orderBy("mmsi", "dt_pos_utc", "Port")

In [22]:
# Langkah 2: Identifikasi waktu "in port" pertama dan terakhir untuk setiap MMSI
# Membuat window specification untuk mengelompokkan data berdasarkan MMSI dan mengurutkannya berdasarkan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

# Menetapkan flag untuk record "in port" pertama dan terakhir
filtered_data2 = filtered_data1.withColumn("first_in_port", F.min(F.when(F.col("position") == "in port", F.col("dt_pos_utc"))).over(window_spec))
filtered_data2 = filtered_data2.withColumn("last_in_port", F.max(F.when(F.col("position") == "in port", F.col("dt_pos_utc"))).over(window_spec))

# Menetapkan flag untuk record "out port" yang berada sebelum dan sesudah "in port" pertama dan terakhir, serta di antaranya
filtered_data2 = filtered_data2.withColumn("before_first_in_port", F.lead("position").over(window_spec) == "in port")
filtered_data2 = filtered_data2.withColumn("after_last_in_port", F.lag("position").over(window_spec) == "in port")

In [23]:
filtered_data2 = filtered_data2.orderBy("mmsi", "dt_pos_utc", "Port")

In [24]:
# Filter record "out port" yang memenuhi kriteria
filtered_data2 = filtered_data2.filter(
    (F.col("position") == "in port") |
    ((F.col("position") == "out port") & (F.col("before_first_in_port") 
                                          | F.col("after_last_in_port") 
                                         )
    )
)

In [25]:
# Daftar kolom yang ingin dijatuhkan
kolom_drop = ["first_in_port", "last_in_port", "before_first_in_port", "after_last_in_port"]

# Menjatuhkan kolom yang tidak diperlukan dari DataFrame
filtered_data2 = filtered_data2.drop(*kolom_drop)

In [26]:
filtered_data2 = filtered_data2.orderBy("mmsi", "dt_pos_utc", "Port")

### Filter In Port

In [27]:
# Definisikan window specification
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

# Tentukan apakah Port sama dengan baris sebelumnya
filter_data = filtered_data2.withColumn(
    "same_port_as_previous",
    F.when(
        F.lag("Port").over(window_spec) == F.col("Port"), 
        True
    ).otherwise(False)
)

In [28]:
# Kolom Port sama dengan baris sebelumnya untuk baris setelahnya
filter_data = filter_data.withColumn("same_port_next", F.lead("same_port_as_previous").over(window_spec))

In [29]:
# Membuat window specification untuk mengelompokkan data berdasarkan MMSI dan mengurutkannya berdasarkan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

# Menambahkan kolom baru untuk menghitung jumlah baris "in port" di antara dua baris "out port" berturut-turut
filter_data = filter_data.withColumn("in_port_count", F.sum(F.when(F.col("position") == "out port", 0).otherwise(1)).over(window_spec))

# Menetapkan flag untuk record "out port" pertama dan terakhir
filter_data = filter_data.withColumn("first_out_port", F.min(F.when(F.col("position") == "out port", F.col("dt_pos_utc"))).over(window_spec))
filter_data = filter_data.withColumn("last_out_port", F.max(F.when(F.col("position") == "out port", F.col("dt_pos_utc"))).over(window_spec))

# Menetapkan flag untuk record "in port" yang berada sebelum dan sesudah "out port" pertama dan terakhir, serta di antaranya
filter_data = filter_data.withColumn("before_first_out_port", F.lead("position").over(window_spec) == "out port")
filter_data = filter_data.withColumn("after_last_out_port", F.lag("position").over(window_spec) == "out port")

In [30]:
filter_data = filter_data.orderBy("mmsi", "dt_pos_utc", "Port")

In [31]:
# Filter record "in port" yang memenuhi kriteria
filter_final = filter_data.filter(
    (F.col("position") == "out port") |
    (
        (F.col("position") == "in port") 
        & 
        (
            (F.col("same_port_as_previous") == False)
            |
            (
                (F.col("same_port_as_previous") == True) 
                & ((F.col("before_first_out_port") == True) 
                    | (F.col("after_last_out_port") == True)
                   | (F.col("same_port_next") == False)
                  )
            )
        )
    )
)

In [32]:
# Daftar kolom yang ingin dijatuhkan
kolom_drop = ["same_port_as_previous", "same_port_next", "in_port_count", "first_out_port", "last_out_port", "before_first_out_port", "after_last_out_port"]

# Menjatuhkan kolom yang tidak diperlukan dari DataFrame
filter_final = filter_final.drop(*kolom_drop)

In [33]:
# Drop Duplicate jika ada
filter_final = filter_final.dropDuplicates()

In [34]:
filter_final = filter_final.orderBy("mmsi", "dt_pos_utc", "Port")

### Labeli In Port

In [35]:
# Membuat kolom-kolom baru dengan nilai awal '-'
after_filter = filter_final.withColumn("masuk_pelabuhan", lit("-")) \
                   .withColumn("keluar_pelabuhan", lit("-")) \
                   .withColumn("masuk_indo", lit("-")) \
                   .withColumn("keluar_indo", lit("-"))

In [36]:
# Mendapatkan baris-baris dengan urutan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

# Tambahkan kolom prev_position
after_filter = after_filter.withColumn("prev_position", F.lag("position", 1).over(window_spec))

# Tambahkan kolom next_position
after_filter = after_filter.withColumn("next_position", F.lead("position", 1).over(window_spec))

In [37]:
# Definisikan window specification
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

# Tentukan apakah Port sama dengan baris sebelumnya
after_filter = after_filter.withColumn(
    "same_port_as_previous",
    F.when(
        F.lag("Port").over(window_spec) == F.col("Port"), 
        True
    ).otherwise(False)
)

# Tentukan apakah Port sama dengan baris sebelumnya
after_filter = after_filter.withColumn("same_port_next", F.lead("same_port_as_previous").over(window_spec))

In [38]:
# Mendapatkan baris-baris dengan urutan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

match_port_aoi_select_in = after_filter.filter(col("position") == "in port")

# Menambahkan kolom baru untuk menandai baris pertama dengan nilai "in port" dari semua baris "in port" untuk suatu MMSI
match_port_aoi_select_in = match_port_aoi_select_in.withColumn("first_in_port_all", 
                                (lag("position", 1).over(window_spec).isNull()) & (col("position") == "in port"))

# Menambahkan kolom baru untuk mendeteksi baris terakhir dengan nilai "in port" dari semua baris "in port" untuk suatu MMSI
match_port_aoi_select_in = match_port_aoi_select_in.withColumn("last_in_port_all", 
                                (lead("position", 1).over(window_spec).isNull()) & (col("position") == "in port"))

In [39]:
# Gabungkan kembali dengan DataFrame asli
joined_data_port = after_filter.join(match_port_aoi_select_in, 
                             ["mmsi", "Port", "dt_pos_utc", "fc_vessel", "sc_vessel", "vessel_type", "ns_vessel", "draught", "position", "masuk_pelabuhan", "keluar_pelabuhan", "masuk_indo", "keluar_indo", "prev_position", "next_position", "same_port_as_previous", "same_port_next"], 
                             how='outer')

# Select kolom yang relevan dan isi nilai NULL dengan False
match_port = joined_data_port.select("mmsi", "Port", "dt_pos_utc", "fc_vessel", "sc_vessel", "vessel_type", "ns_vessel", "draught", "position", "masuk_pelabuhan", "keluar_pelabuhan", "masuk_indo", "keluar_indo", "prev_position", "next_position", "same_port_as_previous", "same_port_next", "first_in_port_all", "last_in_port_all")

In [40]:
match_port = match_port.filter(
    (F.col("position") == "out port") |
    (
        (F.col("position") == "in port") 
        & 
        (
            (F.col("first_in_port_all").isNotNull())
            &
            (F.col("last_in_port_all").isNotNull())
        )
    )
)

In [41]:
match_port = match_port.orderBy("mmsi", "dt_pos_utc", "Port")

In [42]:
# Mendefinisikan kondisi untuk setiap baris
condition1 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "False")) & (match_port["prev_position"].isNull() & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == False))))                                                      
condition2 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "False")) & (match_port["prev_position"].isNull() & (match_port["next_position"] == "out port")))                                                      

condition3 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & (match_port["next_position"] == "out port")))
condition4 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == False))))
condition5 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == True))))

condition6 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & (match_port["next_position"] == "out port")))
condition7 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == False))))
condition8 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == True))))

condition9 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == True) & (match_port["next_position"] == "out port"))) 
condition10 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == True) & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == False)))) 

condition11 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False) & (match_port["next_position"] == "out port"))) 
condition12 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False) & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == False)))) 
condition13 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False) & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == True)))) 

condition14 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & (match_port["next_position"] == "out port")))
condition15 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & (((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False)) & (match_port["next_position"] == "out port")))
condition16 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & (((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == True)) & (match_port["next_position"] == "out port")))

condition17 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & (match_port["next_position"].isNull())))
condition18 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & (((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False) & (match_port["next_position"].isNull()))))

condition19 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "True")) & ((match_port["prev_position"] == "out port") & (match_port["next_position"] == "out port")))
condition20 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "True")) & (((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False)) & (match_port["next_position"] == "out port")))
condition21 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "True")) & (((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == True)) & (match_port["next_position"] == "out port")))

condition22 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "True")) & ((match_port["prev_position"] == "out port") & (match_port["next_position"].isNull())))
condition23 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "True")) & (((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False) & (match_port["next_position"].isNull()))))

condition24 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "True")) & ((match_port["prev_position"] == "out port")))
condition25 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "True")) & ((match_port["next_position"] == "out port")))

In [43]:
# Mengisi kolom-kolom yang sesuai berdasarkan kondisi
port_traffic = match_port.withColumn("masuk_pelabuhan", when((condition3 | condition4 | condition5 | condition6 | condition7 | condition8 | condition11 | condition12 | condition13 | condition14 | condition15 | condition17 | condition18 | condition19 | condition20 | condition22 | condition23 | condition24), "masuk").otherwise("-")) \
                   .withColumn("keluar_pelabuhan", when((condition1 | condition2 | condition3 | condition4 | condition6 | condition7 | condition9 | condition10 | condition11 | condition12 | condition14 | condition15 | condition16 | condition19 | condition20 | condition21 | condition25), "keluar").otherwise("-")) \
                   .withColumn("masuk_indo", when((condition3 | condition4 | condition5 | condition24), "masuk").otherwise("-")) \
                   .withColumn("keluar_indo", when((condition19 | condition20 | condition21 | condition25), "keluar").otherwise("-"))

In [44]:
# Daftar kolom yang ingin dijatuhkan
kolom_drop = ["prev_position", "next_position", "same_port_as_previous", "same_port_next", "first_in_port_all", "last_in_port_all"]

# Menjatuhkan kolom yang tidak diperlukan dari DataFrame
port_traffic1 = port_traffic.drop(*kolom_drop)

In [45]:
port_traffic1 = port_traffic1.orderBy("mmsi", "dt_pos_utc", "Port")

In [46]:
port_traffic_in = port_traffic1.filter(col("position") == "in port")

### Labeli Out Port

In [47]:
# Mendapatkan baris-baris dengan urutan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

# Tambahkan kolom prev_position
port_traffic1 = port_traffic1.withColumn("prev_position", F.lag("position", 1).over(window_spec))

# Tambahkan kolom next_position
port_traffic1 = port_traffic1.withColumn("next_position", F.lead("position", 1).over(window_spec))

In [48]:
# Mendapatkan baris-baris dengan urutan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

match_port_aoi_select_out = port_traffic1.filter(col("position") == "out port")

# Menambahkan kolom baru untuk menandai baris pertama dengan nilai "out port" dari semua baris "out port" untuk suatu MMSI
match_port_aoi_select_out = match_port_aoi_select_out.withColumn("first_out_port_all", 
                                (lag("position", 1).over(window_spec).isNull()) & (col("position") == "out port"))

# Menambahkan kolom baru untuk mendeteksi baris terakhir dengan nilai "out port" dari semua baris "out port" untuk suatu MMSI
match_port_aoi_select_out = match_port_aoi_select_out.withColumn("last_out_port_all", 
                                (lead("position", 1).over(window_spec).isNull()) & (col("position") == "out port"))

In [49]:
# Gabungkan kembali dengan DataFrame asli
joined_data = port_traffic1.join(match_port_aoi_select_out, 
                             ["mmsi", "Port", "dt_pos_utc", "fc_vessel", "sc_vessel", "vessel_type", "ns_vessel", "draught", "position", "masuk_pelabuhan", "keluar_pelabuhan", "masuk_indo", "keluar_indo", "prev_position", "next_position"], 
                             how='outer')

# Select kolom yang relevan dan isi nilai NULL dengan False
port_traffic2 = joined_data.select("mmsi", "Port", "dt_pos_utc", "fc_vessel", "sc_vessel", "vessel_type", "ns_vessel", "draught", "position", "masuk_pelabuhan", "keluar_pelabuhan", "masuk_indo", "keluar_indo", "prev_position", "next_position", "first_out_port_all", "last_out_port_all")

In [50]:
port_traffic2 = port_traffic2.filter(
    (F.col("position") == "in port") |
    (
        (F.col("position") == "out port") 
        & 
        (
            (F.col("first_out_port_all").isNotNull())
            &
            (F.col("last_out_port_all").isNotNull())
        )
    )
)

In [51]:
port_traffic2 = port_traffic2.orderBy("mmsi", "dt_pos_utc", "Port")

In [52]:
# Mendefinisikan kondisi untuk setiap baris
condition1 = (port_traffic2["position"] == "out port") & ((port_traffic2["first_out_port_all"] == "True") & (port_traffic2["next_position"] == "in port"))
condition2 = (port_traffic2["position"] == "out port") & ((port_traffic2["last_out_port_all"]  == "True") & (port_traffic2["prev_position"] == "in port"))
condition3 = (port_traffic2["position"] == "out port") & ((port_traffic2["next_position"] == "in port"))
condition4 = (port_traffic2["position"] == "out port") & ((port_traffic2["prev_position"] == "in port"))

In [53]:
# Mengisi kolom-kolom yang sesuai berdasarkan kondisi
port_traffic3 = port_traffic2.withColumn("masuk_pelabuhan", when((condition1 | condition3), "masuk").otherwise("-")) \
                   .withColumn("keluar_pelabuhan", when((condition2 | condition4), "keluar").otherwise("-")) \
                   .withColumn("masuk_indo", when((condition1), "masuk").otherwise("-")) \
                   .withColumn("keluar_indo", when((condition2), "keluar").otherwise("-"))

In [54]:
# Daftar kolom yang ingin dijatuhkan
kolom_drop = ["prev_position", "next_position", "first_out_port_all", "last_out_port_all"]

# Menjatuhkan kolom yang tidak diperlukan dari DataFrame
port_traffic3 = port_traffic3.drop(*kolom_drop)

In [55]:
port_traffic3 = port_traffic3.orderBy("mmsi", "dt_pos_utc", "Port")

In [56]:
port_traffic_out = port_traffic3.filter(col("position") == "out port")

### Final Data

In [57]:
result_out_in = port_traffic_in.unionAll(port_traffic_out)

In [58]:
result_out_in = result_out_in.orderBy("mmsi", "dt_pos_utc", "Port")

### Save Data

In [ ]:
# Save Data
result_out_in.write.option("header", True).mode("overwrite").parquet(path_unique + "data-ais-ihs-indonesia-by-mmsi-masuk-keluar-merak-2022-rev-v2.parquet")

### Read Data

In [10]:
# Read Data
result_out_in = spark.read.parquet(path_unique + "data-ais-ihs-indonesia-by-mmsi-masuk-keluar-merak-2022-rev-v2.parquet", header=True)

### Masuk Pelabuhan

In [11]:
# Masuk
result_in_port = result_out_in.filter((col("masuk_pelabuhan") == "masuk") & (col("position") == "in port"))

In [12]:
result_in_port.count()

87970927

In [13]:
# Kapal Asing
result_in_port_asing = result_in_port.filter(col("sc_vessel") == "Asing")

In [14]:
result_in_port_asing.count()

68256140

### Keluar Pelabuhan

In [12]:
# Keluar
result_out_port = result_out_in.filter((col("keluar_pelabuhan") == "keluar") & (col("position") == "in port"))

In [16]:
result_out_port.count()

87970879

In [17]:
# Kapal Asing
result_out_port_asing = result_out_port.filter(col("sc_vessel") == "Asing")

In [18]:
result_out_port_asing.count()

68256112

### Masuk Indonesia

In [19]:
# Masuk
result_in_indo = result_out_in.filter((col("masuk_indo") == "masuk") & (col("position") == "in port"))

In [20]:
result_in_indo.count()

20216

In [21]:
# Kapal Asing
result_in_indo_asing = result_in_indo.filter(col("sc_vessel") == "Asing")

In [22]:
result_in_indo_asing.count()

19254

### Keluar Indonesia

In [23]:
# Keluar
result_out_indo = result_out_in.filter((col("keluar_indo") == "keluar") & (col("position") == "in port"))

In [24]:
result_out_indo.count()

20168

In [25]:
# Kapal Asing
result_out_indo_asing = result_out_indo.filter(col("sc_vessel") == "Asing")

In [26]:
result_out_indo.count()

20168

## Menghitung Jumlah per Bulan

### Masuk Pelabuhan

In [27]:
# Hitung jumlah kapal masuk
vessel_in_count_month = result_in_port.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_in"))

In [28]:
# Tampilkan hasil
vessel_in_count_month.show()

+---------+---------+
|   months|vessel_in|
+---------+---------+
|     July|  7778895|
| November|  5372939|
| February|  6822117|
|  January|  6909872|
|    March|  7129816|
|  October|  8492111|
|      May|  6915909|
|   August|  7918061|
|    April|  6889640|
|     June|  7228988|
| December|  8420237|
|September|  8092342|
+---------+---------+

In [29]:
# Hitung jumlah kapal masuk
vessel_in_count_country = result_in_port.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_in"))

In [30]:
# Tampilkan hasil
vessel_in_count_country.show(vessel_in_count_country.count(), truncate = False)

+--------------------------------+---------+
|fc_vessel                       |vessel_in|
+--------------------------------+---------+
|Singapore                       |27904327 |
|Germany                         |70536    |
|France                          |98218    |
|Dominica                        |22111    |
|Belgium                         |212119   |
|Bahamas                         |1113950  |
|Malta                           |1905935  |
|Cayman Islands                  |517929   |
|Netherlands Antilles            |77815    |
|Spain                           |10791    |
|Denmark                         |347641   |
|Barbados                        |47357    |
|Thailand                        |265352   |
|Saint Kitts and Nevis           |100643   |
|USA                             |94127    |
|Cyprus                          |784849   |
|Honduras                        |1741     |
|Jamaica                         |2882     |
|Azores                          |98980    |
|Belize                          |153624   |
|Antigua and Barbuda             |297588   |
|Bermuda                         |109104   |
|Moldova                         |31       |
|Greece                          |474425   |
|British Virgin Islands          |62563    |
|Finland                         |2427     |
|China                           |1390666  |
|Croatia                         |8180     |
|Italy                           |130182   |
|Bangladesh                      |187009   |
|Morocco                         |43       |
|Panama                          |8154957  |
|Gibraltar                       |71360    |
|Mexico                          |29       |
|Saint Vincent and the Grenadines|128365   |
|Liberia                         |6524418  |
|UK                              |378295   |
|Saudi Arabia                    |78007    |
|Bahrain                         |651      |
|Netherlands                     |291734   |
|Sweden                          |10838    |
|Philippines                     |149761   |
|Malaysia                        |1851132  |
|Turkey                          |54322    |
|Marshall Islands                |5427542  |
|Lithuania                       |163      |
|Norway                          |439288   |
|Alaska                          |16674    |
|Russian Federation              |74943    |
|Ireland                         |494      |
|Nauru                           |160      |
|Montenegro                      |4308     |
|Switzerland                     |3853     |
|Samoa                           |1227     |
|Luxembourg                      |274935   |
|Papua New Guinea                |3160     |
|Northern Mariana                |215      |
|Niue                            |57279    |
|Madeira                         |652698   |
|Kiribati                        |41960    |
|Djibouti                        |16863    |
|Iraq                            |175      |
|Comoros                         |3938     |
|Cambodia                        |2136     |
|Jordan                          |1342     |
|Maldives                        |147      |
|Palau                           |86596    |
|Kerguelen Islands               |471      |
|Sri Lanka                       |8295     |
|Taiwan                          |128362   |
|Algeria                         |858      |
|Equatorial Guinea               |56503    |
|Qatar                           |2573     |
|Myanmar                         |298      |
|Ghana                           |1718     |
|India                           |118934   |
|Kuwait                          |38567    |
|Tuvalu                          |309490   |
|Wallis and Futuna Islands       |1399     |
|Gabon                           |70716    |
|Iran                            |22417    |
|Hong Kong                       |3597294  |
|Israel                          |1522     |
|South Korea                     |502156   |
|Indonesia                       |19714787 |
|Mongolia                        |108845   |
|Syria                           |148      |
|Ethiopia                        |28261    |
|Brunei                          |9309     |
|United Arab Emirates            |22139    |
|Cook Islands                    |414392   |
|Kenya                           |28       |
|Japan                           |288211   |
|Australia                       |10479    |
|Cameroon                        |57050    |
|Egypt                           |6305     |
|South Africa                    |1378     |
|Micronesia                      |1        |
|Pakistan                        |7523     |
|Vanuatu                         |44391    |
|Vietnam                         |807521   |
|Guyana                          |682      |
|Fiji                            |52       |
|Togo                            |48072    |
|Lesotho                         |14405    |
|Sierra Leone                    |97983    |
|Sao Tome and Principe           |1954     |
|Somalia                         |2019     |
|Libya                           |9031     |
|Seychelles                      |123      |
|Brazil                          |33694    |
|Tanzania                        |34426    |
|Mauritius                       |49035    |
+--------------------------------+---------+

In [31]:
# Hitung jumlah kapal masuk
vessel_in_count_vess_type = result_in_port.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_in"))

In [32]:
# Tampilkan hasil
vessel_in_count_vess_type.show()

+--------------+---------+
|   vessel_type|vessel_in|
+--------------+---------+
|       Sailing|   313694|
|        Tanker| 43004995|
|         Other|  5944540|
|Pleasure Craft|   855310|
|     Passenger|  5089799|
|       Fishing|    82198|
|   Port Tender|   115174|
|      Dredging|   627961|
|         Cargo| 31937256|
+--------------+---------+

In [13]:
# Hitung jumlah kapal masuk Cargo & Passenger
vessel_in_count_month = result_in_port.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .filter((col("vessel_type") == 'Cargo') | (col("vessel_type") == 'Passenger') | (col("vessel_type") == 'Pleasure Craft')) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_in"))

In [14]:
vessel_in_count_month.show()

+---------+---------+
|   months|vessel_in|
+---------+---------+
|     July|  3288536|
| November|  2411514|
| February|  2839679|
|  January|  2958504|
|    March|  2904021|
|  October|  3895793|
|      May|  2792652|
|   August|  3543673|
|    April|  2875468|
|     June|  2977691|
| December|  3816797|
|September|  3578037|
+---------+---------+

### Keluar Pelabuhan

In [36]:
# Hitung jumlah kapal keluar
vessel_out_count_month = result_out_port.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_out"))

In [ ]:
# Tampilkan hasil
vessel_out_count_month.show()

+---------+----------+
|   months|vessel_out|
+---------+----------+
|     July|   7778870|
| November|   5372924|
| February|   6822152|
|  January|   6910907|
|    March|   7129883|
|  October|   8492115|
|      May|   6915878|
|   August|   7918075|
|    April|   6889693|
|     June|   7228985|
| December|   8419078|
|September|   8092319|
+---------+----------+

In [ ]:
# Hitung jumlah kapal keluar
vessel_out_count_country = result_out_port.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_out"))

In [ ]:
# Tampilkan hasil
vessel_out_count_country.show(vessel_out_count_country.count(), truncate = False)

+--------------------------------+----------+
|fc_vessel                       |vessel_out|
+--------------------------------+----------+
|Singapore                       |27904341  |
|Germany                         |70536     |
|France                          |98218     |
|Dominica                        |22111     |
|Belgium                         |212118    |
|Bahamas                         |1113936   |
|Malta                           |1905934   |
|Cayman Islands                  |517934    |
|Netherlands Antilles            |77816     |
|Spain                           |10790     |
|Denmark                         |347633    |
|Barbados                        |47361     |
|Thailand                        |265345    |
|Saint Kitts and Nevis           |100652    |
|USA                             |94126     |
|Cyprus                          |784853    |
|Honduras                        |1741      |
|Jamaica                         |2883      |
|Azores                          |98979     |
|Belize                          |153623    |
|Antigua and Barbuda             |297594    |
|Bermuda                         |109101    |
|Moldova                         |32        |
|Greece                          |474413    |
|British Virgin Islands          |62563     |
|Finland                         |2427      |
|China                           |1390650   |
|Croatia                         |8180      |
|Italy                           |130182    |
|Bangladesh                      |187007    |
|Morocco                         |43        |
|Panama                          |8154962   |
|Gibraltar                       |71361     |
|Mexico                          |29        |
|Saint Vincent and the Grenadines|128363    |
|Liberia                         |6524459   |
|UK                              |378294    |
|Saudi Arabia                    |78006     |
|Bahrain                         |651       |
|Netherlands                     |291733    |
|Sweden                          |10838     |
|Philippines                     |149758    |
|Malaysia                        |1851138   |
|Turkey                          |54325     |
|Marshall Islands                |5427556   |
|Lithuania                       |163       |
|Norway                          |439286    |
|Alaska                          |16674     |
|Russian Federation              |74943     |
|Ireland                         |494       |
|Nauru                           |159       |
|Montenegro                      |4308      |
|Switzerland                     |3853      |
|Samoa                           |1228      |
|Luxembourg                      |274936    |
|Papua New Guinea                |3159      |
|Northern Mariana                |215       |
|Niue                            |57272     |
|Madeira                         |652699    |
|Kiribati                        |41960     |
|Djibouti                        |16861     |
|Iraq                            |175       |
|Comoros                         |3941      |
|Cambodia                        |2135      |
|Jordan                          |1342      |
|Maldives                        |147       |
|Palau                           |86600     |
|Kerguelen Islands               |472       |
|Sri Lanka                       |8295      |
|Taiwan                          |128360    |
|Algeria                         |858       |
|Equatorial Guinea               |56503     |
|Qatar                           |2572      |
|Myanmar                         |298       |
|Ghana                           |1718      |
|India                           |118934    |
|Kuwait                          |38567     |
|Tuvalu                          |309485    |
|Wallis and Futuna Islands       |1399      |
|Gabon                           |70719     |
|Iran                            |22418     |
|Hong Kong                       |3597275   |
|Israel                          |1522      |
|South Korea                     |502146    |
|Indonesia                       |19714767  |
|Mongolia                        |108844    |
|Syria                           |148       |
|Ethiopia                        |28262     |
|Brunei                          |9309      |
|United Arab Emirates            |22141     |
|Cook Islands                    |414391    |
|Kenya                           |28        |
|Japan                           |288203    |
|Australia                       |10478     |
|Cameroon                        |57049     |
|Egypt                           |6303      |
|South Africa                    |1378      |
|Micronesia                      |1         |
|Pakistan                        |7523      |
|Vanuatu                         |44388     |
|Vietnam                         |807508    |
|Guyana                          |682       |
|Fiji                            |52        |
|Togo                            |48075     |
|Lesotho                         |14405     |
|Sierra Leone                    |97978     |
|Sao Tome and Principe           |1954      |
|Somalia                         |2018      |
|Libya                           |9031      |
|Seychelles                      |123       |
|Brazil                          |33694     |
|Tanzania                        |34424     |
|Mauritius                       |49036     |
+--------------------------------+----------+

In [ ]:
# Hitung jumlah kapal keluar
vessel_out_count_vess_type = result_out_port.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_out"))

In [ ]:
# Tampilkan hasil
vessel_out_count_vess_type.show()

+--------------+----------+
|   vessel_type|vessel_out|
+--------------+----------+
|       Sailing|    313695|
|        Tanker|  43004984|
|         Other|   5944530|
|Pleasure Craft|    855309|
|     Passenger|   5089819|
|       Fishing|     82204|
|   Port Tender|    115172|
|      Dredging|    627968|
|         Cargo|  31937198|
+--------------+----------+

### Masuk Indonesia

In [ ]:
# Hitung jumlah kapal masuk
vessel_in_count_month = result_in_indo.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_in"))

In [ ]:
# Tampilkan hasil
vessel_in_count_month.show()

In [ ]:
# Hitung jumlah kapal masuk
vessel_in_count_country = result_in_indo.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_in"))

In [ ]:
# Tampilkan hasil
vessel_in_count_country.show(vessel_in_count_country.count(), truncate = False)

+--------------------------------+---------+
|fc_vessel                       |vessel_in|
+--------------------------------+---------+
|Singapore                       |1512     |
|Germany                         |30       |
|France                          |38       |
|Dominica                        |3        |
|Belgium                         |40       |
|Bahamas                         |465      |
|Malta                           |778      |
|Cayman Islands                  |90       |
|Netherlands Antilles            |10       |
|Spain                           |10       |
|Denmark                         |203      |
|Barbados                        |45       |
|Thailand                        |118      |
|Saint Kitts and Nevis           |28       |
|USA                             |30       |
|Cyprus                          |316      |
|Honduras                        |1        |
|Azores                          |61       |
|Belize                          |66       |
|Antigua and Barbuda             |141      |
|Bermuda                         |61       |
|Greece                          |321      |
|British Virgin Islands          |1        |
|Finland                         |5        |
|China                           |666      |
|Croatia                         |8        |
|Italy                           |53       |
|Bangladesh                      |75       |
|Morocco                         |1        |
|Panama                          |3846     |
|Gibraltar                       |14       |
|Mexico                          |1        |
|Saint Vincent and the Grenadines|14       |
|Liberia                         |2859     |
|UK                              |207      |
|Saudi Arabia                    |86       |
|Bahrain                         |1        |
|Netherlands                     |84       |
|Sweden                          |14       |
|Philippines                     |81       |
|Malaysia                        |254      |
|Turkey                          |26       |
|Marshall Islands                |2581     |
|Lithuania                       |1        |
|Norway                          |247      |
|Alaska                          |3        |
|Russian Federation              |53       |
|Ireland                         |1        |
|Nauru                           |5        |
|Montenegro                      |3        |
|Switzerland                     |10       |
|Samoa                           |4        |
|Luxembourg                      |23       |
|Papua New Guinea                |3        |
|Northern Mariana                |1        |
|Niue                            |13       |
|Madeira                         |197      |
|Kiribati                        |11       |
|Djibouti                        |13       |
|Comoros                         |20       |
|Cambodia                        |1        |
|Jordan                          |1        |
|Maldives                        |1        |
|Palau                           |45       |
|Kerguelen Islands               |1        |
|Sri Lanka                       |6        |
|Taiwan                          |120      |
|Algeria                         |1        |
|Equatorial Guinea               |4        |
|Qatar                           |6        |
|Myanmar                         |3        |
|Ghana                           |1        |
|India                           |79       |
|Kuwait                          |23       |
|Tuvalu                          |59       |
|Wallis and Futuna Islands       |2        |
|Gabon                           |25       |
|Iran                            |73       |
|Hong Kong                       |1747     |
|Israel                          |1        |
|South Korea                     |298      |
|Indonesia                       |962      |
|Mongolia                        |47       |
|Syria                           |1        |
|Ethiopia                        |6        |
|Brunei                          |7        |
|United Arab Emirates            |4        |
|Cook Islands                    |36       |
|Kenya                           |1        |
|Japan                           |252      |
|Australia                       |14       |
|Cameroon                        |30       |
|Egypt                           |4        |
|South Africa                    |3        |
|Micronesia                      |1        |
|Pakistan                        |6        |
|Vanuatu                         |21       |
|Vietnam                         |341      |
|Guyana                          |4        |
|Fiji                            |1        |
|Togo                            |16       |
|Sierra Leone                    |56       |
|Sao Tome and Principe           |5        |
|Somalia                         |1        |
|Libya                           |6        |
|Seychelles                      |2        |
|Brazil                          |12       |
|Tanzania                        |23       |
|Mauritius                       |5        |
+--------------------------------+---------+

In [ ]:
# Hitung jumlah kapal masuk
vessel_in_count_vess_type = result_in_indo.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_in"))

In [ ]:
# Tampilkan hasil
vessel_in_count_vess_type.show()

+--------------+---------+
|   vessel_type|vessel_in|
+--------------+---------+
|       Sailing|       24|
|        Tanker|     5893|
|         Other|      484|
|Pleasure Craft|       61|
|     Passenger|      223|
|       Fishing|      230|
|      Dredging|       61|
|         Cargo|    13231|
|   Port Tender|        9|
+--------------+---------+

### Keluar Indonesia

In [ ]:
# Hitung jumlah kapal keluar
vessel_out_count_month = result_out_indo.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_out"))

In [ ]:
# Tampilkan hasil
vessel_out_count_month.show()

+---------+----------+
|   months|vessel_out|
+---------+----------+
|     July|      1042|
| November|      2498|
| February|       525|
|  January|       500|
|    March|       653|
|  October|      2618|
|      May|       748|
|   August|      1253|
|    April|       710|
|     June|       881|
| December|      7207|
|September|      1533|
+---------+----------+

In [ ]:
# Hitung jumlah kapal keluar
vessel_out_count_country = result_out_indo.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_out"))

In [ ]:
# Tampilkan hasil
vessel_out_count_country.show(vessel_out_count_country.count(), truncate = False)

+--------------------------------+----------+
|fc_vessel                       |vessel_out|
+--------------------------------+----------+
|Singapore                       |1526      |
|Germany                         |30        |
|France                          |38        |
|Dominica                        |3         |
|Belgium                         |39        |
|Bahamas                         |451       |
|Malta                           |777       |
|Cayman Islands                  |95        |
|Netherlands Antilles            |11        |
|Spain                           |9         |
|Denmark                         |195       |
|Barbados                        |49        |
|Thailand                        |111       |
|Saint Kitts and Nevis           |37        |
|USA                             |29        |
|Cyprus                          |320       |
|Honduras                        |1         |
|Jamaica                         |1         |
|Azores                          |60        |
|Belize                          |65        |
|Antigua and Barbuda             |147       |
|Bermuda                         |58        |
|Moldova                         |1         |
|Greece                          |309       |
|British Virgin Islands          |1         |
|Finland                         |5         |
|China                           |650       |
|Croatia                         |8         |
|Italy                           |53        |
|Bangladesh                      |73        |
|Morocco                         |1         |
|Panama                          |3851      |
|Gibraltar                       |15        |
|Mexico                          |1         |
|Saint Vincent and the Grenadines|12        |
|Liberia                         |2900      |
|UK                              |206       |
|Saudi Arabia                    |85        |
|Bahrain                         |1         |
|Netherlands                     |83        |
|Sweden                          |14        |
|Philippines                     |78        |
|Malaysia                        |260       |
|Turkey                          |29        |
|Marshall Islands                |2595      |
|Lithuania                       |1         |
|Norway                          |245       |
|Alaska                          |3         |
|Russian Federation              |53        |
|Ireland                         |1         |
|Nauru                           |4         |
|Montenegro                      |3         |
|Switzerland                     |10        |
|Samoa                           |5         |
|Luxembourg                      |24        |
|Papua New Guinea                |2         |
|Northern Mariana                |1         |
|Niue                            |6         |
|Madeira                         |198       |
|Kiribati                        |11        |
|Djibouti                        |11        |
|Comoros                         |23        |
|Jordan                          |1         |
|Maldives                        |1         |
|Palau                           |49        |
|Kerguelen Islands               |2         |
|Sri Lanka                       |6         |
|Taiwan                          |118       |
|Algeria                         |1         |
|Equatorial Guinea               |4         |
|Qatar                           |5         |
|Myanmar                         |3         |
|Ghana                           |1         |
|India                           |79        |
|Kuwait                          |23        |
|Tuvalu                          |54        |
|Wallis and Futuna Islands       |2         |
|Gabon                           |28        |
|Iran                            |74        |
|Hong Kong                       |1728      |
|Israel                          |1         |
|South Korea                     |288       |
|Indonesia                       |942       |
|Mongolia                        |46        |
|Syria                           |1         |
|Ethiopia                        |7         |
|Brunei                          |7         |
|United Arab Emirates            |6         |
|Cook Islands                    |35        |
|Kenya                           |1         |
|Japan                           |244       |
|Australia                       |13        |
|Cameroon                        |29        |
|Egypt                           |2         |
|South Africa                    |3         |
|Micronesia                      |1         |
|Pakistan                        |6         |
|Vanuatu                         |18        |
|Vietnam                         |328       |
|Guyana                          |4         |
|Fiji                            |1         |
|Togo                            |19        |
|Sierra Leone                    |51        |
|Sao Tome and Principe           |5         |
|Libya                           |6         |
|Seychelles                      |2         |
|Brazil                          |12        |
|Tanzania                        |21        |
|Mauritius                       |6         |
+--------------------------------+----------+

In [ ]:
# Hitung jumlah kapal keluar
vessel_out_count_vess_type = result_out_indo.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_out"))

In [ ]:
# Tampilkan hasil
vessel_out_count_vess_type.show()

+--------------+----------+
|   vessel_type|vessel_out|
+--------------+----------+
|       Sailing|        29|
|        Tanker|      5897|
|         Other|       476|
|Pleasure Craft|        66|
|     Passenger|       232|
|       Fishing|       225|
|      Dredging|        73|
|         Cargo|     13165|
|   Port Tender|         5|
+--------------+----------+

In [ ]:
spark.stop()