# Initialialize

In [1]:
from sedona.register import SedonaRegistrator
SedonaRegistrator.registerAll(spark)

True

In [2]:
import subprocess
import sys

In [3]:
GITLAB_USER = "read aistt"
GITLAB_TOKEN = "J1KkstArfyXB6dZvFchN"
git_package = f"git+https://(GITLAB_USER):(GITLAB_TOKEN)@code.officialstatistics.org/trade-task-team-phase-1/ais.git"
std_out = subprocess.run([sys.executable, "-m", "pip", "install", git_package], capture_output=True, text=True) .stdout
print(std_out)

Collecting git+https://%28GITLAB_USER%29:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git
  Cloning https://%28GITLAB_USER%29:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git to /tmp/pip-req-build-0kv43b3e

In [4]:
GITLAB_USER = 'ml_group_read_only'
GITLAB_TOKEN = 'eac7ZwiseRdeLwmBsrsm'

# Main: for using from current issued version
git_package = f"git+https://{GITLAB_USER}:{GITLAB_TOKEN}@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git"

std_out = subprocess.run([sys.executable, "-m", "pip", "install",git_package], capture_output=True, text=True).stdout
print(std_out)

Collecting git+https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git
  Cloning https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git to /tmp/pip-req-build-0gfowzup
  Resolved https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git to commit 89f1aab64fee28c2f86e86d6fa7b55118882b1e8
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: unece-ais
  Building wheel for unece-ais (setup.py): started
  Building wheel for unece-ais (setup.py): finished with status 'done'
  Created wheel for unece-ais: filename=unece_ais-0.0.4-py3-none-any.whl size=12493 sha256=ace8f47e1d44b295de42cef242ad78110f544df16cb3dd0565f249ccb6baeb98
  Stored in directory: /tmp/pip-ephem-wheel-cache-wgclq431/wheels/61/b5/f9/bcf024b104169c32950c03a4605d2d07ea9da07cae7bed5e3e
Successfully built unece-ais
Installing collected packages: unece-ais
Successfully installed unece-ais-0.0.4

In [5]:
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, date_format, count, countDistinct, when, expr
from pyspark.sql.functions import year, month, dayofmonth, hour, minute, second
from pyspark.sql.functions import monotonically_increasing_id, lead, lag, abs, row_number
from pyspark.sql.functions import concat_ws, split
from pyspark.sql.types import IntegerType, StringType
from pyspark.sql.window import Window

from shapely.geometry import Point, Polygon, mapping
from IPython.display import HTML
from ais import functions as af
from unece_ais import unece_ais as un
from multiprocessing import Pool

In [6]:
import h3.api.numpy_int as h3int
import geopandas as gpd
import pandas as pd
import numpy as np
import calendar
import base64
import folium
import tqdm
import h3

In [7]:
pd.set_option('display.max_columns', None) #Show all columns in pandas df
pd.set_option('display.max_rows', 100) #Show 100 rows in pandas df
pd.options.display.float_format = '{:.10f}'.format #Show float with 10 decimal points in pandas df

from IPython.core.interactiveshell import InteractiveShell #allow multiple outputs in one jupyter cell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
# Path
base_path = "s3a://ungp-ais-data-historical-backup/user_temp/"
path_unique = base_path + "222011349/"

# Data

## Port-AOI LN

In [9]:
# Read Data
port_aoi_ln = spark.read.parquet(path_unique + "ports_luarnegeri.parquet", header=True)

In [10]:
#explode data port
port_aoi_ln_exploded = port_aoi_ln.select("Port", "Country", F.explode("boundary_h3_8").alias("boundary_h3_8"))

## Port-NonAOI LN

In [11]:
# Read Data
port_nonaoi_ln = spark.read.parquet(path_unique + "non_aoi_ports_luarnegeri.parquet", header=True)

In [12]:
#explode data port
port_nonaoi_ln_exploded = port_nonaoi_ln.select("Port", "Country", F.explode("outer_boundary_h3").alias("outer_boundary_h3"))

## Data AIS

In [13]:
# Read Data
data_ais = spark.read.parquet(path_unique + "data-ais-1persen-filter-dunia-2022.parquet", header=True)

In [14]:
# Select beberapa kolom df_data dg tipe kapal kargo & fishing
data_ais = data_ais.select("mmsi", "imo", "nav_status", "vessel_type", "flag_country", "status_country", "latitude", "longitude", "dt_pos_utc", "sog", "H3_int_index_8")

# Masuk Luar Negeri

## Match Port-AOI & Vessel

In [15]:
#Cek kecocokan H3 kapal dg port

# Join DataFrame kapal with the exploded DataFrame port
match_port_aoi_ln = data_ais.join(port_aoi_ln_exploded, data_ais['H3_int_index_8'] == port_aoi_ln_exploded['boundary_h3_8'], "inner")

# Selecting relevant columns and filtering out null values
match_port_aoi_ln_select = match_port_aoi_ln.select(col("mmsi").alias('mmsi_aoi'), col("dt_pos_utc").alias('dt_pos_utc_aoi'), col("Port").alias('Port_aoi'), col("Country").alias('Country_aoi'), col("status_country").alias('status_country_vessel_aoi'), col("vessel_type").alias('vessel_type_aoi'), col("H3_int_index_8").alias('H3_int_index_8_aoi'), "boundary_h3_8").filter(match_port_aoi_ln["boundary_h3_8"].isNotNull())

In [16]:
match_port_aoi_ln_select = match_port_aoi_ln_select.withColumn('mmsi_port_country_aoi', concat_ws('_', 'mmsi_aoi', 'Port_aoi', 'Country_aoi'))

In [17]:
match_port_aoi_ln_select = match_port_aoi_ln_select.orderBy("mmsi_aoi", "dt_pos_utc_aoi")

## Match Port-NonAOI & Vessel

In [18]:
#Cek kecocokan H3 kapal dg port

# Join DataFrame kapal with the exploded DataFrame port
match_port_nonaoi_ln = data_ais.join(port_nonaoi_ln_exploded, data_ais['H3_int_index_8'] == port_nonaoi_ln_exploded['outer_boundary_h3'], "inner")

# Selecting relevant columns and filtering out null values
match_port_nonaoi_ln_select = match_port_nonaoi_ln.select(col("mmsi").alias('mmsi_nonaoi'), col("dt_pos_utc").alias('dt_pos_utc_nonaoi'), col("Port").alias('Port_nonaoi'), col("Country").alias('Country_nonaoi'), col("status_country").alias('status_country_vessel_nonaoi'), col("vessel_type").alias('vessel_type_nonaoi'), col("H3_int_index_8").alias('H3_int_index_8_nonaoi'), "outer_boundary_h3").filter(match_port_nonaoi_ln["outer_boundary_h3"].isNotNull())

In [19]:
match_port_nonaoi_ln_select = match_port_nonaoi_ln_select.withColumn('mmsi_port_country_nonaoi', concat_ws('_', 'mmsi_nonaoi', 'Port_nonaoi', 'Country_nonaoi'))

In [20]:
match_port_nonaoi_ln_select = match_port_nonaoi_ln_select.orderBy("mmsi_nonaoi", "dt_pos_utc_nonaoi")

## Join All Dataframe

In [21]:
#Cek kecocokan aoi dg non-aoi

# Join DataFrame aoi dg non-aoi
result_ln_df = match_port_aoi_ln_select.join(match_port_nonaoi_ln_select, (match_port_aoi_ln_select['mmsi_port_country_aoi'] == match_port_nonaoi_ln_select['mmsi_port_country_nonaoi']), "inner")

# Selecting relevant columns and filtering out null values
result_ln_df = result_ln_df.select("mmsi_port_country_aoi", "mmsi_port_country_nonaoi", "status_country_vessel_aoi", "status_country_vessel_nonaoi", "vessel_type_aoi", "vessel_type_nonaoi", "dt_pos_utc_aoi", "dt_pos_utc_nonaoi").where((col("mmsi_port_country_aoi").isNotNull()) & (col("mmsi_port_country_nonaoi").isNotNull()))

In [22]:
# Memisahkan kolom 'mmsi_port_aoi' menjadi 'mmsi_aoi' dan 'Port_aoi'
result_ln_df = result_ln_df.withColumn('mmsi_aoi', split('mmsi_port_country_aoi', '_')[0])
result_ln_df = result_ln_df.withColumn('Port_Country_aoi', concat_ws('_', split('mmsi_port_country_aoi', '_')[1], split('mmsi_port_country_aoi', '_')[2]))
result_ln_df = result_ln_df.withColumn('mmsi_nonaoi', split('mmsi_port_country_nonaoi', '_')[0])
result_ln_df = result_ln_df.withColumn('Port_Country_nonaoi', concat_ws('_', split('mmsi_port_country_nonaoi', '_')[1], split('mmsi_port_country_nonaoi', '_')[2]))

In [23]:
# Selecting relevant columns
result_ln_df = result_ln_df.select(col("mmsi_aoi").alias('mmsi'), col("Port_Country_aoi").alias('Port_Country'), col("status_country_vessel_aoi").alias('sc_vessel'), col("vessel_type_aoi").alias('vessel_type'), "dt_pos_utc_aoi", "dt_pos_utc_nonaoi")

In [24]:
# Urutan salah satu waktu descending (PENTING)
result_ln_df = result_ln_df.orderBy("mmsi", "Port_Country", "dt_pos_utc_nonaoi", col("dt_pos_utc_aoi").desc())

In [25]:
# Menentukan apakah dt_pos_utc_aoi unik

result_ln_df_check_unique = result_ln_df.withColumn(
    "unique_check_aoi",
    expr("(count(*) over (partition by mmsi, Port_Country, dt_pos_utc_aoi) = 1)")
)

In [26]:
# Menentukan apakah dt_pos_utc_nonaoi unik

result_ln_df_check_unique = result_ln_df_check_unique.withColumn(
    "unique_check_nonaoi",
    expr("(count(*) over (partition by mmsi, Port_Country, dt_pos_utc_nonaoi) = 1)")
)

In [27]:
# Urutan salah satu waktu descending (PENTING)
result_ln_df_check_unique = result_ln_df_check_unique.orderBy("mmsi", "Port_Country", "dt_pos_utc_nonaoi", col("dt_pos_utc_aoi").desc())

In [28]:
result_ln_df_check_unique.count()

62809608

## Menghitung Selisih Terkecil Waktu Masuk-Keluar

In [29]:
# Membuat window specification
windowSpec = Window().partitionBy("mmsi", "Port_Country").orderBy("dt_pos_utc_nonaoi")

# Menambahkan kolom selisih waktu
result_ln_diff = result_ln_df_check_unique.withColumn(
    "diff_nonaoi_aoi",
    expr("abs(unix_timestamp(dt_pos_utc_nonaoi) - unix_timestamp(dt_pos_utc_aoi))")
)

# Menambahkan kolom untuk menentukan urutan selisih waktu dalam setiap kelompok
result_ln_diff = result_ln_diff.withColumn("rank_diff", row_number().over(windowSpec.orderBy("diff_nonaoi_aoi")))

In [30]:
# Memilih dua baris dengan rank_diff terkecil jika kondisi unik tidak benar, memilih semua baris jika kondisi unik benar
windowSpec = Window().partitionBy("mmsi", "Port_Country").orderBy("rank_diff")

result_ln_diff = result_ln_diff.filter(
    ((col("unique_check_aoi") == False) | (col("unique_check_nonaoi") == False)) |
    ((col("unique_check_aoi") == True) & (col("unique_check_nonaoi") == True))
).withColumn("row_number", F.row_number().over(windowSpec)).filter("row_number <= 2").drop("row_number")

In [31]:
# Menampilkan hasil
result_ln_diff = result_ln_diff.orderBy("mmsi", "Port_Country", "dt_pos_utc_aoi")

In [32]:
# drop kolom yg tidak diperlukan
result_ln_diff = result_ln_diff.select("mmsi", "Port_Country", "sc_vessel", "vessel_type", "dt_pos_utc_aoi", "dt_pos_utc_nonaoi", "diff_nonaoi_aoi")

In [33]:
result_ln_diff.count()

486593

## Menentukan Masuk atau Keluar

In [34]:
# Menambahkan kolom untuk menunjukkan masuk atau keluar
result_out_in_ln = result_ln_diff.withColumn(
    "movement",
    when(col("dt_pos_utc_nonaoi") < col("dt_pos_utc_aoi"), "Masuk").otherwise("Keluar")
)

### Masuk

In [35]:
# Masuk
result_in_ln = result_out_in_ln.filter(col("movement") == "Masuk")

In [36]:
result_in_ln.count()

250334

In [37]:
# Kapal Indonesia
result_in_ln_indo = result_in_ln.filter(col("sc_vessel") == "Indonesia")

In [38]:
result_in_ln_indo.count()

1029

### Keluar

In [39]:
# Keluar
result_out_ln = result_out_in_ln.filter(col("movement") == "Keluar")

In [40]:
result_out_ln.count()

236259

In [41]:
# Kapal Indonesia
result_out_ln_indo = result_out_ln.filter(col("sc_vessel") == "Indonesia")

In [42]:
result_out_ln_indo.count()

962

## Menghitung Jumlah per Bulan

### Masuk

In [43]:
# Hitung jumlah kapal masuk
vessel_in_ln_indo_count_month = result_in_ln_indo.withColumn("months", F.date_format("dt_pos_utc_aoi", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_in"))

In [44]:
# Tampilkan hasil
vessel_in_ln_indo_count_month.show()

+---------+---------+
|   months|vessel_in|
+---------+---------+
|     July|       72|
| November|       74|
| February|       52|
|  January|       76|
|    March|       81|
|  October|      140|
|      May|       56|
|   August|      102|
|    April|       85|
| December|      101|
|September|      112|
|     June|       78|
+---------+---------+

In [45]:
# Hitung jumlah kapal masuk
vessel_in_ln_indo_count_port_country = result_in_ln_indo.select("Port_Country", "mmsi").groupBy("Port_Country").agg(F.count("mmsi").alias("vessel_in"))

In [46]:
# Tampilkan hasil
vessel_in_ln_indo_count_port_country.show(vessel_in_ln_indo_count_port_country.count(), truncate = False)

+-----------------------------------+---------+
|Port_Country                       |vessel_in|
+-----------------------------------+---------+
|Port Kembla_Australia              |1        |
|Pelabuhan Sungai Udang_Malaysia    |29       |
|Yombo Terminal_Congo (Brazzaville) |1        |
|Keppel - (East Singapore)_Singapore|99       |
|Qui Nhon_Vietnam                   |3        |
|Pulau Sebarok_Singapore            |132      |
|Serangoon Harbor_Singapore         |96       |
|Gangavaram_India                   |2        |
|Johor_Malaysia                     |128      |
|Sagunto_Spain                      |2        |
|Hansweert_Netherlands              |1        |
|Pulau Bukom_Singapore              |119      |
|Tanjung Pelepas_Malaysia           |78       |
|Melaka_Malaysia                    |14       |
|Jurong Island_Singapore            |164      |
|Kanda_Japan                        |1        |
|Kattupalli Port_India              |1        |
|Muar_Malaysia                      |6        |
|Ryotu Ko_Japan                     |2        |
|Tan-Shui_Taiwan                    |2        |
|Niigata Ko_Japan                   |1        |
|Port Dickson_Malaysia              |20       |
|Shekou_China                       |4        |
|Port Klang_Malaysia                |18       |
|Map Ta Phut_Thailand               |1        |
|Pointe Noire_Congo (Brazzaville)   |2        |
|Calapan_Philippines                |2        |
|Kuantan New Port_Malaysia          |1        |
|Nakskov_Denmark                    |1        |
|Tawa_Malaysia                      |5        |
|Tobata_Japan                       |2        |
|Ceuta_Spain                        |2        |
|Seria Oil Loading Terminal_Brunei  |2        |
|Schiedam_Netherlands               |2        |
|Bangkok_Thailand                   |1        |
|Tangier-Mediterranean_Morocco      |1        |
|Djeno Terminal_Congo (Brazzaville) |1        |
|Yahata_Japan                       |4        |
|Europa Point_Gibraltar             |2        |
|Douala_Cameroon                    |4        |
|Phu My_Vietnam                     |2        |
|New Mangalore_India                |1        |
|Dai Hang_Vietnam                   |1        |
|Rufisque_Senegal                   |2        |
|Kawasaki Ko_Japan                  |1        |
|Bukhta Gaydamak_Russia             |1        |
|Ras Laffan_Qatar                   |1        |
|Si Racha Terminal_Thailand         |2        |
|Ju Aymah Lpg Terminal_Saudi Arabia |1        |
|Choshi_Japan                       |1        |
|Tokuyama_Japan                     |1        |
|Moji Ko_Japan                      |2        |
|Takula Terminal_Angola             |2        |
|Pulau Pinang_Malaysia              |2        |
|Yokohama Ko_Japan                  |1        |
|Sattahip_Thailand                  |1        |
|Erawan Terminal_Thailand           |2        |
|Subic Bay_Philippines              |1        |
|Quanzhou_China                     |1        |
|Thursday Island_Australia          |2        |
|Kemaman Harbor_Malaysia            |2        |
|Bandar Seri Begawan_Brunei         |1        |
|Antan Oil Terminal_Nigeria         |1        |
|Bakapit_Malaysia                   |1        |
|Nasugbu_Philippines                |2        |
|Mombasa_Kenya                      |1        |
|Tin Can Island_Nigeria             |2        |
|Pelabuhan Bass_Malaysia            |2        |
|Al Jubayl_Saudi Arabia             |2        |
|Port Elizabeth_South Africa        |2        |
|Port Est_Reunion                   |2        |
|Shibushi Wan_Japan                 |2        |
|Masinloc_Philippines               |2        |
|Victoria_Malaysia                  |2        |
|Khawr Fakkan_United Arab Emirates  |2        |
|Galveston_United States            |2        |
|Valencia_Spain                     |1        |
|Zhen Hai_China                     |1        |
|Port Louis_Mauritius               |2        |
|Lumut_Malaysia                     |1        |
|Nouakchott_Mauritania              |2        |
|Saint-Denis_Reunion                |1        |
|Las Palmas_Spain                   |1        |
|Chittagong_Bangladesh              |2        |
|Arzew_Algeria                      |1        |
|Ko Si Chang Terminal_Thailand      |2        |
|Port Ouest_Reunion                 |1        |
|Kole Oil Terminal_Cameroon         |1        |
+-----------------------------------+---------+

In [47]:
# Hitung jumlah kapal masuk
vessel_in_ln_indo_count_vessel_type = result_in_ln_indo.select("vessel_type", "mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_in"))

In [48]:
# Tampilkan hasil
vessel_in_ln_indo_count_vessel_type.show()

+--------------+---------+
|   vessel_type|vessel_in|
+--------------+---------+
|        Tanker|      416|
|         Other|       89|
|     Passenger|       84|
|      Dredging|       28|
|         Cargo|      407|
|       Sailing|        2|
|Pleasure Craft|        3|
+--------------+---------+

### Keluar

In [49]:
# Hitung jumlah kapal keluar
vessel_out_ln_indo_count_month = result_out_ln_indo.withColumn("months", F.date_format("dt_pos_utc_nonaoi", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_out"))

In [50]:
# Tampilkan hasil
vessel_out_ln_indo_count_month.show()

+---------+----------+
|   months|vessel_out|
+---------+----------+
| November|        60|
| February|        76|
|    March|        59|
|  October|       126|
|      May|        61|
|   August|        95|
|    April|        57|
|     June|        82|
| December|       138|
|September|        92|
|     July|        75|
|  January|        41|
+---------+----------+

In [51]:
# Hitung jumlah kapal keluar
vessel_out_ln_indo_count_port_country = result_out_ln_indo.select("Port_Country", "mmsi").groupBy("Port_Country").agg(F.count("mmsi").alias("vessel_out"))

In [52]:
# Tampilkan hasil
vessel_out_ln_indo_count_port_country.show(vessel_in_ln_indo_count_port_country.count(), truncate = False)

+-----------------------------------+----------+
|Port_Country                       |vessel_out|
+-----------------------------------+----------+
|Port Dickson_Malaysia              |17        |
|Keppel - (East Singapore)_Singapore|85        |
|Pulau Sebarok_Singapore            |129       |
|Serangoon Harbor_Singapore         |107       |
|Phu My_Vietnam                     |4         |
|Calapan_Philippines                |1         |
|Kuantan New Port_Malaysia          |1         |
|Johor_Malaysia                     |88        |
|Pulau Bukom_Singapore              |130       |
|Tanjung Pelepas_Malaysia           |91        |
|Port Klang_Malaysia                |4         |
|Melaka_Malaysia                    |17        |
|Jurong Island_Singapore            |123       |
|Kawasaki Ko_Japan                  |1         |
|Pelabuhan Sungai Udang_Malaysia    |20        |
|Mandvi_India                       |2         |
|Nasugbu_Philippines                |4         |
|Yahata_Japan                       |2         |
|Niigata Ko_Japan                   |1         |
|Ko Si Chang Terminal_Thailand      |6         |
|Europa Point_Gibraltar             |2         |
|Gwangyang Hang_South Korea         |2         |
|Vada_Italy                         |2         |
|New Mangalore_India                |1         |
|Mariveles_Philippines              |4         |
|Dili_Timor-Leste                   |6         |
|Zamboanga_Philippines              |1         |
|Mui Vung Tau_Vietnam               |7         |
|Shekou_China                       |2         |
|Muar_Malaysia                      |5         |
|Djeno Terminal_Congo (Brazzaville) |1         |
|Lumut_Malaysia                     |6         |
|Hong Kong_Hong Kong                |2         |
|Kanda_Japan                        |1         |
|Kattupalli Port_India              |1         |
|Mostaganem_Algeria                 |2         |
|Port Ouest_Reunion                 |1         |
|Kole Oil Terminal_Cameroon         |1         |
|Vung Tau_Vietnam                   |6         |
|Victoria_Malaysia                  |2         |
|Kamsar_Guinea                      |2         |
|Si Racha_Thailand                  |6         |
|Las Palmas_Spain                   |1         |
|Ras  Tannurah_Saudi Arabia         |2         |
|Lutong_Malaysia                    |2         |
|Arzew_Algeria                      |1         |
|Bukhta Gaydamak_Russia             |1         |
|Ras Laffan_Qatar                   |1         |
|Dumaguete_Philippines              |2         |
|Choshi_Japan                       |1         |
|Tokuyama_Japan                     |1         |
|Scheveningen_Netherlands           |2         |
|Kuala Trengganu_Malaysia           |2         |
|North Ain Sukhna Port_Egypt        |2         |
|Qui Nhon_Vietnam                   |1         |
|Tawa_Malaysia                      |1         |
|Freetown_Sierra Leone              |2         |
|Muara Harbor_Brunei                |6         |
|Mombasa_Kenya                      |1         |
|Bangkok_Thailand                   |1         |
|Valencia_Spain                     |1         |
|Sattahip_Thailand                  |1         |
|Tateyama Ko_Japan                  |2         |
|Izuhara_Japan                      |2         |
|Bandar Seri Begawan_Brunei         |3         |
|Subic Bay_Philippines              |1         |
|Ceuta_Spain                        |1         |
|Basilian City (Isabela)_Philippines|1         |
|Lumut_Brunei                       |2         |
|Pelabuhan Bass_Malaysia            |2         |
|Antan Oil Terminal_Nigeria         |1         |
|Muturezima Ko_Japan                |2         |
|Hoek Van Holland_Netherlands       |2         |
|Europoort_Netherlands              |2         |
|Bakapit_Malaysia                   |1         |
|Port Kembla_Australia              |1         |
|Yombo Terminal_Congo (Brazzaville) |1         |
|Hansweert_Netherlands              |1         |
|Pulau Pinang_Malaysia              |1         |
|Saint-Denis_Reunion                |1         |
|Savusavu Bay_Fiji                  |2         |
|Zhoushan_China                     |2         |
|Songkhla Harbor_Thailand           |2         |
|Map Ta Phut_Thailand               |1         |
+-----------------------------------+----------+

In [53]:
# Hitung jumlah kapal keluar
vessel_out_ln_indo_count_vess_type = result_out_ln_indo.select("vessel_type", "mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_out"))

In [54]:
# Tampilkan hasil
vessel_out_ln_indo_count_vess_type.show()

+--------------+----------+
|   vessel_type|vessel_out|
+--------------+----------+
|        Tanker|       393|
|         Other|       102|
|Pleasure Craft|         3|
|     Passenger|        65|
|      Dredging|        34|
|         Cargo|       360|
|       Sailing|         5|
+--------------+----------+

In [55]:
spark.stop()