# Initialialize

In [1]:
from sedona.register import SedonaRegistrator
SedonaRegistrator.registerAll(spark)

True

In [2]:
import subprocess
import sys

In [3]:
GITLAB_USER = "read aistt"
GITLAB_TOKEN = "J1KkstArfyXB6dZvFchN"
git_package = f"git+https://(GITLAB_USER):(GITLAB_TOKEN)@code.officialstatistics.org/trade-task-team-phase-1/ais.git"
std_out = subprocess.run([sys.executable, "-m", "pip", "install", git_package], capture_output=True, text=True) .stdout
print(std_out)

Collecting git+https://%28GITLAB_USER%29:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git
  Cloning https://%28GITLAB_USER%29:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git to /tmp/pip-req-build-k0b6j6gr

In [4]:
GITLAB_USER = 'ml_group_read_only'
GITLAB_TOKEN = 'eac7ZwiseRdeLwmBsrsm'

# Main: for using from current issued version
git_package = f"git+https://{GITLAB_USER}:{GITLAB_TOKEN}@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git"

std_out = subprocess.run([sys.executable, "-m", "pip", "install",git_package], capture_output=True, text=True).stdout
print(std_out)

Collecting git+https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git
  Cloning https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git to /tmp/pip-req-build-wcxjvmva
  Resolved https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git to commit 89f1aab64fee28c2f86e86d6fa7b55118882b1e8
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: unece-ais
  Building wheel for unece-ais (setup.py): started
  Building wheel for unece-ais (setup.py): finished with status 'done'
  Created wheel for unece-ais: filename=unece_ais-0.0.4-py3-none-any.whl size=12493 sha256=3ea67ac92cb9408ed7aed9d5be00d2bf22d2cb27d83eba33489dd3a19988e553
  Stored in directory: /tmp/pip-ephem-wheel-cache-os8czesq/wheels/61/b5/f9/bcf024b104169c32950c03a4605d2d07ea9da07cae7bed5e3e
Successfully built unece-ais
Installing collected packages: unece-ais
Successfully installed unece-ais-0.0.4

In [5]:
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, date_format, count, countDistinct, when, expr
from pyspark.sql.functions import year, month, dayofmonth, hour, minute, second
from pyspark.sql.functions import monotonically_increasing_id, lead, lag, abs, row_number
from pyspark.sql.functions import concat_ws, split
from pyspark.sql.types import IntegerType, StringType
from pyspark.sql.window import Window

from shapely.geometry import Point, Polygon, mapping
from IPython.display import HTML
from ais import functions as af
from unece_ais import unece_ais as un
from multiprocessing import Pool

In [6]:
import h3.api.numpy_int as h3int
import geopandas as gpd
import pandas as pd
import numpy as np
import calendar
import base64
import folium
import tqdm
import h3

In [7]:
pd.set_option('display.max_columns', None) #Show all columns in pandas df
pd.set_option('display.max_rows', 100) #Show 100 rows in pandas df
pd.options.display.float_format = '{:.10f}'.format #Show float with 10 decimal points in pandas df

from IPython.core.interactiveshell import InteractiveShell #allow multiple outputs in one jupyter cell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
# Path
base_path = "s3a://ungp-ais-data-historical-backup/user_temp/"
path_unique = base_path + "222011349/"

# Data

## Port-AOI Indonesia

In [9]:
# Read Data
port_aoi = spark.read.parquet(path_unique + "ports_indonesia.parquet", header=True)

In [11]:
#explode data port
port_aoi_exploded = port_aoi.select("Port", F.explode("boundary_h3_8").alias("boundary_h3_8"))

+-------+------------------+
|   Port|       boundary_h3|
+-------+------------------+
|Ampenan|615122181440929791|
|Ampenan|615122101841428479|
|Ampenan|615122103783391231|
|Ampenan|615122179136159743|
|Ampenan|615122099536658431|
|Ampenan|615122181078122495|
|Ampenan|615122101478621183|
|Ampenan|615122103420583935|
|Ampenan|615122099173851135|
|Ampenan|615122177557004287|
|Ampenan|615122069809528831|
|Ampenan|615122181803737087|
|Ampenan|615122182657277951|
|Ampenan|615122180352507903|
|Ampenan|615122176105775103|
|Ampenan|614982457390792703|
|Ampenan|615122179861774335|
|Ampenan|615122182294470655|
|Ampenan|615122069083914239|
|Ampenan|615122175742967807|
+-------+------------------+
only showing top 20 rows

## Port-NonAOI Indonesia

In [12]:
# Read Data
port_nonaoi = spark.read.parquet(path_unique + "non_aoi_ports_indonesia.parquet", header=True)

In [14]:
#explode data port
port_nonaoi_exploded = port_nonaoi.select("Port", F.explode("outer_boundary_h3").alias("outer_boundary_h3"))

+--------------------+------------------+
|                Port| outer_boundary_h3|
+--------------------+------------------+
|North Pulau Laut ...|614329729136197631|
|North Pulau Laut ...|614329729138294783|
|North Pulau Laut ...|614329729142489087|
|North Pulau Laut ...|614329729146683391|
|North Pulau Laut ...|614329729171849215|
|North Pulau Laut ...|614329729199112191|
|North Pulau Laut ...|614329729220083711|
|North Pulau Laut ...|614329729224278015|
|North Pulau Laut ...|614329729228472319|
|North Pulau Laut ...|614329729584988159|
|North Pulau Laut ...|614329729605959679|
|North Pulau Laut ...|614329729610153983|
|North Pulau Laut ...|614329729614348287|
|North Pulau Laut ...|614329729618542591|
|North Pulau Laut ...|614329729639514111|
|North Pulau Laut ...|614329729641611263|
|North Pulau Laut ...|614329729645805567|
|North Pulau Laut ...|614329729649999871|
|North Pulau Laut ...|614329729689845759|
|North Pulau Laut ...|614329729691942911|
+--------------------+------------------+
only showing top 20 rows

## Port-AOI LN

In [9]:
# Read Data
port_aoi_ln = spark.read.parquet(path_unique + "ports_luarnegeri.parquet", header=True)

In [10]:
#explode data port
port_aoi_ln_exploded = port_aoi_ln.select("Port", "Country", F.explode("boundary_h3_8").alias("boundary_h3_8"))

## Port-NonAOI LN

In [11]:
# Read Data
port_nonaoi_ln = spark.read.parquet(path_unique + "non_aoi_ports_luarnegeri.parquet", header=True)

In [12]:
#explode data port
port_nonaoi_ln_exploded = port_nonaoi_ln.select("Port", "Country", F.explode("outer_boundary_h3").alias("outer_boundary_h3"))

## Data AIS

In [13]:
# Read Data
data_ais = spark.read.parquet(path_unique + "data-ais-1persen-filter-dunia-2022.parquet", header=True)

In [14]:
# Select beberapa kolom df_data dg tipe kapal kargo & fishing
data_ais = data_ais.select("mmsi", "imo", "nav_status", "vessel_type", "flag_country", "status_country", "latitude", "longitude", "dt_pos_utc", "sog", "H3_int_index_8")

# Masuk-Keluar Indonesia

## Match Port-AOI & Vessel

In [24]:
#Cek kecocokan H3 kapal dg port

# Join DataFrame kapal with the exploded DataFrame port
match_port_aoi = data_ais.join(port_aoi_exploded, data_ais['H3_int_index_8'] == port_aoi_exploded['boundary_h3_8'], "inner")

# Selecting relevant columns and filtering out null values
match_port_aoi_select = match_port_aoi.select(col("mmsi").alias('mmsi_aoi'), col("dt_pos_utc").alias('dt_pos_utc_aoi'), col("Port").alias('Port_aoi'), col("flag_country").alias('flag_country_vessel_aoi'), col("status_country").alias('status_country_vessel_aoi'), col("vessel_type").alias('vessel_type_aoi'), col("H3_int_index_8").alias('H3_int_index_8_aoi'), "boundary_h3_8").filter(match_port_aoi["boundary_h3_8"].isNotNull())

+---------+-------------------+--------------------+-----------------------+-------------------------+---------------+------------------+------------------+
| mmsi_aoi|     dt_pos_utc_aoi|            Port_aoi|flag_country_vessel_aoi|status_country_vessel_aoi|vessel_type_aoi|H3_int_index_8_aoi|       boundary_h3|
+---------+-------------------+--------------------+-----------------------+-------------------------+---------------+------------------+------------------+
|525125033|2022-05-20 03:56:42|             Belawan|              Indonesia|                Indonesia|          Cargo|614266957117521919|614266957117521919|
|477325300|2022-05-20 02:13:10|             Belawan|              Hong Kong|                    Asing|          Cargo|614266959839625215|614266959839625215|
|538006810|2022-05-20 05:37:22|             Belawan|       Marshall Islands|                    Asing|         Tanker|614266959288074239|614266959288074239|
|636021420|2022-05-20 04:07:38|             Belawan|                Liberia|                    Asing|         Tanker|614266959975940095|614266959975940095|
|636021420|2022-05-20 05:16:36|             Belawan|                Liberia|                    Asing|         Tanker|614266959975940095|614266959975940095|
|352275000|2022-05-20 03:57:20|           Bengkalis|                 Panama|                    Asing|         Tanker|614268656194420735|614268656194420735|
|372556000|2022-05-20 03:01:24|               Dumai|                 Panama|                    Asing|          Cargo|614269525610725375|614269525610725375|
|441213000|2022-05-20 05:18:38|               Dumai|            South Korea|                    Asing|         Tanker|614269525849800703|614269525849800703|
|525401167|2022-05-20 02:43:00|               Dumai|              Indonesia|                Indonesia|         Tanker|614269525851897855|614269525851897855|
|205042000|2022-05-20 04:47:08|Belanak Field Ter...|                Belgium|                    Asing|         Tanker|614270101843083263|614270101843083263|
|525121002|2022-05-20 04:17:02|      Tanjung Santan|              Indonesia|                Indonesia|         Tanker|614328485350998015|614328485350998015|
|373773000|2022-05-20 04:42:43|      Tanjung Santan|                 Panama|                    Asing|          Cargo|614328485124505599|614328485124505599|
|255805685|2022-05-20 02:52:37|      Tanjung Santan|                Madeira|                    Asing|          Cargo|614328512779649023|614328512779649023|
|311061300|2022-05-20 05:28:51|      Tanjung Santan|                Bahamas|                    Asing|          Cargo|614328513161330687|614328513161330687|
|311061300|2022-05-20 05:34:51|      Tanjung Santan|                Bahamas|                    Asing|          Cargo|614328513161330687|614328513161330687|
|353664000|2022-05-20 02:50:08|      Tanjung Santan|                 Panama|                    Asing|          Cargo|614328512695762943|614328512695762943|
|356875000|2022-05-20 04:18:51|      Tanjung Santan|                 Panama|                    Asing|          Cargo|614328512599293951|614328512599293951|
|419000348|2022-05-20 03:55:46|      Tanjung Santan|                  India|                    Asing|          Cargo|614328512809009151|614328512809009151|
|441686000|2022-05-20 04:40:18|      Tanjung Santan|            South Korea|                    Asing|          Cargo|614328512731414527|614328512731414527|
|477648500|2022-05-20 02:06:37|      Tanjung Santan|              Hong Kong|                    Asing|          Cargo|614328513469612031|614328513469612031|
+---------+-------------------+--------------------+-----------------------+-------------------------+---------------+------------------+------------------+
only showing top 20 rows

In [27]:
match_port_aoi_select = match_port_aoi_select.withColumn('mmsi_port_aoi', concat_ws('_', 'mmsi_aoi', 'Port_aoi'))

In [25]:
match_port_aoi_select = match_port_aoi_select.orderBy("mmsi_aoi", "dt_pos_utc_aoi")

## Match Port-NonAOI & Vessel

In [33]:
#Cek kecocokan H3 kapal dg port

# Join DataFrame kapal with the exploded DataFrame port
match_port_nonaoi = data_ais.join(port_nonaoi_exploded, data_ais['H3_int_index_8'] == port_nonaoi_exploded['outer_boundary_h3'], "inner")

# Selecting relevant columns and filtering out null values
match_port_nonaoi_select = match_port_nonaoi.select(col("mmsi").alias('mmsi_nonaoi'), col("dt_pos_utc").alias('dt_pos_utc_nonaoi'), col("Port").alias('Port_nonaoi'), col("flag_country").alias('flag_country_vessel_nonaoi'), col("status_country").alias('status_country_vessel_nonaoi'), col("vessel_type").alias('vessel_type_nonaoi'), col("H3_int_index_8").alias('H3_int_index_8_nonaoi'), "outer_boundary_h3").filter(match_port_nonaoi["outer_boundary_h3"].isNotNull())

+-----------+-------------------+--------------------+--------------------------+----------------------------+------------------+---------------------+------------------+
|mmsi_nonaoi|  dt_pos_utc_nonaoi|         Port_nonaoi|flag_country_vessel_nonaoi|status_country_vessel_nonaoi|vessel_type_nonaoi|H3_int_index_8_nonaoi| outer_boundary_h3|
+-----------+-------------------+--------------------+--------------------------+----------------------------+------------------+---------------------+------------------+
|  525121002|2022-05-20 04:17:02|Bontang Lng Terminal|                 Indonesia|                   Indonesia|            Tanker|   614328485350998015|614328485350998015|
|  419001313|2022-05-20 03:10:36|            Sekupang|                     India|                       Asing|            Tanker|   614268611046932479|614268611046932479|
|  563028460|2022-05-20 04:26:07|            Sekupang|                 Singapore|                       Asing|            Tanker|   614268611483140095|614268611483140095|
|  563111600|2022-05-20 05:45:20|            Sekupang|                 Singapore|                       Asing|            Tanker|   614268611327950847|614268611327950847|
|  563451000|2022-05-20 05:52:32|            Sekupang|                 Singapore|                       Asing|            Tanker|   614268611483140095|614268611483140095|
|  563562000|2022-05-20 02:59:04|            Sekupang|                 Singapore|                       Asing|            Tanker|   614268611493625855|614268611493625855|
|  565307000|2022-05-20 02:58:56|         Pulau Sambu|                 Singapore|                       Asing|            Tanker|   614268611321659391|614268611321659391|
|  565472000|2022-05-20 05:33:13|            Sekupang|                 Singapore|                       Asing|            Tanker|   614268611493625855|614268611493625855|
|  566234000|2022-05-20 04:44:29|         Pulau Sambu|                 Singapore|                       Asing|            Tanker|   614268611543957503|614268611543957503|
|  566612000|2022-05-20 03:54:12|            Sekupang|                 Singapore|                       Asing|            Tanker|   614268611493625855|614268611493625855|
|  566612000|2022-05-20 06:00:03|            Sekupang|                 Singapore|                       Asing|            Tanker|   614268611493625855|614268611493625855|
|  566946000|2022-05-20 04:15:50|            Sekupang|                 Singapore|                       Asing|            Tanker|   614268611493625855|614268611493625855|
|  566975000|2022-05-20 05:10:15|            Sekupang|                 Singapore|                       Asing|            Tanker|   614268611493625855|614268611493625855|
|  574003150|2022-05-20 04:47:48|            Sekupang|                   Vietnam|                       Asing|            Tanker|   614268611046932479|614268611046932479|
|  636093096|2022-05-20 03:18:52|            Sekupang|                   Liberia|                       Asing|             Cargo|   614268613456560127|614268613456560127|
|  311562000|2022-05-20 02:42:40|            Sekupang|                   Bahamas|                       Asing|         Passenger|   614269016780832767|614269016780832767|
|  356028000|2022-05-20 04:32:55|            Sekupang|                    Panama|                       Asing|            Tanker|   614269017263177727|614269017263177727|
|  356028000|2022-05-20 04:32:55|         Pulau Sambu|                    Panama|                       Asing|            Tanker|   614269017263177727|614269017263177727|
|  356028000|2022-05-20 04:59:54|            Sekupang|                    Panama|                       Asing|            Tanker|   614269017263177727|614269017263177727|
|  356028000|2022-05-20 04:59:54|         Pulau Sambu|                    Panama|                       Asing|            Tanker|   614269017263177727|614269017263177727|
+-----------+-------------------+--------------------+--------------------------+----------------------------+------------------+---------------------+------------------+
only showing top 20 rows

In [36]:
match_port_nonaoi_select = match_port_nonaoi_select.withColumn('mmsi_port_nonaoi', concat_ws('_', 'mmsi_nonaoi', 'Port_nonaoi'))

In [37]:
match_port_nonaoi_select = match_port_nonaoi_select.orderBy("mmsi_nonaoi", "dt_pos_utc_nonaoi")

## Join All Dataframe

In [42]:
#Cek kecocokan aoi dg non-aoi

# Join DataFrame aoi dg non-aoi
result_df = match_port_aoi_select.join(match_port_nonaoi_select, (match_port_aoi_select['mmsi_port_aoi'] == match_port_nonaoi_select['mmsi_port_nonaoi']), "inner")

# Selecting relevant columns and filtering out null values
result_df = result_df.select("mmsi_port_aoi", "mmsi_port_nonaoi", "flag_country_vessel_aoi", "flag_country_vessel_nonaoi", "status_country_vessel_aoi", "status_country_vessel_nonaoi", "vessel_type_aoi", "vessel_type_nonaoi", "dt_pos_utc_aoi", "dt_pos_utc_nonaoi").where((col("mmsi_port_aoi").isNotNull()) & (col("mmsi_port_nonaoi").isNotNull()))

In [45]:
# Memisahkan kolom 'mmsi_port_aoi' menjadi 'mmsi_aoi' dan 'Port_aoi'
result_df = result_df.withColumn('mmsi_aoi', split('mmsi_port_aoi', '_')[0])
result_df = result_df.withColumn('Port_aoi', split('mmsi_port_aoi', '_')[1])
result_df = result_df.withColumn('mmsi_nonaoi', split('mmsi_port_nonaoi', '_')[0])
result_df = result_df.withColumn('Port_nonaoi', split('mmsi_port_nonaoi', '_')[1])

In [47]:
# Selecting relevant columns
result_df = result_df.select(col("mmsi_aoi").alias('mmsi'), col("Port_aoi").alias('Port'), col("flag_country_vessel_aoi").alias('flag_country_vessel'), col("status_country_vessel_aoi").alias('status_country_vessel'), col("vessel_type_aoi").alias('vessel_type'), "dt_pos_utc_aoi", "dt_pos_utc_nonaoi")

In [50]:
# Urutan salah satu waktu descending (PENTING)
result_df = result_df.orderBy("mmsi", "Port", "dt_pos_utc_nonaoi", col("dt_pos_utc_aoi").desc())

In [51]:
# Menentukan apakah dt_pos_utc_aoi unik

result_df_check_unique = result_df.withColumn(
    "unique_check_aoi",
    expr("(count(*) over (partition by mmsi, Port, dt_pos_utc_aoi) = 1)")
)

In [52]:
# Menentukan apakah dt_pos_utc_nonaoi unik

result_df_check_unique = result_df_check_unique.withColumn(
    "unique_check_nonaoi",
    expr("(count(*) over (partition by mmsi, Port, dt_pos_utc_nonaoi) = 1)")
)

In [54]:
# Urutan salah satu waktu descending (PENTING)
result_df_check_unique = result_df_check_unique.orderBy("mmsi", "Port", "dt_pos_utc_nonaoi", col("dt_pos_utc_aoi").desc())

In [53]:
result_df_check_unique.count()

5358866

## Menghitung Selisih Terkecil Waktu Masuk-Keluar

In [71]:
# Membuat window specification
windowSpec = Window().partitionBy("mmsi", "Port").orderBy("dt_pos_utc_nonaoi")

# Menambahkan kolom selisih waktu
result_diff = result_df_check_unique.withColumn(
    "diff_nonaoi_aoi",
    expr("abs(unix_timestamp(dt_pos_utc_nonaoi) - unix_timestamp(dt_pos_utc_aoi))")
)

# Menambahkan kolom untuk menentukan urutan selisih waktu dalam setiap kelompok
result_diff = result_diff.withColumn("rank_diff", row_number().over(windowSpec.orderBy("diff_nonaoi_aoi")))

In [72]:
# Memilih dua baris dengan rank_diff terkecil jika kondisi unik tidak benar, memilih semua baris jika kondisi unik benar
windowSpec = Window().partitionBy("mmsi", "Port").orderBy("rank_diff")

result_diff = result_diff.filter(
    ((col("unique_check_aoi") == False) | (col("unique_check_nonaoi") == False)) |
    ((col("unique_check_aoi") == True) & (col("unique_check_nonaoi") == True))
).withColumn("row_number", F.row_number().over(windowSpec)).filter("row_number <= 2").drop("row_number")

In [73]:
# Menampilkan hasil
result_diff = result_diff.orderBy("mmsi", "Port", "dt_pos_utc_aoi")

+---------+--------------------+-------------------+---------------------+-----------+-------------------+-------------------+----------------+-------------------+---------------+---------+
|     mmsi|                Port|flag_country_vessel|status_country_vessel|vessel_type|     dt_pos_utc_aoi|  dt_pos_utc_nonaoi|unique_check_aoi|unique_check_nonaoi|diff_nonaoi_aoi|rank_diff|
+---------+--------------------+-------------------+---------------------+-----------+-------------------+-------------------+----------------+-------------------+---------------+---------+
|205086000|            Sekupang|            Belgium|                Asing|     Tanker|2022-01-20 00:17:25|2022-01-20 04:25:28|            true|              false|          14883|        2|
|205086000|            Sekupang|            Belgium|                Asing|     Tanker|2022-01-20 02:54:24|2022-01-20 04:25:28|            true|              false|           5464|        1|
|205580000|         Tanjunguban|            Belgium|                Asing|      Cargo|2022-02-23 15:19:37|2022-10-31 20:51:02|            true|               true|       21619885|        1|
|205677000|            Sekupang|            Belgium|                Asing|     Tanker|2022-01-02 02:59:39|2022-01-02 02:37:29|            true|              false|           1330|        1|
|205677000|            Sekupang|            Belgium|                Asing|     Tanker|2022-01-02 05:36:36|2022-01-02 02:37:29|            true|              false|          10747|        2|
|205686000|         Pulau Sambu|            Belgium|                Asing|     Tanker|2022-03-10 15:14:58|2022-07-21 07:43:15|            true|              false|       11464097|        2|
|205686000|         Pulau Sambu|            Belgium|                Asing|     Tanker|2022-07-21 09:08:26|2022-07-21 07:43:15|            true|              false|           5111|        1|
|205706000|            Sekupang|            Belgium|                Asing|     Tanker|2022-08-06 19:59:20|2022-08-06 22:19:27|           false|              false|           8407|        2|
|205706000|            Sekupang|            Belgium|                Asing|     Tanker|2022-08-06 20:37:14|2022-08-06 22:19:27|           false|              false|           6133|        1|
|205751000|            Sekupang|            Belgium|                Asing|     Tanker|2022-01-31 00:56:03|2022-01-31 16:26:00|            true|              false|          55797|        2|
|205751000|            Sekupang|            Belgium|                Asing|     Tanker|2022-01-31 03:34:30|2022-01-31 16:26:00|            true|              false|          46290|        1|
|205751000|         Tanjunguban|            Belgium|                Asing|     Tanker|2022-02-25 10:41:17|2022-07-22 00:04:39|           false|              false|       12662602|        2|
|205751000|         Tanjunguban|            Belgium|                Asing|     Tanker|2022-05-03 19:17:00|2022-07-22 00:04:39|           false|              false|        6842859|        1|
|205761000|            Sekupang|            Belgium|                Asing|     Tanker|2022-06-08 11:03:12|2022-11-20 11:27:06|            true|              false|       14257434|        2|
|205761000|            Sekupang|            Belgium|                Asing|     Tanker|2022-06-08 12:51:13|2022-11-20 11:27:06|            true|              false|       14250953|        1|
|205781000|            Sekupang|            Belgium|                Asing|     Tanker|2022-07-06 12:40:58|2022-07-05 12:31:56|           false|              false|          86942|        2|
|205781000|            Sekupang|            Belgium|                Asing|     Tanker|2022-07-06 12:40:58|2022-07-05 14:34:57|           false|              false|          79561|        1|
|205787000|            Sekupang|            Belgium|                Asing|      Other|2022-03-11 15:07:17|2022-03-11 13:04:56|           false|              false|           7341|        1|
|205787000|            Sekupang|            Belgium|                Asing|      Other|2022-03-11 16:41:03|2022-03-11 13:04:56|           false|              false|          12967|        2|
|209004000|         Pulau Sambu|             Cyprus|                Asing|      Cargo|2022-05-11 04:30:43|2022-01-24 16:20:57|            true|               true|        9202186|        1|
|209034000|            Sekupang|             Cyprus|                Asing|      Cargo|2022-07-24 06:04:36|2022-07-24 13:16:39|            true|              false|          25923|        2|
|209034000|            Sekupang|             Cyprus|                Asing|      Cargo|2022-07-24 06:34:39|2022-07-24 13:16:39|            true|              false|          24120|        1|
|209116000|         Pulau Sambu|             Cyprus|                Asing|      Cargo|2022-02-01 04:56:25|2022-02-01 02:34:36|            true|              false|           8509|        1|
|209116000|         Pulau Sambu|             Cyprus|                Asing|      Cargo|2022-02-01 05:46:55|2022-02-01 02:34:36|            true|              false|          11539|        2|
|209135000|         Tanjunguban|             Cyprus|                Asing|      Cargo|2022-01-29 07:30:12|2022-08-31 17:41:15|            true|              false|       18526263|        2|
|209135000|         Tanjunguban|             Cyprus|                Asing|      Cargo|2022-05-03 01:25:16|2022-08-31 17:41:15|            true|              false|       10426559|        1|
|209287000|         Pulau Sambu|             Cyprus|                Asing|      Cargo|2022-03-01 13:52:15|2022-03-02 02:52:30|            true|              false|          46815|        2|
|209287000|         Pulau Sambu|             Cyprus|                Asing|      Cargo|2022-03-01 17:28:32|2022-03-02 02:52:30|            true|              false|          33838|        1|
|209287000|         Tanjunguban|             Cyprus|                Asing|      Cargo|2022-01-18 23:46:32|2022-03-01 13:52:15|           false|               true|        3593143|        2|
|209287000|         Tanjunguban|             Cyprus|                Asing|      Cargo|2022-01-18 23:46:32|2022-01-19 00:10:45|           false|               true|           1453|        1|
|209317000|         Pulau Sambu|             Cyprus|                Asing|      Cargo|2022-02-05 20:38:04|2022-02-05 22:59:15|            true|               true|           8471|        1|
|209363000|Tanjung Balai Kar...|             Cyprus|                Asing|      Cargo|2022-12-13 14:21:19|2022-12-13 12:41:20|            true|               true|           5999|        1|
|209388000|              Banten|             Cyprus|                Asing|      Cargo|2022-10-03 09:04:41|2022-10-03 16:17:39|            true|              false|          25978|        2|
|209388000|              Banten|             Cyprus|                Asing|      Cargo|2022-10-03 14:04:42|2022-10-03 16:17:39|            true|              false|           7977|        1|
|209407000|         Pulau Sambu|             Cyprus|                Asing|     Tanker|2022-06-06 00:28:42|2022-05-02 01:16:11|           false|              false|        3021151|        1|
|209407000|         Pulau Sambu|             Cyprus|                Asing|     Tanker|2022-06-06 02:02:27|2022-05-02 01:16:11|           false|              false|        3026776|        2|
|209425000|         Pulau Sambu|             Cyprus|                Asing|      Cargo|2022-06-21 21:06:40|2022-06-24 16:39:02|            true|              false|         243142|        2|
|209425000|         Pulau Sambu|             Cyprus|                Asing|      Cargo|2022-06-26 08:08:28|2022-06-24 16:39:02|            true|              false|         142166|        1|
|209425000|            Sekupang|             Cyprus|                Asing|      Cargo|2022-07-10 07:48:02|2022-07-20 03:23:47|            true|              false|         848145|        2|
|209425000|            Sekupang|             Cyprus|                Asing|      Cargo|2022-07-10 20:05:03|2022-07-20 03:23:47|            true|              false|         803924|        1|
|209442000|            Sekupang|             Cyprus|                Asing|      Cargo|2022-04-19 10:00:34|2022-04-19 08:42:35|           false|              false|           4679|        1|
|209442000|            Sekupang|             Cyprus|                Asing|      Cargo|2022-10-14 16:10:02|2022-10-14 18:17:08|           false|              false|           7626|        2|
|209442000|         Tanjunguban|             Cyprus|                Asing|      Cargo|2022-06-27 18:54:11|2022-06-09 03:18:47|           false|              false|        1611324|        2|
|209442000|         Tanjunguban|             Cyprus|                Asing|      Cargo|2022-06-27 18:54:11|2022-06-27 18:58:24|           false|              false|            253|        1|
|209444000|         Pulau Sambu|             Cyprus|                Asing|      Cargo|2022-08-07 21:50:25|2022-08-25 00:38:47|            true|              false|        1478902|        2|
|209444000|         Pulau Sambu|             Cyprus|                Asing|      Cargo|2022-09-08 01:27:33|2022-08-25 00:38:47|            true|              false|        1212526|        1|
|209444000|         Tanjunguban|             Cyprus|                Asing|      Cargo|2022-10-05 11:40:48|2022-10-24 03:37:39|           false|              false|        1612611|        2|
|209444000|         Tanjunguban|             Cyprus|                Asing|      Cargo|2022-12-07 07:24:40|2022-11-23 14:30:31|           false|              false|        1184049|        1|
|209527000|         Pulau Sambu|             Cyprus|                Asing|   Dredging|2022-11-19 13:16:11|2022-10-19 23:41:49|            true|              false|        2640862|        1|
|209527000|         Pulau Sambu|             Cyprus|                Asing|   Dredging|2022-11-20 07:28:13|2022-10-19 23:41:49|            true|              false|        2706384|        2|
+---------+--------------------+-------------------+---------------------+-----------+-------------------+-------------------+----------------+-------------------+---------------+---------+
only showing top 50 rows

In [74]:
# drop kolom yg tidak diperlukan
result_diff = result_diff.select("mmsi", "Port", col("flag_country_vessel").alias('fc_vessel'), col("status_country_vessel").alias('sc_vessel'), "vessel_type", "dt_pos_utc_aoi", "dt_pos_utc_nonaoi", col("diff_nonaoi_aoi").alias('diff_time'))

In [80]:
result_diff.count()

18902

## Menentukan Masuk atau Keluar

In [75]:
# Menambahkan kolom untuk menunjukkan masuk atau keluar
result_out_in = result_diff.withColumn(
    "movement",
    when(col("dt_pos_utc_nonaoi") < col("dt_pos_utc_aoi"), "Masuk").otherwise("Keluar")
)

### Masuk

In [77]:
# Masuk
result_in = result_out_in.filter(col("movement") == "Masuk")

In [79]:
result_in.count()

9216

In [90]:
# Kapal Asing
result_in_asing = result_in.filter(col("status_country_vessel") == "Asing")

In [92]:
result_in_asing.count()

7286

### Keluar

In [81]:
# Keluar
result_out = result_out_in.filter(col("movement") == "Keluar")

In [83]:
result_out.count()

9686

In [87]:
# Kapal Asing
result_out_asing = result_out.filter(col("status_country_vessel") == "Asing")

In [89]:
result_out_asing.count()

7746

## Menghitung Jumlah per Bulan

### Masuk

In [93]:
# Hitung jumlah kapal masuk
vessel_in_count_month = result_in.withColumn("months", F.date_format("dt_pos_utc_aoi", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_in"))

In [94]:
# Tampilkan hasil
vessel_in_count_month.show()

+---------+---------+
|   months|vessel_in|
+---------+---------+
|     July|      808|
| November|      668|
| February|      610|
|  January|      519|
|    March|      654|
|  October|      990|
|      May|      659|
|   August|      868|
|    April|      720|
|     June|      711|
| December|     1067|
|September|      942|
+---------+---------+

In [95]:
# Hitung jumlah kapal masuk
vessel_in_count_country = result_in.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_in"))

In [99]:
# Tampilkan hasil
vessel_in_count_country.show(vessel_in_count_country.count(), truncate = False)

+---------------------+---------+
|fc_vessel            |vessel_in|
+---------------------+---------+
|Philippines          |40       |
|Malaysia             |334      |
|Singapore            |1321     |
|Germany              |13       |
|Greece               |59       |
|Belgium              |7        |
|Sierra Leone         |18       |
|Bahamas              |112      |
|China                |220      |
|India                |29       |
|Malta                |175      |
|Marshall Islands     |820      |
|Tuvalu               |26       |
|Cayman Islands       |59       |
|Italy                |28       |
|Norway               |71       |
|Denmark              |80       |
|Russian Federation   |5        |
|Thailand             |99       |
|Panama               |1290     |
|Hong Kong            |582      |
|South Korea          |197      |
|Cyprus               |78       |
|Indonesia            |1930     |
|Mongolia             |16       |
|Liberia              |956      |
|UK                   |62       |
|Azores               |23       |
|Cook Islands         |19       |
|Belize               |11       |
|Japan                |43       |
|Luxembourg           |19       |
|Australia            |5        |
|Bermuda              |18       |
|Madeira              |70       |
|Vietnam              |116      |
|Netherlands          |31       |
|Kiribati             |2        |
|France               |12       |
|Sri Lanka            |2        |
|Dominica             |1        |
|Kuwait               |8        |
|Gabon                |16       |
|Netherlands Antilles |2        |
|Spain                |3        |
|Barbados             |1        |
|Bangladesh           |12       |
|Saint Kitts and Nevis|2        |
|Saudi Arabia         |18       |
|Ethiopia             |1        |
|Brunei               |6        |
|Antigua and Barbuda  |51       |
|Cameroon             |2        |
|Niue                 |9        |
|Taiwan               |23       |
|Iran                 |3        |
|United Arab Emirates |1        |
|Brazil               |11       |
|Turkey               |7        |
|Bahrain              |2        |
|Northern Mariana     |1        |
|Vanuatu              |10       |
|Djibouti             |2        |
|Montenegro           |1        |
|Sweden               |6        |
|Palau                |7        |
|Equatorial Guinea    |1        |
|Libya                |2        |
|USA                  |5        |
|Qatar                |1        |
|Tanzania             |1        |
|Gibraltar            |1        |
|Pakistan             |1        |
+---------------------+---------+

In [97]:
# Hitung jumlah kapal masuk
vessel_in_count_vess_type = result_in.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_in"))

In [98]:
# Tampilkan hasil
vessel_in_count_vess_type.show()

+--------------+---------+
|   vessel_type|vessel_in|
+--------------+---------+
|       Sailing|       32|
|        Tanker|     4718|
|         Other|      251|
|     Passenger|      517|
|      Dredging|       35|
|         Cargo|     3618|
|Pleasure Craft|       32|
|   Port Tender|        3|
|       Fishing|       10|
+--------------+---------+

### Keluar

In [87]:
# Hitung jumlah kapal keluar
vessel_out_count_month = result_out.withColumn("months", F.date_format("dt_pos_utc_nonaoi", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_out"))

In [88]:
# Tampilkan hasil
vessel_out_count_month.show()

+---------+----------+
|   months|vessel_out|
+---------+----------+
|     July|       101|
| November|        98|
| February|       100|
|  January|       113|
|    March|        78|
|  October|       141|
|      May|        82|
|   August|       112|
|    April|        96|
|     June|       109|
| December|       123|
|September|       150|
+---------+----------+

In [101]:
# Hitung jumlah kapal keluar
vessel_out_count_country = result_out.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_out"))

In [102]:
# Tampilkan hasil
vessel_out_count_country.show(vessel_out_count_country.count(), truncate = False)

+---------------------+----------+
|fc_vessel            |vessel_out|
+---------------------+----------+
|Philippines          |41        |
|Malaysia             |374       |
|Singapore            |1419      |
|Turkey               |10        |
|France               |15        |
|Greece               |99        |
|Togo                 |3         |
|Sierra Leone         |16        |
|Bahamas              |161       |
|China                |215       |
|India                |23        |
|Malta                |232       |
|Kuwait               |8         |
|Marshall Islands     |888       |
|Tuvalu               |27        |
|Cayman Islands       |51        |
|Italy                |28        |
|Norway               |95        |
|Denmark              |89        |
|Iran                 |12        |
|Thailand             |90        |
|Panama               |1313      |
|Hong Kong            |580       |
|Saint Kitts and Nevis|6         |
|South Korea          |214       |
|Cyprus               |70        |
|Indonesia            |1940      |
|Mongolia             |26        |
|Liberia              |954       |
|UK                   |73        |
|Saudi Arabia         |20        |
|Ethiopia             |9         |
|Brunei               |2         |
|Azores               |22        |
|Cook Islands         |29        |
|Belize               |6         |
|Antigua and Barbuda  |43        |
|Japan                |33        |
|Luxembourg           |8         |
|Australia            |5         |
|Bermuda              |36        |
|Madeira              |56        |
|Vietnam              |154       |
|Germany              |15        |
|Palau                |10        |
|Taiwan               |16        |
|Belgium              |12        |
|Qatar                |1         |
|Bangladesh           |25        |
|Russian Federation   |7         |
|Vanuatu              |7         |
|Netherlands          |36        |
|Gabon                |8         |
|Barbados             |4         |
|Netherlands Antilles |7         |
|Gibraltar            |4         |
|Honduras             |1         |
|United Arab Emirates |3         |
|Brazil               |11        |
|Niue                 |5         |
|Montenegro           |1         |
|Cameroon             |5         |
|Kiribati             |1         |
|Dominica             |3         |
|Spain                |3         |
|Sri Lanka            |2         |
|USA                  |1         |
|Djibouti             |2         |
|Pakistan             |1         |
+---------------------+----------+

In [103]:
# Hitung jumlah kapal keluar
vessel_out_count_vess_type = result_out.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_out"))

In [104]:
# Tampilkan hasil
vessel_out_count_vess_type.show()

+--------------+----------+
|   vessel_type|vessel_out|
+--------------+----------+
|       Sailing|        17|
|        Tanker|      5468|
|         Other|       273|
|     Passenger|       460|
|      Dredging|        37|
|         Cargo|      3397|
|Pleasure Craft|        19|
|       Fishing|        10|
|   Port Tender|         5|
+--------------+----------+

# Waktu di Port Indonesia

## Rata-Rata

In [105]:
# Hitung rata-rata waktu di pelabuhan
avg_time_in_port_month = result_out.withColumn("months", F.date_format("dt_pos_utc_aoi", "MMMM")) \
    .groupBy("months").agg(F.avg("diff_time").alias("average_time_in_port"))

In [106]:
# Tampilkan hasil
avg_time_in_port_month.show()

+---------+--------------------+
|   months|average_time_in_port|
+---------+--------------------+
|     July|   2130511.409512761|
| November|    608085.850909091|
| February|  3881703.7647754136|
|  January|   4431849.476744186|
|    March|  3561590.5953436806|
|  October|   947789.9473039216|
|      May|  2302408.6671035388|
|   August|  1790153.9433293978|
|    April|        3056338.2725|
|     June|   2278713.812351544|
| December|  206612.61583577713|
|September|  1369938.7578313253|
+---------+--------------------+

In [107]:
# Hitung rata-rata waktu di pelabuhan menurut tipe kapal
avg_time_in_port_country = result_out.select("fc_vessel","diff_time").groupBy("fc_vessel").agg(F.avg("diff_time").alias("average_time_in_port"))

In [115]:
# Tampilkan hasil
avg_time_in_port_country.show(avg_time_in_port_country.count(), truncate = False)

+---------------------+--------------------+
|fc_vessel            |average_time_in_port|
+---------------------+--------------------+
|Malaysia             |2134837.8262032084  |
|Singapore            |1453415.563777308   |
|Germany              |4872146.866666666   |
|Palau                |3317983.3           |
|Greece               |2654350.3232323234  |
|Taiwan               |7097701.0           |
|Belgium              |6769567.0           |
|Qatar                |10726.0             |
|Sierra Leone         |3914955.75          |
|Bahamas              |1925830.9378881988  |
|China                |2535930.265116279   |
|Malta                |2447056.202586207   |
|Marshall Islands     |2662775.707207207   |
|Tuvalu               |3584218.3703703703  |
|Cayman Islands       |1427191.3333333333  |
|Italy                |4021548.535714286   |
|Norway               |1750519.305263158   |
|Denmark              |3452313.0786516853  |
|Bangladesh           |2988773.88          |
|Iran                 |9705830.916666666   |
|Russian Federation   |5802349.142857143   |
|Thailand             |2964315.688888889   |
|Panama               |2879460.444021325   |
|Hong Kong            |2725678.7810344826  |
|South Korea          |2367706.144859813   |
|Cyprus               |2217297.9142857143  |
|Indonesia            |1659309.1902061857  |
|Liberia              |2743548.1226415094  |
|UK                   |2600433.520547945   |
|Cook Islands         |1667365.7241379311  |
|Antigua and Barbuda  |3695634.8139534886  |
|Japan                |1119754.393939394   |
|Bermuda              |4562533.972222222   |
|Vanuatu              |5279928.857142857   |
|Madeira              |2183890.910714286   |
|Vietnam              |3914341.811688312   |
|Netherlands          |2322023.1666666665  |
|Philippines          |1745961.0487804879  |
|Sri Lanka            |577337.0            |
|Gabon                |2502019.625         |
|Netherlands Antilles |4168867.1428571427  |
|Saudi Arabia         |3288459.8           |
|Azores               |2184590.409090909   |
|Cameroon             |1.11888028E7        |
|France               |3843045.0           |
|India                |1696523.652173913   |
|Spain                |130699.0            |
|Saint Kitts and Nevis|8284469.5           |
|USA                  |2300842.0           |
|Mongolia             |1877268.8461538462  |
|United Arab Emirates |92600.0             |
|Belize               |3348341.0           |
|Brazil               |162860.0            |
|Luxembourg           |4707441.875         |
|Turkey               |5708703.9           |
|Gibraltar            |45048.75            |
|Niue                 |402996.8            |
|Barbados             |5093187.25          |
|Ethiopia             |1728250.4444444445  |
|Australia            |28887.4             |
|Pakistan             |3339798.0           |
|Kuwait               |6495698.5           |
|Montenegro           |1595463.0           |
|Togo                 |43828.0             |
|Brunei               |18626.0             |
|Kiribati             |4188.0              |
|Dominica             |127598.33333333333  |
|Honduras             |3025.0              |
|Djibouti             |6385898.0           |
+---------------------+--------------------+

In [109]:
# Hitung rata-rata waktu di pelabuhan menurut tipe kapal
avg_time_in_port_vess_type = result_out.select("vessel_type","diff_time").groupBy("vessel_type").agg(F.avg("diff_time").alias("average_time_in_port"))

In [110]:
# Tampilkan hasil
avg_time_in_port_vess_type.show()

+--------------+--------------------+
|   vessel_type|average_time_in_port|
+--------------+--------------------+
|       Sailing|  1800612.9411764706|
|        Tanker|  2042217.5356620336|
|         Other|  1464179.8424908426|
|Pleasure Craft|  2669534.3684210526|
|     Passenger|   914993.7521739131|
|      Dredging|   498674.8378378378|
|         Cargo|  3072609.1430674125|
|   Port Tender|           1126086.0|
|       Fishing|           1752524.2|
+--------------+--------------------+

## Median

In [91]:
median_time_in_port_month = result_out.withColumn("months", F.date_format("dt_pos_utc_aoi", "MMMM")) \
    .groupBy("months") \
    .agg(F.expr("percentile_approx(diff_time, 0.5)").alias("median_time_in_port"))

In [92]:
# Tampilkan hasil
median_time_in_port_month.show()

+---------+-------------------+
|   months|median_time_in_port|
+---------+-------------------+
|     July|             557875|
| November|              73967|
| February|            1597804|
|  January|             133273|
|    March|             267252|
|  October|             204473|
|      May|             482802|
|   August|             196924|
|    April|             333530|
|     June|             268168|
| December|              72524|
|September|             173701|
+---------+-------------------+

In [111]:
# Hitung rata-rata waktu di pelabuhan menurut tipe kapal
median_time_in_port_country = result_out.select("fc_vessel","diff_time").groupBy("fc_vessel").agg(F.expr("percentile_approx(diff_time, 0.5)").alias("median_time_in_port"))

In [116]:
# Tampilkan hasil
median_time_in_port_country.show(median_time_in_port_country.count(), truncate = False)

+---------------------+-------------------+
|fc_vessel            |median_time_in_port|
+---------------------+-------------------+
|Kiribati             |4188               |
|Philippines          |86852              |
|Djibouti             |6385470            |
|Malaysia             |247251             |
|Singapore            |44949              |
|Turkey               |1127802            |
|Germany              |68224              |
|Palau                |205202             |
|France               |78862              |
|Greece               |157319             |
|Sri Lanka            |496644             |
|Dominica             |116737             |
|Taiwan               |2974029            |
|Togo                 |54151              |
|Belgium              |55797              |
|Qatar                |10726              |
|Sierra Leone         |2423379            |
|Bahamas              |55443              |
|China                |100499             |
|India                |253722             |
|Malta                |46258              |
|Kuwait               |37370              |
|Marshall Islands     |88696              |
|Tuvalu               |872832             |
|Cayman Islands       |90720              |
|Gabon                |115490             |
|Italy                |120873             |
|Netherlands Antilles |4999166            |
|Norway               |100435             |
|Spain                |163802             |
|Denmark              |1050121            |
|Barbados             |59939              |
|Bangladesh           |70202              |
|Iran                 |8576851            |
|Russian Federation   |931043             |
|Thailand             |830701             |
|Panama               |127450             |
|Hong Kong            |103686             |
|Saint Kitts and Nevis|7729197            |
|USA                  |2300842            |
|South Korea          |135653             |
|Cyprus               |71098              |
|Gibraltar            |39881              |
|Montenegro           |1595463            |
|Indonesia            |146881             |
|Mongolia             |1080439            |
|Liberia              |133610             |
|Honduras             |3025               |
|UK                   |91577              |
|Saudi Arabia         |234231             |
|Ethiopia             |12958              |
|United Arab Emirates |62287              |
|Brunei               |18171              |
|Azores               |964078             |
|Cook Islands         |139856             |
|Belize               |1776502            |
|Brazil               |128700             |
|Antigua and Barbuda  |46905              |
|Japan                |50099              |
|Luxembourg           |105885             |
|Australia            |27149              |
|Cameroon             |7394619            |
|Bermuda              |28459              |
|Pakistan             |3339798            |
|Vanuatu              |26616              |
|Niue                 |22583              |
|Madeira              |86944              |
|Vietnam              |286845             |
|Netherlands          |101732             |
+---------------------+-------------------+

In [113]:
# Hitung rata-rata waktu di pelabuhan menurut tipe kapal
median_time_in_port_vess_type = result_out.select("vessel_type","diff_time").groupBy("vessel_type").agg(F.expr("percentile_approx(diff_time, 0.5)").alias("median_time_in_port"))

In [114]:
# Tampilkan hasil
median_time_in_port_vess_type.show()

+--------------+-------------------+
|   vessel_type|median_time_in_port|
+--------------+-------------------+
|       Sailing|             172075|
|        Tanker|              90500|
|         Other|              93816|
|Pleasure Craft|             223794|
|     Passenger|              91771|
|       Fishing|              31859|
|   Port Tender|             329200|
|      Dredging|              56127|
|         Cargo|             143282|
+--------------+-------------------+

# Masuk Luar Negeri

## Match Port-AOI & Vessel

In [15]:
#Cek kecocokan H3 kapal dg port

# Join DataFrame kapal with the exploded DataFrame port
match_port_aoi_ln = data_ais.join(port_aoi_ln_exploded, data_ais['H3_int_index_8'] == port_aoi_ln_exploded['boundary_h3_8'], "inner")

# Selecting relevant columns and filtering out null values
match_port_aoi_ln_select = match_port_aoi_ln.select(col("mmsi").alias('mmsi_aoi'), col("dt_pos_utc").alias('dt_pos_utc_aoi'), col("Port").alias('Port_aoi'), col("Country").alias('Country_aoi'), col("status_country").alias('status_country_vessel_aoi'), col("vessel_type").alias('vessel_type_aoi'), col("H3_int_index_8").alias('H3_int_index_8_aoi'), "boundary_h3_8").filter(match_port_aoi_ln["boundary_h3_8"].isNotNull())

+---------+-------------------+-----------+-----------+-------------------------+---------------+------------------+------------------+
| mmsi_aoi|     dt_pos_utc_aoi|   Port_aoi|Country_aoi|status_country_vessel_aoi|vessel_type_aoi|H3_int_index_8_aoi|       boundary_h3|
+---------+-------------------+-----------+-----------+-------------------------+---------------+------------------+------------------+
|273131700|2022-09-25 00:04:45|Port Dikson|     Russia|                    Asing|         Tanker|612499893979709439|612499893979709439|
|273379890|2022-11-06 04:31:17|Port Dikson|     Russia|                    Asing|          Cargo|612499898908016639|612499898908016639|
|257028310|2022-07-09 14:48:37| Hammerfest|     Norway|                    Asing|          Cargo|612509341282467839|612509341282467839|
|257028310|2022-07-09 14:48:37|   Kvalsund|     Norway|                    Asing|          Cargo|612509341282467839|612509341282467839|
|273312270|2022-03-21 07:47:15| Hammerfest|     Norway|                    Asing|        Fishing|612509341282467839|612509341282467839|
|273312270|2022-03-21 07:47:15|   Kvalsund|     Norway|                    Asing|        Fishing|612509341282467839|612509341282467839|
|258791000|2022-01-03 10:37:44| Hammerfest|     Norway|                    Asing|          Cargo|612509341288759295|612509341288759295|
|258791000|2022-01-03 10:37:44|   Kvalsund|     Norway|                    Asing|          Cargo|612509341288759295|612509341288759295|
|257210000|2022-12-28 01:05:28| Hammerfest|     Norway|                    Asing|          Cargo|612509341634789375|612509341634789375|
|311000410|2022-07-16 14:00:40| Hammerfest|     Norway|                    Asing|      Passenger|612509341825630207|612509341825630207|
|258364000|2022-07-11 22:08:42| Hammerfest|     Norway|                    Asing|          Cargo|612509342161174527|612509342161174527|
|257558000|2022-10-06 09:52:36| Hammerfest|     Norway|                    Asing|          Cargo|612509342161174527|612509342161174527|
|258721000|2022-04-02 12:33:11| Hammerfest|     Norway|                    Asing|          Cargo|612509342255546367|612509342255546367|
|257302000|2022-06-24 21:55:00| Hammerfest|     Norway|                    Asing|          Cargo|612509342297489407|612509342297489407|
|259330000|2022-03-22 11:03:55| Hammerfest|     Norway|                    Asing|      Passenger|612509342297489407|612509342297489407|
|257041670|2022-12-21 06:49:41| Hammerfest|     Norway|                    Asing|          Cargo|612509342297489407|612509342297489407|
|257599500|2022-10-18 13:27:11| Hammerfest|     Norway|                    Asing|        Fishing|612509342297489407|612509342297489407|
|259279000|2022-07-15 07:50:08| Hammerfest|     Norway|                    Asing|         Tanker|612509342429609983|612509342429609983|
|273450850|2022-02-27 23:39:30| Hammerfest|     Norway|                    Asing|        Fishing|612509342509301759|612509342509301759|
|273431440|2022-03-21 11:41:53| Hammerfest|     Norway|                    Asing|        Fishing|612509346277883903|612509346277883903|
+---------+-------------------+-----------+-----------+-------------------------+---------------+------------------+------------------+
only showing top 20 rows

In [16]:
match_port_aoi_ln_select = match_port_aoi_ln_select.withColumn('mmsi_port_country_aoi', concat_ws('_', 'mmsi_aoi', 'Port_aoi', 'Country_aoi'))

In [17]:
match_port_aoi_ln_select = match_port_aoi_ln_select.orderBy("mmsi_aoi", "dt_pos_utc_aoi")

## Match Port-NonAOI & Vessel

In [17]:
#Cek kecocokan H3 kapal dg port

# Join DataFrame kapal with the exploded DataFrame port
match_port_nonaoi_ln = data_ais.join(port_nonaoi_ln_exploded, data_ais['H3_int_index_8'] == port_nonaoi_ln_exploded['outer_boundary_h3'], "inner")

# Selecting relevant columns and filtering out null values
match_port_nonaoi_ln_select = match_port_nonaoi_ln.select(col("mmsi").alias('mmsi_nonaoi'), col("dt_pos_utc").alias('dt_pos_utc_nonaoi'), col("Port").alias('Port_nonaoi'), col("Country").alias('Country_nonaoi'), col("status_country").alias('status_country_vessel_nonaoi'), col("vessel_type").alias('vessel_type_nonaoi'), col("H3_int_index_8").alias('H3_int_index_8_nonaoi'), "outer_boundary_h3").filter(match_port_nonaoi_ln["outer_boundary_h3"].isNotNull())

+-----------+-------------------+-------------+--------------+----------------------------+------------------+---------------------+------------------+
|mmsi_nonaoi|  dt_pos_utc_nonaoi|  Port_nonaoi|Country_nonaoi|status_country_vessel_nonaoi|vessel_type_nonaoi|H3_int_index_8_nonaoi| outer_boundary_h3|
+-----------+-------------------+-------------+--------------+----------------------------+------------------+---------------------+------------------+
|  339197000|2022-05-20 04:27:58| Clifton Pier|   The Bahamas|                       Asing|    Pleasure Craft|   613698286043267071|613698286043267071|
|  339197000|2022-05-20 03:09:57| Clifton Pier|   The Bahamas|                       Asing|    Pleasure Craft|   613698286043267071|613698286043267071|
|  241612000|2022-05-20 02:51:17|     Rockport| United States|                       Asing|            Tanker|   613766446880653311|613766446880653311|
|  538008421|2022-05-20 03:14:47|     Rockport| United States|                       Asing|            Tanker|   613766446918402047|613766446918402047|
|  345030072|2022-05-20 05:25:24|   Manzanillo|        Mexico|                       Asing|            Tanker|   613785610882121727|613785610882121727|
|  431401854|2022-05-20 03:33:56|       Sasebo|         Japan|                       Asing|            Tanker|   613349063783350271|613349063783350271|
|  440008100|2022-05-20 04:38:43|Muturezima Ko|         Japan|                       Asing|             Cargo|   613815869822205951|613815869822205951|
|  431401143|2022-05-20 03:33:18|        Onoda|         Japan|                       Asing|             Cargo|   613815871776751615|613815871776751615|
|  477528500|2022-05-20 04:50:33|    Nishihara|         Japan|                       Asing|             Cargo|   613793987460857855|613793987460857855|
|  477528500|2022-05-20 04:50:33|      Naha Ko|         Japan|                       Asing|             Cargo|   613793987460857855|613793987460857855|
|  477528500|2022-05-20 05:49:45|    Nishihara|         Japan|                       Asing|             Cargo|   613793987460857855|613793987460857855|
|  477528500|2022-05-20 05:49:45|      Naha Ko|         Japan|                       Asing|             Cargo|   613793987460857855|613793987460857855|
|  431004036|2022-05-20 05:09:26|      Kin Wan|         Japan|                       Asing|            Tanker|   613793989713199103|613793989713199103|
|  373403000|2022-05-20 05:47:50|     Zhoushan|         China|                       Asing|             Cargo|   613812624158621695|613812624158621695|
|  414187000|2022-05-20 04:16:56|     Zhoushan|         China|                       Asing|             Cargo|   613812623697248255|613812623697248255|
|  477035500|2022-05-20 05:09:37|     Zhoushan|         China|                       Asing|             Cargo|   613812623709831167|613812623709831167|
|  413355120|2022-05-20 02:25:32|     Zhen Hai|         China|                       Asing|             Cargo|   613812658602246143|613812658602246143|
|  414320000|2022-05-20 05:53:06|     Zhoushan|         China|                       Asing|             Cargo|   613812660512751615|613812660512751615|
|  431007421|2022-05-20 02:41:29|     Saiki Ko|         Japan|                       Asing|             Cargo|   613815562014818303|613815562014818303|
|  431003061|2022-05-20 02:25:02|   Tsukumi Ko|         Japan|                       Asing|         Passenger|   613815594921230335|613815594921230335|
+-----------+-------------------+-------------+--------------+----------------------------+------------------+---------------------+------------------+
only showing top 20 rows

In [18]:
match_port_nonaoi_ln_select = match_port_nonaoi_ln_select.withColumn('mmsi_port_country_nonaoi', concat_ws('_', 'mmsi_nonaoi', 'Port_nonaoi', 'Country_nonaoi'))

In [21]:
match_port_nonaoi_ln_select = match_port_nonaoi_ln_select.orderBy("mmsi_nonaoi", "dt_pos_utc_nonaoi")

## Join All Dataframe

In [19]:
#Cek kecocokan aoi dg non-aoi

# Join DataFrame aoi dg non-aoi
result_ln_df = match_port_aoi_ln_select.join(match_port_nonaoi_ln_select, (match_port_aoi_ln_select['mmsi_port_country_aoi'] == match_port_nonaoi_ln_select['mmsi_port_country_nonaoi']), "inner")

# Selecting relevant columns and filtering out null values
result_ln_df = result_ln_df.select("mmsi_port_country_aoi", "mmsi_port_country_nonaoi", "status_country_vessel_aoi", "status_country_vessel_nonaoi", "vessel_type_aoi", "vessel_type_nonaoi", "dt_pos_utc_aoi", "dt_pos_utc_nonaoi").where((col("mmsi_port_country_aoi").isNotNull()) & (col("mmsi_port_country_nonaoi").isNotNull()))

In [20]:
# Memisahkan kolom 'mmsi_port_aoi' menjadi 'mmsi_aoi' dan 'Port_aoi'
result_ln_df = result_ln_df.withColumn('mmsi_aoi', split('mmsi_port_country_aoi', '_')[0])
result_ln_df = result_ln_df.withColumn('Port_Country_aoi', concat_ws('_', split('mmsi_port_country_aoi', '_')[1], split('mmsi_port_country_aoi', '_')[2]))
result_ln_df = result_ln_df.withColumn('mmsi_nonaoi', split('mmsi_port_country_nonaoi', '_')[0])
result_ln_df = result_ln_df.withColumn('Port_Country_nonaoi', concat_ws('_', split('mmsi_port_country_nonaoi', '_')[1], split('mmsi_port_country_nonaoi', '_')[2]))

In [21]:
# Selecting relevant columns
result_ln_df = result_ln_df.select(col("mmsi_aoi").alias('mmsi'), col("Port_Country_aoi").alias('Port_Country'), col("status_country_vessel_aoi").alias('sc_vessel'), col("vessel_type_aoi").alias('vessel_type'), "dt_pos_utc_aoi", "dt_pos_utc_nonaoi")

In [22]:
# Urutan salah satu waktu descending (PENTING)
result_ln_df = result_ln_df.orderBy("mmsi", "Port_Country", "dt_pos_utc_nonaoi", col("dt_pos_utc_aoi").desc())

In [23]:
# Menentukan apakah dt_pos_utc_aoi unik

result_ln_df_check_unique = result_ln_df.withColumn(
    "unique_check_aoi",
    expr("(count(*) over (partition by mmsi, Port_Country, dt_pos_utc_aoi) = 1)")
)

In [24]:
# Menentukan apakah dt_pos_utc_nonaoi unik

result_ln_df_check_unique = result_ln_df_check_unique.withColumn(
    "unique_check_nonaoi",
    expr("(count(*) over (partition by mmsi, Port_Country, dt_pos_utc_nonaoi) = 1)")
)

In [25]:
# Urutan salah satu waktu descending (PENTING)
result_ln_df_check_unique = result_ln_df_check_unique.orderBy("mmsi", "Port_Country", "dt_pos_utc_nonaoi", col("dt_pos_utc_aoi").desc())

In [34]:
result_ln_df_check_unique.count()

62810682

## Menghitung Selisih Terkecil Waktu Masuk-Keluar

In [26]:
# Membuat window specification
windowSpec = Window().partitionBy("mmsi", "Port_Country").orderBy("dt_pos_utc_nonaoi")

# Menambahkan kolom selisih waktu
result_ln_diff = result_ln_df_check_unique.withColumn(
    "diff_nonaoi_aoi",
    expr("abs(unix_timestamp(dt_pos_utc_nonaoi) - unix_timestamp(dt_pos_utc_aoi))")
)

# Menambahkan kolom untuk menentukan urutan selisih waktu dalam setiap kelompok
result_ln_diff = result_ln_diff.withColumn("rank_diff", row_number().over(windowSpec.orderBy("diff_nonaoi_aoi")))

In [27]:
# Memilih dua baris dengan rank_diff terkecil jika kondisi unik tidak benar, memilih semua baris jika kondisi unik benar
windowSpec = Window().partitionBy("mmsi", "Port_Country").orderBy("rank_diff")

result_ln_diff = result_ln_diff.filter(
    ((col("unique_check_aoi") == False) | (col("unique_check_nonaoi") == False)) |
    ((col("unique_check_aoi") == True) & (col("unique_check_nonaoi") == True))
).withColumn("row_number", F.row_number().over(windowSpec)).filter("row_number <= 2").drop("row_number")

In [39]:
# Menampilkan hasil
result_ln_diff = result_ln_diff.orderBy("mmsi", "Port_Country", "dt_pos_utc_aoi")

+---------+--------------------+---------+-----------+-------------------+-------------------+----------------+-------------------+---------------+---------+
|     mmsi|        Port_Country|sc_vessel|vessel_type|     dt_pos_utc_aoi|  dt_pos_utc_nonaoi|unique_check_aoi|unique_check_nonaoi|diff_nonaoi_aoi|rank_diff|
+---------+--------------------+---------+-----------+-------------------+-------------------+----------------+-------------------+---------------+---------+
|201100115|      Kerkira_Greece|    Asing|      Cargo|2022-08-07 06:19:58|2022-07-24 04:01:25|            true|              false|        1217913|        1|
|201100115|      Kerkira_Greece|    Asing|      Cargo|2022-08-22 23:20:13|2022-07-24 04:01:25|            true|              false|        2575128|        2|
|201100115|      Koper_Slovenia|    Asing|      Cargo|2022-06-07 16:29:17|2022-06-07 18:55:03|            true|              false|           8746|        2|
|201100115|      Koper_Slovenia|    Asing|      Cargo|2022-06-07 17:08:30|2022-06-07 18:55:03|            true|              false|           6393|        1|
|201100115|Megara Oil Termin...|    Asing|      Cargo|2022-03-29 19:36:46|2022-03-24 14:09:22|            true|              false|         451644|        1|
|201100115|Megara Oil Termin...|    Asing|      Cargo|2022-03-29 21:51:45|2022-03-24 14:09:22|            true|              false|         459743|        2|
|201100115|      Vlores_Albania|    Asing|      Cargo|2022-09-13 22:40:30|2022-08-20 21:32:46|            true|               true|        2077664|        1|
|201100124|  Aspropirgos_Greece|    Asing|      Cargo|2022-07-29 00:08:42|2022-07-28 23:29:53|            true|              false|           2329|        1|
|201100124|  Aspropirgos_Greece|    Asing|      Cargo|2022-09-19 19:58:46|2022-07-28 23:29:53|            true|              false|        4566533|        2|
|201100124|        Botas_Turkey|    Asing|      Cargo|2022-04-14 20:21:07|2022-04-16 19:48:28|            true|              false|         170841|        2|
|201100124|        Botas_Turkey|    Asing|      Cargo|2022-04-16 19:11:31|2022-04-16 19:48:28|            true|              false|           2217|        1|
|201100124|      Brsica_Croatia|    Asing|      Cargo|2022-01-07 07:46:34|2022-01-13 22:01:33|            true|              false|         569699|        2|
|201100124|      Brsica_Croatia|    Asing|      Cargo|2022-01-14 08:01:32|2022-01-13 22:01:33|            true|              false|          35999|        1|
|201100124|      Elevsis_Greece|    Asing|      Cargo|2022-07-29 00:08:42|2022-07-28 23:29:53|            true|              false|           2329|        1|
|201100124|      Elevsis_Greece|    Asing|      Cargo|2022-09-19 19:58:46|2022-07-28 23:29:53|            true|              false|        4566533|        2|
|201100124|       Gavrio_Greece|    Asing|      Cargo|2022-06-09 07:23:58|2022-10-13 23:15:35|            true|              false|       10943497|        2|
|201100124|       Gavrio_Greece|    Asing|      Cargo|2022-06-09 07:44:28|2022-10-13 23:15:35|            true|              false|       10942267|        1|
|201100124|       Lavrio_Greece|    Asing|      Cargo|2022-08-23 07:05:12|2022-07-28 20:50:40|           false|              false|        2196872|        2|
|201100124|       Lavrio_Greece|    Asing|      Cargo|2022-10-27 20:13:38|2022-10-13 15:24:43|           false|              false|        1226935|        1|
|201100124|Megara Oil Termin...|    Asing|      Cargo|2022-07-29 00:08:42|2022-08-23 02:35:39|           false|              false|        2168817|        2|
|201100124|Megara Oil Termin...|    Asing|      Cargo|2022-09-19 19:58:46|2022-09-11 21:24:35|           false|              false|         686051|        1|
|201100124|  Mesolongion_Greece|    Asing|      Cargo|2022-08-22 00:45:35|2022-09-11 08:46:39|            true|              false|        1756864|        2|
|201100124|  Mesolongion_Greece|    Asing|      Cargo|2022-09-11 06:00:41|2022-09-11 08:46:39|            true|              false|           9958|        1|
|201100124|Pakhi Oil Termina...|    Asing|      Cargo|2022-07-28 23:29:53|2022-07-16 06:05:23|            true|              false|        1099470|        1|
|201100124|Pakhi Oil Termina...|    Asing|      Cargo|2022-07-29 00:08:42|2022-07-16 06:05:23|            true|              false|        1101799|        2|
|201100124|     Piraievs_Greece|    Asing|      Cargo|2022-07-28 23:29:53|2022-07-29 00:08:42|            true|              false|           2329|        1|
|201100124|     Piraievs_Greece|    Asing|      Cargo|2022-08-23 02:35:39|2022-07-29 00:08:42|            true|              false|        2168817|        2|
|201100124|Porto Garibaldi_I...|    Asing|      Cargo|2022-01-19 07:04:40|2022-01-21 07:54:11|           false|              false|         175771|        2|
|201100124|Porto Garibaldi_I...|    Asing|      Cargo|2022-01-19 09:24:20|2022-01-21 07:54:11|           false|              false|         167391|        1|
|201100124|  Toros Gubre_Turkey|    Asing|      Cargo|2022-04-15 04:15:00|2022-04-16 19:11:31|            true|              false|         140191|        2|
|201100124|  Toros Gubre_Turkey|    Asing|      Cargo|2022-04-16 15:14:06|2022-04-16 19:11:31|            true|              false|          14245|        1|
|201100124|        Volos_Greece|    Asing|      Cargo|2022-03-10 16:07:59|2022-03-10 04:31:58|           false|              false|          41761|        1|
|201100124|        Volos_Greece|    Asing|      Cargo|2022-03-11 03:17:01|2022-03-10 04:31:58|           false|              false|          81903|        2|
|201100134|      Astakos_Greece|    Asing|      Cargo|2022-09-01 14:07:37|2022-02-17 10:03:21|            true|               true|       16949056|        1|
|201100136|  Aspropirgos_Greece|    Asing|      Cargo|2022-07-18 09:14:52|2022-08-17 17:38:24|            true|               true|        2622212|        1|
|201100136|      Elevsis_Greece|    Asing|      Cargo|2022-07-18 09:14:52|2022-08-17 17:38:24|            true|               true|        2622212|        1|
|201100136|        Izmir_Turkey|    Asing|      Cargo|2022-08-16 10:28:35|2022-08-16 21:19:18|           false|              false|          39043|        2|
|201100136|        Izmir_Turkey|    Asing|      Cargo|2022-09-21 19:38:58|2022-09-21 14:24:42|           false|              false|          18856|        1|
|201100136|  Limin Sirou_Greece|    Asing|      Cargo|2022-01-29 17:15:12|2022-10-23 01:37:51|            true|              false|       23012559|        2|
|201100136|  Limin Sirou_Greece|    Asing|      Cargo|2022-10-23 00:47:02|2022-10-23 01:37:51|            true|              false|           3049|        1|
|201100136|Megara Oil Termin...|    Asing|      Cargo|2022-08-17 17:38:24|2022-07-18 09:14:52|            true|               true|        2622212|        1|
|201100149|Porto Garibaldi_I...|    Asing|      Cargo|2022-06-15 10:35:09|2022-06-11 06:30:32|            true|              false|         360277|        1|
|201100149|Porto Garibaldi_I...|    Asing|      Cargo|2022-07-07 07:50:33|2022-06-11 06:30:32|            true|              false|        2251201|        2|
|201100149|        Volos_Greece|    Asing|      Cargo|2022-01-20 14:57:11|2022-01-21 04:05:00|           false|              false|          47269|        2|
|201100149|        Volos_Greece|    Asing|      Cargo|2022-01-20 14:57:11|2022-01-20 19:58:11|           false|              false|          18060|        1|
|201110301|      Vlores_Albania|    Asing|    Fishing|2022-06-02 23:25:42|2022-06-05 06:39:32|           false|              false|         198830|        2|
|201110301|      Vlores_Albania|    Asing|    Fishing|2022-08-31 11:50:33|2022-08-29 08:14:11|           false|              false|         185782|        1|
|203999384|      Braila_Romania|    Asing|      Cargo|2022-05-29 13:39:33|2022-05-30 02:09:48|           false|              false|          45015|        2|
|203999384|      Braila_Romania|    Asing|      Cargo|2022-06-02 16:34:27|2022-06-02 12:33:47|           false|              false|          14440|        1|
|203999384|      Galati_Romania|    Asing|      Cargo|2022-05-22 15:49:51|2022-05-24 01:33:11|            true|              false|         121400|        1|
+---------+--------------------+---------+-----------+-------------------+-------------------+----------------+-------------------+---------------+---------+
only showing top 50 rows

In [28]:
# drop kolom yg tidak diperlukan
result_ln_diff = result_ln_diff.select("mmsi", "Port_Country", "sc_vessel", "vessel_type", "dt_pos_utc_aoi", "dt_pos_utc_nonaoi", "diff_nonaoi_aoi")

In [41]:
result_ln_diff.count()

486594

## Menentukan Masuk atau Keluar

In [29]:
# Menambahkan kolom untuk menunjukkan masuk atau keluar
result_out_in_ln = result_ln_diff.withColumn(
    "movement",
    when(col("dt_pos_utc_nonaoi") < col("dt_pos_utc_aoi"), "Masuk").otherwise("Keluar")
)

### Masuk

In [30]:
# Masuk
result_in_ln = result_out_in_ln.filter(col("movement") == "Masuk")

In [46]:
result_in_ln.count()

250337

In [31]:
# Kapal Indonesia
result_in_ln_indo = result_in_ln.filter(col("sc_vessel") == "Indonesia")

In [49]:
result_in_ln_indo.count()

1029

### Keluar

In [32]:
# Keluar
result_out_ln = result_out_in_ln.filter(col("movement") == "Keluar")

In [52]:
result_out_ln.count()

236257

In [33]:
# Kapal Indonesia
result_out_ln_indo = result_out_ln.filter(col("sc_vessel") == "Indonesia")

In [55]:
result_out_ln_indo.count()

962

## Menghitung Jumlah per Bulan

### Masuk

In [56]:
# Hitung jumlah kapal masuk
vessel_in_ln_indo_count_month = result_in_ln_indo.withColumn("months", F.date_format("dt_pos_utc_aoi", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_in"))

In [57]:
# Tampilkan hasil
vessel_in_ln_indo_count_month.show()

+---------+---------+
|   months|vessel_in|
+---------+---------+
|     July|       72|
| November|       74|
| February|       52|
|  January|       76|
|    March|       81|
|  October|      140|
|   August|      102|
|    April|       85|
|     June|       78|
| December|      101|
|September|      112|
|      May|       56|
+---------+---------+

In [58]:
# Hitung jumlah kapal masuk
vessel_in_ln_indo_count_port_country = result_in_ln_indo.select("Port_Country", "mmsi").groupBy("Port_Country").agg(F.count("mmsi").alias("vessel_in"))

In [68]:
# Tampilkan hasil
vessel_in_ln_indo_count_port_country.show(vessel_in_ln_indo_count_port_country.count(), truncate = False)

+-----------------------------------+---------+
|Port_Country                       |vessel_in|
+-----------------------------------+---------+
|Tawa_Malaysia                      |5        |
|Keppel - (East Singapore)_Singapore|99       |
|Tobata_Japan                       |2        |
|Pulau Sebarok_Singapore            |132      |
|Serangoon Harbor_Singapore         |96       |
|Johor_Malaysia                     |128      |
|Pulau Bukom_Singapore              |119      |
|Tanjung Pelepas_Malaysia           |78       |
|Melaka_Malaysia                    |14       |
|Jurong Island_Singapore            |164      |
|Pelabuhan Sungai Udang_Malaysia    |29       |
|Port Dickson_Malaysia              |20       |
|Nouakchott_Mauritania              |2        |
|Saint-Denis_Reunion                |1        |
|Port Klang_Malaysia                |18       |
|Muar_Malaysia                      |6        |
|Ceuta_Spain                        |2        |
|Schiedam_Netherlands               |2        |
|Bangkok_Thailand                   |1        |
|Shekou_China                       |4        |
|Map Ta Phut_Thailand               |1        |
|Nakskov_Denmark                    |1        |
|Al Jubayl_Saudi Arabia             |2        |
|Port Elizabeth_South Africa        |2        |
|Port Est_Reunion                   |2        |
|Shibushi Wan_Japan                 |2        |
|Masinloc_Philippines               |2        |
|Victoria_Malaysia                  |2        |
|Khawr Fakkan_United Arab Emirates  |2        |
|Galveston_United States            |2        |
|Europa Point_Gibraltar             |2        |
|Douala_Cameroon                    |4        |
|Phu My_Vietnam                     |2        |
|Calapan_Philippines                |2        |
|New Mangalore_India                |1        |
|Dai Hang_Vietnam                   |1        |
|Rufisque_Senegal                   |2        |
|Ju Aymah Lpg Terminal_Saudi Arabia |1        |
|Choshi_Japan                       |1        |
|Tokuyama_Japan                     |1        |
|Moji Ko_Japan                      |2        |
|Qui Nhon_Vietnam                   |3        |
|Takula Terminal_Angola             |2        |
|Pulau Pinang_Malaysia              |2        |
|Yokohama Ko_Japan                  |1        |
|Port Kembla_Australia              |1        |
|Yombo Terminal_Congo (Brazzaville) |1        |
|Gangavaram_India                   |2        |
|Sagunto_Spain                      |2        |
|Hansweert_Netherlands              |1        |
|Nasugbu_Philippines                |2        |
|Mombasa_Kenya                      |1        |
|Tin Can Island_Nigeria             |2        |
|Pelabuhan Bass_Malaysia            |2        |
|Thursday Island_Australia          |2        |
|Kemaman Harbor_Malaysia            |2        |
|Bandar Seri Begawan_Brunei         |1        |
|Pointe Noire_Congo (Brazzaville)   |2        |
|Kuantan New Port_Malaysia          |1        |
|Valencia_Spain                     |1        |
|Zhen Hai_China                     |1        |
|Kawasaki Ko_Japan                  |1        |
|Tan-Shui_Taiwan                    |2        |
|Niigata Ko_Japan                   |1        |
|Antan Oil Terminal_Nigeria         |1        |
|Bakapit_Malaysia                   |1        |
|Seria Oil Loading Terminal_Brunei  |2        |
|Sattahip_Thailand                  |1        |
|Erawan Terminal_Thailand           |2        |
|Yahata_Japan                       |4        |
|Subic Bay_Philippines              |1        |
|Quanzhou_China                     |1        |
|Kanda_Japan                        |1        |
|Kattupalli Port_India              |1        |
|Ryotu Ko_Japan                     |2        |
|Bukhta Gaydamak_Russia             |1        |
|Ras Laffan_Qatar                   |1        |
|Si Racha Terminal_Thailand         |2        |
|Port Louis_Mauritius               |2        |
|Lumut_Malaysia                     |1        |
|Tangier-Mediterranean_Morocco      |1        |
|Djeno Terminal_Congo (Brazzaville) |1        |
|Las Palmas_Spain                   |1        |
|Chittagong_Bangladesh              |2        |
|Arzew_Algeria                      |1        |
|Ko Si Chang Terminal_Thailand      |2        |
|Port Ouest_Reunion                 |1        |
|Kole Oil Terminal_Cameroon         |1        |
+-----------------------------------+---------+

In [34]:
# Hitung jumlah kapal masuk
vessel_in_ln_indo_count_vessel_type = result_in_ln_indo.select("vessel_type", "mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_in"))

In [35]:
# Tampilkan hasil
vessel_in_ln_indo_count_vessel_type.show()

+--------------+---------+
|   vessel_type|vessel_in|
+--------------+---------+
|        Tanker|      416|
|         Other|       89|
|     Passenger|       84|
|         Cargo|      407|
|      Dredging|       28|
|Pleasure Craft|        3|
|       Sailing|        2|
+--------------+---------+

### Keluar

In [62]:
# Hitung jumlah kapal keluar
vessel_out_ln_indo_count_month = result_out_ln_indo.withColumn("months", F.date_format("dt_pos_utc_nonaoi", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_out"))

In [63]:
# Tampilkan hasil
vessel_out_ln_indo_count_month.show()

+---------+----------+
|   months|vessel_out|
+---------+----------+
|     July|        75|
| November|        60|
|  January|        41|
|    March|        59|
|  October|       126|
|      May|        61|
|   August|        95|
|    April|        57|
|     June|        82|
| December|       138|
|September|        92|
| February|        76|
+---------+----------+

In [64]:
# Hitung jumlah kapal keluar
vessel_out_ln_indo_count_port_country = result_out_ln_indo.select("Port_Country", "mmsi").groupBy("Port_Country").agg(F.count("mmsi").alias("vessel_out"))

In [69]:
# Tampilkan hasil
vessel_out_ln_indo_count_port_country.show(vessel_in_ln_indo_count_port_country.count(), truncate = False)

+-----------------------------------+----------+
|Port_Country                       |vessel_out|
+-----------------------------------+----------+
|Port Dickson_Malaysia              |17        |
|Keppel - (East Singapore)_Singapore|85        |
|Pulau Sebarok_Singapore            |129       |
|Serangoon Harbor_Singapore         |107       |
|Johor_Malaysia                     |88        |
|Pulau Bukom_Singapore              |130       |
|Tanjung Pelepas_Malaysia           |91        |
|Melaka_Malaysia                    |17        |
|Jurong Island_Singapore            |123       |
|Pelabuhan Sungai Udang_Malaysia    |20        |
|Mombasa_Kenya                      |1         |
|Vung Tau_Vietnam                   |6         |
|Si Racha_Thailand                  |6         |
|Basilian City (Isabela)_Philippines|1         |
|Lumut_Brunei                       |2         |
|Pelabuhan Bass_Malaysia            |2         |
|Nasugbu_Philippines                |4         |
|Antan Oil Terminal_Nigeria         |1         |
|Muturezima Ko_Japan                |2         |
|Hoek Van Holland_Netherlands       |2         |
|Europoort_Netherlands              |2         |
|Bakapit_Malaysia                   |1         |
|Ko Si Chang Terminal_Thailand      |6         |
|Tawa_Malaysia                      |1         |
|Freetown_Sierra Leone              |2         |
|Muara Harbor_Brunei                |6         |
|Victoria_Malaysia                  |2         |
|Kamsar_Guinea                      |2         |
|Muar_Malaysia                      |5         |
|Mui Vung Tau_Vietnam               |7         |
|Djeno Terminal_Congo (Brazzaville) |1         |
|Lumut_Malaysia                     |6         |
|Dili_Timor-Leste                   |6         |
|Pulau Pinang_Malaysia              |1         |
|Saint-Denis_Reunion                |1         |
|Savusavu Bay_Fiji                  |2         |
|Bangkok_Thailand                   |1         |
|Las Palmas_Spain                   |1         |
|Mariveles_Philippines              |4         |
|Ras  Tannurah_Saudi Arabia         |2         |
|Lutong_Malaysia                    |2         |
|Arzew_Algeria                      |1         |
|Songkhla Harbor_Thailand           |2         |
|North Ain Sukhna Port_Egypt        |2         |
|Map Ta Phut_Thailand               |1         |
|Bukhta Gaydamak_Russia             |1         |
|Ras Laffan_Qatar                   |1         |
|Dumaguete_Philippines              |2         |
|Port Kembla_Australia              |1         |
|Yombo Terminal_Congo (Brazzaville) |1         |
|Hansweert_Netherlands              |1         |
|Kawasaki Ko_Japan                  |1         |
|Mandvi_India                       |2         |
|Hong Kong_Hong Kong                |2         |
|Kanda_Japan                        |1         |
|Kattupalli Port_India              |1         |
|Valencia_Spain                     |1         |
|Phu My_Vietnam                     |4         |
|Europa Point_Gibraltar             |2         |
|Shekou_China                       |2         |
|Sattahip_Thailand                  |1         |
|Tateyama Ko_Japan                  |2         |
|Izuhara_Japan                      |2         |
|Bandar Seri Begawan_Brunei         |3         |
|Subic Bay_Philippines              |1         |
|Zhoushan_China                     |2         |
|Qui Nhon_Vietnam                   |1         |
|Port Klang_Malaysia                |4         |
|Mostaganem_Algeria                 |2         |
|Port Ouest_Reunion                 |1         |
|Kole Oil Terminal_Cameroon         |1         |
|Choshi_Japan                       |1         |
|Tokuyama_Japan                     |1         |
|Scheveningen_Netherlands           |2         |
|Kuala Trengganu_Malaysia           |2         |
|Calapan_Philippines                |1         |
|Kuantan New Port_Malaysia          |1         |
|Ceuta_Spain                        |1         |
|Yahata_Japan                       |2         |
|Niigata Ko_Japan                   |1         |
|Gwangyang Hang_South Korea         |2         |
|Vada_Italy                         |2         |
|New Mangalore_India                |1         |
|Zamboanga_Philippines              |1         |
+-----------------------------------+----------+

In [66]:
# Hitung jumlah kapal keluar
vessel_out_ln_indo_count_vess_type = result_out_ln_indo.select("vessel_type", "mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_out"))

In [67]:
# Tampilkan hasil
vessel_out_ln_indo_count_vess_type.show()

+--------------+----------+
|   vessel_type|vessel_out|
+--------------+----------+
|        Tanker|       393|
|         Other|       102|
|     Passenger|        65|
|         Cargo|       360|
|Pleasure Craft|         3|
|      Dredging|        34|
|       Sailing|         5|
+--------------+----------+

In [ ]:
spark.stop()