# Initialialize

In [1]:
from sedona.register import SedonaRegistrator
SedonaRegistrator.registerAll(spark)

True

In [2]:
import subprocess
import sys

In [3]:
GITLAB_USER = "read aistt"
GITLAB_TOKEN = "J1KkstArfyXB6dZvFchN"
git_package = f"git+https://(GITLAB_USER):(GITLAB_TOKEN)@code.officialstatistics.org/trade-task-team-phase-1/ais.git"
std_out = subprocess.run([sys.executable, "-m", "pip", "install", git_package], capture_output=True, text=True) .stdout
print(std_out)

Collecting git+https://%28GITLAB_USER%29:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git
  Cloning https://%28GITLAB_USER%29:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git to /tmp/pip-req-build-36q7fr7n

In [4]:
GITLAB_USER = 'ml_group_read_only'
GITLAB_TOKEN = 'eac7ZwiseRdeLwmBsrsm'

# Main: for using from current issued version
git_package = f"git+https://{GITLAB_USER}:{GITLAB_TOKEN}@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git"

std_out = subprocess.run([sys.executable, "-m", "pip", "install",git_package], capture_output=True, text=True).stdout
print(std_out)

Collecting git+https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git
  Cloning https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git to /tmp/pip-req-build-jzm0dxmt
  Resolved https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git to commit 89f1aab64fee28c2f86e86d6fa7b55118882b1e8
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: unece-ais
  Building wheel for unece-ais (setup.py): started
  Building wheel for unece-ais (setup.py): finished with status 'done'
  Created wheel for unece-ais: filename=unece_ais-0.0.4-py3-none-any.whl size=12493 sha256=f0c777b3554a2aada86db237e54ad075e5cb7c02051d3e1052868963e123061e
  Stored in directory: /tmp/pip-ephem-wheel-cache-e8cn8zu1/wheels/61/b5/f9/bcf024b104169c32950c03a4605d2d07ea9da07cae7bed5e3e
Successfully built unece-ais
Installing collected packages: unece-ais
Successfully installed unece-ais-0.0.4

In [5]:
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, date_format, count, countDistinct, when, expr
from pyspark.sql.functions import year, month, dayofmonth, hour, minute, second
from pyspark.sql.functions import monotonically_increasing_id, lead, lag, abs, row_number
from pyspark.sql.functions import concat_ws, split
from pyspark.sql.types import IntegerType, StringType
from pyspark.sql.window import Window

from shapely.geometry import Point, Polygon, mapping
from IPython.display import HTML
from ais import functions as af
from unece_ais import unece_ais as un
from multiprocessing import Pool

In [6]:
import h3.api.numpy_int as h3int
import geopandas as gpd
import pandas as pd
import numpy as np
import calendar
import base64
import folium
import tqdm
import h3

In [7]:
pd.set_option('display.max_columns', None) #Show all columns in pandas df
pd.set_option('display.max_rows', 100) #Show 100 rows in pandas df
pd.options.display.float_format = '{:.10f}'.format #Show float with 10 decimal points in pandas df

from IPython.core.interactiveshell import InteractiveShell #allow multiple outputs in one jupyter cell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
# Path
base_path = "s3a://ungp-ais-data-historical-backup/user_temp/"
path_unique = base_path + "222011349/"

# Data

## Port-AOI Indonesia

In [9]:
# Read Data
port_aoi = spark.read.parquet(path_unique + "ports_indonesia.parquet", header=True)

In [10]:
#explode data port
port_aoi_exploded = port_aoi.select("Port", F.explode("boundary_h3_8").alias("boundary_h3_8"))

## Port-NonAOI Indonesia

In [11]:
# Read Data
port_nonaoi = spark.read.parquet(path_unique + "non_aoi_ports_indonesia.parquet", header=True)

In [12]:
#explode data port
port_nonaoi_exploded = port_nonaoi.select("Port", F.explode("outer_boundary_h3").alias("outer_boundary_h3"))

## Data AIS

In [13]:
# Read Data
data_ais = spark.read.parquet(path_unique + "data-ais-1persen-filter-dunia-2022.parquet", header=True)

In [14]:
# Select beberapa kolom df_data dg tipe kapal kargo & fishing
data_ais = data_ais.select("mmsi", "imo", "nav_status", "vessel_type", "flag_country", "status_country", "latitude", "longitude", "dt_pos_utc", "sog", "H3_int_index_8")

# Masuk-Keluar Indonesia

## Match Port-AOI & Vessel

In [15]:
#Cek kecocokan H3 kapal dg port

# Join DataFrame kapal with the exploded DataFrame port
match_port_aoi = data_ais.join(port_aoi_exploded, data_ais['H3_int_index_8'] == port_aoi_exploded['boundary_h3_8'], "inner")

# Selecting relevant columns and filtering out null values
match_port_aoi_select = match_port_aoi.select(col("mmsi").alias('mmsi_aoi'), col("dt_pos_utc").alias('dt_pos_utc_aoi'), col("Port").alias('Port_aoi'), col("flag_country").alias('flag_country_vessel_aoi'), col("status_country").alias('status_country_vessel_aoi'), col("vessel_type").alias('vessel_type_aoi'), col("H3_int_index_8").alias('H3_int_index_8_aoi'), "boundary_h3_8").filter(match_port_aoi["boundary_h3_8"].isNotNull())

In [16]:
match_port_aoi_select = match_port_aoi_select.withColumn('mmsi_port_aoi', concat_ws('_', 'mmsi_aoi', 'Port_aoi'))

In [17]:
match_port_aoi_select = match_port_aoi_select.orderBy("mmsi_aoi", "dt_pos_utc_aoi")

## Match Port-NonAOI & Vessel

In [18]:
#Cek kecocokan H3 kapal dg port

# Join DataFrame kapal with the exploded DataFrame port
match_port_nonaoi = data_ais.join(port_nonaoi_exploded, data_ais['H3_int_index_8'] == port_nonaoi_exploded['outer_boundary_h3'], "inner")

# Selecting relevant columns and filtering out null values
match_port_nonaoi_select = match_port_nonaoi.select(col("mmsi").alias('mmsi_nonaoi'), col("dt_pos_utc").alias('dt_pos_utc_nonaoi'), col("Port").alias('Port_nonaoi'), col("flag_country").alias('flag_country_vessel_nonaoi'), col("status_country").alias('status_country_vessel_nonaoi'), col("vessel_type").alias('vessel_type_nonaoi'), col("H3_int_index_8").alias('H3_int_index_8_nonaoi'), "outer_boundary_h3").filter(match_port_nonaoi["outer_boundary_h3"].isNotNull())

In [19]:
match_port_nonaoi_select = match_port_nonaoi_select.withColumn('mmsi_port_nonaoi', concat_ws('_', 'mmsi_nonaoi', 'Port_nonaoi'))

In [20]:
match_port_nonaoi_select = match_port_nonaoi_select.orderBy("mmsi_nonaoi", "dt_pos_utc_nonaoi")

## Join All Dataframe

In [21]:
#Cek kecocokan aoi dg non-aoi

# Join DataFrame aoi dg non-aoi
result_df = match_port_aoi_select.join(match_port_nonaoi_select, (match_port_aoi_select['mmsi_port_aoi'] == match_port_nonaoi_select['mmsi_port_nonaoi']), "inner")

# Selecting relevant columns and filtering out null values
result_df = result_df.select("mmsi_port_aoi", "mmsi_port_nonaoi", "flag_country_vessel_aoi", "flag_country_vessel_nonaoi", "status_country_vessel_aoi", "status_country_vessel_nonaoi", "vessel_type_aoi", "vessel_type_nonaoi", "dt_pos_utc_aoi", "dt_pos_utc_nonaoi").where((col("mmsi_port_aoi").isNotNull()) & (col("mmsi_port_nonaoi").isNotNull()))

In [22]:
# Memisahkan kolom 'mmsi_port_aoi' menjadi 'mmsi_aoi' dan 'Port_aoi'
result_df = result_df.withColumn('mmsi_aoi', split('mmsi_port_aoi', '_')[0])
result_df = result_df.withColumn('Port_aoi', split('mmsi_port_aoi', '_')[1])
result_df = result_df.withColumn('mmsi_nonaoi', split('mmsi_port_nonaoi', '_')[0])
result_df = result_df.withColumn('Port_nonaoi', split('mmsi_port_nonaoi', '_')[1])

In [23]:
# Selecting relevant columns
result_df = result_df.select(col("mmsi_aoi").alias('mmsi'), col("Port_aoi").alias('Port'), col("flag_country_vessel_aoi").alias('flag_country_vessel'), col("status_country_vessel_aoi").alias('status_country_vessel'), col("vessel_type_aoi").alias('vessel_type'), "dt_pos_utc_aoi", "dt_pos_utc_nonaoi")

In [24]:
# Urutan salah satu waktu descending (PENTING)
result_df = result_df.orderBy("mmsi", "Port", "dt_pos_utc_nonaoi", col("dt_pos_utc_aoi").desc())

In [25]:
# Menentukan apakah dt_pos_utc_aoi unik

result_df_check_unique = result_df.withColumn(
    "unique_check_aoi",
    expr("(count(*) over (partition by mmsi, Port, dt_pos_utc_aoi) = 1)")
)

In [26]:
# Menentukan apakah dt_pos_utc_nonaoi unik

result_df_check_unique = result_df_check_unique.withColumn(
    "unique_check_nonaoi",
    expr("(count(*) over (partition by mmsi, Port, dt_pos_utc_nonaoi) = 1)")
)

In [27]:
# Urutan salah satu waktu descending (PENTING)
result_df_check_unique = result_df_check_unique.orderBy("mmsi", "Port", "dt_pos_utc_nonaoi", col("dt_pos_utc_aoi").desc())

In [28]:
result_df_check_unique.count()

5358737

## Menghitung Selisih Terkecil Waktu Masuk-Keluar

In [29]:
# Membuat window specification
windowSpec = Window().partitionBy("mmsi", "Port").orderBy("dt_pos_utc_nonaoi")

# Menambahkan kolom selisih waktu
result_diff = result_df_check_unique.withColumn(
    "diff_nonaoi_aoi",
    expr("abs(unix_timestamp(dt_pos_utc_nonaoi) - unix_timestamp(dt_pos_utc_aoi))")
)

# Menambahkan kolom untuk menentukan urutan selisih waktu dalam setiap kelompok
result_diff = result_diff.withColumn("rank_diff", row_number().over(windowSpec.orderBy("diff_nonaoi_aoi")))

In [30]:
# Memilih dua baris dengan rank_diff terkecil jika kondisi unik tidak benar, memilih semua baris jika kondisi unik benar
windowSpec = Window().partitionBy("mmsi", "Port").orderBy("rank_diff")

result_diff = result_diff.filter(
    ((col("unique_check_aoi") == False) | (col("unique_check_nonaoi") == False)) |
    ((col("unique_check_aoi") == True) & (col("unique_check_nonaoi") == True))
).withColumn("row_number", F.row_number().over(windowSpec)).filter("row_number <= 2").drop("row_number")

In [31]:
# Menampilkan hasil
result_diff = result_diff.orderBy("mmsi", "Port", "dt_pos_utc_aoi")

In [32]:
# drop kolom yg tidak diperlukan
result_diff = result_diff.select("mmsi", "Port", col("flag_country_vessel").alias('fc_vessel'), col("status_country_vessel").alias('sc_vessel'), "vessel_type", "dt_pos_utc_aoi", "dt_pos_utc_nonaoi", col("diff_nonaoi_aoi").alias('diff_time'))

In [33]:
result_diff.count()

18902

## Menentukan Masuk atau Keluar

In [34]:
# Menambahkan kolom untuk menunjukkan masuk atau keluar
result_out_in = result_diff.withColumn(
    "movement",
    when(col("dt_pos_utc_nonaoi") < col("dt_pos_utc_aoi"), "Masuk").otherwise("Keluar")
)

### Save Data

In [35]:
# Save Data
result_out_in.write.option("header", True).mode("overwrite").parquet(path_unique + "data-ais-1persen-masuk-keluar-indonesia-2022.parquet")

### Masuk

In [36]:
# Masuk
result_in = result_out_in.filter(col("movement") == "Masuk")

In [37]:
result_in.count()

9216

In [38]:
# Kapal Asing
result_in_asing = result_in.filter(col("status_country_vessel") == "Asing")

In [39]:
result_in_asing.count()

7286

### Keluar

In [40]:
# Keluar
result_out = result_out_in.filter(col("movement") == "Keluar")

In [41]:
result_out.count()

9686

In [42]:
# Kapal Asing
result_out_asing = result_out.filter(col("status_country_vessel") == "Asing")

In [43]:
result_out_asing.count()

7746

## Menghitung Jumlah

### Masuk

In [44]:
# Hitung jumlah kapal masuk
vessel_in_count_month = result_in.withColumn("months", F.date_format("dt_pos_utc_aoi", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_in"))

In [45]:
# Tampilkan hasil
vessel_in_count_month.show()

+---------+---------+
|   months|vessel_in|
+---------+---------+
|     July|      808|
| November|      668|
| February|      610|
|  January|      519|
|    March|      654|
|  October|      990|
|      May|      659|
|   August|      868|
|    April|      720|
|     June|      711|
| December|     1067|
|September|      942|
+---------+---------+

In [46]:
# Hitung jumlah kapal masuk
vessel_in_count_country = result_in.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_in"))

In [47]:
# Tampilkan hasil
vessel_in_count_country.show(vessel_in_count_country.count(), truncate = False)

+---------------------+---------+
|fc_vessel            |vessel_in|
+---------------------+---------+
|Philippines          |40       |
|Djibouti             |2        |
|Malaysia             |334      |
|Singapore            |1321     |
|Turkey               |7        |
|Germany              |13       |
|Taiwan               |23       |
|Sierra Leone         |18       |
|Bahamas              |112      |
|China                |220      |
|India                |29       |
|Malta                |175      |
|Marshall Islands     |820      |
|Tuvalu               |26       |
|Cayman Islands       |59       |
|Italy                |28       |
|Norway               |71       |
|Denmark              |80       |
|Thailand             |99       |
|Panama               |1290     |
|Hong Kong            |582      |
|South Korea          |197      |
|Cyprus               |78       |
|Montenegro           |1        |
|Indonesia            |1930     |
|Mongolia             |16       |
|Liberia              |956      |
|UK                   |62       |
|Saudi Arabia         |18       |
|Japan                |43       |
|Luxembourg           |19       |
|Madeira              |70       |
|Vietnam              |116      |
|Kiribati             |2        |
|France               |12       |
|Greece               |59       |
|Sri Lanka            |2        |
|Dominica             |1        |
|Kuwait               |8        |
|Gabon                |16       |
|Netherlands Antilles |2        |
|Spain                |3        |
|Barbados             |1        |
|Bangladesh           |12       |
|Saint Kitts and Nevis|2        |
|Ethiopia             |1        |
|Brunei               |6        |
|Azores               |23       |
|Cook Islands         |19       |
|Belize               |11       |
|Antigua and Barbuda  |51       |
|Cameroon             |2        |
|Bermuda              |18       |
|Niue                 |9        |
|Netherlands          |31       |
|Russian Federation   |5        |
|Australia            |5        |
|Vanuatu              |10       |
|Palau                |7        |
|USA                  |5        |
|Brazil               |11       |
|Tanzania             |1        |
|Bahrain              |2        |
|Northern Mariana     |1        |
|Iran                 |3        |
|Pakistan             |1        |
|Belgium              |7        |
|Sweden               |6        |
|Qatar                |1        |
|Equatorial Guinea    |1        |
|Libya                |2        |
|United Arab Emirates |1        |
|Gibraltar            |1        |
+---------------------+---------+

In [48]:
# Hitung jumlah kapal masuk
vessel_in_count_vess_type = result_in.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_in"))

In [49]:
# Tampilkan hasil
vessel_in_count_vess_type.show()

+--------------+---------+
|   vessel_type|vessel_in|
+--------------+---------+
|       Sailing|       32|
|        Tanker|     4718|
|         Other|      251|
|Pleasure Craft|       32|
|     Passenger|      517|
|      Dredging|       35|
|         Cargo|     3618|
|   Port Tender|        3|
|       Fishing|       10|
+--------------+---------+

### Keluar

In [50]:
# Hitung jumlah kapal keluar
vessel_out_count_month = result_out.withColumn("months", F.date_format("dt_pos_utc_nonaoi", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_out"))

In [51]:
# Tampilkan hasil
vessel_out_count_month.show()

+---------+----------+
|   months|vessel_out|
+---------+----------+
|     July|       826|
| November|       739|
| February|       621|
|  January|       570|
|    March|       717|
|  October|       968|
|      May|       707|
|   August|       917|
|    April|       731|
|     June|       788|
| December|      1184|
|September|       918|
+---------+----------+

In [52]:
# Hitung jumlah kapal keluar
vessel_out_count_country = result_out.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_out"))

In [53]:
# Tampilkan hasil
vessel_out_count_country.show(vessel_out_count_country.count(), truncate = False)

+---------------------+----------+
|fc_vessel            |vessel_out|
+---------------------+----------+
|Philippines          |41        |
|Malaysia             |374       |
|Singapore            |1419      |
|Turkey               |10        |
|France               |15        |
|Greece               |99        |
|Togo                 |3         |
|Sierra Leone         |16        |
|Bahamas              |161       |
|China                |215       |
|India                |23        |
|Malta                |232       |
|Kuwait               |8         |
|Marshall Islands     |888       |
|Tuvalu               |27        |
|Cayman Islands       |51        |
|Italy                |28        |
|Norway               |95        |
|Denmark              |89        |
|Iran                 |12        |
|Thailand             |90        |
|Panama               |1313      |
|Hong Kong            |580       |
|Saint Kitts and Nevis|6         |
|South Korea          |214       |
|Cyprus               |70        |
|Indonesia            |1940      |
|Mongolia             |26        |
|Liberia              |954       |
|UK                   |73        |
|Saudi Arabia         |20        |
|Ethiopia             |9         |
|Brunei               |2         |
|Azores               |22        |
|Cook Islands         |29        |
|Belize               |6         |
|Antigua and Barbuda  |43        |
|Japan                |33        |
|Luxembourg           |8         |
|Australia            |5         |
|Bermuda              |36        |
|Madeira              |56        |
|Vietnam              |154       |
|Kiribati             |1         |
|Palau                |10        |
|Dominica             |3         |
|Taiwan               |16        |
|Belgium              |12        |
|Netherlands Antilles |7         |
|Spain                |3         |
|Barbados             |4         |
|Bangladesh           |25        |
|Russian Federation   |7         |
|Vanuatu              |7         |
|Netherlands          |36        |
|Germany              |15        |
|Gabon                |8         |
|Gibraltar            |4         |
|Honduras             |1         |
|United Arab Emirates |3         |
|Brazil               |11        |
|Niue                 |5         |
|Djibouti             |2         |
|Pakistan             |1         |
|Qatar                |1         |
|Sri Lanka            |2         |
|Cameroon             |5         |
|USA                  |1         |
|Montenegro           |1         |
+---------------------+----------+

In [54]:
# Hitung jumlah kapal keluar
vessel_out_count_vess_type = result_out.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_out"))

In [55]:
# Tampilkan hasil
vessel_out_count_vess_type.show()

+--------------+----------+
|   vessel_type|vessel_out|
+--------------+----------+
|       Sailing|        17|
|        Tanker|      5468|
|         Other|       273|
|Pleasure Craft|        19|
|     Passenger|       460|
|      Dredging|        37|
|         Cargo|      3397|
|   Port Tender|         5|
|       Fishing|        10|
+--------------+----------+

In [56]:
spark.stop()