# Initialialize

In [1]:
from sedona.register import SedonaRegistrator
SedonaRegistrator.registerAll(spark)

True

In [2]:
import subprocess
import sys

In [3]:
GITLAB_USER = "read aistt"
GITLAB_TOKEN = "J1KkstArfyXB6dZvFchN"
git_package = f"git+https://(GITLAB_USER):(GITLAB_TOKEN)@code.officialstatistics.org/trade-task-team-phase-1/ais.git"
std_out = subprocess.run([sys.executable, "-m", "pip", "install", git_package], capture_output=True, text=True) .stdout
print(std_out)

Collecting git+https://%28GITLAB_USER%29:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git
  Cloning https://%28GITLAB_USER%29:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git to /tmp/pip-req-build-kpgwaqqk

In [4]:
GITLAB_USER = 'ml_group_read_only'
GITLAB_TOKEN = 'eac7ZwiseRdeLwmBsrsm'

# Main: for using from current issued version
git_package = f"git+https://{GITLAB_USER}:{GITLAB_TOKEN}@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git"

std_out = subprocess.run([sys.executable, "-m", "pip", "install",git_package], capture_output=True, text=True).stdout
print(std_out)

Collecting git+https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git
  Cloning https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git to /tmp/pip-req-build-4hpilkkr
  Resolved https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git to commit 89f1aab64fee28c2f86e86d6fa7b55118882b1e8
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: unece-ais
  Building wheel for unece-ais (setup.py): started
  Building wheel for unece-ais (setup.py): finished with status 'done'
  Created wheel for unece-ais: filename=unece_ais-0.0.4-py3-none-any.whl size=12493 sha256=44e340663350686ef33c533680cbc1245a9efeb10e5c06e4dd618279bff1775b
  Stored in directory: /tmp/pip-ephem-wheel-cache-swm6va8y/wheels/61/b5/f9/bcf024b104169c32950c03a4605d2d07ea9da07cae7bed5e3e
Successfully built unece-ais
Installing collected packages: unece-ais
Successfully installed unece-ais-0.0.4

In [5]:
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, date_format, count, countDistinct, when, expr, unix_timestamp
from pyspark.sql.functions import year, month, dayofmonth, hour, minute, second
from pyspark.sql.functions import monotonically_increasing_id, lead, lag, abs, row_number
from pyspark.sql.functions import concat_ws, split, lit, min, max
from pyspark.sql.types import IntegerType, StringType, StructType
from pyspark.sql.window import Window

from shapely.geometry import Point, Polygon, mapping
from IPython.display import HTML
from ais import functions as af
# from unece_ais import unece_ais as un
from multiprocessing import Pool

In [6]:
import h3.api.numpy_int as h3int
import matplotlib.pyplot as plt
import geopandas as gpd
import seaborn as sns
import pandas as pd
import numpy as np
import calendar
import base64
import folium
import tqdm
import h3

generated new fontManager

In [7]:
pd.set_option('display.max_columns', None) #Show all columns in pandas df
pd.set_option('display.max_rows', 100) #Show 100 rows in pandas df
pd.options.display.float_format = '{:.10f}'.format #Show float with 10 decimal points in pandas df

from IPython.core.interactiveshell import InteractiveShell #allow multiple outputs in one jupyter cell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
# Path
base_path = "s3a://ungp-ais-data-historical-backup/user_temp/"
path_unique = base_path + "222011349/"

# Data

## Port-AOI Merak

In [11]:
# Read Data
port_aoi = spark.read.parquet(path_unique + "port_merak.parquet", header=True)

In [12]:
#explode data port
port_aoi_exploded = port_aoi.select("Port", F.explode("boundary_h3").alias("boundary_h3"))

## Data AIS

In [13]:
# Read Data
data_ais = spark.read.parquet(path_unique + "data-ais-filter-dunia-2024.parquet", header=True)

In [14]:
# Select beberapa kolom df_data dg tipe kapal kargo & fishing
data_ais = data_ais.select("mmsi", "imo", "nav_status", "vessel_type", "flag_country", "status_country", "draught", "latitude", "longitude", "dt_pos_utc", "sog", "H3_int_index_8")

In [15]:
data_ais.count()

38509393

# Masuk-Keluar Indonesia

## Match Port-AOI & Vessel

In [18]:
#Cek kecocokan H3 kapal dg port

# Gabungkan dua DataFrame berdasarkan kondisi
joined_data = data_ais.join(port_aoi_exploded, 
                             data_ais['H3_int_index_8'] == port_aoi_exploded['boundary_h3'], 
                             how='left')

# Tentukan nilai kolom 'position' berdasarkan hasil join
match_port_aoi = joined_data.withColumn("position", 
                                  when(col("boundary_h3").isNull(), "out port")
                                  .otherwise("in port"))

# Selecting relevant columns and filtering out null values
match_port_aoi_select = match_port_aoi.select("mmsi", "Port", "dt_pos_utc", col("flag_country").alias('fc_vessel'), col("status_country").alias('sc_vessel'), "vessel_type", col("nav_status").alias('ns_vessel'), "position")

In [19]:
match_port_aoi_select = match_port_aoi_select.orderBy("mmsi", "dt_pos_utc")

In [20]:
match_port_aoi_select.count()

38509393

In [21]:
# Drop Duplicate jika ada
match_port_aoi_select = match_port_aoi_select.dropDuplicates()

In [22]:
match_port_aoi_select.count()

38498401

## Arus Masuk-Keluar

### Labeli in port

In [23]:
# Membuat kolom-kolom baru dengan nilai awal '-'
match_port_aoi_select = match_port_aoi_select.withColumn("masuk_pelabuhan", lit("-")) \
                   .withColumn("keluar_pelabuhan", lit("-")) \
                   .withColumn("masuk_indo", lit("-")) \
                   .withColumn("keluar_indo", lit("-"))

In [24]:
# Mendapatkan baris-baris dengan urutan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc")

# Tambahkan kolom prev_position
match_port_aoi_select = match_port_aoi_select.withColumn("prev_position", F.lag("position", 1).over(window_spec))

# Tambahkan kolom next_position
match_port_aoi_select = match_port_aoi_select.withColumn("next_position", F.lead("position", 1).over(window_spec))

In [25]:
# Mendapatkan baris-baris dengan urutan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

match_port_aoi_select_in = match_port_aoi_select.filter(col("position") == "in port")

# Menambahkan kolom baru untuk menandai baris pertama dengan nilai "in port" dari semua baris "in port" untuk suatu MMSI
match_port_aoi_select_in = match_port_aoi_select_in.withColumn("first_in_port_all", 
                                (lag("position", 1).over(window_spec).isNull()) & (col("position") == "in port"))

# Menambahkan kolom baru untuk mendeteksi baris terakhir dengan nilai "in port" dari semua baris "in port" untuk suatu MMSI
match_port_aoi_select_in = match_port_aoi_select_in.withColumn("last_in_port_all", 
                                (lead("position", 1).over(window_spec).isNull()) & (col("position") == "in port"))

In [26]:
# Gabungkan kembali dengan DataFrame asli
joined_data_port = match_port_aoi_select.join(match_port_aoi_select_in, 
                             ["mmsi", "Port", "dt_pos_utc", "fc_vessel", "sc_vessel", "vessel_type", "ns_vessel", "position", "masuk_pelabuhan", "keluar_pelabuhan", "masuk_indo", "keluar_indo", "prev_position", "next_position"], 
                             how='left')

# Select kolom yang relevan dan isi nilai NULL dengan False
match_port = joined_data_port.fillna(False, subset=["first_in_port_all", "last_in_port_all"]) \
                                       .select("mmsi", "Port", "dt_pos_utc", "fc_vessel", "sc_vessel", "vessel_type", "ns_vessel", "position", "masuk_pelabuhan", "keluar_pelabuhan", "masuk_indo", "keluar_indo", "prev_position", "next_position", "first_in_port_all", "last_in_port_all")

In [27]:
match_port = match_port.orderBy("mmsi", "dt_pos_utc")

In [28]:
# Mendefinisikan kondisi untuk setiap baris
condition1 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "False")) & (match_port["prev_position"].isNull() & match_port["next_position"].isNotNull()))
condition2 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & (match_port["next_position"].isNotNull())))
condition3 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "in port") | (match_port["prev_position"] == "out port"))) 
condition4 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "True")) & (match_port["next_position"].isNull()))
condition5 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "True")) & (match_port["next_position"] == "out port"))
condition6 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "True")) & ((match_port["prev_position"].isNull() & match_port["next_position"].isNull())))
condition7 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "True")) & ((match_port["prev_position"] == "out port")))
condition8 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "True")) & ((match_port["next_position"] == "out port")))

# Mengisi kolom-kolom yang sesuai berdasarkan kondisi
port_traffic = match_port.withColumn("masuk_pelabuhan", when((condition2 | condition3 | condition4 | condition5 | condition7), "masuk").otherwise("-")) \
                   .withColumn("keluar_pelabuhan", when((condition1 | condition2 | condition3 | condition5 | condition8), "keluar").otherwise("-")) \
                   .withColumn("masuk_indo", when((condition2 | condition7), "masuk").otherwise("-")) \
                   .withColumn("keluar_indo", when((condition5 | condition8), "keluar").otherwise("-"))

In [29]:
# Daftar kolom yang ingin dijatuhkan
kolom_drop = ["prev_position", "next_position", "first_in_port_all", "last_in_port_all"]
# kolom_drop = ["prev_position", "next_position"]

# Menjatuhkan kolom yang tidak diperlukan dari DataFrame
port_traffic1 = port_traffic.drop(*kolom_drop)

In [30]:
port_traffic1 = port_traffic1.orderBy("mmsi", "dt_pos_utc")

### Filter Out Port

In [31]:
# Langkah 1: Buang MMSI yang hanya memiliki nilai "out port" (tanpa "in port")
# Filter MMSI yang memiliki setidaknya satu nilai "in port"
mmsi_with_in_port = port_traffic1.filter(port_traffic1.position == "in port").select("mmsi").distinct()
# Buang MMSI yang hanya memiliki nilai "out port" (tanpa "in port"), tetapi pertahankan nilai "out port" jika ada setidaknya satu nilai "in port"
mmsi_with_out_port_only = port_traffic1.filter(port_traffic1.position == "out port").select("mmsi").distinct()
mmsi_to_keep = mmsi_with_in_port.union(mmsi_with_out_port_only).distinct()
filtered_data = port_traffic1.join(mmsi_to_keep, "mmsi", "inner")

In [32]:
filtered_data = filtered_data.orderBy("mmsi", "dt_pos_utc")

In [33]:
filtered_data.count()

38498401

In [34]:
# Langkah 2: Identifikasi waktu "in port" pertama dan terakhir untuk setiap MMSI
# Membuat window specification untuk mengelompokkan data berdasarkan MMSI dan mengurutkannya berdasarkan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc")

# Menetapkan flag untuk record "in port" pertama dan terakhir
filtered_data2 = filtered_data.withColumn("first_in_port", F.min(F.when(F.col("position") == "in port", F.col("dt_pos_utc"))).over(window_spec))
filtered_data2 = filtered_data2.withColumn("last_in_port", F.max(F.when(F.col("position") == "in port", F.col("dt_pos_utc"))).over(window_spec))

# Menetapkan flag untuk record "out port" yang berada sebelum dan sesudah "in port" pertama dan terakhir, serta di antaranya
filtered_data2 = filtered_data2.withColumn("before_first_in_port", F.lag("position").over(window_spec) == "in port")
filtered_data2 = filtered_data2.withColumn("after_last_in_port", F.lead("position").over(window_spec) == "in port")
filtered_data2 = filtered_data2.withColumn("between_first_last_in_port", (F.col("dt_pos_utc") > F.col("first_in_port")) & (F.col("dt_pos_utc") < F.col("last_in_port")))

# Filter record "out port" yang memenuhi kriteria
filtered_data2 = filtered_data2.filter(
    (F.col("position") == "in port") |
    ((F.col("position") == "out port") & (F.col("before_first_in_port") | F.col("after_last_in_port") | F.col("between_first_last_in_port")))
)

In [35]:
# Daftar kolom yang ingin dijatuhkan
kolom_drop = ["first_in_port", "last_in_port", "before_first_in_port", "after_last_in_port", "between_first_last_in_port"]

# Menjatuhkan kolom yang tidak diperlukan dari DataFrame
filtered_data2 = filtered_data2.drop(*kolom_drop)

In [36]:
filtered_data2 = filtered_data2.orderBy("mmsi", "dt_pos_utc")

In [37]:
filtered_data2.count()

254731

In [38]:
# Langkah 3: Filter out port di antara in port

# Definisikan window specification untuk mempartisi data berdasarkan "in port" dan mengurutkannya berdasarkan waktu
window_spec = Window.orderBy("dt_pos_utc").rowsBetween(Window.unboundedPreceding, Window.currentRow)

# Menambahkan kolom baru untuk menghitung jumlah "out port" di antara dua "in port" berturut-turut
filtered_data_with_counts = filtered_data2.withColumn("out_port_count", F.count(F.when(F.col("position") == "out port", True)).over(window_spec))

# Mendapatkan nilai minimum, maksimum, dan median dari "out_port_count" di antara dua "in port"
min_out_port_count = F.min("out_port_count").over(window_spec)
max_out_port_count = F.max("out_port_count").over(window_spec)
median_out_port_count = F.expr("percentile_approx(out_port_count, 0.5)").over(window_spec)

# Menambahkan kolom baru untuk menandai apakah sebuah baris memenuhi kriteria
final_data = filtered_data_with_counts.withColumn(
    "meets_criteria",
    (
        (F.col("position") == "in port") |
        (
            (F.col("position") == "out port") & (
                (F.col("out_port_count") == min_out_port_count) |
                (F.col("out_port_count") == max_out_port_count) |
                (F.col("out_port_count") == median_out_port_count)
            )
        )
    )
)

# Filter record berdasarkan kolom yang menandai apakah sebuah baris memenuhi kriteria
final_data = final_data.where("meets_criteria")

# Hapus kolom tambahan yang tidak diperlukan lagi
final_data = final_data.drop("meets_criteria")

In [39]:
# Daftar kolom yang ingin dijatuhkan
kolom_drop = ["out_port_count", "meets_criteria"]

# Menjatuhkan kolom yang tidak diperlukan dari DataFrame
result_out_in = final_data.drop(*kolom_drop)

In [40]:
result_out_in = result_out_in.orderBy("mmsi", "dt_pos_utc")

In [41]:
result_out_in.count()

254731

### Save Data

In [42]:
# Save Data
result_out_in.write.option("header", True).mode("overwrite").parquet(path_unique + "data-ais-masuk-keluar-merak-2024-rev.parquet")

### Read Data

In [9]:
# Read Data
result_out_in = spark.read.parquet(path_unique + "data-ais-masuk-keluar-merak-2024-rev.parquet", header=True)

### Masuk Pelabuhan

In [10]:
# Masuk
result_in_port = result_out_in.filter(col("masuk_pelabuhan") == "masuk")

In [11]:
result_in_port.count()

240918

In [12]:
# Kapal Asing
result_in_port_asing = result_in_port.filter(col("sc_vessel") == "Asing")

In [13]:
result_in_port_asing.count()

3

### Keluar Pelabuhan

In [14]:
# Keluar
result_out_port = result_out_in.filter(col("keluar_pelabuhan") == "keluar")

In [15]:
result_out_port.count()

240918

In [16]:
# Kapal Asing
result_out_port_asing = result_out_port.filter(col("sc_vessel") == "Asing")

In [17]:
result_out_port_asing.count()

3

### Masuk Indonesia

In [18]:
# Masuk
result_in_indo = result_out_in.filter(col("masuk_indo") == "masuk")

In [19]:
result_in_indo.count()

22

In [20]:
# Kapal Asing
result_in_indo_asing = result_in_indo.filter(col("sc_vessel") == "Asing")

In [21]:
result_in_indo_asing.count()

0

### Keluar Indonesia

In [22]:
# Keluar
result_out_indo = result_out_in.filter(col("keluar_indo") == "keluar")

In [23]:
result_out_indo.count()

23

In [24]:
# Kapal Asing
result_out_indo_asing = result_out_indo.filter(col("sc_vessel") == "Asing")

In [25]:
result_out_indo.count()

23

## Menghitung Jumlah per Bulan

### Masuk Pelabuhan

In [26]:
# Hitung jumlah kapal masuk
vessel_in_count_month = result_in_port.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_in"))

In [27]:
# Tampilkan hasil
vessel_in_count_month.show()

+--------+---------+
|  months|vessel_in|
+--------+---------+
|February|    88369|
| January|   102544|
|   March|    43615|
|   April|     6390|
+--------+---------+

In [28]:
# Hitung jumlah kapal masuk
vessel_in_count_country = result_in_port.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_in"))

In [29]:
# Tampilkan hasil
vessel_in_count_country.show(vessel_in_count_country.count(), truncate = False)

+---------+---------+
|fc_vessel|vessel_in|
+---------+---------+
|Singapore|3        |
|Indonesia|240915   |
+---------+---------+

In [30]:
# Hitung jumlah kapal masuk
vessel_in_count_vess_type = result_in_port.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_in"))

In [31]:
# Tampilkan hasil
vessel_in_count_vess_type.show()

+-----------+---------+
|vessel_type|vessel_in|
+-----------+---------+
|  Passenger|   240918|
+-----------+---------+

### Keluar Pelabuhan

In [32]:
# Hitung jumlah kapal keluar
vessel_out_count_month = result_out_port.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_out"))

In [33]:
# Tampilkan hasil
vessel_out_count_month.show()

+--------+----------+
|  months|vessel_out|
+--------+----------+
|February|     88369|
| January|    102544|
|   March|     43615|
|   April|      6390|
+--------+----------+

In [34]:
# Hitung jumlah kapal keluar
vessel_out_count_country = result_out_port.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_out"))

In [35]:
# Tampilkan hasil
vessel_out_count_country.show(vessel_out_count_country.count(), truncate = False)

+---------+----------+
|fc_vessel|vessel_out|
+---------+----------+
|Singapore|3         |
|Indonesia|240915    |
+---------+----------+

In [36]:
# Hitung jumlah kapal keluar
vessel_out_count_vess_type = result_out_port.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_out"))

In [37]:
# Tampilkan hasil
vessel_out_count_vess_type.show()

+-----------+----------+
|vessel_type|vessel_out|
+-----------+----------+
|  Passenger|    240918|
+-----------+----------+

### Masuk Indonesia

In [38]:
# Hitung jumlah kapal masuk
vessel_in_count_month = result_in_indo.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_in"))

In [39]:
# Tampilkan hasil
vessel_in_count_month.show()

+--------+---------+
|  months|vessel_in|
+--------+---------+
|February|        2|
| January|       19|
|   March|        1|
+--------+---------+

In [40]:
# Hitung jumlah kapal masuk
vessel_in_count_country = result_in_indo.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_in"))

In [41]:
# Tampilkan hasil
vessel_in_count_country.show(vessel_in_count_country.count(), truncate = False)

+---------+---------+
|fc_vessel|vessel_in|
+---------+---------+
|Indonesia|22       |
+---------+---------+

In [42]:
# Hitung jumlah kapal masuk
vessel_in_count_vess_type = result_in_indo.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_in"))

In [43]:
# Tampilkan hasil
vessel_in_count_vess_type.show()

+-----------+---------+
|vessel_type|vessel_in|
+-----------+---------+
|  Passenger|       22|
+-----------+---------+

### Keluar Indonesia

In [44]:
# Hitung jumlah kapal keluar
vessel_out_count_month = result_out_indo.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_out"))

In [45]:
# Tampilkan hasil
vessel_out_count_month.show()

+--------+----------+
|  months|vessel_out|
+--------+----------+
|February|         4|
| January|         1|
|   March|         2|
|   April|        16|
+--------+----------+

In [46]:
# Hitung jumlah kapal keluar
vessel_out_count_country = result_out_indo.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_out"))

In [47]:
# Tampilkan hasil
vessel_out_count_country.show(vessel_out_count_country.count(), truncate = False)

+---------+----------+
|fc_vessel|vessel_out|
+---------+----------+
|Singapore|1         |
|Indonesia|22        |
+---------+----------+

In [48]:
# Hitung jumlah kapal keluar
vessel_out_count_vess_type = result_out_indo.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_out"))

In [49]:
# Tampilkan hasil
vessel_out_count_vess_type.show()

+-----------+----------+
|vessel_type|vessel_out|
+-----------+----------+
|  Passenger|        23|
+-----------+----------+

In [50]:
spark.stop()