# Initialialize

In [1]:
from sedona.register import SedonaRegistrator
SedonaRegistrator.registerAll(spark)

True

In [2]:
import subprocess
import sys

In [3]:
GITLAB_USER = "read aistt"
GITLAB_TOKEN = "J1KkstArfyXB6dZvFchN"
git_package = f"git+https://(GITLAB_USER):(GITLAB_TOKEN)@code.officialstatistics.org/trade-task-team-phase-1/ais.git"
std_out = subprocess.run([sys.executable, "-m", "pip", "install", git_package], capture_output=True, text=True) .stdout
print(std_out)

Collecting git+https://%28GITLAB_USER%29:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git
  Cloning https://%28GITLAB_USER%29:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git to /tmp/pip-req-build-ncxj1dke

In [4]:
GITLAB_USER = 'ml_group_read_only'
GITLAB_TOKEN = 'eac7ZwiseRdeLwmBsrsm'

# Main: for using from current issued version
git_package = f"git+https://{GITLAB_USER}:{GITLAB_TOKEN}@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git"

std_out = subprocess.run([sys.executable, "-m", "pip", "install",git_package], capture_output=True, text=True).stdout
print(std_out)

Collecting git+https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git
  Cloning https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git to /tmp/pip-req-build-vzda1_u1
  Resolved https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git to commit 89f1aab64fee28c2f86e86d6fa7b55118882b1e8
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: unece-ais
  Building wheel for unece-ais (setup.py): started
  Building wheel for unece-ais (setup.py): finished with status 'done'
  Created wheel for unece-ais: filename=unece_ais-0.0.4-py3-none-any.whl size=12493 sha256=3458f14a2e8df71a2050956df697d395d9ebc925cbfce3335f7a86c7a419bd1a
  Stored in directory: /tmp/pip-ephem-wheel-cache-h6vtog6b/wheels/61/b5/f9/bcf024b104169c32950c03a4605d2d07ea9da07cae7bed5e3e
Successfully built unece-ais
Installing collected packages: unece-ais
Successfully installed unece-ais-0.0.4

In [5]:
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, date_format, count, countDistinct, when, expr
from pyspark.sql.functions import year, month, dayofmonth, hour, minute, second
from pyspark.sql.functions import monotonically_increasing_id, lead, lag, abs, row_number
from pyspark.sql.functions import concat_ws, split
from pyspark.sql.types import IntegerType, StringType
from pyspark.sql.window import Window

from shapely.geometry import Point, Polygon, mapping
from IPython.display import HTML
from ais import functions as af
from unece_ais import unece_ais as un
from multiprocessing import Pool

In [6]:
import h3.api.numpy_int as h3int
import geopandas as gpd
import pandas as pd
import numpy as np
import calendar
import base64
import folium
import tqdm
import h3

In [7]:
pd.set_option('display.max_columns', None) #Show all columns in pandas df
pd.set_option('display.max_rows', 100) #Show 100 rows in pandas df
pd.options.display.float_format = '{:.10f}'.format #Show float with 10 decimal points in pandas df

from IPython.core.interactiveshell import InteractiveShell #allow multiple outputs in one jupyter cell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
basepath = "s3a://ungp-ais-data-historical-backup/exact-earth-data/transformed/prod/"

In [9]:
# Path
save_path = "s3a://ungp-ais-data-historical-backup/user_temp/"
path_unique = save_path + "222011349/"

# Data

## Port-AOI Indonesia

In [10]:
# Read Data
port_aoi = spark.read.parquet(path_unique + "port_merak.parquet", header=True)

In [11]:
#explode data port
port_aoi_exploded = port_aoi.select("Port", F.explode("boundary_h3").alias("boundary_h3"))

## Port-NonAOI Indonesia

In [12]:
# Read Data
port_nonaoi = spark.read.parquet(path_unique + "non_aoi_port_merak.parquet", header=True)

In [13]:
#explode data port
port_nonaoi_exploded = port_nonaoi.select("Port", F.explode("outer_boundary_h3").alias("outer_boundary_h3"))

## Data AIS

In [14]:
# Read Data
data_ais = spark.read.parquet(path_unique + "data-ais-filter-dunia-2024.parquet", header=True)

In [15]:
# Select beberapa kolom df_data dg tipe kapal kargo & fishing
data_ais = data_ais.select("mmsi", "imo", "nav_status", "vessel_type", "flag_country", "status_country", "draught", "latitude", "longitude", "dt_pos_utc", "sog", "H3_int_index_8")

# Masuk-Keluar Indonesia

## Match Port-AOI & Vessel

In [16]:
#Cek kecocokan H3 kapal dg port

# Join DataFrame kapal with the exploded DataFrame port
match_port_aoi = data_ais.join(port_aoi_exploded, data_ais['H3_int_index_8'] == port_aoi_exploded['boundary_h3'], "inner")

# Selecting relevant columns and filtering out null values
match_port_aoi_select = match_port_aoi.select(col("mmsi").alias('mmsi_aoi'), col("dt_pos_utc").alias('dt_pos_utc_aoi'), col("Port").alias('Port_aoi'), col("flag_country").alias('flag_country_vessel_aoi'), col("status_country").alias('status_country_vessel_aoi'), col("vessel_type").alias('vessel_type_aoi'), col("H3_int_index_8").alias('H3_int_index_8_aoi'), "boundary_h3").filter(match_port_aoi["boundary_h3"].isNotNull())

In [17]:
match_port_aoi_select = match_port_aoi_select.withColumn('mmsi_port_aoi', concat_ws('_', 'mmsi_aoi', 'Port_aoi'))

In [18]:
match_port_aoi_select = match_port_aoi_select.orderBy("mmsi_aoi", "dt_pos_utc_aoi")

## Match Port-NonAOI & Vessel

In [19]:
#Cek kecocokan H3 kapal dg port

# Join DataFrame kapal with the exploded DataFrame port
match_port_nonaoi = data_ais.join(port_nonaoi_exploded, data_ais['H3_int_index_8'] == port_nonaoi_exploded['outer_boundary_h3'], "inner")

# Selecting relevant columns and filtering out null values
match_port_nonaoi_select = match_port_nonaoi.select(col("mmsi").alias('mmsi_nonaoi'), col("dt_pos_utc").alias('dt_pos_utc_nonaoi'), col("Port").alias('Port_nonaoi'), col("flag_country").alias('flag_country_vessel_nonaoi'), col("status_country").alias('status_country_vessel_nonaoi'), col("vessel_type").alias('vessel_type_nonaoi'), col("H3_int_index_8").alias('H3_int_index_8_nonaoi'), "outer_boundary_h3").filter(match_port_nonaoi["outer_boundary_h3"].isNotNull())

In [20]:
match_port_nonaoi_select = match_port_nonaoi_select.withColumn('mmsi_port_nonaoi', concat_ws('_', 'mmsi_nonaoi', 'Port_nonaoi'))

In [21]:
match_port_nonaoi_select = match_port_nonaoi_select.orderBy("mmsi_nonaoi", "dt_pos_utc_nonaoi")

## Join All Dataframe

In [22]:
#Cek kecocokan aoi dg non-aoi

# Join DataFrame aoi dg non-aoi
result_df = match_port_aoi_select.join(match_port_nonaoi_select, (match_port_aoi_select['mmsi_port_aoi'] == match_port_nonaoi_select['mmsi_port_nonaoi']), "inner")

# Selecting relevant columns and filtering out null values
result_df = result_df.select("mmsi_port_aoi", "mmsi_port_nonaoi", "flag_country_vessel_aoi", "flag_country_vessel_nonaoi", "status_country_vessel_aoi", "status_country_vessel_nonaoi", "vessel_type_aoi", "vessel_type_nonaoi", "dt_pos_utc_aoi", "dt_pos_utc_nonaoi").where((col("mmsi_port_aoi").isNotNull()) & (col("mmsi_port_nonaoi").isNotNull()))

In [23]:
# Memisahkan kolom 'mmsi_port_aoi' menjadi 'mmsi_aoi' dan 'Port_aoi'
result_df = result_df.withColumn('mmsi_aoi', split('mmsi_port_aoi', '_')[0])
result_df = result_df.withColumn('Port_aoi', split('mmsi_port_aoi', '_')[1])
result_df = result_df.withColumn('mmsi_nonaoi', split('mmsi_port_nonaoi', '_')[0])
result_df = result_df.withColumn('Port_nonaoi', split('mmsi_port_nonaoi', '_')[1])

In [24]:
# Selecting relevant columns
result_df = result_df.select(col("mmsi_aoi").alias('mmsi'), col("Port_aoi").alias('Port'), col("flag_country_vessel_aoi").alias('flag_country_vessel'), col("status_country_vessel_aoi").alias('status_country_vessel'), col("vessel_type_aoi").alias('vessel_type'), "dt_pos_utc_aoi", "dt_pos_utc_nonaoi")

In [25]:
# Urutan salah satu waktu descending (PENTING)
result_df = result_df.orderBy("mmsi", "Port", "dt_pos_utc_nonaoi", col("dt_pos_utc_aoi").desc())

In [26]:
# Menentukan apakah dt_pos_utc_aoi unik

result_df_check_unique = result_df.withColumn(
    "unique_check_aoi",
    expr("(count(*) over (partition by mmsi, Port, dt_pos_utc_aoi) = 1)")
)

In [27]:
# Menentukan apakah dt_pos_utc_nonaoi unik

result_df_check_unique = result_df_check_unique.withColumn(
    "unique_check_nonaoi",
    expr("(count(*) over (partition by mmsi, Port, dt_pos_utc_nonaoi) = 1)")
)

In [28]:
# Urutan salah satu waktu descending (PENTING)
result_df_check_unique = result_df_check_unique.orderBy("mmsi", "Port", "dt_pos_utc_nonaoi", col("dt_pos_utc_aoi").desc())

In [29]:
result_df_check_unique.count()

112996166

## Menghitung Selisih Terkecil Waktu Masuk-Keluar

In [30]:
# Membuat window specification
windowSpec = Window().partitionBy("mmsi", "Port").orderBy("dt_pos_utc_nonaoi")

# Menambahkan kolom selisih waktu
result_diff = result_df_check_unique.withColumn(
    "diff_nonaoi_aoi",
    expr("abs(unix_timestamp(dt_pos_utc_nonaoi) - unix_timestamp(dt_pos_utc_aoi))")
)

# Menambahkan kolom untuk menentukan urutan selisih waktu dalam setiap kelompok
result_diff = result_diff.withColumn("rank_diff", row_number().over(windowSpec.orderBy("diff_nonaoi_aoi")))

In [31]:
# Memilih dua baris dengan rank_diff terkecil jika kondisi unik tidak benar, memilih semua baris jika kondisi unik benar
windowSpec = Window().partitionBy("mmsi", "Port").orderBy("rank_diff")

# Menambahkan kolom 'row_number' ke DataFrame
# result_diff = result_diff.withColumn("row_number", F.row_number().over(windowSpec))


# result_diff = result_diff.filter(
#     ((col("unique_check_aoi") == False) | (col("unique_check_nonaoi") == False)) 
#     |
#     ((col("unique_check_aoi") == True) & (col("unique_check_nonaoi") == True))
# ).withColumn("row_number", F.row_number().over(windowSpec)).filter("row_number <= 2").drop("row_number")

# Menentukan kondisi untuk menentukan nilai "row_number_to_keep"
result_diff = result_diff.withColumn("row_number_to_keep", 
                                      F.when((F.col("unique_check_aoi") == True) & (F.col("unique_check_nonaoi") == True),
                                             F.lit("keep")).otherwise(F.when((F.col("unique_check_aoi") == False) | (F.col("unique_check_nonaoi") == False),
                                                                          F.when(F.col("rank_diff") <= 2, F.lit("keep")).otherwise(F.lit(None)))))

# Filter DataFrame untuk hanya mempertahankan baris sesuai dengan kondisi
result_diff = result_diff.filter((F.col("row_number_to_keep") == F.lit("keep"))).drop("row_number_to_keep")

In [32]:
# Menampilkan hasil
result_diff = result_diff.orderBy("mmsi", "Port", "dt_pos_utc_aoi")

In [33]:
# drop kolom yg tidak diperlukan
result_diff = result_diff.select("mmsi", "Port", col("flag_country_vessel").alias('fc_vessel'), col("status_country_vessel").alias('sc_vessel'), "vessel_type", "dt_pos_utc_aoi", "dt_pos_utc_nonaoi", col("diff_nonaoi_aoi").alias('diff_time'))

In [34]:
result_diff.count()

114

## Menentukan Masuk atau Keluar

In [35]:
# Menambahkan kolom untuk menunjukkan masuk atau keluar
result_out_in = result_diff.withColumn(
    "movement",
    when(col("dt_pos_utc_nonaoi") < col("dt_pos_utc_aoi"), "Masuk").otherwise("Keluar")
)

### Save Data

In [36]:
# Save Data
result_out_in.write.option("header", True).mode("overwrite").parquet(path_unique + "data-ais-masuk-keluar-indonesia-2024.parquet")

### Read Data

In [ ]:
# Read Data
result_out_in = spark.read.parquet(path_unique + "data-ais-masuk-keluar-indonesia-2024.parquet", header=True)

### Masuk

In [37]:
# Masuk
result_in = result_out_in.filter(col("movement") == "Masuk")

In [38]:
result_in.count()

49

In [39]:
# Kapal Asing
result_in_asing = result_in.filter(col("status_country_vessel") == "Asing")

In [40]:
result_in_asing.count()

0

### Keluar

In [41]:
# Keluar
result_out = result_out_in.filter(col("movement") == "Keluar")

In [42]:
result_out.count()

65

In [43]:
# Kapal Asing
result_out_asing = result_out.filter(col("status_country_vessel") == "Asing")

In [44]:
result_out_asing.count()

0

## Menghitung Jumlah

### Masuk

In [45]:
# Hitung jumlah kapal masuk
vessel_in_count_month = result_in.withColumn("months", F.date_format("dt_pos_utc_aoi", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_in"))

In [46]:
# Tampilkan hasil
vessel_in_count_month.show()

+--------+---------+
|  months|vessel_in|
+--------+---------+
|February|       14|
| January|       29|
|   March|        2|
|   April|        4|
+--------+---------+

In [47]:
# Hitung jumlah kapal masuk
vessel_in_count_country = result_in.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_in"))

In [48]:
# Tampilkan hasil
vessel_in_count_country.show(vessel_in_count_country.count(), truncate = False)

+---------+---------+
|fc_vessel|vessel_in|
+---------+---------+
|Indonesia|49       |
+---------+---------+

In [49]:
# Hitung jumlah kapal masuk
vessel_in_count_vess_type = result_in.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_in"))

In [50]:
# Tampilkan hasil
vessel_in_count_vess_type.show()

+-----------+---------+
|vessel_type|vessel_in|
+-----------+---------+
|  Passenger|       49|
+-----------+---------+

### Keluar

In [51]:
# Hitung jumlah kapal keluar
vessel_out_count_month = result_out.withColumn("months", F.date_format("dt_pos_utc_nonaoi", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_out"))

In [52]:
# Tampilkan hasil
vessel_out_count_month.show()

+--------+----------+
|  months|vessel_out|
+--------+----------+
|February|        15|
| January|        39|
|   March|         8|
|   April|         3|
+--------+----------+

In [53]:
# Hitung jumlah kapal keluar
vessel_out_count_country = result_out.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_out"))

In [54]:
# Tampilkan hasil
vessel_out_count_country.show(vessel_out_count_country.count(), truncate = False)

+---------+----------+
|fc_vessel|vessel_out|
+---------+----------+
|Indonesia|65        |
+---------+----------+

In [55]:
# Hitung jumlah kapal keluar
vessel_out_count_vess_type = result_out.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_out"))

In [56]:
# Tampilkan hasil
vessel_out_count_vess_type.show()

+-----------+----------+
|vessel_type|vessel_out|
+-----------+----------+
|  Passenger|        65|
+-----------+----------+

In [ ]:
spark.stop()