# Initialialize

In [1]:
from sedona.register import SedonaRegistrator
SedonaRegistrator.registerAll(spark)

True

In [2]:
import subprocess
import sys

In [3]:
GITLAB_USER = "read aistt"
GITLAB_TOKEN = "J1KkstArfyXB6dZvFchN"
git_package = f"git+https://(GITLAB_USER):(GITLAB_TOKEN)@code.officialstatistics.org/trade-task-team-phase-1/ais.git"
std_out = subprocess.run([sys.executable, "-m", "pip", "install", git_package], capture_output=True, text=True) .stdout
print(std_out)

Collecting git+https://%28GITLAB_USER%29:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git
  Cloning https://%28GITLAB_USER%29:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git to /tmp/pip-req-build-6fyjy61m

In [4]:
GITLAB_USER = 'ml_group_read_only'
GITLAB_TOKEN = 'eac7ZwiseRdeLwmBsrsm'

# Main: for using from current issued version
git_package = f"git+https://{GITLAB_USER}:{GITLAB_TOKEN}@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git"

std_out = subprocess.run([sys.executable, "-m", "pip", "install",git_package], capture_output=True, text=True).stdout
print(std_out)

Collecting git+https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git
  Cloning https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git to /tmp/pip-req-build-uybr60bo
  Resolved https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git to commit 89f1aab64fee28c2f86e86d6fa7b55118882b1e8
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: unece-ais
  Building wheel for unece-ais (setup.py): started
  Building wheel for unece-ais (setup.py): finished with status 'done'
  Created wheel for unece-ais: filename=unece_ais-0.0.4-py3-none-any.whl size=12493 sha256=1c57698725596e6c3b1fc59ceed69044dd3436afa49ba6466fba4da496f46062
  Stored in directory: /tmp/pip-ephem-wheel-cache-286whoas/wheels/61/b5/f9/bcf024b104169c32950c03a4605d2d07ea9da07cae7bed5e3e
Successfully built unece-ais
Installing collected packages: unece-ais
Successfully installed unece-ais-0.0.4

In [5]:
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, date_format, count, countDistinct, when, expr, unix_timestamp
from pyspark.sql.functions import year, month, dayofmonth, hour, minute, second
from pyspark.sql.functions import monotonically_increasing_id, lead, lag, abs, row_number
from pyspark.sql.functions import concat_ws, split, lit, min, max
from pyspark.sql.types import IntegerType, StringType, StructType
from pyspark.sql.window import Window

from shapely.geometry import Point, Polygon, mapping
from IPython.display import HTML
from ais import functions as af
from unece_ais import unece_ais as un
from multiprocessing import Pool

In [6]:
import h3.api.numpy_int as h3int
import matplotlib.pyplot as plt
import geopandas as gpd
import seaborn as sns
import pandas as pd
import numpy as np
import calendar
import base64
import folium
import tqdm
import h3

generated new fontManager

In [7]:
pd.set_option('display.max_columns', None) #Show all columns in pandas df
pd.set_option('display.max_rows', 100) #Show 100 rows in pandas df
pd.options.display.float_format = '{:.10f}'.format #Show float with 10 decimal points in pandas df

from IPython.core.interactiveshell import InteractiveShell #allow multiple outputs in one jupyter cell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
# Path
base_path = "s3a://ungp-ais-data-historical-backup/user_temp/"
path_unique = base_path + "222011349/"

# Data

## Port-AOI Merak

In [9]:
# Read Data
port_aoi = spark.read.parquet(path_unique + "port_merak.parquet", header=True)

In [10]:
#explode data port
port_aoi_exploded = port_aoi.select("Port", F.explode("boundary_h3").alias("boundary_h3"))

## Data AIS

In [11]:
# Read Data
data_ais = spark.read.parquet(path_unique + "data-ais-ihs-indonesia-by-mmsi-filter-2022.parquet", header=True)

In [12]:
# Select beberapa kolom 
data_ais = data_ais.select("mmsi", "imo", "nav_status", "vessel_type", "flag_country", "status_country", "OperatorCountryOfRegistration", "OperatorCountryofDomicileName", "draught", "latitude", "longitude", "dt_pos_utc", "sog", "H3_int_index_8")

In [14]:
data_ais.count()

1444393573

# Masuk-Keluar Indonesia

## Match Port-AOI & Vessel

In [13]:
#Cek kecocokan H3 kapal dg port

# Gabungkan dua DataFrame berdasarkan kondisi
joined_data = data_ais.join(port_aoi_exploded, 
                             data_ais['H3_int_index_8'] == port_aoi_exploded['boundary_h3'], 
                             how='left')

# Tentukan nilai kolom 'position' berdasarkan hasil join
match_port_aoi = joined_data.withColumn("position", 
                                  when(col("boundary_h3").isNull(), "out port")
                                  .otherwise("in port"))

# Selecting relevant columns and filtering out null values
match_port_aoi_select = match_port_aoi.select("mmsi", "Port", "dt_pos_utc", col("flag_country").alias('fc_vessel'), col("status_country").alias('sc_vessel'), "vessel_type", col("nav_status").alias('ns_vessel'), "draught", "position")

In [16]:
match_port_aoi_select.count()

1491768859

In [14]:
# Drop Duplicate jika ada
match_port_aoi_select = match_port_aoi_select.dropDuplicates()

In [18]:
match_port_aoi_select.count()

1491561368

In [15]:
match_port_aoi_select = match_port_aoi_select.orderBy("mmsi", "dt_pos_utc", "Port")

## Arus Masuk-Keluar

### Filter Out Port

In [16]:
# Langkah 1: Buang MMSI yang hanya memiliki nilai "out port" (tanpa "in port")

mmsi_with_in_port_only = match_port_aoi_select.filter(match_port_aoi_select.position == "in port").select("mmsi").distinct()
mmsi_with_out_port_only = match_port_aoi_select.filter(match_port_aoi_select.position == "out port").select("mmsi").distinct()

mmsi_to_keep = mmsi_with_in_port_only.join(mmsi_with_out_port_only, "mmsi", "left")

# Buang MMSI yang hanya memiliki nilai "out port" (tanpa "in port"), tetapi pertahankan nilai "out port" jika ada setidaknya satu nilai "in port"
filtered_data1 = match_port_aoi_select.join(mmsi_to_keep, "mmsi", "inner")

In [17]:
filtered_data1 = filtered_data1.orderBy("mmsi", "dt_pos_utc", "Port")

In [22]:
filtered_data1.count()

1412142505

In [18]:
# Langkah 2: Identifikasi waktu "in port" pertama dan terakhir untuk setiap MMSI
# Membuat window specification untuk mengelompokkan data berdasarkan MMSI dan mengurutkannya berdasarkan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

# Menetapkan flag untuk record "in port" pertama dan terakhir
filtered_data2 = filtered_data1.withColumn("first_in_port", F.min(F.when(F.col("position") == "in port", F.col("dt_pos_utc"))).over(window_spec))
filtered_data2 = filtered_data2.withColumn("last_in_port", F.max(F.when(F.col("position") == "in port", F.col("dt_pos_utc"))).over(window_spec))

# Menetapkan flag untuk record "out port" yang berada sebelum dan sesudah "in port" pertama dan terakhir, serta di antaranya
filtered_data2 = filtered_data2.withColumn("before_first_in_port", F.lead("position").over(window_spec) == "in port")
filtered_data2 = filtered_data2.withColumn("after_last_in_port", F.lag("position").over(window_spec) == "in port")

In [19]:
filtered_data2 = filtered_data2.orderBy("mmsi", "dt_pos_utc", "Port")

In [20]:
# Filter record "out port" yang memenuhi kriteria
filtered_data2 = filtered_data2.filter(
    (F.col("position") == "in port") |
    ((F.col("position") == "out port") & (F.col("before_first_in_port") 
                                          | F.col("after_last_in_port") 
                                         )
    )
)

In [21]:
# Daftar kolom yang ingin dijatuhkan
kolom_drop = ["first_in_port", "last_in_port", "before_first_in_port", "after_last_in_port"]

# Menjatuhkan kolom yang tidak diperlukan dari DataFrame
filtered_data2 = filtered_data2.drop(*kolom_drop)

In [22]:
filtered_data2 = filtered_data2.orderBy("mmsi", "dt_pos_utc", "Port")

In [28]:
filtered_data2.count()

114323028

### Filter In Port

In [23]:
# Definisikan window specification
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

# Tentukan apakah Port sama dengan baris sebelumnya
filter_data = filtered_data2.withColumn(
    "same_port_as_previous",
    F.when(
        F.lag("Port").over(window_spec) == F.col("Port"), 
        True
    ).otherwise(False)
)

In [24]:
# Kolom Port sama dengan baris sebelumnya untuk baris setelahnya
filter_data = filter_data.withColumn("same_port_next", F.lead("same_port_as_previous").over(window_spec))

In [25]:
# Membuat window specification untuk mengelompokkan data berdasarkan MMSI dan mengurutkannya berdasarkan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

# Menambahkan kolom baru untuk menghitung jumlah baris "in port" di antara dua baris "out port" berturut-turut
filter_data = filter_data.withColumn("in_port_count", F.sum(F.when(F.col("position") == "out port", 0).otherwise(1)).over(window_spec))

# Menetapkan flag untuk record "out port" pertama dan terakhir
filter_data = filter_data.withColumn("first_out_port", F.min(F.when(F.col("position") == "out port", F.col("dt_pos_utc"))).over(window_spec))
filter_data = filter_data.withColumn("last_out_port", F.max(F.when(F.col("position") == "out port", F.col("dt_pos_utc"))).over(window_spec))

# Menetapkan flag untuk record "in port" yang berada sebelum dan sesudah "out port" pertama dan terakhir, serta di antaranya
filter_data = filter_data.withColumn("before_first_out_port", F.lead("position").over(window_spec) == "out port")
filter_data = filter_data.withColumn("after_last_out_port", F.lag("position").over(window_spec) == "out port")

In [26]:
filter_data = filter_data.orderBy("mmsi", "dt_pos_utc", "Port")

In [27]:
# Filter record "in port" yang memenuhi kriteria
filter_final = filter_data.filter(
    (F.col("position") == "out port") |
    (
        (F.col("position") == "in port") 
        & 
        (
            (F.col("same_port_as_previous") == False)
            |
            (
                (F.col("same_port_as_previous") == True) 
                & ((F.col("before_first_out_port") == True) 
                    | (F.col("after_last_out_port") == True)
                   | (F.col("same_port_next") == False)
                  )
            )
        )
    )
)

In [28]:
# Daftar kolom yang ingin dijatuhkan
kolom_drop = ["same_port_as_previous", "same_port_next", "in_port_count", "first_out_port", "last_out_port", "before_first_out_port", "after_last_out_port"]

# Menjatuhkan kolom yang tidak diperlukan dari DataFrame
filter_final = filter_final.drop(*kolom_drop)

In [35]:
filter_final.count()

89898831

In [29]:
# Drop Duplicate jika ada
filter_final = filter_final.dropDuplicates()

In [ ]:
filter_final.count()

89898831

In [30]:
filter_final = filter_final.orderBy("mmsi", "dt_pos_utc", "Port")

### Labeli In Port

In [31]:
# Membuat kolom-kolom baru dengan nilai awal '-'
after_filter = filter_final.withColumn("masuk_pelabuhan", lit("-")) \
                   .withColumn("keluar_pelabuhan", lit("-")) \
                   .withColumn("masuk_indo", lit("-")) \
                   .withColumn("keluar_indo", lit("-"))

In [32]:
# Mendapatkan baris-baris dengan urutan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

# Tambahkan kolom prev_position
after_filter = after_filter.withColumn("prev_position", F.lag("position", 1).over(window_spec))

# Tambahkan kolom next_position
after_filter = after_filter.withColumn("next_position", F.lead("position", 1).over(window_spec))

In [33]:
# Definisikan window specification
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

# Tentukan apakah Port sama dengan baris sebelumnya
after_filter = after_filter.withColumn(
    "same_port_as_previous",
    F.when(
        F.lag("Port").over(window_spec) == F.col("Port"), 
        True
    ).otherwise(False)
)

# Tentukan apakah Port sama dengan baris sebelumnya
after_filter = after_filter.withColumn("same_port_next", F.lead("same_port_as_previous").over(window_spec))

In [34]:
# Mendapatkan baris-baris dengan urutan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

match_port_aoi_select_in = after_filter.filter(col("position") == "in port")

# Menambahkan kolom baru untuk menandai baris pertama dengan nilai "in port" dari semua baris "in port" untuk suatu MMSI
match_port_aoi_select_in = match_port_aoi_select_in.withColumn("first_in_port_all", 
                                (lag("position", 1).over(window_spec).isNull()) & (col("position") == "in port"))

# Menambahkan kolom baru untuk mendeteksi baris terakhir dengan nilai "in port" dari semua baris "in port" untuk suatu MMSI
match_port_aoi_select_in = match_port_aoi_select_in.withColumn("last_in_port_all", 
                                (lead("position", 1).over(window_spec).isNull()) & (col("position") == "in port"))

In [35]:
# Gabungkan kembali dengan DataFrame asli
joined_data_port = after_filter.join(match_port_aoi_select_in, 
                             ["mmsi", "Port", "dt_pos_utc", "fc_vessel", "sc_vessel", "vessel_type", "ns_vessel", "draught", "position", "masuk_pelabuhan", "keluar_pelabuhan", "masuk_indo", "keluar_indo", "prev_position", "next_position", "same_port_as_previous", "same_port_next"], 
                             how='outer')

# Select kolom yang relevan dan isi nilai NULL dengan False
match_port = joined_data_port.select("mmsi", "Port", "dt_pos_utc", "fc_vessel", "sc_vessel", "vessel_type", "ns_vessel", "draught", "position", "masuk_pelabuhan", "keluar_pelabuhan", "masuk_indo", "keluar_indo", "prev_position", "next_position", "same_port_as_previous", "same_port_next", "first_in_port_all", "last_in_port_all")

In [36]:
match_port = match_port.filter(
    (F.col("position") == "out port") |
    (
        (F.col("position") == "in port") 
        & 
        (
            (F.col("first_in_port_all").isNotNull())
            &
            (F.col("last_in_port_all").isNotNull())
        )
    )
)

In [37]:
match_port = match_port.orderBy("mmsi", "dt_pos_utc", "Port")

In [38]:
# Mendefinisikan kondisi untuk setiap baris
condition1 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "False")) & (match_port["prev_position"].isNull() & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == False))))                                                      
condition2 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "False")) & (match_port["prev_position"].isNull() & (match_port["next_position"] == "out port")))                                                      

condition3 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & (match_port["next_position"] == "out port")))
condition4 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == False))))
condition5 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == True))))

condition6 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & (match_port["next_position"] == "out port")))
condition7 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == False))))
condition8 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == True))))

condition9 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == True) & (match_port["next_position"] == "out port"))) 
condition10 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == True) & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == False)))) 

condition11 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False) & (match_port["next_position"] == "out port"))) 
condition12 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False) & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == False)))) 
condition13 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False) & ((match_port["next_position"] == "in port") & (match_port["same_port_next"] == True)))) 

condition14 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & (match_port["next_position"] == "out port")))
condition15 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & (((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False)) & (match_port["next_position"] == "out port")))
condition16 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & (((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == True)) & (match_port["next_position"] == "out port")))

condition17 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & ((match_port["prev_position"] == "out port") & (match_port["next_position"].isNull())))
condition18 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "False")) & (((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False) & (match_port["next_position"].isNull()))))

condition19 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "True")) & ((match_port["prev_position"] == "out port") & (match_port["next_position"] == "out port")))
condition20 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "True")) & (((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False)) & (match_port["next_position"] == "out port")))
condition21 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "True")) & (((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == True)) & (match_port["next_position"] == "out port")))

condition22 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "True")) & ((match_port["prev_position"] == "out port") & (match_port["next_position"].isNull())))
condition23 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "False") & (match_port["last_in_port_all"] == "True")) & (((match_port["prev_position"] == "in port") & (match_port["same_port_as_previous"] == False) & (match_port["next_position"].isNull()))))

condition24 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "True")) & ((match_port["prev_position"] == "out port")))
condition25 = (match_port["position"] == "in port") & (((match_port["first_in_port_all"] == "True") & (match_port["last_in_port_all"] == "True")) & ((match_port["next_position"] == "out port")))

In [39]:
# Mengisi kolom-kolom yang sesuai berdasarkan kondisi
port_traffic = match_port.withColumn("masuk_pelabuhan", when((condition3 | condition4 | condition5 | condition6 | condition7 | condition8 | condition11 | condition12 | condition13 | condition14 | condition15 | condition17 | condition18 | condition19 | condition20 | condition22 | condition23 | condition24), "masuk").otherwise("-")) \
                   .withColumn("keluar_pelabuhan", when((condition1 | condition2 | condition3 | condition4 | condition6 | condition7 | condition9 | condition10 | condition11 | condition12 | condition14 | condition15 | condition16 | condition19 | condition20 | condition21 | condition25), "keluar").otherwise("-")) \
                   .withColumn("masuk_indo", when((condition3 | condition4 | condition5 | condition24), "masuk").otherwise("-")) \
                   .withColumn("keluar_indo", when((condition19 | condition20 | condition21 | condition25), "keluar").otherwise("-"))

In [40]:
# Daftar kolom yang ingin dijatuhkan
kolom_drop = ["prev_position", "next_position", "same_port_as_previous", "same_port_next", "first_in_port_all", "last_in_port_all"]

# Menjatuhkan kolom yang tidak diperlukan dari DataFrame
port_traffic1 = port_traffic.drop(*kolom_drop)

In [49]:
port_traffic1.count()

89898831

In [41]:
port_traffic1 = port_traffic1.orderBy("mmsi", "dt_pos_utc", "Port")

In [42]:
port_traffic_in = port_traffic1.filter(col("position") == "in port")

### Labeli Out Port

In [43]:
# Mendapatkan baris-baris dengan urutan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

# Tambahkan kolom prev_position
port_traffic1 = port_traffic1.withColumn("prev_position", F.lag("position", 1).over(window_spec))

# Tambahkan kolom next_position
port_traffic1 = port_traffic1.withColumn("next_position", F.lead("position", 1).over(window_spec))

In [44]:
# Mendapatkan baris-baris dengan urutan waktu
window_spec = Window.partitionBy("mmsi").orderBy("dt_pos_utc", "Port")

match_port_aoi_select_out = port_traffic1.filter(col("position") == "out port")

# Menambahkan kolom baru untuk menandai baris pertama dengan nilai "out port" dari semua baris "out port" untuk suatu MMSI
match_port_aoi_select_out = match_port_aoi_select_out.withColumn("first_out_port_all", 
                                (lag("position", 1).over(window_spec).isNull()) & (col("position") == "out port"))

# Menambahkan kolom baru untuk mendeteksi baris terakhir dengan nilai "out port" dari semua baris "out port" untuk suatu MMSI
match_port_aoi_select_out = match_port_aoi_select_out.withColumn("last_out_port_all", 
                                (lead("position", 1).over(window_spec).isNull()) & (col("position") == "out port"))

In [45]:
# Gabungkan kembali dengan DataFrame asli
joined_data = port_traffic1.join(match_port_aoi_select_out, 
                             ["mmsi", "Port", "dt_pos_utc", "fc_vessel", "sc_vessel", "vessel_type", "ns_vessel", "draught", "position", "masuk_pelabuhan", "keluar_pelabuhan", "masuk_indo", "keluar_indo", "prev_position", "next_position"], 
                             how='outer')

# Select kolom yang relevan dan isi nilai NULL dengan False
port_traffic2 = joined_data.select("mmsi", "Port", "dt_pos_utc", "fc_vessel", "sc_vessel", "vessel_type", "ns_vessel", "draught", "position", "masuk_pelabuhan", "keluar_pelabuhan", "masuk_indo", "keluar_indo", "prev_position", "next_position", "first_out_port_all", "last_out_port_all")

In [46]:
port_traffic2 = port_traffic2.filter(
    (F.col("position") == "in port") |
    (
        (F.col("position") == "out port") 
        & 
        (
            (F.col("first_out_port_all").isNotNull())
            &
            (F.col("last_out_port_all").isNotNull())
        )
    )
)

In [47]:
port_traffic2 = port_traffic2.orderBy("mmsi", "dt_pos_utc", "Port")

In [48]:
# Mendefinisikan kondisi untuk setiap baris
condition1 = (port_traffic2["position"] == "out port") & ((port_traffic2["first_out_port_all"] == "True") & (port_traffic2["next_position"] == "in port"))
condition2 = (port_traffic2["position"] == "out port") & ((port_traffic2["last_out_port_all"]  == "True") & (port_traffic2["prev_position"] == "in port"))
condition3 = (port_traffic2["position"] == "out port") & ((port_traffic2["next_position"] == "in port"))
condition4 = (port_traffic2["position"] == "out port") & ((port_traffic2["prev_position"] == "in port"))

In [49]:
# Mengisi kolom-kolom yang sesuai berdasarkan kondisi
port_traffic3 = port_traffic2.withColumn("masuk_pelabuhan", when((condition1 | condition3), "masuk").otherwise("-")) \
                   .withColumn("keluar_pelabuhan", when((condition2 | condition4), "keluar").otherwise("-")) \
                   .withColumn("masuk_indo", when((condition1), "masuk").otherwise("-")) \
                   .withColumn("keluar_indo", when((condition2), "keluar").otherwise("-"))

In [50]:
# Daftar kolom yang ingin dijatuhkan
kolom_drop = ["prev_position", "next_position", "first_out_port_all", "last_out_port_all"]

# Menjatuhkan kolom yang tidak diperlukan dari DataFrame
port_traffic3 = port_traffic3.drop(*kolom_drop)

In [51]:
port_traffic3 = port_traffic3.orderBy("mmsi", "dt_pos_utc", "Port")

In [61]:
port_traffic3.count()

89898831

In [52]:
port_traffic_out = port_traffic3.filter(col("position") == "out port")

### Final Data

In [53]:
result_out_in = port_traffic_in.unionAll(port_traffic_out)

In [54]:
result_out_in = result_out_in.orderBy("mmsi", "dt_pos_utc", "Port")

In [65]:
result_out_in.count()

89898831

### Save Data

In [55]:
# Save Data
result_out_in.write.option("header", True).mode("overwrite").parquet(path_unique + "data-ais-ihs-indonesia-by-mmsi-masuk-keluar-merak-2022-rev.parquet")

### Read Data

In [9]:
# Read Data
result_out_in = spark.read.parquet(path_unique + "data-ais-ihs-indonesia-by-mmsi-masuk-keluar-merak-2022-rev.parquet", header=True)

### Masuk Pelabuhan

In [10]:
# Masuk
result_in_port = result_out_in.filter((col("masuk_pelabuhan") == "masuk") & (col("position") == "in port"))

In [11]:
result_in_port.count()

42536

In [12]:
# Kapal Asing
result_in_port_asing = result_in_port.filter(col("sc_vessel") == "Asing")

In [13]:
result_in_port_asing.count()

7382

### Keluar Pelabuhan

In [14]:
# Keluar
result_out_port = result_out_in.filter((col("keluar_pelabuhan") == "keluar") & (col("position") == "in port"))

In [15]:
result_out_port.count()

42527

In [16]:
# Kapal Asing
result_out_port_asing = result_out_port.filter(col("sc_vessel") == "Asing")

In [17]:
result_out_port_asing.count()

7363

### Masuk Indonesia

In [18]:
# Masuk
result_in_indo = result_out_in.filter((col("masuk_indo") == "masuk") & (col("position") == "in port"))

In [19]:
result_in_indo.count()

4544

In [20]:
# Kapal Asing
result_in_indo_asing = result_in_indo.filter(col("sc_vessel") == "Asing")

In [21]:
result_in_indo_asing.count()

3861

### Keluar Indonesia

In [22]:
# Keluar
result_out_indo = result_out_in.filter((col("keluar_indo") == "keluar") & (col("position") == "in port"))

In [23]:
result_out_indo.count()

4535

In [24]:
# Kapal Asing
result_out_indo_asing = result_out_indo.filter(col("sc_vessel") == "Asing")

In [25]:
result_out_indo.count()

4535

## Menghitung Jumlah per Bulan

### Masuk Pelabuhan

In [26]:
# Hitung jumlah kapal masuk
vessel_in_count_month = result_in_port.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_in"))

In [27]:
# Tampilkan hasil
vessel_in_count_month.show()

+---------+---------+
|   months|vessel_in|
+---------+---------+
|     July|     3543|
| November|     2509|
| February|     3070|
|  January|     3462|
|    March|     3323|
|  October|     4258|
|      May|     3338|
|   August|     4196|
|    April|     3347|
|     June|     3209|
| December|     4122|
|September|     4159|
+---------+---------+

In [28]:
# Hitung jumlah kapal masuk
vessel_in_count_country = result_in_port.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_in"))

In [29]:
# Tampilkan hasil
vessel_in_count_country.show(vessel_in_count_country.count(), truncate = False)

+--------------------------------+---------+
|fc_vessel                       |vessel_in|
+--------------------------------+---------+
|Kiribati                        |10       |
|Philippines                     |51       |
|Malaysia                        |40       |
|Singapore                       |907      |
|Comoros                         |4        |
|Algeria                         |1        |
|Togo                            |3        |
|Sierra Leone                    |6        |
|Marshall Islands                |890      |
|Tuvalu                          |10       |
|Wallis and Futuna Islands       |3        |
|Gabon                           |7        |
|Thailand                        |42       |
|Indonesia                       |35154    |
|Liberia                         |1032     |
|Ethiopia                        |1        |
|Brazil                          |3        |
|South Africa                    |2        |
|Vanuatu                         |6        |
|Niue                            |1        |
|Vietnam                         |149      |
|Turkey                          |4        |
|Germany                         |2        |
|Palau                           |2        |
|France                          |6        |
|Greece                          |68       |
|Sri Lanka                       |1        |
|Dominica                        |2        |
|Belgium                         |17       |
|Qatar                           |3        |
|Bahamas                         |190      |
|China                           |201      |
|India                           |16       |
|Malta                           |217      |
|Kuwait                          |1        |
|Cayman Islands                  |34       |
|Italy                           |12       |
|Netherlands Antilles            |1        |
|Norway                          |69       |
|Spain                           |3        |
|Denmark                         |46       |
|Barbados                        |8        |
|Bangladesh                      |59       |
|Alaska                          |4        |
|Iran                            |1        |
|Russian Federation              |9        |
|Panama                          |1734     |
|Hong Kong                       |756      |
|USA                             |5        |
|South Korea                     |146      |
|Cyprus                          |111      |
|Gibraltar                       |3        |
|Montenegro                      |1        |
|Saint Vincent and the Grenadines|7        |
|Mongolia                        |58       |
|UK                              |101      |
|Saudi Arabia                    |36       |
|Azores                          |8        |
|Cook Islands                    |8        |
|Belize                          |7        |
|Antigua and Barbuda             |32       |
|Japan                           |76       |
|Luxembourg                      |15       |
|Australia                       |3        |
|Bermuda                         |23       |
|Pakistan                        |1        |
|Madeira                         |75       |
|Netherlands                     |32       |
+--------------------------------+---------+

In [30]:
# Hitung jumlah kapal masuk
vessel_in_count_vess_type = result_in_port.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_in"))

In [31]:
# Tampilkan hasil
vessel_in_count_vess_type.show()

+--------------+---------+
|   vessel_type|vessel_in|
+--------------+---------+
|        Tanker|     5955|
|         Other|      156|
|Pleasure Craft|       31|
|     Passenger|    28634|
|       Fishing|       33|
|   Port Tender|        4|
|      Dredging|       10|
|         Cargo|     7671|
|       Sailing|       42|
+--------------+---------+

### Keluar Pelabuhan

In [32]:
# Hitung jumlah kapal keluar
vessel_out_count_month = result_out_port.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_out"))

In [33]:
# Tampilkan hasil
vessel_out_count_month.show()

+---------+----------+
|   months|vessel_out|
+---------+----------+
|     July|      3542|
| November|      2511|
| February|      3058|
|  January|      3476|
|    March|      3327|
|  October|      4258|
|      May|      3337|
|   August|      4217|
|    April|      3354|
|     June|      3199|
| December|      4098|
|September|      4150|
+---------+----------+

In [34]:
# Hitung jumlah kapal keluar
vessel_out_count_country = result_out_port.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_out"))

In [35]:
# Tampilkan hasil
vessel_out_count_country.show(vessel_out_count_country.count(), truncate = False)

+--------------------------------+----------+
|fc_vessel                       |vessel_out|
+--------------------------------+----------+
|Kiribati                        |10        |
|Philippines                     |51        |
|Malaysia                        |40        |
|Singapore                       |905       |
|Comoros                         |4         |
|Algeria                         |1         |
|Togo                            |4         |
|Sierra Leone                    |5         |
|Marshall Islands                |887       |
|Tuvalu                          |10        |
|Wallis and Futuna Islands       |3         |
|Gabon                           |8         |
|Thailand                        |42        |
|Indonesia                       |35164     |
|Liberia                         |1026      |
|Ethiopia                        |1         |
|Brazil                          |3         |
|South Africa                    |2         |
|Vanuatu                         |6         |
|Niue                            |1         |
|Vietnam                         |146       |
|Turkey                          |4         |
|Germany                         |2         |
|Palau                           |2         |
|France                          |6         |
|Greece                          |67        |
|Sri Lanka                       |1         |
|Dominica                        |2         |
|Belgium                         |17        |
|Qatar                           |2         |
|Bahamas                         |190       |
|China                           |202       |
|India                           |16        |
|Malta                           |216       |
|Kuwait                          |1         |
|Cayman Islands                  |35        |
|Italy                           |12        |
|Netherlands Antilles            |1         |
|Norway                          |70        |
|Spain                           |3         |
|Denmark                         |46        |
|Barbados                        |8         |
|Bangladesh                      |59        |
|Alaska                          |4         |
|Iran                            |1         |
|Russian Federation              |9         |
|Panama                          |1731      |
|Hong Kong                       |755       |
|USA                             |5         |
|South Korea                     |145       |
|Cyprus                          |113       |
|Gibraltar                       |4         |
|Montenegro                      |1         |
|Saint Vincent and the Grenadines|7         |
|Mongolia                        |57        |
|UK                              |100       |
|Saudi Arabia                    |36        |
|Azores                          |8         |
|Cook Islands                    |8         |
|Belize                          |6         |
|Antigua and Barbuda             |32        |
|Japan                           |76        |
|Luxembourg                      |15        |
|Australia                       |3         |
|Bermuda                         |23        |
|Pakistan                        |1         |
|Madeira                         |74        |
|Netherlands                     |32        |
+--------------------------------+----------+

In [36]:
# Hitung jumlah kapal keluar
vessel_out_count_vess_type = result_out_port.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_out"))

In [37]:
# Tampilkan hasil
vessel_out_count_vess_type.show()

+--------------+----------+
|   vessel_type|vessel_out|
+--------------+----------+
|        Tanker|      5961|
|         Other|       154|
|Pleasure Craft|        30|
|     Passenger|     28633|
|       Fishing|        34|
|   Port Tender|         4|
|      Dredging|        11|
|         Cargo|      7659|
|       Sailing|        41|
+--------------+----------+

### Masuk Indonesia

In [38]:
# Hitung jumlah kapal masuk
vessel_in_count_month = result_in_indo.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_in"))

In [39]:
# Tampilkan hasil
vessel_in_count_month.show()

+---------+---------+
|   months|vessel_in|
+---------+---------+
|     July|      309|
| November|      203|
| February|      489|
|  January|      776|
|    March|      485|
|  October|      305|
|      May|      339|
|   August|      353|
|    April|      375|
|     June|      312|
| December|      286|
|September|      312|
+---------+---------+

In [40]:
# Hitung jumlah kapal masuk
vessel_in_count_country = result_in_indo.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_in"))

In [41]:
# Tampilkan hasil
vessel_in_count_country.show(vessel_in_count_country.count(), truncate = False)

+--------------------------------+---------+
|fc_vessel                       |vessel_in|
+--------------------------------+---------+
|Kiribati                        |3        |
|Philippines                     |29       |
|Malaysia                        |17       |
|Singapore                       |330      |
|Comoros                         |4        |
|Algeria                         |1        |
|Togo                            |2        |
|Sierra Leone                    |5        |
|Marshall Islands                |544      |
|Tuvalu                          |7        |
|Wallis and Futuna Islands       |1        |
|Gabon                           |4        |
|Thailand                        |20       |
|Indonesia                       |683      |
|Liberia                         |538      |
|Ethiopia                        |1        |
|Brazil                          |3        |
|South Africa                    |2        |
|Vanuatu                         |4        |
|Niue                            |1        |
|Vietnam                         |72       |
|Turkey                          |3        |
|Germany                         |2        |
|Palau                           |2        |
|France                          |5        |
|Greece                          |52       |
|Sri Lanka                       |1        |
|Dominica                        |1        |
|Belgium                         |14       |
|Qatar                           |2        |
|Bahamas                         |117      |
|China                           |112      |
|India                           |12       |
|Malta                           |139      |
|Kuwait                          |1        |
|Cayman Islands                  |18       |
|Italy                           |9        |
|Netherlands Antilles            |1        |
|Norway                          |48       |
|Spain                           |1        |
|Denmark                         |25       |
|Barbados                        |7        |
|Bangladesh                      |26       |
|Alaska                          |1        |
|Iran                            |1        |
|Russian Federation              |7        |
|Panama                          |880      |
|Hong Kong                       |390      |
|USA                             |2        |
|South Korea                     |84       |
|Cyprus                          |71       |
|Gibraltar                       |1        |
|Montenegro                      |1        |
|Saint Vincent and the Grenadines|5        |
|Mongolia                        |3        |
|UK                              |50       |
|Saudi Arabia                    |26       |
|Azores                          |7        |
|Cook Islands                    |5        |
|Belize                          |7        |
|Antigua and Barbuda             |19       |
|Japan                           |47       |
|Luxembourg                      |4        |
|Australia                       |3        |
|Bermuda                         |17       |
|Pakistan                        |1        |
|Madeira                         |31       |
|Netherlands                     |12       |
+--------------------------------+---------+

In [42]:
# Hitung jumlah kapal masuk
vessel_in_count_vess_type = result_in_indo.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_in"))

In [43]:
# Tampilkan hasil
vessel_in_count_vess_type.show()

+--------------+---------+
|   vessel_type|vessel_in|
+--------------+---------+
|        Tanker|     1357|
|         Other|       67|
|Pleasure Craft|       12|
|     Passenger|       38|
|       Fishing|       15|
|   Port Tender|        2|
|      Dredging|        5|
|         Cargo|     3043|
|       Sailing|        5|
+--------------+---------+

### Keluar Indonesia

In [44]:
# Hitung jumlah kapal keluar
vessel_out_count_month = result_out_indo.withColumn("months", F.date_format("dt_pos_utc", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_out"))

In [45]:
# Tampilkan hasil
vessel_out_count_month.show()

+---------+----------+
|   months|vessel_out|
+---------+----------+
|     July|       336|
| November|       357|
| February|       269|
|  January|       288|
|    March|       284|
|  October|       537|
|      May|       287|
|   August|       408|
|    April|       293|
|     June|       304|
| December|       762|
|September|       410|
+---------+----------+

In [46]:
# Hitung jumlah kapal keluar
vessel_out_count_country = result_out_indo.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_out"))

In [47]:
# Tampilkan hasil
vessel_out_count_country.show(vessel_out_count_country.count(), truncate = False)

+--------------------------------+----------+
|fc_vessel                       |vessel_out|
+--------------------------------+----------+
|Kiribati                        |3         |
|Philippines                     |29        |
|Malaysia                        |17        |
|Singapore                       |328       |
|Comoros                         |4         |
|Algeria                         |1         |
|Togo                            |3         |
|Sierra Leone                    |4         |
|Marshall Islands                |541       |
|Tuvalu                          |7         |
|Wallis and Futuna Islands       |1         |
|Gabon                           |5         |
|Thailand                        |20        |
|Indonesia                       |693       |
|Liberia                         |532       |
|Ethiopia                        |1         |
|Brazil                          |3         |
|South Africa                    |2         |
|Vanuatu                         |4         |
|Niue                            |1         |
|Vietnam                         |69        |
|Turkey                          |3         |
|Germany                         |2         |
|Palau                           |2         |
|France                          |5         |
|Greece                          |51        |
|Sri Lanka                       |1         |
|Dominica                        |1         |
|Belgium                         |14        |
|Qatar                           |1         |
|Bahamas                         |117       |
|China                           |113       |
|India                           |12        |
|Malta                           |138       |
|Kuwait                          |1         |
|Cayman Islands                  |19        |
|Italy                           |9         |
|Netherlands Antilles            |1         |
|Norway                          |49        |
|Spain                           |1         |
|Denmark                         |25        |
|Barbados                        |7         |
|Bangladesh                      |26        |
|Alaska                          |1         |
|Iran                            |1         |
|Russian Federation              |7         |
|Panama                          |877       |
|Hong Kong                       |389       |
|USA                             |2         |
|South Korea                     |83        |
|Cyprus                          |73        |
|Gibraltar                       |2         |
|Montenegro                      |1         |
|Saint Vincent and the Grenadines|5         |
|Mongolia                        |2         |
|UK                              |49        |
|Saudi Arabia                    |26        |
|Azores                          |7         |
|Cook Islands                    |5         |
|Belize                          |6         |
|Antigua and Barbuda             |19        |
|Japan                           |47        |
|Luxembourg                      |4         |
|Australia                       |3         |
|Bermuda                         |17        |
|Pakistan                        |1         |
|Madeira                         |30        |
|Netherlands                     |12        |
+--------------------------------+----------+

In [48]:
# Hitung jumlah kapal keluar
vessel_out_count_vess_type = result_out_indo.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_out"))

In [49]:
# Tampilkan hasil
vessel_out_count_vess_type.show()

+--------------+----------+
|   vessel_type|vessel_out|
+--------------+----------+
|        Tanker|      1355|
|         Other|        64|
|Pleasure Craft|        13|
|     Passenger|        38|
|       Fishing|        15|
|   Port Tender|         2|
|      Dredging|         6|
|         Cargo|      3037|
|       Sailing|         5|
+--------------+----------+

In [50]:
spark.stop()