In [10]:
spark

In [11]:
basepath = "s3a://ungp-ais-data-historical-backup/exact-earth-data/transformed/prod/"

In [12]:
#Read Data 2022
df = spark.read.parquet(basepath+ "year=2022")

#Creates or replaces a local temporary view with dataframe "df"
df.createOrReplaceTempView("temp_df")

In [4]:
#Check attributes
df.printSchema()

root
 |-- mmsi: integer (nullable = true)
 |-- imo: integer (nullable = true)
 |-- vessel_name: string (nullable = true)
 |-- callsign: string (nullable = true)
 |-- vessel_type: string (nullable = true)
 |-- vessel_type_code: integer (nullable = true)
 |-- vessel_type_cargo: string (nullable = true)
 |-- vessel_class: string (nullable = true)
 |-- length: double (nullable = true)
 |-- width: double (nullable = true)
 |-- flag_country: string (nullable = true)
 |-- flag_code: integer (nullable = true)
 |-- destination: string (nullable = true)
 |-- eta: integer (nullable = true)
 |-- draught: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- sog: double (nullable = true)
 |-- cog: double (nullable = true)
 |-- rot: double (nullable = true)
 |-- heading: double (nullable = true)
 |-- nav_status: string (nullable = true)
 |-- nav_status_code: integer (nullable = true)
 |-- source: string (nullable = true)
 |-- dt_pos_utc: timestamp (nullable = true)
 |-- dt_static_utc: timestamp (nullable = true)
 |-- dt_insert_utc: timestamp (nullable = true)
 |-- vessel_type_main: string (nullable = true)
 |-- vessel_type_sub: string (nullable = true)
 |-- message_type: integer (nullable = true)
 |-- eeid: long (nullable = true)
 |-- source_filename: string (nullable = true)
 |-- H3index_0: string (nullable = true)
 |-- H3_int_index_0: long (nullable = true)
 |-- H3_int_index_1: long (nullable = true)
 |-- H3_int_index_2: long (nullable = true)
 |-- H3_int_index_3: long (nullable = true)
 |-- H3_int_index_4: long (nullable = true)
 |-- H3_int_index_5: long (nullable = true)
 |-- H3_int_index_6: long (nullable = true)
 |-- H3_int_index_7: long (nullable = true)
 |-- H3_int_index_8: long (nullable = true)
 |-- H3_int_index_9: long (nullable = true)
 |-- H3_int_index_10: long (nullable = true)
 |-- H3_int_index_11: long (nullable = true)
 |-- H3_int_index_12: long (nullable = true)
 |-- H3_int_index_13: long (nullable = true)
 |-- H3_int_index_14: long (nullable = true)
 |-- H3_int_index_15: long (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)

In [12]:
# query for select vessel type, vessel type code from temp_df 
df3 =  spark.sql("""
                select vessel_type , vessel_type_code
                from temp_df 
                """)
df3.show(truncate=False)

+-----------+----------------+
|vessel_type|vessel_type_code|
+-----------+----------------+
|Fishing    |30              |
|Fishing    |30              |
|Fishing    |30              |
|Fishing    |30              |
|Fishing    |30              |
|Fishing    |30              |
|Fishing    |30              |
|Fishing    |30              |
|Fishing    |30              |
|Fishing    |30              |
|Fishing    |30              |
|Fishing    |30              |
|Fishing    |30              |
|Fishing    |30              |
|Fishing    |30              |
|Fishing    |30              |
|Fishing    |30              |
|Fishing    |30              |
|Fishing    |30              |
|Fishing    |30              |
+-----------+----------------+
only showing top 20 rows

In [13]:
# import library
from pyspark.sql import functions as F

# Mengelompokkan berdasarkan vessel_type dan menghitung jumlah setiap jenis kapal, kemudian mengurutkan dari yang terbanyak
result = df3.groupBy("vessel_type").count().orderBy(F.desc("count"))

# Menampilkan hasil perhitungan yang telah diurutkan
result.show()

KeyboardInterrupt:

In [15]:
# Installing AIS package
import sys
import subprocess

GITLAB_USER = "read_aistt"  #For use of members of AIS Task Team, read only access
GITLAB_TOKEN = "J1Kk8tArfyXB6dZvFcWW"
git_package = f"git+https://{GITLAB_USER}:{GITLAB_TOKEN}@code.officialstatistics.org/trade-task-team-phase-1/ais.git"

std_out = subprocess.run([sys.executable, "-m", "pip", "install",git_package], capture_output=True, text=True).stdout
print(std_out)

Collecting git+https://read_aistt:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git
  Cloning https://read_aistt:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git to /tmp/pip-req-build-ew13o44w
  Resolved https://read_aistt:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git to commit b326480f684c057cf11f95b9a1ff6c17cbca495e
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: ais
  Building wheel for ais (setup.py): started
  Building wheel for ais (setup.py): finished with status 'done'
  Created wheel for ais: filename=ais-2.8.1-py3-none-any.whl size=11240 sha256=9f85ce1a82b891fc7cd907839883110c019a3d255d977c2a7dd335c4f5b54b20
  Stored in directory: /tmp/pip-ephem-wheel-cache-j10i1ihe/wheels/6d/8c/5e/19898a2b930f8efa2ef2e6ecc8ef48797422e3ec7e0114b312
Successfully built ais
Installing collected packages: ais
Successfully installed ais-2.8.1

In [5]:
import json
from pyspark.sql import functions as F
# from ais import functions as af
import pandas as pd

# from aiski import functions as afki

In [58]:
import geopandas as gpd

In [6]:
# read data dari github
df4 = pd.read_csv("https://raw.githubusercontent.com/muhammadhanief/cobapostgre/main/hasilgdf.csv")
print(df4)

                        Port  latitude  longitude                    geometry  \
0                 Amamapare   -4.81667  136.96667  POINT (136.96667 -4.81667)
1                     Ambon   -3.68333  128.16667  POINT (128.16667 -3.68333)
2                   Ampenan   -8.56667  116.06667  POINT (116.06667 -8.56667)
3                 Anyer Lor   -6.05000  105.91667     POINT (105.91667 -6.05)
4         Ardjuna Oil Field   -5.88333  107.71667  POINT (107.71667 -5.88333)
..                       ...       ...        ...                         ...
110           Ujung Pandang   -5.13333  119.40000      POINT (119.4 -5.13333)
111               Uleelheue    5.56667   95.28333    POINT (95.28333 5.56667)
112                   Wahai   -2.78333  129.50000      POINT (129.5 -2.78333)
113                Waingapu   -2.78333  129.50000      POINT (129.5 -2.78333)
114  Widuri Marine Terminal   -4.66667  106.65000     POINT (106.65 -4.66667)

                                         AOI_projected  \
0    POLYGON ((10057039.941561881 4345244.843033175...
1    POLYGON ((9504811.45206234 5850651.04158522, 9...
2    POLYGON ((7542672.219195035 7022501.484330176,...
3    POLYGON ((6542715.543874499 8516031.980708841,...
4    POLYGON ((6809121.691165816 8342528.459749063,...
..                                                 ...
110  POLYGON ((8371502.343713237 6982460.786995188,...
111  POLYGON ((6002751.463629787 11501217.820509467...
112  POLYGON ((9772158.040875485 5725037.299661938,...
113  POLYGON ((9772158.040875485 5725037.299661938,...
114  POLYGON ((6796041.548580865 8629662.902632391,...

                                                   AOI
0    POLYGON ((136.90267174631032 -4.65502052513609...
1    POLYGON ((128.1272180821322 -3.517001081105352...
2    POLYGON ((116.06008094085954 -8.38326069953341...
3    POLYGON ((105.93968569817567 -5.87440560623520...
4    POLYGON ((107.73445739241029 -5.70755990336521...
..                                                 ...
110  POLYGON ((119.38427753683403 -4.95930552600656...
111  POLYGON ((95.32724812711298 5.7065566101914165...
112  POLYGON ((129.45756803110476 -2.62017135197451...
113  POLYGON ((129.45756803110476 -2.62017135197451...
114  POLYGON ((106.67044087748793 -4.49435481302581...

[115 rows x 6 columns]

In [90]:
# mengubahnya jadi geometri lagi
df4['geometry'] = gpd.GeoSeries.from_wkt(df4['geometry'])
df4['AOI'] = gpd.GeoSeries.from_wkt(df4['AOI'])
df4['AOI_projected'] = gpd.GeoSeries.from_wkt(df4['AOI_projected'])

# Convert to GDF
gdf4 = gpd.GeoDataFrame(df4)

In [91]:
# cek apa sudah geometri apa belum
print(gdf4['geometry'])

0      POINT (136.96667 -4.81667)
1      POINT (128.16667 -3.68333)
2      POINT (116.06667 -8.56667)
3      POINT (105.91667 -6.05000)
4      POINT (107.71667 -5.88333)
                  ...
110    POINT (119.40000 -5.13333)
111      POINT (95.28333 5.56667)
112    POINT (129.50000 -2.78333)
113    POINT (129.50000 -2.78333)
114    POINT (106.65000 -4.66667)
Name: geometry, Length: 115, dtype: geometry

In [92]:
aoi_json = gdf4

In [93]:
af.polygon_to_hex_df(aoi_json['geometry'], 10)

TypeError: cannot unpack non-iterable Point object

In [86]:
london_bbox = {
        "type": "Polygon",
        "coordinates": [
            [
                [-0.1203, 51.4415],
                [0.5869, 51.4415],
                [0.5869, 51.5262],
                [-0.1203, 51.5262],
                [-0.1203, 51.4415]
            ]
        ]
    }

In [94]:
query_polys = [("LondonPortArea", london_bbox)]
af.polygon_to_hex_df(query_polys)

                 hex_id    polygon_name  hex_resolution
0    612934495907086335  LondonPortArea               8
1    612934495053545471  LondonPortArea               8
2    612934743691886591  LondonPortArea               8
3    612934743758995455  LondonPortArea               8
4    612934743826104319  LondonPortArea               8
..                  ...             ...             ...
696  612934495760285695  LondonPortArea               8
697  612934725207588863  LondonPortArea               8
698  612934741745729535  LondonPortArea               8
699  612934741387116543  LondonPortArea               8
700  612934741257093119  LondonPortArea               8

[701 rows x 3 columns]