# Notes

Aggregate points into routes (stop/move, buffer) per Unique ship identifier (imo x mmsi)

stop is SOG<1
buffer are 22KM polygons, with overlaps combined into one polygon

if multiple port, get nearest port

Final output is save at `ki/global_routes_all`. one month is ~35Mn rows

# Initializers

In [68]:
from ais import functions as af
from pyspark.sql import functions as F
from pyspark.sql.types import *

In [69]:
import pandas as pd
import numpy as np

In [70]:
import h3.api.numpy_int as h3int

In [71]:
pd.set_option('display.max_columns', None) #Show all columns in pandas df
pd.set_option('display.max_rows', 100) #Show 100 rows in pandas df
pd.options.display.float_format = '{:.10f}'.format #Show float with 10 decimal points in pandas df

from IPython.core.interactiveshell import InteractiveShell #allow multiple outputs in one jupyter cell
InteractiveShell.ast_node_interactivity = "all"

# Variables

In [72]:
ais_cols = ['mmsi', 'imo',
 'dt_pos_utc',
 'dt_static_utc',
 'longitude',
 'latitude',
 'vessel_name',
 'vessel_type',
 'vessel_class',
 'destination',
 'draught',
 'sog',
 'nav_status',
 'H3_int_index_8',
 'H3_int_index_9',
 'H3_int_index_12',
]

In [73]:
start_date_range = pd.date_range("2022-01-01","2022-12-31", freq="MS")
end_date_range = pd.date_range("2022-01-01","2022-12-31", freq="M")

In [74]:
bucket = "ungp-ais-data-historical-backup"
path = f"s3a://{bucket}/user_temp/adb/"

# Global Ports

ensure no duplicated h3 indices otherwise this will duplicate the AIS rows

In [75]:
poly_sdf = spark.read.parquet(f"{path}ki/global_polygon/")
poly_sdf.printSchema()

root
 |-- buffer_grouped_id: long (nullable = true)
 |-- H3_int_index_8: decimal(20,0) (nullable = true)
 |-- port_id: double (nullable = true)
 |-- port_id_list: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- port_count: long (nullable = true)
 |-- passage_part_id: long (nullable = true)
 |-- passage_id: long (nullable = true)

In [76]:
poly_sdf.count()
poly_sdf.select(F.countDistinct("H3_int_index_8")).show()

7694797

+------------------------------+
|count(DISTINCT H3_int_index_8)|
+------------------------------+
|                       7694797|
+------------------------------+

In [77]:
port_sdf = spark.read.parquet(f"{path}ki/global_point/")
port_sdf.printSchema()
port_sdf.count()

root
 |-- port_id: double (nullable = true)
 |-- H3_int_index_8: long (nullable = true)
 |-- H3_int_index_9: long (nullable = true)
 |-- H3_int_index_10: long (nullable = true)
 |-- H3_int_index_11: long (nullable = true)
 |-- H3_int_index_12: long (nullable = true)
 |-- __index_level_0__: long (nullable = true)

122

In [78]:
# HHH nyimpan ke cache
port_sdf.cache()

DataFrame[port_id: double, H3_int_index_8: bigint, H3_int_index_9: bigint, H3_int_index_10: bigint, H3_int_index_11: bigint, H3_int_index_12: bigint, __index_level_0__: bigint]

In [79]:
# Jadi, secara keseluruhan, kode ini menghitung jumlah nilai unik dalam beb
# erapa kolom dari DataFrame port_sdf dan menampilkan hasilnya dengan memberikan alias 
# "8", "9", "10", "11", dan "12" masing-masing. Ini memberikan wawasan tentang seberapa 
# banyak nilai unik yang terdapat dalam masing-masing kolom yang dihitung.

In [80]:
port_sdf.agg(F.countDistinct("H3_int_index_8").alias("8"),
             F.countDistinct("H3_int_index_9").alias("9"),
             F.countDistinct( "H3_int_index_10").alias("10"),
             F.countDistinct("H3_int_index_11").alias("11"),
             F.countDistinct("H3_int_index_12").alias("12"),
            ).show()

+---+---+---+---+---+
|  8|  9| 10| 11| 12|
+---+---+---+---+---+
|122|122|122|122|122|
+---+---+---+---+---+

In [81]:
# Jadi, secara keseluruhan, baris kode tersebut menghitung jumlah nilai unik yang muncul dari kombinasi 
# nilai dalam kolom "H3_int_index_8" dan "H3_int_index_9" dari DataFrame port_sdf. Hasilnya memberikan
# informasi tentang seberapa banyak kombinasi unik yang terdapat dalam kedua kolom tersebut.

In [82]:
port_sdf.select("H3_int_index_8","H3_int_index_9").distinct().count()

122

In [83]:
#there are port ids sharing the same indices. Choose H3_int_index_9, 
#port ids with same index to be investigated later

# Jadi, secara keseluruhan, baris kode tersebut menampilkan nilai maksimum dari kolom "port_id" 
# dalam DataFrame port_sdf. Ini berguna untuk mengetahui nilai maksimum dalam kolom tersebut.

In [84]:
port_sdf.select(F.max("port_id")).show()

+------------+
|max(port_id)|
+------------+
|     53133.0|
+------------+

In [27]:
# temp = port_sdf.select("port_id").distinct().toPandas()

# Build Function

## manual call

In [85]:
i = 0
start_date = start_date_range[i]
end_date = end_date_range[i]
# start_date = "2019-01-01"
# end_date = "2019-01-07"
print(f"{start_date:'%Y-%m-%d'}:{end_date:'%Y-%m-%d'}")

'2022-01-01':'2022-01-31'

In [66]:
# Jadi, secara keseluruhan, kode ini membentuk DataFrame sdf dari data AIS, menambahkan kolom "stopped" 
# berdasarkan kondisi pada kolom "sog", mengisi nilai null dalam kolom "imo" dan "mmsi" dengan 0, dan mencetak 
# jumlah total baris DataFrame tersebut.

In [86]:
sdf = af.get_ais(spark, start_date = start_date, end_date = end_date, columns=ais_cols) \
        .withColumn("stopped", F.when(F.col("sog") < 1,F.lit(1)).otherwise(F.lit(0))) \
        .na.fill(0,["imo","mmsi"]) 

n = sdf.count()
print(f"Raw: {n:,}")

Raw: 708,862,027

In [87]:
# cek isi datanya 10 teratas. terlihat ada atribut baru ditambahkan yaitu stopped
sdf.show(10)

+---------+-------+-------------------+-------------------+------------+-----------+----------------+-----------+------------+-----------+-------+----+--------------------+------------------+------------------+------------------+-------+
|     mmsi|    imo|         dt_pos_utc|      dt_static_utc|   longitude|   latitude|     vessel_name|vessel_type|vessel_class|destination|draught| sog|          nav_status|    H3_int_index_8|    H3_int_index_9|   H3_int_index_12|stopped|
+---------+-------+-------------------+-------------------+------------+-----------+----------------+-----------+------------+-----------+-------+----+--------------------+------------------+------------------+------------------+-------+
|205654000|9691279|2022-01-01 21:17:43|2022-01-01 21:14:24|     3.20316|51.32248833|            DN97|Port Tender|           A|  ZEEBRUGGE|    1.2| 0.0|         Not Defined|612934698542301183|617438298168098815|630949097050129919|      1|
|533170107|9629237|2022-01-01 23:39:13|2022-01-01 12:39:04|  128.092125|   29.39535|     SHINLINE 15|      Cargo|           A|     TW KEL|    7.8|11.1|Under Way Using E...|613809876092583935|618313475729129471|631824274611070975|      0|
|205654000|9691279|2022-01-01 11:20:11|2022-01-01 11:01:00|  3.20309167|51.32246333|            DN97|Port Tender|           A|  ZEEBRUGGE|    1.2| 0.0|         Not Defined|612934698542301183|617438298168098815|630949097050129919|      1|
|533170107|9629237|2022-01-01 23:30:55|2022-01-01 12:39:04|  128.116055|29.41073667|     SHINLINE 15|      Cargo|           A|     TW KEL|    7.8|11.3|Under Way Using E...|613809877875163135|618313477500698623|631824276382607871|      0|
|205654000|9691279|2022-01-01 14:32:32|2022-01-01 14:25:04|     3.20318|51.32247833|            DN97|Port Tender|           A|  ZEEBRUGGE|    1.2| 0.0|         Not Defined|612934698542301183|617438298168098815|630949097050129919|      1|
|373445000|9610638|2022-01-01 13:57:12|2022-01-01 06:45:30|      128.72|29.50333333|    OCEAN SATOKO|      Cargo|           A|     VN PHU|    8.3|13.0|Under Way Using E...|613809883973681151|618313483599740927|631824282481699327|      0|
|205654000|9691279|2022-01-01 15:12:51|2022-01-01 15:01:03|  3.20313667|51.32249333|            DN97|Port Tender|           A|  ZEEBRUGGE|    1.2| 0.0|         Not Defined|612934698542301183|617438298168098815|630949097050084351|      1|
|432634000|9355264|2022-01-01 12:23:50|2022-01-01 05:22:53|128.74833333|29.49833333|ENERGY NAVIGATOR|     Tanker|           A|     AU DAM|    9.9|20.0|Under Way Using E...|613809883904475135|618313483531583487|631824282413453823|      0|
|205654000|9691279|2022-01-01 01:13:03|2022-01-01 01:13:01|  3.20311333|51.32249167|            DN97|Port Tender|           A|  ZEEBRUGGE|    1.2| 0.0|         Not Defined|612934698542301183|617438298168098815|630949097050084351|      1|
|352898719|9902603|2022-01-01 09:10:21|2021-12-30 20:38:50|128.46333333|      29.55|       KIZUNA 21|      Cargo|           A|     JP OSA|    5.8|12.0|Under Way Using E...|613809887119409151|618313486745206783|631824285627133439|      0|
+---------+-------+-------------------+-------------------+------------+-----------+----------------+-----------+------------+-----------+-------+----+--------------------+------------------+------------------+------------------+-------+
only showing top 10 rows

In [32]:
# Dengan demikian, kode ini menggabungkan sdf dan poly_sdf berdasarkan kolom "H3_int_index_8" dengan left join, dan kemudian mencetak jumlah 
# baris hasil gabungan serta skema DataFrame hasil gabungan.

In [88]:
#attach polygon
sdf_wpoly = sdf.join(poly_sdf.drop("poly_id"),
                     on = "H3_int_index_8",
                     how='left'
                    )
#should be same as raw
n = sdf_wpoly.count()
print(f"Poly attached, should be same as raw: {n:,}")
sdf_wpoly.printSchema()

Poly attached, should be same as raw: 708,862,027
root
 |-- H3_int_index_8: long (nullable = true)
 |-- mmsi: integer (nullable = true)
 |-- imo: integer (nullable = true)
 |-- dt_pos_utc: timestamp (nullable = true)
 |-- dt_static_utc: timestamp (nullable = true)
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- vessel_name: string (nullable = true)
 |-- vessel_type: string (nullable = true)
 |-- vessel_class: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- draught: double (nullable = true)
 |-- sog: double (nullable = true)
 |-- nav_status: string (nullable = true)
 |-- H3_int_index_9: long (nullable = true)
 |-- H3_int_index_12: long (nullable = true)
 |-- stopped: integer (nullable = false)
 |-- buffer_grouped_id: long (nullable = true)
 |-- port_id: double (nullable = true)
 |-- port_id_list: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- port_count: long (nullable = true)
 |-- passage_part_id: long (nullable = true)
 |-- passage_id: long (nullable = true)

In [89]:
# Jadi, keseluruhan, kode ini mengidentifikasi dan mencetak jumlah hexes dalam DataFrame sdf_wpoly yang memiliki lebih dari satu polygon 
# (dengan nilai "port_count" lebih dari 1) dan menampilkan jumlahnya.

In [90]:
sdf_overlap = sdf_wpoly.filter(F.col("port_count") > 1) \
         .select("H3_int_index_8","port_id_list").distinct()
print(f"Hexes with multiple polygons: {sdf_overlap.count():,}")

Hexes with multiple polygons: 497,985

In [36]:
sdf_overlap.cache()

DataFrame[H3_int_index_8: bigint, port_id_list: array<double>]

In [43]:
# melihat 10 data teratas
sdf_overlap.show(10)

+------------------+--------------------+
|    H3_int_index_8|        port_id_list|
+------------------+--------------------+
|612929995160944639|  [33340.0, 33290.0]|
|613212096108167167|[16140.0, 16145.0...|
|613231725138411519|    [8120.0, 7200.0]|
|613301768628994047|  [61340.0, 61350.0]|
|613305501177872383|[61547.0, 61555.0...|
|613481690142081023|  [39260.0, 39250.0]|
|613601501947887615|[40245.0, 40240.0...|
|613680102097551359|[48272.0, 48271.0...|
|613957316510744575|[48343.0, 48342.0...|
|614320665788415999|  [51646.0, 51645.0]|
+------------------+--------------------+
only showing top 10 rows

Note:

given point
```python
>>>x = 104.01716666666668
>>>y = 1.2565633333333333
>>>h3int.geo_to_h3(y,x, 9)
618772617860481023
>>>h3int.geo_to_h3(y,x, 8)
614269018274004991
```
BUT
```python
>>>h3int.h3_to_parent(618772617860481023, 8)
>>>614269018234159103
>>>h3int.h3_to_parent(h3int.geo_to_h3(y,x, 9), 8) == h3int.geo_to_h3(y,x, 8)
>>>False
```

In [46]:
@F.udf(returnType=IntegerType()) 
def h3_distance(h3_1, h3_2): 
    return h3int.h3_distance(h3_1, h3_2)

In [50]:
sdf_ports_ind_dist = sdf_overlap \
         .withColumn("port_id",F.explode("port_id_list")) \
         .join(port_sdf.select("port_id","H3_int_index_8")
                   .withColumnRenamed("H3_int_index_8","H3_int_index_8_ind"),
               how="left",
               on="port_id"
              ) \
         .withColumn("h3_distance",h3_distance(F.col("H3_int_index_8"), F.col("H3_int_index_8_ind"))) 
sdf_ports_ind_dist.count()

1340497

In [40]:
sdf_ports_ind_dist.printSchema()

root
 |-- port_id: double (nullable = true)
 |-- H3_int_index_8: long (nullable = true)
 |-- port_id_list: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- H3_int_index_8_ind: long (nullable = true)
 |-- h3_distance: integer (nullable = true)

In [49]:
# HHH hapus cache
# sdf_ports_ind_dist.unpersist()

DataFrame[port_id: double, H3_int_index_8: bigint, port_id_list: array<double>, H3_int_index_8_ind: bigint, h3_distance: int]

In [53]:
sdf_ports_nearest =  sdf_ports_ind_dist.groupBy("H3_int_index_8").agg(F.min("h3_distance").alias("h3_distance")) \
                                        .join(sdf_ports_ind_dist.select("port_id","H3_int_index_8","h3_distance"),
                                              how="left",
                                              on=['H3_int_index_8','h3_distance']) \
                                        .groupBy("H3_int_index_8").agg(F.collect_set("port_id").alias("nearest_port_id_list"),
                                                                       F.count(F.lit(1)).alias("nearest_port_count"))
                                              
sdf_ports_nearest.count()
# sdf_ports_nearest.show(n=10)

497985

In [ ]:
# temp = sdf_ports_nearest.filter(F.col("nearest_port_count") > 1).select("nearest_port_id_list").distinct().toPandas()
# temp = temp.explode("nearest_port_id_list").reset_index()

In [54]:
# temp[temp.duplicated('nearest_port_id_list',keep=False)].sort_values("nearest_port_id_list").head(100)

In [57]:
sdf_ports_nearest.unpersist()

DataFrame[H3_int_index_8: bigint, nearest_port_id_list: array<double>, nearest_port_count: bigint]

In [91]:
sdf_ports_nearest.filter(F.col("nearest_port_count")>1).count()

PythonException:
  An exception was thrown from the Python worker. Please see the stack trace below.
Traceback (most recent call last):
  File "/tmp/ipykernel_51/2127951053.py", line 3, in h3_distance
  File "/opt/conda/lib/python3.8/site-packages/h3/api/_api_template.py", line 272, in h3_distance
    d = _cy.distance(h1, h2)
  File "cells.pyx", line 47, in h3._cy.cells.distance
TypeError: an integer is required

DataFrame[H3_int_index_8: bigint, nearest_port_id_list: array<double>, nearest_port_count: bigint]

In [92]:
sdf_wpoly_stopped = sdf_wpoly.join(sdf_ports_nearest,
               on = ["H3_int_index_8"],
               how="left"
              ) \
         .withColumn("nearest_port", F.when(F.col("nearest_port_count")==1,F.col("nearest_port_id_list").getItem(1))) \
         .withColumn("nearest_ports", F.when(F.col("nearest_port_count")>1,F.concat_ws(",",F.col("nearest_port_id_list"))) \
                                        .otherwise(",")) \
         .withColumn("port_id", F.coalesce("port_id","nearest_port")) \
         .drop("nearest_port","nearest_port_id_list") \
         .na.fill(-1, ["port_id","passage_part_id","passage_id"]) \
         .withColumn("poly",F.concat_ws(":",
                                        F.col("stopped"),
                                        F.col("port_id"),
                                        F.col("nearest_ports"),
                                        F.col("passage_part_id"),
                                        F.col("passage_id")
                                       )
                    )

#should be same as original
sdf_wpoly_stopped.count()
sdf_wpoly_stopped.printSchema()
#1022884130

708862027

root
 |-- H3_int_index_8: long (nullable = true)
 |-- mmsi: integer (nullable = true)
 |-- imo: integer (nullable = true)
 |-- dt_pos_utc: timestamp (nullable = true)
 |-- dt_static_utc: timestamp (nullable = true)
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- vessel_name: string (nullable = true)
 |-- vessel_type: string (nullable = true)
 |-- vessel_class: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- draught: double (nullable = true)
 |-- sog: double (nullable = true)
 |-- nav_status: string (nullable = true)
 |-- H3_int_index_9: long (nullable = true)
 |-- H3_int_index_12: long (nullable = true)
 |-- stopped: integer (nullable = false)
 |-- buffer_grouped_id: long (nullable = true)
 |-- port_id: double (nullable = false)
 |-- port_id_list: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- port_count: long (nullable = true)
 |-- passage_part_id: long (nullable = true)
 |-- passage_id: long (nullable = true)
 |-- nearest_port_count: long (nullable = true)
 |-- nearest_ports: string (nullable = false)
 |-- poly: string (nullable = false)

In [65]:
sdf_wpoly_stopped.select("poly","stopped","port_id","nearest_ports","passage_part_id","passage_id").show(n=10)

PythonException:
  An exception was thrown from the Python worker. Please see the stack trace below.
Traceback (most recent call last):
  File "/tmp/ipykernel_51/2127951053.py", line 3, in h3_distance
  File "/opt/conda/lib/python3.8/site-packages/h3/api/_api_template.py", line 272, in h3_distance
    d = _cy.distance(h1, h2)
  File "cells.pyx", line 47, in h3._cy.cells.distance
TypeError: an integer is required

In [61]:
sdf_routes = af.assign_route(sdf_wpoly_stopped, 
                             ship_unique_identifier_cols = ['mmsi','imo'],
                             route_order_by_cols = ['dt_pos_utc', 'dt_static_utc'],
                             polygon_col_name = "poly"
                            )
sdf_routes.printSchema()

root
 |-- H3_int_index_8: long (nullable = true)
 |-- mmsi: integer (nullable = true)
 |-- imo: integer (nullable = true)
 |-- dt_pos_utc: timestamp (nullable = true)
 |-- dt_static_utc: timestamp (nullable = true)
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- vessel_name: string (nullable = true)
 |-- vessel_type: string (nullable = true)
 |-- vessel_class: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- draught: double (nullable = true)
 |-- sog: double (nullable = true)
 |-- nav_status: string (nullable = true)
 |-- H3_int_index_9: long (nullable = true)
 |-- H3_int_index_12: long (nullable = true)
 |-- stopped: integer (nullable = false)
 |-- buffer_grouped_id: long (nullable = true)
 |-- port_id: double (nullable = false)
 |-- port_id_list: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- port_count: long (nullable = true)
 |-- passage_part_id: long (nullable = true)
 |-- passage_id: long (nullable = true)
 |-- nearest_port_count: long (nullable = true)
 |-- nearest_ports: string (nullable = false)
 |-- poly: string (nullable = false)
 |-- route_group: long (nullable = true)

In [63]:
# unique_group_cols = ['imo','mmsi','route_group']
# order_by_cols = "dt_pos_utc"
# last_cols = ["dt_pos_utc","draught","nav_status","destination"]
# first_cols = ["dt_pos_utc","buffer_grouped_id","port_id","nearest_ports","vessel_type",
#               "vessel_name","latitude","longitude","H3_int_index_8","H3_int_index_12",
#              "draught","nav_status","destination"]
# min_max_avg_cols = ["sog"]
# count_cols

sdf_agg = sdf_routes.groupBy('imo','mmsi','route_group').agg(F.max("dt_pos_utc").alias("departure_dt_pos_utc"),
                                                F.min("dt_pos_utc").alias("arrival_dt_pos_utc"),
                                                F.min_by("stopped","dt_pos_utc").alias("stopped"),
                                                F.min_by("buffer_grouped_id","dt_pos_utc").alias("buffer_grouped_id"),
                                                F.min_by("port_id","dt_pos_utc").alias("port_id"),
                                                F.min_by("nearest_ports","dt_pos_utc").alias("nearest_ports_id"),
                                                F.min_by("passage_part_id","dt_pos_utc").alias("passage_part_id"),
                                                F.min_by("passage_id","dt_pos_utc").alias("passage_id"),             
                                                F.min_by("vessel_type","dt_pos_utc").alias("vessel_type"),
                                                F.min_by("vessel_name","dt_pos_utc").alias("vessel_name"),
                                                F.min_by("latitude","dt_pos_utc").alias("latitude"),
                                                F.min_by("longitude","dt_pos_utc").alias("longitude"),
                                                F.min_by("H3_int_index_8","dt_pos_utc").alias("H3_int_index_8"),
                                                F.min_by("H3_int_index_12","dt_pos_utc").alias("H3_int_index_12"),
                                                F.min_by("draught","dt_pos_utc").alias("arrival_draught"),
                                                F.min_by("nav_status","dt_pos_utc").alias("arrival_nav_status"),
                                                F.min_by("destination","dt_pos_utc").alias("arrival_destination"),
                                                F.max_by("draught","dt_pos_utc").alias("departure_draught"),
                                                F.max_by("nav_status","dt_pos_utc").alias("departure_nav_status"),
                                                F.max_by("destination","dt_pos_utc").alias("departure_destination"),                                                F.mean("sog").alias("mean_sog"),
                                                F.max("sog").alias("max_sog"),
                                                F.min("sog").alias("min_sog"),
                                                F.count("mmsi").alias("count_ais")
                                                            )

In [64]:
print(f"grouped {sdf_agg.count():,}")
print(f"grouped distinct {sdf_agg.distinct().count():,}")

PythonException:
  An exception was thrown from the Python worker. Please see the stack trace below.
Traceback (most recent call last):
  File "/tmp/ipykernel_51/2127951053.py", line 3, in h3_distance
  File "/opt/conda/lib/python3.8/site-packages/h3/api/_api_template.py", line 272, in h3_distance
    d = _cy.distance(h1, h2)
  File "cells.pyx", line 47, in h3._cy.cells.distance
TypeError: an integer is required

In [ ]:
sdf_routes.select('imo','mmsi','route_group').distinct().count()

In [70]:
def save_routes(sdf, mode, path):
    sdf.withColumn("date", F.coalesce("arrival_dt_pos_utc","departure_dt_pos_utc")) \
        .withColumn("year", F.year("date")) \
        .withColumn("month", F.month("date")) \
        .repartition(1,"year","month") \
        .write \
        .mode(mode) \
        .partitionBy("year","month") \
        .parquet(path)
    print("Saved")
    return None

In [71]:
save_routes(sdf_agg.distinct(), 
            mode="overwrite", 
            path=f"{path}ki/global_routes_all/")

Py4JJavaError: An error occurred while calling o894.parquet.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.jobAbortedError(QueryExecutionErrors.scala:638)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:278)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:186)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:113)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:111)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.executeCollect(commands.scala:125)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:109)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:169)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:95)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:94)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:584)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:176)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:584)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:560)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:81)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:79)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:116)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:860)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:390)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:363)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:239)
	at org.apache.spark.sql.DataFrameWriter.parquet(DataFrameWriter.scala:793)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 195.0 failed 4 times, most recent failure: Lost task 0.3 in stage 195.0 (TID 3321) (192.168.93.235 executor 24): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/tmp/ipykernel_51/2127951053.py", line 3, in h3_distance
  File "/opt/conda/lib/python3.8/site-packages/h3/api/_api_template.py", line 272, in h3_distance
    d = _cy.distance(h1, h2)
  File "cells.pyx", line 47, in h3._cy.cells.distance
TypeError: an integer is required

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:559)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$2.read(PythonUDFRunner.scala:86)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$2.read(PythonUDFRunner.scala:68)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:512)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:760)
	at org.apache.spark.sql.execution.columnar.DefaultCachedBatchSerializer$$anon$1.hasNext(InMemoryRelation.scala:118)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.storage.memory.MemoryStore.putIterator(MemoryStore.scala:223)
	at org.apache.spark.storage.memory.MemoryStore.putIteratorAsValues(MemoryStore.scala:302)
	at org.apache.spark.storage.BlockManager.$anonfun$doPutIterator$1(BlockManager.scala:1508)
	at org.apache.spark.storage.BlockManager.org$apache$spark$storage$BlockManager$$doPut(BlockManager.scala:1435)
	at org.apache.spark.storage.BlockManager.doPutIterator(BlockManager.scala:1499)
	at org.apache.spark.storage.BlockManager.getOrElseUpdate(BlockManager.scala:1322)
	at org.apache.spark.rdd.RDD.getOrCompute(RDD.scala:376)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:327)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2672)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2608)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2607)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1182)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2860)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2791)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/tmp/ipykernel_51/2127951053.py", line 3, in h3_distance
  File "/opt/conda/lib/python3.8/site-packages/h3/api/_api_template.py", line 272, in h3_distance
    d = _cy.distance(h1, h2)
  File "cells.pyx", line 47, in h3._cy.cells.distance
TypeError: an integer is required

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:559)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$2.read(PythonUDFRunner.scala:86)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$2.read(PythonUDFRunner.scala:68)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:512)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:760)
	at org.apache.spark.sql.execution.columnar.DefaultCachedBatchSerializer$$anon$1.hasNext(InMemoryRelation.scala:118)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.storage.memory.MemoryStore.putIterator(MemoryStore.scala:223)
	at org.apache.spark.storage.memory.MemoryStore.putIteratorAsValues(MemoryStore.scala:302)
	at org.apache.spark.storage.BlockManager.$anonfun$doPutIterator$1(BlockManager.scala:1508)
	at org.apache.spark.storage.BlockManager.org$apache$spark$storage$BlockManager$$doPut(BlockManager.scala:1435)
	at org.apache.spark.storage.BlockManager.doPutIterator(BlockManager.scala:1499)
	at org.apache.spark.storage.BlockManager.getOrElseUpdate(BlockManager.scala:1322)
	at org.apache.spark.rdd.RDD.getOrCompute(RDD.scala:376)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:327)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)

## Check

In [119]:
temp2 = sdf_routes.filter((F.col("imo")==9703174) & (F.col("mmsi")==710001788))
temp2.count()

36555

In [120]:
sdf_routes.printSchema()

root
 |-- H3_int_index_8: long (nullable = true)
 |-- mmsi: integer (nullable = true)
 |-- imo: integer (nullable = true)
 |-- dt_pos_utc: timestamp (nullable = true)
 |-- dt_static_utc: timestamp (nullable = true)
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- vessel_name: string (nullable = true)
 |-- vessel_type: string (nullable = true)
 |-- vessel_class: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- draught: double (nullable = true)
 |-- sog: double (nullable = true)
 |-- nav_status: string (nullable = true)
 |-- H3_int_index_9: long (nullable = true)
 |-- H3_int_index_12: long (nullable = true)
 |-- stopped: integer (nullable = false)
 |-- buffer_grouped_id: long (nullable = true)
 |-- port_id: double (nullable = false)
 |-- port_id_list: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- port_count: long (nullable = true)
 |-- passage_part_id: long (nullable = true)
 |-- passage_id: long (nullable = true)
 |-- nearest_port_count: long (nullable = true)
 |-- nearest_ports: array (nullable = true)
 |    |-- element: long (containsNull = false)
 |-- poly: string (nullable = false)
 |-- route_group: long (nullable = true)

In [121]:
temp2=temp2.toPandas()
temp2.sort_values("dt_pos_utc", inplace=True, ignore_index=True)

/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

In [127]:
temp2[~temp2.nearest_port_count.isnull()]

Empty DataFrame
Columns: [H3_int_index_8, mmsi, imo, dt_pos_utc, dt_static_utc, longitude, latitude, vessel_name, vessel_type, vessel_class, destination, draught, sog, nav_status, H3_int_index_9, H3_int_index_12, stopped, buffer_grouped_id, port_id, port_id_list, port_count, passage_part_id, passage_id, nearest_port_count, nearest_ports, poly, route_group]
Index: []

In [140]:
sdf_agg = spark.read.parquet(f"{path}ki/global_routes_all/")

In [146]:
temp = sdf_agg.filter((F.col("vessel_type")=="Cargo") & (F.col("nearest_ports_id")!= ",")).groupBy("imo").count().toPandas()

In [148]:
temp.sort_values("count", ascending=False)

             imo   count
1336           0  149515
8345     9739642    1094
15859    9701190     716
4974     9616838     682
2113     9127540     594
...          ...     ...
8019   201051011       1
8016     8949056       1
1640     9584229       1
8009     9735191       1
8395     9689172       1

[17703 rows x 2 columns]

In [150]:
temp = sdf_agg.filter(F.col("imo")==9739642).toPandas()
# temp = temp[temp.mmsi==710001788].sort_values("arrival_dt_pos_utc", ignore_index=True)

/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

In [152]:
temp.mmsi.value_counts()

431005799    2360
257551600       1
367661820       1
Name: mmsi, dtype: int64

In [154]:
temp.sort_values("arrival_dt_pos_utc", ignore_index=True, inplace=True)

In [166]:
# sdf_agg.filter(F.col("passage_id") > -1).show(n=10)

+---+---------+-----------+--------------------+-------------------+-------+-----------------+-------+----------------+---------------+----------+-----------+-----------+------------------+-------------------+------------------+------------------+---------------+--------------------+-------------------+-----------------+--------------------+---------------------+-------------------+-------+-------+---------+-------------------+----+-----+
|imo|     mmsi|route_group|departure_dt_pos_utc| arrival_dt_pos_utc|stopped|buffer_grouped_id|port_id|nearest_ports_id|passage_part_id|passage_id|vessel_type|vessel_name|          latitude|          longitude|    H3_int_index_8|   H3_int_index_12|arrival_draught|  arrival_nav_status|arrival_destination|departure_draught|departure_nav_status|departure_destination|           mean_sog|max_sog|min_sog|count_ais|               date|year|month|
+---+---------+-----------+--------------------+-------------------+-------+-----------------+-------+----------------+---------------+----------+-----------+-----------+------------------+-------------------+------------------+------------------+---------------+--------------------+-------------------+-----------------+--------------------+---------------------+-------------------+-------+-------+---------+-------------------+----+-----+
|  0|232012123|          0| 2019-01-17 10:43:41|2019-01-17 10:43:41|      1|             1243| 1752.0|               ,|              1|        10|UNAVAILABLE|UNAVAILABLE| 50.19695333333333| -3.787613333333333|612919854044807167|630934252552750079|            0.0|             Unknown|               null|              0.0|             Unknown|                 null|                0.7|    0.7|    0.7|        1|2019-01-17 10:43:41|2019|    1|
|  0|232012123|          1| 2019-01-22 18:40:20|2019-01-17 10:53:43|      0|             1243| 1752.0|               ,|              1|        10|UNAVAILABLE|UNAVAILABLE|           50.1988|          -3.786415|612919854044807167|630934252552267775|            0.0|             Unknown|               null|              0.0|             Unknown|                 null|              11.85|   14.1|    9.6|        2|2019-01-17 10:53:43|2019|    1|
|  0|235071765|          0| 2019-01-20 11:11:17|2019-01-20 10:06:47|      1|             1243|   -1.0|               ,|              1|        10|UNAVAILABLE|      ARIMA|         50.399595|-3.5088916666666665|612935633641406463|630950032150497791|            0.0|             Unknown|               null|              0.0|             Unknown|                 null|0.03333333333333333|    0.1|    0.0|        6|2019-01-20 10:06:47|2019|    1|
|  0|235071765|          1| 2019-01-20 12:50:17|2019-01-20 11:21:47|      0|             1243|   -1.0|               ,|              1|        10|UNAVAILABLE|      ARIMA|           50.3995|-3.5103766666666667|612935633641406463|630950032150568447|            0.0|             Unknown|               null|              0.0|             Unknown|                 null|  6.055555555555555|    8.1|    2.2|        9|2019-01-20 11:21:47|2019|    1|
|  0|235071765|          2| 2019-01-23 06:55:27|2019-01-20 12:57:17|      1|             1243|   -1.0|               ,|              1|        10|UNAVAILABLE|      ARIMA|         50.350505|-3.5764983333333333|612935637294645247|630950035803543039|            0.0|             Unknown|               null|              0.0|             Unknown|                 null|              0.275|    0.9|    0.0|        4|2019-01-20 12:57:17|2019|    1|
|  0|235071765|          3| 2019-01-23 07:47:21|2019-01-23 07:05:52|      0|             1243|   -1.0|               ,|              1|        10|UNAVAILABLE|      ARIMA| 50.35112333333333|-3.5763416666666665|612935637294645247|630950035803554303|            0.0|             Unknown|               null|              0.0|             Unknown|                 null| 3.5200000000000005|    4.0|    3.0|        5|2019-01-23 07:05:52|2019|    1|
|  0|431007895|         74| 2019-01-13 22:49:29|2019-01-13 22:35:38|      0|             2006|   -1.0|               ,|              1|         6|      Cargo|     SHOREI| 34.54313166666667| 131.08933166666668|613347980579176447|631362379087988735|            5.5|Under Way Using E...|       >JP KIJ E/WM|              5.5|Under Way Using E...|         >JP KIJ E/WM|              12.55|   12.6|   12.5|        2|2019-01-13 22:35:38|2019|    1|
|  0|431007895|         75| 2019-01-13 23:01:07|2019-01-13 23:01:07|      0|              886| 1012.0|               ,|              1|         6|      Cargo|     SHOREI|34.596336666666666| 131.17473333333334|613347981594198015|631362380102673407|            5.5|Under Way Using E...|       >JP KIJ E/WM|              5.5|Under Way Using E...|         >JP KIJ E/WM|               12.3|   12.3|   12.3|        1|2019-01-13 23:01:07|2019|    1|
|  0|431007895|         76| 2019-01-14 02:13:59|2019-01-14 00:11:17|      0|             2006|   -1.0|               ,|              1|         6|      Cargo|     SHOREI| 34.73736666666667| 131.41607166666665|613347959037231103|631362357545439743|            5.5|Under Way Using E...|          >JP KIJ E|              5.5|Under Way Using E...|            >JP KIJ E| 12.638461538461538|   12.8|   12.4|       13|2019-01-14 00:11:17|2019|    1|
|  0|431007895|         77| 2019-01-14 02:56:59|2019-01-14 02:24:28|      0|              917| 1013.0|               ,|              1|         6|      Cargo|     SHOREI|          35.02131| 131.86877166666667|613347807423627263|631362205932704255|            5.5|Under Way Using E...|          >JP KIJ E|              5.5|Under Way Using E...|            >JP KIJ E|              12.48|   12.8|   12.3|        5|2019-01-14 02:24:28|2019|    1|
+---+---------+-----------+--------------------+-------------------+-------+-----------------+-------+----------------+---------------+----------+-----------+-----------+------------------+-------------------+------------------+------------------+---------------+--------------------+-------------------+-----------------+--------------------+---------------------+-------------------+-------+-------+---------+-------------------+----+-----+
only showing top 10 rows

In [163]:
temp[['arrival_dt_pos_utc','departure_dt_pos_utc','stopped','count_ais','port_id','nearest_ports_id','passage_part_id','passage_id','latitude','longitude','arrival_destination','departure_destination']].iloc[200:300]

,arrival_dt_pos_utc,departure_dt_pos_utc,stopped,count_ais,port_id,nearest_ports_id,passage_part_id,passage_id,latitude,longitude,arrival_destination,departure_destination
200,2019-01-02 15:03:58,2019-01-02 15:09:57,1,2,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
201,2019-01-02 15:13:21,2019-01-02 15:13:21,1,1,-1.0000000000,",",-1,-1,34.0529950000,131.7839733333,>JP TMI,>JP TMI
202,2019-01-02 15:24:57,2019-01-02 15:24:57,1,1,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
203,2019-01-02 15:25:20,2019-01-02 15:25:20,1,1,-1.0000000000,",",-1,-1,34.0529783333,131.7839500000,>JP TMI,>JP TMI
204,2019-01-02 15:27:58,2019-01-02 15:33:58,1,2,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
205,2019-01-02 15:37:18,2019-01-02 16:13:20,1,4,-1.0000000000,",",-1,-1,34.0530283333,131.7839316667,>JP TMI,>JP TMI
206,2019-01-02 16:20:18,2019-01-02 16:20:18,1,1,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
207,2019-01-02 16:25:19,2019-01-02 16:25:19,1,1,-1.0000000000,",",-1,-1,34.0529950000,131.7839633333,>JP TMI,>JP TMI
208,2019-01-02 16:29:19,2019-01-02 16:35:18,0,3,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
209,2019-01-02 16:38:18,2019-01-02 17:32:18,0,16,-1.0000000000,",",-1,-1,34.0400000000,131.7833333333,>JP TMI,>JP TMI
210,2019-01-02 17:35:18,2019-01-02 17:35:51,0,2,-1.0000000000,"2165,2166",-1,-1,33.8616666667,131.7666666667,>JP TXD,>JP TMI
211,2019-01-02 17:41:20,2019-01-02 17:45:59,0,3,-1.0000000000,",",-1,-1,33.8416666667,131.7700000000,>JP TMI,>JP TMI
212,2019-01-02 17:53:19,2019-01-02 18:06:30,0,5,2166.0000000000,",",-1,-1,33.8016666667,131.7766666667,>JP TMI,>JP TMI
213,2019-01-02 18:08:18,2019-01-02 21:47:19,0,74,-1.0000000000,",",-1,-1,33.7533333333,131.7850000000,>JP TMI,>JP TMI
214,2019-01-02 22:47:19,2019-01-03 04:41:20,1,30,-1.0000000000,",",-1,-1,33.0883333333,131.8533333333,>JP TMI,>JP TMI
215,2019-01-03 04:53:19,2019-01-03 05:56:19,0,11,-1.0000000000,",",-1,-1,33.0900000000,131.8783333333,>JP TXD,>JP TMI
216,2019-01-03 05:59:21,2019-01-03 06:08:19,0,5,3358.0000000000,",",-1,-1,33.2883333333,131.9116666667,>JP TXD,>JP TMI
217,2019-01-03 06:11:16,2019-01-03 06:11:45,0,3,-1.0000000000,",",-1,-1,33.3281066667,131.9077516667,>JP TXD,>JP TMI
218,2019-01-03 06:14:19,2019-01-03 06:14:19,0,1,3358.0000000000,",",-1,-1,33.3366666667,131.9066666667,>JP TXD,>JP TXD
219,2019-01-03 06:17:19,2019-01-03 06:44:06,0,8,-1.0000000000,",",-1,-1,33.3466666667,131.9066666667,>JP TMI,>JP TMI
220,2019-01-03 06:47:20,2019-01-03 06:47:20,0,1,3358.0000000000,",",-1,-1,33.4466666667,131.9000000000,>JP TXD,>JP TXD
221,2019-01-03 06:47:47,2019-01-03 08:20:19,0,29,-1.0000000000,",",-1,-1,33.4489516667,131.9000366667,>JP TMI,>JP TMI
222,2019-01-03 08:23:19,2019-01-03 08:35:45,0,6,2166.0000000000,",",-1,-1,33.7583333333,131.7983333333,>JP TXD,>JP TMI
223,2019-01-03 08:39:37,2019-01-03 09:11:46,0,7,-1.0000000000,",",-1,-1,33.8106966667,131.7839883333,>JP TMI,>JP TMI
224,2019-01-03 09:20:26,2019-01-03 09:20:26,0,1,-1.0000000000,"2165,3322",-1,-1,33.9408300000,131.7547300000,>JP TMI,>JP TMI
225,2019-01-03 09:23:21,2019-01-03 09:51:16,0,7,-1.0000000000,",",-1,-1,33.9500000000,131.7516666667,>JP TMI,>JP TMI
226,2019-01-03 09:53:56,2019-01-03 09:53:56,0,1,-1.0000000000,"3440,3322",-1,-1,34.0380483333,131.7814466667,>JP TMI,>JP TMI
227,2019-01-03 09:56:20,2019-01-03 09:59:19,0,3,-1.0000000000,",",-1,-1,34.0416666667,131.7833333333,>JP TMI,>JP TMI
228,2019-01-03 10:01:35,2019-01-03 10:01:35,0,1,-1.0000000000,"3440,3322",-1,-1,34.0478683333,131.7848450000,>JP TMI,>JP TMI
229,2019-01-03 10:11:46,2019-01-03 10:23:47,1,4,-1.0000000000,",",-1,-1,34.0529700000,131.7839150000,>JP TMI,>JP TMI
230,2019-01-03 10:32:21,2019-01-03 10:32:21,1,1,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
231,2019-01-03 10:32:36,2019-01-03 10:32:36,1,1,-1.0000000000,",",-1,-1,34.0529966667,131.7839316667,>JP TMI,>JP TMI
232,2019-01-03 10:35:21,2019-01-03 10:35:21,1,1,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
233,2019-01-03 10:43:26,2019-01-03 10:47:45,1,2,-1.0000000000,",",-1,-1,34.0529983333,131.7839633333,>JP TXD,>JP TMI
234,2019-01-03 10:53:20,2019-01-03 10:53:20,1,1,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
235,2019-01-03 10:53:45,2019-01-03 11:37:27,1,7,-1.0000000000,",",-1,-1,34.0529766667,131.7839400000,>JP TMI,>JP TMI
236,2019-01-03 11:38:20,2019-01-03 11:38:20,1,1,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TXD,>JP TXD
237,2019-01-03 11:47:46,2019-01-03 11:49:06,1,2,-1.0000000000,",",-1,-1,34.0529866667,131.7839316667,>JP TMI,>JP TMI
238,2019-01-03 12:02:21,2019-01-03 12:02:21,1,1,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
239,2019-01-03 12:03:26,2019-01-03 12:17:06,1,2,-1.0000000000,",",-1,-1,34.0529800000,131.7839483333,>JP TMI,>JP TMI
240,2019-01-03 12:17:20,2019-01-03 12:17:20,1,1,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TXD,>JP TXD
241,2019-01-03 12:28:46,2019-01-03 13:02:06,1,5,-1.0000000000,",",-1,-1,34.0529966667,131.7839416667,>JP TXD,>JP TMI
242,2019-01-03 13:02:20,2019-01-03 13:05:20,1,2,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TXD,>JP TMI
243,2019-01-03 13:11:45,2019-01-03 14:12:26,1,7,-1.0000000000,",",-1,-1,34.0530033333,131.7839400000,>JP TMI,>JP TMI
244,2019-01-03 14:14:21,2019-01-03 14:23:20,1,2,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TXD,>JP TMI
245,2019-01-03 14:23:45,2019-01-03 14:24:45,1,2,-1.0000000000,",",-1,-1,34.0530000000,131.7839250000,>JP TMI,>JP TMI
246,2019-01-03 14:29:20,2019-01-03 14:32:20,1,2,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
247,2019-01-03 14:35:06,2019-01-03 14:35:06,1,1,-1.0000000000,",",-1,-1,34.0530016667,131.7839016667,>JP TMI,>JP TMI
248,2019-01-03 14:38:22,2019-01-03 14:47:20,1,4,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TXD,>JP TMI
249,2019-01-03 14:49:06,2019-01-03 14:49:06,1,1,-1.0000000000,",",-1,-1,34.0529883333,131.7839316667,>JP TMI,>JP TMI
250,2019-01-03 14:56:20,2019-01-03 14:56:20,1,1,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
251,2019-01-03 14:59:06,2019-01-03 15:10:06,1,2,-1.0000000000,",",-1,-1,34.0529750000,131.7839433333,>JP TMI,>JP TXD
252,2019-01-03 15:14:20,2019-01-03 15:20:21,1,2,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TXD,>JP TMI
253,2019-01-03 15:21:05,2019-01-03 15:55:06,1,4,-1.0000000000,",",-1,-1,34.0529900000,131.7839666667,>JP TMI,>JP TXD
254,2019-01-03 16:05:21,2019-01-03 16:05:21,1,1,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
255,2019-01-03 16:06:45,2019-01-03 16:06:45,1,1,-1.0000000000,",",-1,-1,34.0530083333,131.7839500000,>JP TMI,>JP TMI
256,2019-01-03 16:11:20,2019-01-03 16:11:20,1,1,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
257,2019-01-03 16:19:07,2019-01-03 16:19:07,1,1,-1.0000000000,",",-1,-1,34.0529916667,131.7839433333,>JP TMI,>JP TMI
258,2019-01-03 16:20:19,2019-01-03 16:26:20,1,2,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
259,2019-01-03 16:34:25,2019-01-03 16:34:25,1,1,-1.0000000000,",",-1,-1,34.0529866667,131.7839666667,>JP TMI,>JP TMI
260,2019-01-03 16:35:20,2019-01-03 16:38:20,1,2,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
261,2019-01-03 16:45:06,2019-01-03 16:45:06,1,1,-1.0000000000,",",-1,-1,34.0529933333,131.7839333333,>JP TMI,>JP TMI
262,2019-01-03 16:50:21,2019-01-03 16:53:21,1,2,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TXD
263,2019-01-03 16:56:26,2019-01-03 16:56:26,1,1,-1.0000000000,",",-1,-1,34.0529583333,131.7839450000,>JP TMI,>JP TMI
264,2019-01-03 17:02:21,2019-01-03 17:02:21,1,1,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
265,2019-01-03 17:07:46,2019-01-03 17:07:46,1,1,-1.0000000000,",",-1,-1,34.0529833333,131.7839633333,>JP TXD,>JP TXD
266,2019-01-03 17:08:20,2019-01-03 17:17:20,1,3,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
267,2019-01-03 17:17:46,2019-01-03 17:17:46,1,1,-1.0000000000,",",-1,-1,34.0529850000,131.7839533333,>JP TMI,>JP TMI
268,2019-01-03 17:26:22,2019-01-03 17:26:22,1,1,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
269,2019-01-03 17:28:15,2019-01-03 17:28:45,1,2,-1.0000000000,",",-1,-1,34.0529800000,131.7839500000,>JP TMI,>JP TMI
270,2019-01-03 17:29:20,2019-01-03 17:35:21,1,4,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TXD
271,2019-01-03 17:39:45,2019-01-03 17:39:45,1,1,-1.0000000000,",",-1,-1,34.0529900000,131.7839450000,>JP TMI,>JP TMI
272,2019-01-03 17:41:20,2019-01-03 17:47:22,1,4,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
273,2019-01-03 17:49:45,2019-01-03 17:49:45,1,1,-1.0000000000,",",-1,-1,34.0530050000,131.7839433333,>JP TMI,>JP TMI
274,2019-01-03 17:50:22,2019-01-03 17:59:22,1,4,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
275,2019-01-03 18:01:27,2019-01-03 18:01:27,1,1,-1.0000000000,",",-1,-1,34.0529933333,131.7839516667,>JP TMI,>JP TMI
276,2019-01-03 18:02:21,2019-01-03 18:08:20,1,3,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
277,2019-01-03 18:13:26,2019-01-03 18:13:26,1,1,-1.0000000000,",",-1,-1,34.0529750000,131.7839450000,>JP TMI,>JP TMI
278,2019-01-03 18:14:20,2019-01-03 18:20:22,1,4,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
279,2019-01-03 18:23:46,2019-01-03 18:24:46,1,2,-1.0000000000,",",-1,-1,34.0529950000,131.7839266667,>JP TXD,>JP TMI
280,2019-01-03 18:32:20,2019-01-03 18:32:20,1,1,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
281,2019-01-03 18:35:45,2019-01-03 18:47:25,1,3,-1.0000000000,",",-1,-1,34.0529900000,131.7839150000,>JP TMI,>JP TMI
282,2019-01-03 18:50:20,2019-01-03 18:56:21,1,2,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
283,2019-01-03 18:58:47,2019-01-03 18:59:47,1,2,-1.0000000000,",",-1,-1,34.0529833333,131.7839450000,>JP TMI,>JP TMI
284,2019-01-03 19:02:22,2019-01-03 19:08:21,1,2,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
285,2019-01-03 19:10:05,2019-01-03 19:10:05,1,1,-1.0000000000,",",-1,-1,34.0529800000,131.7839433333,>JP TMI,>JP TMI
286,2019-01-03 19:11:21,2019-01-03 19:11:21,1,1,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TMI,>JP TMI
287,2019-01-03 19:22:06,2019-01-03 19:22:06,1,1,-1.0000000000,",",-1,-1,34.0529883333,131.7839383333,>JP TMI,>JP TMI
288,2019-01-03 19:26:22,2019-01-03 19:32:20,1,2,-1.0000000000,"3440,3322",-1,-1,34.0516666667,131.7833333333,>JP TXD,>JP TMI
289,2019-01-03 19:33:05,2019-01-03 19:33:05,1,1,-1.0000000000,",",-1,-1,34.0529783333,131.7839500000,>JP TMI,>JP TMI
290,2019-01-03 19:38:06,2019-01-03 19:43:37,0,4,-1.0000000000,"3440,3322",-1,-1,34.0520183333,131.7829816667,>JP TMI,>JP TMI
291,2019-01-03 19:44:21,2019-01-03 20:20:21,0,15,-1.0000000000,",",-1,-1,34.0433333333,131.7833333333,>JP TMI,>JP TMI
292,2019-01-03 20:23:21,2019-01-03 20:23:21,0,1,-1.0000000000,"2165,3322",-1,-1,33.9250000000,131.7450000000,>JP TMI,>JP TMI
293,2019-01-03 20:24:07,2019-01-03 20:56:07,0,6,-1.0000000000,",",-1,-1,33.9237183333,131.7464033333,>JP TMI,>JP TMI
294,2019-01-03 21:06:25,2019-01-03 21:14:16,0,3,2166.0000000000,",",-1,-1,33.7862800000,131.7732816667,>JP TMI,>JP TMI
295,2019-01-03 21:20:22,2019-01-04 00:20:34,0,56,-1.0000000000,",",-1,-1,33.7416666667,131.7816666667,>JP TMI,>JP TXD
296,2019-01-04 00:26:05,2019-01-04 00:26:05,0,1,-1.0000000000,"972,3358",-1,-1,33.1599416667,131.9204900000,>JP TXD,>JP TXD
297,2019-01-04 00:30:16,2019-01-04 01:11:21,0,10,-1.0000000000,",",-1,-1,33.1456116667,131.9213950000,>JP TXD,>JP TXD
298,2019-01-04 01:17:21,2019-01-04 02:23:22,1,14,-1.0000000000,",",-1,-1,33.0883333333,131.8733333333,>JP TXD,>JP TXD
299,2019-01-04 02:26:06,2019-01-04 02:33:35,0,5,-1.0000000000,",",-1,-1,33.0869100000,131.8650500000,>JP TXD,>JP TXD

# Call

## Functions

In [16]:
def create_routes(start_date, 
                  end_date, 
                  poly_sdf,
                  port_sdf, 
                  columns, 
                  stats=True,
                  return_sdf = False):
    
    print(f"{start_date:'%Y-%m-%d'}:{end_date:'%Y-%m-%d'}")
    
        
    sdf = af.get_ais(spark, start_date = start_date, end_date = end_date, columns=ais_cols) \
        .withColumn("stopped", F.when(F.col("sog") < 1,F.lit(1)).otherwise(F.lit(0))) \
        .na.fill(0,"imo") 
    
    
    if stats:
        print(f"Raw: {sdf.count():,}")
    
    #attach polygon
    sdf_wpoly = sdf.join(poly_sdf.drop("poly_id"),
                     on = "H3_int_index_8",
                     how='left'
                    )

    if stats:
        print(f"Poly attached, should be same as raw: {n:,}")
        
    #get polygons with overlap
    
    sdf_overlap = sdf_wpoly.filter(F.col("port_count") > 1) \
                     .select("H3_int_index_8","port_id_list").distinct()
    
    if stats:
        print(f"Hexes with multiple polygons: {sdf_overlap.count():,}")
        
    
    #get the nearest port to index
    sdf_ports_ind_dist = sdf_overlap \
         .withColumn("port_id",F.explode("port_id_list")) \
         .join(port_sdf.select("port_id","H3_int_index_8")
                   .withColumnRenamed("H3_int_index_8","H3_int_index_8_ind"),
               how="left",
               on="port_id"
              ) \
         .withColumn("h3_distance",h3_distance(F.col("H3_int_index_8"), F.col("H3_int_index_8_ind"))) 
    
    sdf_ports_nearest =  sdf_ports_ind_dist.groupBy("H3_int_index_8").agg(F.min("h3_distance").alias("h3_distance")) \
                                        .join(sdf_ports_ind_dist.select("port_id","H3_int_index_8","h3_distance"),
                                              how="left",
                                              on=['H3_int_index_8','h3_distance']) \
                                        .groupBy("H3_int_index_8").agg(F.collect_set("port_id").alias("nearest_port_id_list"),
                                                                       F.count(F.lit(1)).alias("nearest_port_count"))

             # .withColumn("nearest_port", F.when(F.col("nearest_port_count")==1,F.col("nearest_port_id_list").getItem(0))) \
         # .withColumn("nearest_ports", F.when(F.col("nearest_port_count")>1,F.concat_ws(",",F.col("nearest_port_id_list"))) \
         #                                .otherwise(",")) \
         # .withColumn("port_id", F.coalesce("port_id","nearest_port")) \
         # .drop("nearest_port","nearest_port_id_list") \
        
    
    sdf_wpoly_stopped = sdf_wpoly.join(sdf_ports_nearest,
               on = ["H3_int_index_8"],
               how="left"
              ) \
         .withColumn("ports_id_list", F.when(F.col("port_id").isNotNull(), F.array("port_id")) \
                                      .otherwise(F.when(F.col("nearest_port_id_list").isNull(), F.array(F.lit(-1))) \
                                                  .otherwise(F.col("nearest_port_id_list"))
                                                )
                    ) \
         .na.fill(-1, ["passage_part_id","passage_id"]) \
         .withColumn("poly",F.concat_ws(":",
                                        F.col("stopped"),
                                        F.col("ports_id_list"),
                                        # F.col("nearest_ports"),
                                        # F.col("passage_part_id"),
                                        F.col("passage_id")
                                       )
                    )
    
    sdf_routes = af.assign_route(sdf_wpoly_stopped, 
                             ship_unique_identifier_cols = ['mmsi','imo'],
                             route_order_by_cols = ['dt_pos_utc', 'dt_static_utc'],
                             polygon_col_name = "poly"
                            )
    
    sdf_agg = sdf_routes.groupBy('imo','mmsi','route_group').agg(F.max("dt_pos_utc").alias("departure_dt_pos_utc"),
                                                F.min("dt_pos_utc").alias("arrival_dt_pos_utc"),
                                                F.min_by("stopped","dt_pos_utc").alias("stopped"),
                                                F.min_by("buffer_grouped_id","dt_pos_utc").alias("buffer_grouped_id"),
                                                # F.min_by("port_id","dt_pos_utc").alias("port_id"),
                                                F.min_by("ports_id_list","dt_pos_utc").alias("ports_id_list"),
                                                F.min_by("passage_part_id","dt_pos_utc").alias("passage_part_id"),
                                                F.min_by("passage_id","dt_pos_utc").alias("passage_id"),             
                                                F.min_by("vessel_type","dt_pos_utc").alias("vessel_type"),
                                                F.min_by("vessel_name","dt_pos_utc").alias("vessel_name"),
                                                F.min_by("latitude","dt_pos_utc").alias("latitude"),
                                                F.min_by("longitude","dt_pos_utc").alias("longitude"),
                                                F.min_by("H3_int_index_8","dt_pos_utc").alias("H3_int_index_8"),
                                                F.min_by("H3_int_index_12","dt_pos_utc").alias("H3_int_index_12"),
                                                F.min_by("draught","dt_pos_utc").alias("arrival_draught"),
                                                F.min_by("nav_status","dt_pos_utc").alias("arrival_nav_status"),
                                                F.min_by("destination","dt_pos_utc").alias("arrival_destination"),
                                                F.max_by("draught","dt_pos_utc").alias("departure_draught"),
                                                F.max_by("nav_status","dt_pos_utc").alias("departure_nav_status"),
                                                F.max_by("destination","dt_pos_utc").alias("departure_destination"),                                                
                                                F.mean("sog").alias("mean_sog"),
                                                F.max("sog").alias("max_sog"),
                                                F.min("sog").alias("min_sog"),
                                                F.count("mmsi").alias("count_ais")
                                                            )
    
    if stats:
        print(f"Aggregated routes: {sdf_agg.count():,}")
        
        
    if return_sdf:
        return [sdf_agg, sdf, sdf_wpoly_stopped, sdf_routes]
    else:
        return sdf_agg
    # return sdf_routes

In [17]:
def save_routes(sdf, mode, path):
    sdf.withColumn("date", F.coalesce("arrival_dt_pos_utc","departure_dt_pos_utc")) \
        .withColumn("year", F.year("date")) \
        .withColumn("month", F.month("date")) \
        .repartition(1,"year","month") \
        .write \
        .mode(mode) \
        .partitionBy("year","month") \
        .parquet(path)
    print("Saved")
    return None

In [18]:
@F.udf(returnType=IntegerType()) 
def h3_distance(h3_1, h3_2): 
    return h3int.h3_distance(h3_1, h3_2)

## Run

## Sample -- seems okay

In [19]:
i = 33
start_date = start_date_range[i]
end_date = end_date_range[i]
print(f"{start_date:'%Y-%m-%d'}:{end_date:'%Y-%m-%d'}")

'2021-10-01':'2021-10-31'

In [23]:
sdf_agg = create_routes(
                  start_date, 
                  end_date, 
                  poly_sdf,
                  port_sdf, 
                  columns=ais_cols, 
                  stats=False,
                  return_sdf=False
                  )

'2021-10-01':'2021-10-31'

In [24]:
save_routes(sdf_agg.distinct(), 
            mode="overwrite", 
            path=f"{path}temp/KI")

Saved

In [26]:
sdf_agg = spark.read.parquet(f"{path}temp/KI")
sdf_agg.printSchema()
sdf_agg.count()

root
 |-- imo: integer (nullable = true)
 |-- mmsi: integer (nullable = true)
 |-- route_group: long (nullable = true)
 |-- departure_dt_pos_utc: timestamp (nullable = true)
 |-- arrival_dt_pos_utc: timestamp (nullable = true)
 |-- stopped: integer (nullable = true)
 |-- buffer_grouped_id: long (nullable = true)
 |-- ports_id_list: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- passage_part_id: long (nullable = true)
 |-- passage_id: long (nullable = true)
 |-- vessel_type: string (nullable = true)
 |-- vessel_name: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- H3_int_index_8: long (nullable = true)
 |-- H3_int_index_12: long (nullable = true)
 |-- arrival_draught: double (nullable = true)
 |-- arrival_nav_status: string (nullable = true)
 |-- arrival_destination: string (nullable = true)
 |-- departure_draught: double (nullable = true)
 |-- departure_nav_status: string (nullable = true)
 |-- departure_destination: string (nullable = true)
 |-- mean_sog: double (nullable = true)
 |-- max_sog: double (nullable = true)
 |-- min_sog: double (nullable = true)
 |-- count_ais: long (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)

27704946

In [27]:
sdf_agg.filter(F.col("mmsi")==225993688).count()

36

In [29]:
temp = sdf_agg.filter(F.col("mmsi")==225993688).toPandas()

/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

In [32]:
temp

,imo,mmsi,route_group,departure_dt_pos_utc,arrival_dt_pos_utc,stopped,buffer_grouped_id,ports_id_list,passage_part_id,passage_id,vessel_type,vessel_name,latitude,longitude,H3_int_index_8,H3_int_index_12,arrival_draught,arrival_nav_status,arrival_destination,departure_draught,departure_nav_status,departure_destination,mean_sog,max_sog,min_sog,count_ais,date,year,month
0,0,225993688,0,2021-10-05 06:39:09,2021-10-05 06:28:39,0,NaN,[-1.0],-1,-1,Unknown,LA LUNA,39.6141383300,2.3565416700,613496869984665599,631511268492952063,0.0000000000,Unknown,None,0.0000000000,Unknown,None,6.4500000000,6.8000000000,6.1000000000,2,2021-10-05 06:28:39,2021,10
1,0,225993688,1,2021-10-05 09:28:09,2021-10-05 06:49:40,0,616.0000000000,[38630.0],-1,-1,Unknown,LA LUNA,39.6411133300,2.3892933300,613496869967888383,631511268476951551,0.0000000000,Unknown,None,0.0000000000,Unknown,None,4.5000000000,6.0000000000,3.0000000000,16,2021-10-05 06:49:40,2021,10
2,0,225993688,2,2021-10-05 09:59:10,2021-10-05 09:38:40,0,NaN,[-1.0],-1,-1,Unknown,LA LUNA,39.7648916700,2.6086533300,613496871249248255,631511269758418431,0.0000000000,Unknown,None,0.0000000000,Unknown,None,4.6666666667,5.8000000000,2.6000000000,3,2021-10-05 09:38:40,2021,10
3,0,225993688,3,2021-10-05 10:36:11,2021-10-05 10:12:09,1,616.0000000000,[38630.0],-1,-1,Unknown,LA LUNA,39.7628466700,2.6405616700,613496851024314367,631511249533405695,0.0000000000,Unknown,None,0.0000000000,Unknown,None,0.3000000000,0.3000000000,0.3000000000,3,2021-10-05 10:12:09,2021,10
4,0,225993688,4,2021-10-05 10:48:11,2021-10-05 10:48:11,0,616.0000000000,[38630.0],-1,-1,Unknown,LA LUNA,39.7628716700,2.6404250000,613496851024314367,631511249533420543,0.0000000000,Unknown,None,0.0000000000,Unknown,None,1.0000000000,1.0000000000,1.0000000000,1,2021-10-05 10:48:11,2021,10
5,0,225993688,5,2021-10-05 11:00:11,2021-10-05 11:00:11,1,616.0000000000,[38630.0],-1,-1,Unknown,LA LUNA,39.7627966700,2.6406266700,613496851024314367,631511249533405695,0.0000000000,Unknown,None,0.0000000000,Unknown,None,0.5000000000,0.5000000000,0.5000000000,1,2021-10-05 11:00:11,2021,10
6,0,225993688,6,2021-10-05 11:41:14,2021-10-05 11:11:11,0,NaN,[-1.0],-1,-1,Unknown,LA LUNA,39.7693266700,2.6461916700,613496851032702975,631511249540450303,0.0000000000,Unknown,None,0.0000000000,Unknown,None,5.6250000000,6.9000000000,2.8000000000,4,2021-10-05 11:11:11,2021,10
7,0,225993688,7,2021-10-06 06:05:45,2021-10-05 11:53:45,1,NaN,[-1.0],-1,-1,Unknown,LA LUNA,39.7955250000,2.6938283300,613496850799919103,631511249307699199,0.0000000000,Unknown,None,0.0000000000,Unknown,None,0.0344444444,0.1000000000,0.0000000000,90,2021-10-05 11:53:45,2021,10
8,0,225993688,8,2021-10-06 07:28:13,2021-10-06 06:16:11,0,NaN,[-1.0],-1,-1,Unknown,LA LUNA,39.7950850000,2.6911216700,613496850799919103,631511249307486207,0.0000000000,Unknown,None,0.0000000000,Unknown,None,5.3750000000,6.9000000000,3.7000000000,8,2021-10-06 06:16:11,2021,10
9,0,225993688,9,2021-10-06 09:01:11,2021-10-06 07:38:13,0,616.0000000000,[38630.0],-1,-1,Unknown,LA LUNA,39.7583483300,2.5376933300,613496871110836223,631511269618344447,0.0000000000,Unknown,None,0.0000000000,Unknown,None,6.5666666667,7.1000000000,5.6000000000,9,2021-10-06 07:38:13,2021,10
10,0,225993688,10,2021-10-06 09:33:41,2021-10-06 09:12:41,0,NaN,[-1.0],-1,-1,Unknown,LA LUNA,39.6466666700,2.3736300000,613496869978374143,631511268487182847,0.0000000000,Unknown,None,0.0000000000,Unknown,None,6.7000000000,7.5000000000,5.6000000000,3,2021-10-06 09:12:41,2021,10
11,0,225993688,11,2021-10-07 12:32:09,2021-10-07 11:31:07,0,616.0000000000,[38630.0],-1,-1,Unknown,LA LUNA,39.4517550000,2.5079016700,613496869223399423,631511267731073023,0.0000000000,Unknown,None,0.0000000000,Unknown,None,5.3833333333,6.2000000000,2.8000000000,6,2021-10-07 11:31:07,2021,10
12,0,225993688,12,2021-10-08 09:35:41,2021-10-07 12:42:40,1,616.0000000000,[38630.0],-1,-1,Unknown,LA LUNA,39.5313083300,2.5873133300,613496866633416703,631511265140821503,0.0000000000,Unknown,None,0.0000000000,Unknown,None,0.1592233010,0.4000000000,0.0000000000,103,2021-10-07 12:42:40,2021,10
13,0,225993688,13,2021-10-08 10:38:08,2021-10-08 09:46:09,0,616.0000000000,[38630.0],-1,-1,Unknown,LA LUNA,39.5272233300,2.5950666700,613496866568404991,631511265076528127,0.0000000000,Unknown,None,0.0000000000,Unknown,None,4.4166666667,6.9000000000,1.2000000000,6,2021-10-08 09:46:09,2021,10
14,0,225993688,14,2021-10-08 10:48:35,2021-10-08 10:48:35,1,616.0000000000,[38630.0],-1,-1,Unknown,LA LUNA,39.5648083300,2.6342933300,613496866612445183,631511265121266175,0.0000000000,Unknown,None,0.0000000000,Unknown,None,0.1000000000,0.1000000000,0.1000000000,1,2021-10-08 10:48:35,2021,10
15,0,225993688,15,2021-10-08 11:09:08,2021-10-08 10:58:40,0,616.0000000000,[38630.0],-1,-1,Unknown,LA LUNA,39.5648950000,2.6380300000,613496866612445183,631511265120279039,0.0000000000,Unknown,None,0.0000000000,Unknown,None,1.8500000000,2.5000000000,1.2000000000,2,2021-10-08 10:58:40,2021,10
16,0,225993688,16,2021-10-08 12:21:06,2021-10-08 11:21:08,1,616.0000000000,[38630.0],-1,-1,Unknown,LA LUNA,39.5669116700,2.6422116700,613496866304163839,631511264812336639,0.0000000000,Unknown,None,0.0000000000,Unknown,None,0.0333333333,0.1000000000,0.0000000000,6,2021-10-08 11:21:08,2021,10
17,0,225993688,17,2021-10-08 12:33:08,2021-10-08 12:33:08,0,616.0000000000,[38630.0],-1,-1,Unknown,LA LUNA,39.5672083300,2.6420883300,613496866304163839,631511264812353535,0.0000000000,Unknown,None,0.0000000000,Unknown,None,2.2000000000,2.2000000000,2.2000000000,1,2021-10-08 12:33:08,2021,10
18,0,225993688,18,2021-10-23 13:47:09,2021-10-08 12:44:06,1,616.0000000000,[38630.0],-1,-1,Unknown,LA LUNA,39.5675133300,2.6426300000,613496866304163839,631511264812356095,0.0000000000,Unknown,None,0.0000000000,Unknown,None,0.0090269637,0.3000000000,0.0000000000,1706,2021-10-08 12:44:06,2021,10
19,0,225993688,19,2021-10-23 16:34:06,2021-10-23 13:57:35,0,616.0000000000,[38630.0],-1,-1,Unknown,LA LUNA,39.5650016700,2.6371300000,613496866612445183,631511264812148223,0.0000000000,Unknown,None,0.0000000000,Unknown,None,6.0533333333,7.4000000000,1.1000000000,15,2021-10-23 13:57:35,2021,10
20,0,225993688,20,2021-10-24 23:05:33,2021-10-24 11:42:37,0,NaN,[-1.0],-1,-1,Unknown,LA LUNA,38.0408733300,0.1202316700,613497988947378175,631512387455342079,0.0000000000,Unknown,None,0.0000000000,Unknown,None,7.1000000000,7.1000000000,7.1000000000,2,2021-10-24 11:42:37,2021,10
21,0,225993688,21,2021-10-25 10:15:36,2021-10-25 09:32:06,0,570.0000000000,[38390.0],-1,-1,Unknown,LA LUNA,36.6599733300,-2.3582366700,613476967200587775,631491365708513791,0.0000000000,Unknown,None,0.0000000000,Unknown,None,7.0500000000,7.3000000000,6.8000000000,4,2021-10-25 09:32:06,2021,10
22,0,225993688,22,2021-10-26 05:25:35,2021-10-25 18:25:07,0,NaN,[-1.0],-1,-1,Unknown,LA LUNA,36.4264450000,-3.6651083300,613477378997354495,631491777506465791,0.0000000000,Unknown,None,0.0000000000,Unknown,None,6.2800000000,8.1000000000,4.2000000000,55,2021-10-25 18:25:07,2021,10
23,0,225993688,23,2021-10-26 07:49:03,2021-10-26 05:35:37,0,567.0000000000,[38330.0],1,8,Sailing,LA LUNA,36.1518066700,-5.1137950000,613494134749003775,631508533178177535,0.0000000000,Unknown,None,0.0000000000,Unknown,None,6.6285714286,8.0000000000,2.9000000000,14,2021-10-26 05:35:37,2021,10
24,0,225993688,24,2021-10-26 08:12:05,2021-10-26 08:00:06,1,567.0000000000,[38330.0],1,8,Sailing,LA LUNA,36.1484650000,-5.3562950000,613494134228910079,631508532736656383,0.0000000000,Unknown,None,0.0000000000,Unknown,None,0.1000000000,0.1000000000,0.1000000000,2,2021-10-26 08:00:06,2021,10
25,0,225993688,25,2021-10-26 09:14:07,2021-10-26 08:23:35,0,567.0000000000,[38330.0],1,8,Sailing,LA LUNA,36.1484033300,-5.3559400000,613494134228910079,631508532736661503,0.0000000000,Unknown,None,0.0000000000,Unknown,None,5.0000000000,6.5000000000,2.7000000000,6,2021-10-26 08:23:35,2021,10
26,0,225993688,26,2021-10-26 09:24:35,2021-10-26 09:24:35,0,567.0000000000,"[38310.0, 38330.0]",1,8,Sailing,LA LUNA,36.0792116700,-5.3905466700,613494140189016063,631508538697733631,0.0000000000,Unknown,None,0.0000000000,Unknown,None,5.5000000000,5.5000000000,5.5000000000,1,2021-10-26 09:24:35,2021,10
27,0,225993688,27,2021-10-26 10:05:38,2021-10-26 09:34:36,0,567.0000000000,[38310.0],1,8,Sailing,LA LUNA,36.0669133300,-5.4030066700,613494140178530303,631508538687579135,0.0000000000,Unknown,None,0.0000000000,Unknown,None,6.7250000000,8.0000000000,5.6000000000,4,2021-10-26 09:34:36,2021,10
28,0,225993688,28,2021-10-26 10:15:38,2021-10-26 10:15:38,0,567.0000000000,"[45753.0, 38310.0]",1,8,Sailing,LA LUNA,36.0097000000,-5.4501216700,613494140451160063,631508538959293439,0.0000000000,Unknown,None,0.0000000000,Unknown,None,3.9000000000,3.9000000000,3.9000000000,1,2021-10-26 10:15:38,2021,10
29,0,225993688,29,2021-10-26 12:50:08,2021-10-26 10:26:37,0,567.0000000000,[45753.0],1,8,Sailing,LA LUNA,36.0082350000,-5.4668433300,613494140436479999,631508538945001471,0.0000000000,Unknown,None,0.0000000000,Unknown,None,5.5083333333,7.8000000000,2.9000000000,12,2021-10-26 10:26:37,2021,10
30,0,225993688,30,2021-10-31 04:40:05,2021-10-27 00:15:33,0,NaN,[-1.0],-1,-1,Sailing,LA LUNA,35.3137316700,-6.8679666700,613504223092408319,631518621599864319,0.0000000000,Unknown,None,0.0000000000,Unknown,None,7.1187500000,8.2000000000,6.0000000000,16,2021-10-27 00:15:33,2021,10
31,0,225993688,31,2021-10-31 06:21:34,2021-10-31 05:28:07,0,506.0000000000,[38160.0],-1,-1,Sailing,LA LUNA,28.4526966700,-16.1726216700,613411656501821439,631426055010968575,0.0000000000,Unknown,None,0.0000000000,Unknown,None,6.9666666667,7.6000000000,5.9000000000,6,2021-10-31 05:28:07,2021,10
32,0,225993688,32,2021-10-31 09:44:40,2021-10-31 07:20:42,1,506.0000000000,[38160.0],-1,-1,Sailing,LA LUNA,28.4008600000,-16.3235400000,613409621727510527,631424020235004927,0.0000000000,Unknown,None,0.0000000000,Unknown,None,0.1500000000,0.2000000000,0.1000000000,2,2021-10-31 07:20:42,2021,10
33,0,225993688,33,2021-10-31 18:07:35,2021-10-31 14:09:07,0,NaN,[-1.0],-1,-1,Sailing,LA LUNA,28.4988150000,-14.7589250000,613411733920284671,631426132349475327,0.0000000000,Unknown,None,0.0000000000,Unknown,None,7.3428571429,7.9000000000,6.8000000000,7,2021-10-31 14:09:07,2021,10
34,0,225993688,34,2021-10-31 18:11:37,2021-10-31 18:11:37,1,506.0000000000,[38160.0],-1,-1,Sailing,LA LUNA,28.4009750000,-16.3233483300,613409621727510527,631424020234994175,0.0000000000,Unknown,None,0.0000000000,Unknown,None,0.1000000000,0.1000000000,0.1000000000,1,2021-10-31 18:11:37,2021,10
35,0,225993688,35,2021-10-31 18:29:06,2021-10-31 18:29:06,0,NaN,[-1.0],-1,-1,Sailing,LA LUNA,28.5224083300,-14.9480450000,613411749317574655,631426147826062335,0.0000000000,Unknown,None,0.0000000000,Unknown,None,7.2000000000,7.2000000000,7.2000000000,1,2021-10-31 18:29:06,2021,10

In [33]:
sdf_agg = spark.read.parquet(f"{path}ki/global_routes_all/year=2021/month=10/")
temp2 = sdf_agg.filter(F.col("mmsi")==225993688).toPandas()

/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)
/opt/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

## Loop

### 2021

In [38]:
i = 24
start_date = start_date_range[i]
end_date = end_date_range[i]
# print(f"{start_date:'%Y-%m-%d'}:{end_date:'%Y-%m-%d'}")

sdf_agg_route = create_routes(
                  start_date, 
                  end_date, 
                  poly_sdf,
                  port_sdf, 
                  columns=ais_cols, 
                  stats=False,
                  return_sdf=False
                  )

save_routes(sdf_agg_route.distinct(), 
            mode="overwrite", 
            path=f"{path}ki/global_routes_all/")

'2021-01-01':'2021-01-31'
Saved

In [39]:
i = 25
start_date = start_date_range[i]
end_date = end_date_range[i]
# print(f"{start_date:'%Y-%m-%d'}:{end_date:'%Y-%m-%d'}")

sdf_agg_route = create_routes(
                  start_date, 
                  end_date, 
                  poly_sdf,
                  port_sdf, 
                  columns=ais_cols, 
                  stats=False,
                  return_sdf=False
                  )

save_routes(sdf_agg_route.distinct(), 
            mode="append", 
            path=f"{path}ki/global_routes_all/")

'2021-02-01':'2021-02-28'
Saved

In [40]:
for i in range(26,41):
    start_date = start_date_range[i]
    end_date = end_date_range[i]
    # print(f"{start_date:'%Y-%m-%d'}:{end_date:'%Y-%m-%d'}")

    sdf_agg_route = create_routes(
                      start_date, 
                      end_date, 
                      poly_sdf,
                      port_sdf, 
                      columns=ais_cols, 
                      stats=False,
                      return_sdf=False
                      )

    save_routes(sdf_agg_route.distinct(), 
                mode="append", 
                path=f"{path}ki/global_routes_all/")

'2021-03-01':'2021-03-31'
Saved
'2021-04-01':'2021-04-30'
Saved
'2021-05-01':'2021-05-31'
Saved
'2021-06-01':'2021-06-30'
Saved
'2021-07-01':'2021-07-31'
Saved
'2021-08-01':'2021-08-31'
Saved
'2021-09-01':'2021-09-30'
Saved
'2021-10-01':'2021-10-31'
Saved
'2021-11-01':'2021-11-30'
Saved
'2021-12-01':'2021-12-31'
Saved
'2022-01-01':'2022-01-31'
Saved
'2022-02-01':'2022-02-28'
Saved
'2022-03-01':'2022-03-31'
Saved
'2022-04-01':'2022-04-30'
Saved
'2022-05-01':'2022-05-31'
Saved

In [41]:
start_date_range = pd.date_range("2023-01-01","2023-02-28", freq="MS")
end_date_range = pd.date_range("2023-01-01","2023-02-28", freq="M")

In [42]:
for i in range(0,2):
    start_date = start_date_range[i]
    end_date = end_date_range[i]
    sdf_agg_route = create_routes(
                  start_date, 
                  end_date, 
                  poly_sdf,
                  port_sdf, 
                  columns=ais_cols, 
                  stats=False,
                  return_sdf=False
                  )

    save_routes(sdf_agg_route.distinct(), 
        mode="append", 
        path=f"{path}ki/global_routes_all/")

'2023-01-01':'2023-01-31'
Saved
'2023-02-01':'2023-02-28'
Saved

In [43]:
start_date_range = pd.date_range("2019-01-01","2022-12-31", freq="MS")
end_date_range = pd.date_range("2019-01-01","2022-12-31", freq="M")

In [44]:
for i in range(41,45):
    start_date = start_date_range[i]
    end_date = end_date_range[i]
    # print(f"{start_date:'%Y-%m-%d'}:{end_date:'%Y-%m-%d'}")

    sdf_agg_route = create_routes(
                      start_date, 
                      end_date, 
                      poly_sdf,
                      port_sdf, 
                      columns=ais_cols, 
                      stats=False,
                      return_sdf=False
                      )

    save_routes(sdf_agg_route.distinct(), 
                mode="append", 
                path=f"{path}ki/global_routes_all/")

'2022-06-01':'2022-06-30'
Saved
'2022-07-01':'2022-07-31'
Saved
'2022-08-01':'2022-08-31'
Saved
'2022-09-01':'2022-09-30'

[E 2023-03-16 06:20:51,895.895 root] KeyboardInterrupt while sending command.
Traceback (most recent call last):
  File "/opt/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/opt/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
  File "/opt/conda/lib/python3.8/socket.py", line 669, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt

KeyboardInterrupt:

In [19]:
    i=44
    start_date = start_date_range[i]
    end_date = end_date_range[i]
    # print(f"{start_date:'%Y-%m-%d'}:{end_date:'%Y-%m-%d'}")

    sdf_agg_route = create_routes(
                      start_date, 
                      end_date, 
                      poly_sdf,
                      port_sdf, 
                      columns=ais_cols, 
                      stats=False,
                      return_sdf=False
                      )

    save_routes(sdf_agg_route.distinct(), 
                mode="append", 
                path=f"{path}ki/global_routes_all/")

'2022-09-01':'2022-09-30'
Saved

In [ ]:
for i in range(45,48):
    start_date = start_date_range[i]
    end_date = end_date_range[i]
    # print(f"{start_date:'%Y-%m-%d'}:{end_date:'%Y-%m-%d'}")

    sdf_agg_route = create_routes(
                      start_date, 
                      end_date, 
                      poly_sdf,
                      port_sdf, 
                      columns=ais_cols, 
                      stats=False,
                      return_sdf=False
                      )

    save_routes(sdf_agg_route.distinct(), 
                mode="append", 
                path=f"{path}ki/global_routes_all/")

'2022-10-01':'2022-10-31'
Saved
'2022-11-01':'2022-11-30'
Saved
'2022-12-01':'2022-12-31'
Saved

In [19]:
for i in range(21,24):
    start_date = start_date_range[i]
    end_date = end_date_range[i]
    # print(f"{start_date:'%Y-%m-%d'}:{end_date:'%Y-%m-%d'}")
    
    sdf_agg_route = create_routes(
                      start_date, 
                      end_date, 
                      poly_sdf,
                      port_sdf, 
                      columns=ais_cols, 
                      stats=False,
                      return_sdf=False
                      )

    save_routes(sdf_agg_route.distinct(), 
                mode="append", 
                path=f"{path}ki/global_routes_all/")

'2020-10-01':'2020-10-31'
Saved
'2020-11-01':'2020-11-30'
Saved
'2020-12-01':'2020-12-31'
Saved

In [20]:
    i=20
    start_date = start_date_range[i]
    end_date = end_date_range[i]
    # print(f"{start_date:'%Y-%m-%d'}:{end_date:'%Y-%m-%d'}")
    
    sdf_agg_route = create_routes(
                      start_date, 
                      end_date, 
                      poly_sdf,
                      port_sdf, 
                      columns=ais_cols, 
                      stats=False,
                      return_sdf=False
                      )

    save_routes(sdf_agg_route.distinct(), 
                mode="append", 
                path=f"{path}ki/global_routes_all/")

'2020-09-01':'2020-09-30'
Saved

In [21]:
spark.stop()