# Initialialize

In [1]:
from sedona.register import SedonaRegistrator
SedonaRegistrator.registerAll(spark)

True

In [2]:
import subprocess
import sys

In [3]:
GITLAB_USER = "read aistt"
GITLAB_TOKEN = "J1KkstArfyXB6dZvFchN"
git_package = f"git+https://(GITLAB_USER):(GITLAB_TOKEN)@code.officialstatistics.org/trade-task-team-phase-1/ais.git"
std_out = subprocess.run([sys.executable, "-m", "pip", "install", git_package], capture_output=True, text=True) .stdout
print(std_out)

Collecting git+https://%28GITLAB_USER%29:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git
  Cloning https://%28GITLAB_USER%29:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git to /tmp/pip-req-build-k0b6j6gr

In [4]:
GITLAB_USER = 'ml_group_read_only'
GITLAB_TOKEN = 'eac7ZwiseRdeLwmBsrsm'

# Main: for using from current issued version
git_package = f"git+https://{GITLAB_USER}:{GITLAB_TOKEN}@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git"

std_out = subprocess.run([sys.executable, "-m", "pip", "install",git_package], capture_output=True, text=True).stdout
print(std_out)

Collecting git+https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git
  Cloning https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git to /tmp/pip-req-build-wcxjvmva
  Resolved https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git to commit 89f1aab64fee28c2f86e86d6fa7b55118882b1e8
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: unece-ais
  Building wheel for unece-ais (setup.py): started
  Building wheel for unece-ais (setup.py): finished with status 'done'
  Created wheel for unece-ais: filename=unece_ais-0.0.4-py3-none-any.whl size=12493 sha256=3ea67ac92cb9408ed7aed9d5be00d2bf22d2cb27d83eba33489dd3a19988e553
  Stored in directory: /tmp/pip-ephem-wheel-cache-os8czesq/wheels/61/b5/f9/bcf024b104169c32950c03a4605d2d07ea9da07cae7bed5e3e
Successfully built unece-ais
Installing collected packages: unece-ais
Successfully installed unece-ais-0.0.4

In [5]:
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, date_format, count, countDistinct, when, expr
from pyspark.sql.functions import year, month, dayofmonth, hour, minute, second
from pyspark.sql.functions import monotonically_increasing_id, lead, lag, abs, row_number
from pyspark.sql.functions import concat_ws, split
from pyspark.sql.types import IntegerType, StringType
from pyspark.sql.window import Window

from shapely.geometry import Point, Polygon, mapping
from IPython.display import HTML
from ais import functions as af
from unece_ais import unece_ais as un
from multiprocessing import Pool

In [6]:
import h3.api.numpy_int as h3int
import geopandas as gpd
import pandas as pd
import numpy as np
import calendar
import base64
import folium
import tqdm
import h3

In [7]:
pd.set_option('display.max_columns', None) #Show all columns in pandas df
pd.set_option('display.max_rows', 100) #Show 100 rows in pandas df
pd.options.display.float_format = '{:.10f}'.format #Show float with 10 decimal points in pandas df

from IPython.core.interactiveshell import InteractiveShell #allow multiple outputs in one jupyter cell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
# Path
base_path = "s3a://ungp-ais-data-historical-backup/user_temp/"
path_unique = base_path + "222011349/"

# Data

## Masuk-Keluar Port Indonesia

In [9]:
# Read Data
result_out_in = spark.read.parquet(path_unique + "data-ais-1persen-masuk-keluar-indonesia-2022.parquet", header=True)

### Masuk

In [77]:
# Masuk
result_in = result_out_in.filter(col("movement") == "Masuk")

### Keluar

In [81]:
# Keluar
result_out = result_out_in.filter(col("movement") == "Keluar")

# Waktu di Port Indonesia

## Rata-Rata

In [105]:
# Hitung rata-rata waktu di pelabuhan
avg_time_in_port_month = result_out.withColumn("months", F.date_format("dt_pos_utc_aoi", "MMMM")) \
    .groupBy("months").agg(F.avg("diff_time").alias("average_time_in_port"))

In [106]:
# Tampilkan hasil
avg_time_in_port_month.show()

+---------+--------------------+
|   months|average_time_in_port|
+---------+--------------------+
|     July|   2130511.409512761|
| November|    608085.850909091|
| February|  3881703.7647754136|
|  January|   4431849.476744186|
|    March|  3561590.5953436806|
|  October|   947789.9473039216|
|      May|  2302408.6671035388|
|   August|  1790153.9433293978|
|    April|        3056338.2725|
|     June|   2278713.812351544|
| December|  206612.61583577713|
|September|  1369938.7578313253|
+---------+--------------------+

In [107]:
# Hitung rata-rata waktu di pelabuhan menurut tipe kapal
avg_time_in_port_country = result_out.select("fc_vessel","diff_time").groupBy("fc_vessel").agg(F.avg("diff_time").alias("average_time_in_port"))

In [115]:
# Tampilkan hasil
avg_time_in_port_country.show(avg_time_in_port_country.count(), truncate = False)

+---------------------+--------------------+
|fc_vessel            |average_time_in_port|
+---------------------+--------------------+
|Malaysia             |2134837.8262032084  |
|Singapore            |1453415.563777308   |
|Germany              |4872146.866666666   |
|Palau                |3317983.3           |
|Greece               |2654350.3232323234  |
|Taiwan               |7097701.0           |
|Belgium              |6769567.0           |
|Qatar                |10726.0             |
|Sierra Leone         |3914955.75          |
|Bahamas              |1925830.9378881988  |
|China                |2535930.265116279   |
|Malta                |2447056.202586207   |
|Marshall Islands     |2662775.707207207   |
|Tuvalu               |3584218.3703703703  |
|Cayman Islands       |1427191.3333333333  |
|Italy                |4021548.535714286   |
|Norway               |1750519.305263158   |
|Denmark              |3452313.0786516853  |
|Bangladesh           |2988773.88          |
|Iran                 |9705830.916666666   |
|Russian Federation   |5802349.142857143   |
|Thailand             |2964315.688888889   |
|Panama               |2879460.444021325   |
|Hong Kong            |2725678.7810344826  |
|South Korea          |2367706.144859813   |
|Cyprus               |2217297.9142857143  |
|Indonesia            |1659309.1902061857  |
|Liberia              |2743548.1226415094  |
|UK                   |2600433.520547945   |
|Cook Islands         |1667365.7241379311  |
|Antigua and Barbuda  |3695634.8139534886  |
|Japan                |1119754.393939394   |
|Bermuda              |4562533.972222222   |
|Vanuatu              |5279928.857142857   |
|Madeira              |2183890.910714286   |
|Vietnam              |3914341.811688312   |
|Netherlands          |2322023.1666666665  |
|Philippines          |1745961.0487804879  |
|Sri Lanka            |577337.0            |
|Gabon                |2502019.625         |
|Netherlands Antilles |4168867.1428571427  |
|Saudi Arabia         |3288459.8           |
|Azores               |2184590.409090909   |
|Cameroon             |1.11888028E7        |
|France               |3843045.0           |
|India                |1696523.652173913   |
|Spain                |130699.0            |
|Saint Kitts and Nevis|8284469.5           |
|USA                  |2300842.0           |
|Mongolia             |1877268.8461538462  |
|United Arab Emirates |92600.0             |
|Belize               |3348341.0           |
|Brazil               |162860.0            |
|Luxembourg           |4707441.875         |
|Turkey               |5708703.9           |
|Gibraltar            |45048.75            |
|Niue                 |402996.8            |
|Barbados             |5093187.25          |
|Ethiopia             |1728250.4444444445  |
|Australia            |28887.4             |
|Pakistan             |3339798.0           |
|Kuwait               |6495698.5           |
|Montenegro           |1595463.0           |
|Togo                 |43828.0             |
|Brunei               |18626.0             |
|Kiribati             |4188.0              |
|Dominica             |127598.33333333333  |
|Honduras             |3025.0              |
|Djibouti             |6385898.0           |
+---------------------+--------------------+

In [109]:
# Hitung rata-rata waktu di pelabuhan menurut tipe kapal
avg_time_in_port_vess_type = result_out.select("vessel_type","diff_time").groupBy("vessel_type").agg(F.avg("diff_time").alias("average_time_in_port"))

In [110]:
# Tampilkan hasil
avg_time_in_port_vess_type.show()

+--------------+--------------------+
|   vessel_type|average_time_in_port|
+--------------+--------------------+
|       Sailing|  1800612.9411764706|
|        Tanker|  2042217.5356620336|
|         Other|  1464179.8424908426|
|Pleasure Craft|  2669534.3684210526|
|     Passenger|   914993.7521739131|
|      Dredging|   498674.8378378378|
|         Cargo|  3072609.1430674125|
|   Port Tender|           1126086.0|
|       Fishing|           1752524.2|
+--------------+--------------------+

## Median

In [91]:
median_time_in_port_month = result_out.withColumn("months", F.date_format("dt_pos_utc_aoi", "MMMM")) \
    .groupBy("months") \
    .agg(F.expr("percentile_approx(diff_time, 0.5)").alias("median_time_in_port"))

In [92]:
# Tampilkan hasil
median_time_in_port_month.show()

+---------+-------------------+
|   months|median_time_in_port|
+---------+-------------------+
|     July|             557875|
| November|              73967|
| February|            1597804|
|  January|             133273|
|    March|             267252|
|  October|             204473|
|      May|             482802|
|   August|             196924|
|    April|             333530|
|     June|             268168|
| December|              72524|
|September|             173701|
+---------+-------------------+

In [111]:
# Hitung rata-rata waktu di pelabuhan menurut tipe kapal
median_time_in_port_country = result_out.select("fc_vessel","diff_time").groupBy("fc_vessel").agg(F.expr("percentile_approx(diff_time, 0.5)").alias("median_time_in_port"))

In [116]:
# Tampilkan hasil
median_time_in_port_country.show(median_time_in_port_country.count(), truncate = False)

+---------------------+-------------------+
|fc_vessel            |median_time_in_port|
+---------------------+-------------------+
|Kiribati             |4188               |
|Philippines          |86852              |
|Djibouti             |6385470            |
|Malaysia             |247251             |
|Singapore            |44949              |
|Turkey               |1127802            |
|Germany              |68224              |
|Palau                |205202             |
|France               |78862              |
|Greece               |157319             |
|Sri Lanka            |496644             |
|Dominica             |116737             |
|Taiwan               |2974029            |
|Togo                 |54151              |
|Belgium              |55797              |
|Qatar                |10726              |
|Sierra Leone         |2423379            |
|Bahamas              |55443              |
|China                |100499             |
|India                |253722             |
|Malta                |46258              |
|Kuwait               |37370              |
|Marshall Islands     |88696              |
|Tuvalu               |872832             |
|Cayman Islands       |90720              |
|Gabon                |115490             |
|Italy                |120873             |
|Netherlands Antilles |4999166            |
|Norway               |100435             |
|Spain                |163802             |
|Denmark              |1050121            |
|Barbados             |59939              |
|Bangladesh           |70202              |
|Iran                 |8576851            |
|Russian Federation   |931043             |
|Thailand             |830701             |
|Panama               |127450             |
|Hong Kong            |103686             |
|Saint Kitts and Nevis|7729197            |
|USA                  |2300842            |
|South Korea          |135653             |
|Cyprus               |71098              |
|Gibraltar            |39881              |
|Montenegro           |1595463            |
|Indonesia            |146881             |
|Mongolia             |1080439            |
|Liberia              |133610             |
|Honduras             |3025               |
|UK                   |91577              |
|Saudi Arabia         |234231             |
|Ethiopia             |12958              |
|United Arab Emirates |62287              |
|Brunei               |18171              |
|Azores               |964078             |
|Cook Islands         |139856             |
|Belize               |1776502            |
|Brazil               |128700             |
|Antigua and Barbuda  |46905              |
|Japan                |50099              |
|Luxembourg           |105885             |
|Australia            |27149              |
|Cameroon             |7394619            |
|Bermuda              |28459              |
|Pakistan             |3339798            |
|Vanuatu              |26616              |
|Niue                 |22583              |
|Madeira              |86944              |
|Vietnam              |286845             |
|Netherlands          |101732             |
+---------------------+-------------------+

In [113]:
# Hitung rata-rata waktu di pelabuhan menurut tipe kapal
median_time_in_port_vess_type = result_out.select("vessel_type","diff_time").groupBy("vessel_type").agg(F.expr("percentile_approx(diff_time, 0.5)").alias("median_time_in_port"))

In [114]:
# Tampilkan hasil
median_time_in_port_vess_type.show()

+--------------+-------------------+
|   vessel_type|median_time_in_port|
+--------------+-------------------+
|       Sailing|             172075|
|        Tanker|              90500|
|         Other|              93816|
|Pleasure Craft|             223794|
|     Passenger|              91771|
|       Fishing|              31859|
|   Port Tender|             329200|
|      Dredging|              56127|
|         Cargo|             143282|
+--------------+-------------------+

In [ ]:
spark.stop()