# Initialialize

In [1]:
from sedona.register import SedonaRegistrator
SedonaRegistrator.registerAll(spark)

True

In [2]:
import subprocess
import sys

In [3]:
GITLAB_USER = "read aistt"
GITLAB_TOKEN = "J1KkstArfyXB6dZvFchN"
git_package = f"git+https://(GITLAB_USER):(GITLAB_TOKEN)@code.officialstatistics.org/trade-task-team-phase-1/ais.git"
std_out = subprocess.run([sys.executable, "-m", "pip", "install", git_package], capture_output=True, text=True) .stdout
print(std_out)

Collecting git+https://%28GITLAB_USER%29:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git
  Cloning https://%28GITLAB_USER%29:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git to /tmp/pip-req-build-k0b6j6gr

In [4]:
GITLAB_USER = 'ml_group_read_only'
GITLAB_TOKEN = 'eac7ZwiseRdeLwmBsrsm'

# Main: for using from current issued version
git_package = f"git+https://{GITLAB_USER}:{GITLAB_TOKEN}@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git"

std_out = subprocess.run([sys.executable, "-m", "pip", "install",git_package], capture_output=True, text=True).stdout
print(std_out)

Collecting git+https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git
  Cloning https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git to /tmp/pip-req-build-wcxjvmva
  Resolved https://ml_group_read_only:****@code.officialstatistics.org/mlpolygonsalgorithm/ml-group-polygons.git to commit 89f1aab64fee28c2f86e86d6fa7b55118882b1e8
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: unece-ais
  Building wheel for unece-ais (setup.py): started
  Building wheel for unece-ais (setup.py): finished with status 'done'
  Created wheel for unece-ais: filename=unece_ais-0.0.4-py3-none-any.whl size=12493 sha256=3ea67ac92cb9408ed7aed9d5be00d2bf22d2cb27d83eba33489dd3a19988e553
  Stored in directory: /tmp/pip-ephem-wheel-cache-os8czesq/wheels/61/b5/f9/bcf024b104169c32950c03a4605d2d07ea9da07cae7bed5e3e
Successfully built unece-ais
Installing collected packages: unece-ais
Successfully installed unece-ais-0.0.4

In [5]:
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, date_format, count, countDistinct, when, expr
from pyspark.sql.functions import year, month, dayofmonth, hour, minute, second
from pyspark.sql.functions import monotonically_increasing_id, lead, lag, abs, row_number
from pyspark.sql.functions import concat_ws, split
from pyspark.sql.types import IntegerType, StringType
from pyspark.sql.window import Window

from shapely.geometry import Point, Polygon, mapping
from IPython.display import HTML
from ais import functions as af
from unece_ais import unece_ais as un
from multiprocessing import Pool

In [6]:
import h3.api.numpy_int as h3int
import geopandas as gpd
import pandas as pd
import numpy as np
import calendar
import base64
import folium
import tqdm
import h3

In [7]:
pd.set_option('display.max_columns', None) #Show all columns in pandas df
pd.set_option('display.max_rows', 100) #Show 100 rows in pandas df
pd.options.display.float_format = '{:.10f}'.format #Show float with 10 decimal points in pandas df

from IPython.core.interactiveshell import InteractiveShell #allow multiple outputs in one jupyter cell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
# Path
base_path = "s3a://ungp-ais-data-historical-backup/user_temp/"
path_unique = base_path + "222011349/"

# Data

## Port-AOI Indonesia

In [9]:
# Read Data
port_aoi = spark.read.parquet(path_unique + "ports_indonesia.parquet", header=True)

In [11]:
#explode data port
port_aoi_exploded = port_aoi.select("Port", F.explode("boundary_h3").alias("boundary_h3"))

+-------+------------------+
|   Port|       boundary_h3|
+-------+------------------+
|Ampenan|615122181440929791|
|Ampenan|615122101841428479|
|Ampenan|615122103783391231|
|Ampenan|615122179136159743|
|Ampenan|615122099536658431|
|Ampenan|615122181078122495|
|Ampenan|615122101478621183|
|Ampenan|615122103420583935|
|Ampenan|615122099173851135|
|Ampenan|615122177557004287|
|Ampenan|615122069809528831|
|Ampenan|615122181803737087|
|Ampenan|615122182657277951|
|Ampenan|615122180352507903|
|Ampenan|615122176105775103|
|Ampenan|614982457390792703|
|Ampenan|615122179861774335|
|Ampenan|615122182294470655|
|Ampenan|615122069083914239|
|Ampenan|615122175742967807|
+-------+------------------+
only showing top 20 rows

## Port-NonAOI Indonesia

In [12]:
# Read Data
port_nonaoi = spark.read.parquet(path_unique + "non_aoi_ports_indonesia.parquet", header=True)

In [14]:
#explode data port
port_nonaoi_exploded = port_nonaoi.select("Port", F.explode("outer_boundary_h3").alias("outer_boundary_h3"))

+--------------------+------------------+
|                Port| outer_boundary_h3|
+--------------------+------------------+
|North Pulau Laut ...|614329729136197631|
|North Pulau Laut ...|614329729138294783|
|North Pulau Laut ...|614329729142489087|
|North Pulau Laut ...|614329729146683391|
|North Pulau Laut ...|614329729171849215|
|North Pulau Laut ...|614329729199112191|
|North Pulau Laut ...|614329729220083711|
|North Pulau Laut ...|614329729224278015|
|North Pulau Laut ...|614329729228472319|
|North Pulau Laut ...|614329729584988159|
|North Pulau Laut ...|614329729605959679|
|North Pulau Laut ...|614329729610153983|
|North Pulau Laut ...|614329729614348287|
|North Pulau Laut ...|614329729618542591|
|North Pulau Laut ...|614329729639514111|
|North Pulau Laut ...|614329729641611263|
|North Pulau Laut ...|614329729645805567|
|North Pulau Laut ...|614329729649999871|
|North Pulau Laut ...|614329729689845759|
|North Pulau Laut ...|614329729691942911|
+--------------------+------------------+
only showing top 20 rows

## Data AIS

In [13]:
# Read Data
data_ais = spark.read.parquet(path_unique + "data-ais-1persen-filter-dunia-2022.parquet", header=True)

In [14]:
# Select beberapa kolom df_data dg tipe kapal kargo & fishing
data_ais = data_ais.select("mmsi", "imo", "nav_status", "vessel_type", "flag_country", "status_country", "latitude", "longitude", "dt_pos_utc", "sog", "H3_int_index_8")

# Masuk-Keluar Indonesia

## Match Port-AOI & Vessel

In [24]:
#Cek kecocokan H3 kapal dg port

# Join DataFrame kapal with the exploded DataFrame port
match_port_aoi = data_ais.join(port_aoi_exploded, data_ais['H3_int_index_8'] == port_aoi_exploded['boundary_h3'], "inner")

# Selecting relevant columns and filtering out null values
match_port_aoi_select = match_port_aoi.select(col("mmsi").alias('mmsi_aoi'), col("dt_pos_utc").alias('dt_pos_utc_aoi'), col("Port").alias('Port_aoi'), col("flag_country").alias('flag_country_vessel_aoi'), col("status_country").alias('status_country_vessel_aoi'), col("vessel_type").alias('vessel_type_aoi'), col("H3_int_index_8").alias('H3_int_index_8_aoi'), "boundary_h3").filter(match_port_aoi["boundary_h3"].isNotNull())

+---------+-------------------+--------------------+-----------------------+-------------------------+---------------+------------------+------------------+
| mmsi_aoi|     dt_pos_utc_aoi|            Port_aoi|flag_country_vessel_aoi|status_country_vessel_aoi|vessel_type_aoi|H3_int_index_8_aoi|       boundary_h3|
+---------+-------------------+--------------------+-----------------------+-------------------------+---------------+------------------+------------------+
|525125033|2022-05-20 03:56:42|             Belawan|              Indonesia|                Indonesia|          Cargo|614266957117521919|614266957117521919|
|477325300|2022-05-20 02:13:10|             Belawan|              Hong Kong|                    Asing|          Cargo|614266959839625215|614266959839625215|
|538006810|2022-05-20 05:37:22|             Belawan|       Marshall Islands|                    Asing|         Tanker|614266959288074239|614266959288074239|
|636021420|2022-05-20 04:07:38|             Belawan|                Liberia|                    Asing|         Tanker|614266959975940095|614266959975940095|
|636021420|2022-05-20 05:16:36|             Belawan|                Liberia|                    Asing|         Tanker|614266959975940095|614266959975940095|
|352275000|2022-05-20 03:57:20|           Bengkalis|                 Panama|                    Asing|         Tanker|614268656194420735|614268656194420735|
|372556000|2022-05-20 03:01:24|               Dumai|                 Panama|                    Asing|          Cargo|614269525610725375|614269525610725375|
|441213000|2022-05-20 05:18:38|               Dumai|            South Korea|                    Asing|         Tanker|614269525849800703|614269525849800703|
|525401167|2022-05-20 02:43:00|               Dumai|              Indonesia|                Indonesia|         Tanker|614269525851897855|614269525851897855|
|205042000|2022-05-20 04:47:08|Belanak Field Ter...|                Belgium|                    Asing|         Tanker|614270101843083263|614270101843083263|
|525121002|2022-05-20 04:17:02|      Tanjung Santan|              Indonesia|                Indonesia|         Tanker|614328485350998015|614328485350998015|
|373773000|2022-05-20 04:42:43|      Tanjung Santan|                 Panama|                    Asing|          Cargo|614328485124505599|614328485124505599|
|255805685|2022-05-20 02:52:37|      Tanjung Santan|                Madeira|                    Asing|          Cargo|614328512779649023|614328512779649023|
|311061300|2022-05-20 05:28:51|      Tanjung Santan|                Bahamas|                    Asing|          Cargo|614328513161330687|614328513161330687|
|311061300|2022-05-20 05:34:51|      Tanjung Santan|                Bahamas|                    Asing|          Cargo|614328513161330687|614328513161330687|
|353664000|2022-05-20 02:50:08|      Tanjung Santan|                 Panama|                    Asing|          Cargo|614328512695762943|614328512695762943|
|356875000|2022-05-20 04:18:51|      Tanjung Santan|                 Panama|                    Asing|          Cargo|614328512599293951|614328512599293951|
|419000348|2022-05-20 03:55:46|      Tanjung Santan|                  India|                    Asing|          Cargo|614328512809009151|614328512809009151|
|441686000|2022-05-20 04:40:18|      Tanjung Santan|            South Korea|                    Asing|          Cargo|614328512731414527|614328512731414527|
|477648500|2022-05-20 02:06:37|      Tanjung Santan|              Hong Kong|                    Asing|          Cargo|614328513469612031|614328513469612031|
+---------+-------------------+--------------------+-----------------------+-------------------------+---------------+------------------+------------------+
only showing top 20 rows

In [27]:
match_port_aoi_select = match_port_aoi_select.withColumn('mmsi_port_aoi', concat_ws('_', 'mmsi_aoi', 'Port_aoi'))

In [25]:
match_port_aoi_select = match_port_aoi_select.orderBy("mmsi_aoi", "dt_pos_utc_aoi")

## Match Port-NonAOI & Vessel

In [33]:
#Cek kecocokan H3 kapal dg port

# Join DataFrame kapal with the exploded DataFrame port
match_port_nonaoi = data_ais.join(port_nonaoi_exploded, data_ais['H3_int_index_8'] == port_nonaoi_exploded['outer_boundary_h3'], "inner")

# Selecting relevant columns and filtering out null values
match_port_nonaoi_select = match_port_nonaoi.select(col("mmsi").alias('mmsi_nonaoi'), col("dt_pos_utc").alias('dt_pos_utc_nonaoi'), col("Port").alias('Port_nonaoi'), col("flag_country").alias('flag_country_vessel_nonaoi'), col("status_country").alias('status_country_vessel_nonaoi'), col("vessel_type").alias('vessel_type_nonaoi'), col("H3_int_index_8").alias('H3_int_index_8_nonaoi'), "outer_boundary_h3").filter(match_port_nonaoi["outer_boundary_h3"].isNotNull())

+-----------+-------------------+--------------------+--------------------------+----------------------------+------------------+---------------------+------------------+
|mmsi_nonaoi|  dt_pos_utc_nonaoi|         Port_nonaoi|flag_country_vessel_nonaoi|status_country_vessel_nonaoi|vessel_type_nonaoi|H3_int_index_8_nonaoi| outer_boundary_h3|
+-----------+-------------------+--------------------+--------------------------+----------------------------+------------------+---------------------+------------------+
|  525121002|2022-05-20 04:17:02|Bontang Lng Terminal|                 Indonesia|                   Indonesia|            Tanker|   614328485350998015|614328485350998015|
|  419001313|2022-05-20 03:10:36|            Sekupang|                     India|                       Asing|            Tanker|   614268611046932479|614268611046932479|
|  563028460|2022-05-20 04:26:07|            Sekupang|                 Singapore|                       Asing|            Tanker|   614268611483140095|614268611483140095|
|  563111600|2022-05-20 05:45:20|            Sekupang|                 Singapore|                       Asing|            Tanker|   614268611327950847|614268611327950847|
|  563451000|2022-05-20 05:52:32|            Sekupang|                 Singapore|                       Asing|            Tanker|   614268611483140095|614268611483140095|
|  563562000|2022-05-20 02:59:04|            Sekupang|                 Singapore|                       Asing|            Tanker|   614268611493625855|614268611493625855|
|  565307000|2022-05-20 02:58:56|         Pulau Sambu|                 Singapore|                       Asing|            Tanker|   614268611321659391|614268611321659391|
|  565472000|2022-05-20 05:33:13|            Sekupang|                 Singapore|                       Asing|            Tanker|   614268611493625855|614268611493625855|
|  566234000|2022-05-20 04:44:29|         Pulau Sambu|                 Singapore|                       Asing|            Tanker|   614268611543957503|614268611543957503|
|  566612000|2022-05-20 03:54:12|            Sekupang|                 Singapore|                       Asing|            Tanker|   614268611493625855|614268611493625855|
|  566612000|2022-05-20 06:00:03|            Sekupang|                 Singapore|                       Asing|            Tanker|   614268611493625855|614268611493625855|
|  566946000|2022-05-20 04:15:50|            Sekupang|                 Singapore|                       Asing|            Tanker|   614268611493625855|614268611493625855|
|  566975000|2022-05-20 05:10:15|            Sekupang|                 Singapore|                       Asing|            Tanker|   614268611493625855|614268611493625855|
|  574003150|2022-05-20 04:47:48|            Sekupang|                   Vietnam|                       Asing|            Tanker|   614268611046932479|614268611046932479|
|  636093096|2022-05-20 03:18:52|            Sekupang|                   Liberia|                       Asing|             Cargo|   614268613456560127|614268613456560127|
|  311562000|2022-05-20 02:42:40|            Sekupang|                   Bahamas|                       Asing|         Passenger|   614269016780832767|614269016780832767|
|  356028000|2022-05-20 04:32:55|            Sekupang|                    Panama|                       Asing|            Tanker|   614269017263177727|614269017263177727|
|  356028000|2022-05-20 04:32:55|         Pulau Sambu|                    Panama|                       Asing|            Tanker|   614269017263177727|614269017263177727|
|  356028000|2022-05-20 04:59:54|            Sekupang|                    Panama|                       Asing|            Tanker|   614269017263177727|614269017263177727|
|  356028000|2022-05-20 04:59:54|         Pulau Sambu|                    Panama|                       Asing|            Tanker|   614269017263177727|614269017263177727|
+-----------+-------------------+--------------------+--------------------------+----------------------------+------------------+---------------------+------------------+
only showing top 20 rows

In [36]:
match_port_nonaoi_select = match_port_nonaoi_select.withColumn('mmsi_port_nonaoi', concat_ws('_', 'mmsi_nonaoi', 'Port_nonaoi'))

In [37]:
match_port_nonaoi_select = match_port_nonaoi_select.orderBy("mmsi_nonaoi", "dt_pos_utc_nonaoi")

## Join All Dataframe

In [42]:
#Cek kecocokan aoi dg non-aoi

# Join DataFrame aoi dg non-aoi
result_df = match_port_aoi_select.join(match_port_nonaoi_select, (match_port_aoi_select['mmsi_port_aoi'] == match_port_nonaoi_select['mmsi_port_nonaoi']), "inner")

# Selecting relevant columns and filtering out null values
result_df = result_df.select("mmsi_port_aoi", "mmsi_port_nonaoi", "flag_country_vessel_aoi", "flag_country_vessel_nonaoi", "status_country_vessel_aoi", "status_country_vessel_nonaoi", "vessel_type_aoi", "vessel_type_nonaoi", "dt_pos_utc_aoi", "dt_pos_utc_nonaoi").where((col("mmsi_port_aoi").isNotNull()) & (col("mmsi_port_nonaoi").isNotNull()))

In [45]:
# Memisahkan kolom 'mmsi_port_aoi' menjadi 'mmsi_aoi' dan 'Port_aoi'
result_df = result_df.withColumn('mmsi_aoi', split('mmsi_port_aoi', '_')[0])
result_df = result_df.withColumn('Port_aoi', split('mmsi_port_aoi', '_')[1])
result_df = result_df.withColumn('mmsi_nonaoi', split('mmsi_port_nonaoi', '_')[0])
result_df = result_df.withColumn('Port_nonaoi', split('mmsi_port_nonaoi', '_')[1])

In [47]:
# Selecting relevant columns
result_df = result_df.select(col("mmsi_aoi").alias('mmsi'), col("Port_aoi").alias('Port'), col("flag_country_vessel_aoi").alias('flag_country_vessel'), col("status_country_vessel_aoi").alias('status_country_vessel'), col("vessel_type_aoi").alias('vessel_type'), "dt_pos_utc_aoi", "dt_pos_utc_nonaoi")

In [50]:
# Urutan salah satu waktu descending (PENTING)
result_df = result_df.orderBy("mmsi", "Port", "dt_pos_utc_nonaoi", col("dt_pos_utc_aoi").desc())

In [51]:
# Menentukan apakah dt_pos_utc_aoi unik

result_df_check_unique = result_df.withColumn(
    "unique_check_aoi",
    expr("(count(*) over (partition by mmsi, Port, dt_pos_utc_aoi) = 1)")
)

In [52]:
# Menentukan apakah dt_pos_utc_nonaoi unik

result_df_check_unique = result_df_check_unique.withColumn(
    "unique_check_nonaoi",
    expr("(count(*) over (partition by mmsi, Port, dt_pos_utc_nonaoi) = 1)")
)

In [54]:
# Urutan salah satu waktu descending (PENTING)
result_df_check_unique = result_df_check_unique.orderBy("mmsi", "Port", "dt_pos_utc_nonaoi", col("dt_pos_utc_aoi").desc())

In [53]:
result_df_check_unique.count()

5358866

## Menghitung Selisih Terkecil Waktu Masuk-Keluar

In [71]:
# Membuat window specification
windowSpec = Window().partitionBy("mmsi", "Port").orderBy("dt_pos_utc_nonaoi")

# Menambahkan kolom selisih waktu
result_diff = result_df_check_unique.withColumn(
    "diff_nonaoi_aoi",
    expr("abs(unix_timestamp(dt_pos_utc_nonaoi) - unix_timestamp(dt_pos_utc_aoi))")
)

# Menambahkan kolom untuk menentukan urutan selisih waktu dalam setiap kelompok
result_diff = result_diff.withColumn("rank_diff", row_number().over(windowSpec.orderBy("diff_nonaoi_aoi")))

In [72]:
# Memilih dua baris dengan rank_diff terkecil jika kondisi unik tidak benar, memilih semua baris jika kondisi unik benar
windowSpec = Window().partitionBy("mmsi", "Port").orderBy("rank_diff")

result_diff = result_diff.filter(
    ((col("unique_check_aoi") == False) | (col("unique_check_nonaoi") == False)) |
    ((col("unique_check_aoi") == True) & (col("unique_check_nonaoi") == True))
).withColumn("row_number", F.row_number().over(windowSpec)).filter("row_number <= 2").drop("row_number")

In [73]:
# Menampilkan hasil
result_diff = result_diff.orderBy("mmsi", "Port", "dt_pos_utc_aoi")

+---------+--------------------+-------------------+---------------------+-----------+-------------------+-------------------+----------------+-------------------+---------------+---------+
|     mmsi|                Port|flag_country_vessel|status_country_vessel|vessel_type|     dt_pos_utc_aoi|  dt_pos_utc_nonaoi|unique_check_aoi|unique_check_nonaoi|diff_nonaoi_aoi|rank_diff|
+---------+--------------------+-------------------+---------------------+-----------+-------------------+-------------------+----------------+-------------------+---------------+---------+
|205086000|            Sekupang|            Belgium|                Asing|     Tanker|2022-01-20 00:17:25|2022-01-20 04:25:28|            true|              false|          14883|        2|
|205086000|            Sekupang|            Belgium|                Asing|     Tanker|2022-01-20 02:54:24|2022-01-20 04:25:28|            true|              false|           5464|        1|
|205580000|         Tanjunguban|            Belgium|                Asing|      Cargo|2022-02-23 15:19:37|2022-10-31 20:51:02|            true|               true|       21619885|        1|
|205677000|            Sekupang|            Belgium|                Asing|     Tanker|2022-01-02 02:59:39|2022-01-02 02:37:29|            true|              false|           1330|        1|
|205677000|            Sekupang|            Belgium|                Asing|     Tanker|2022-01-02 05:36:36|2022-01-02 02:37:29|            true|              false|          10747|        2|
|205686000|         Pulau Sambu|            Belgium|                Asing|     Tanker|2022-03-10 15:14:58|2022-07-21 07:43:15|            true|              false|       11464097|        2|
|205686000|         Pulau Sambu|            Belgium|                Asing|     Tanker|2022-07-21 09:08:26|2022-07-21 07:43:15|            true|              false|           5111|        1|
|205706000|            Sekupang|            Belgium|                Asing|     Tanker|2022-08-06 19:59:20|2022-08-06 22:19:27|           false|              false|           8407|        2|
|205706000|            Sekupang|            Belgium|                Asing|     Tanker|2022-08-06 20:37:14|2022-08-06 22:19:27|           false|              false|           6133|        1|
|205751000|            Sekupang|            Belgium|                Asing|     Tanker|2022-01-31 00:56:03|2022-01-31 16:26:00|            true|              false|          55797|        2|
|205751000|            Sekupang|            Belgium|                Asing|     Tanker|2022-01-31 03:34:30|2022-01-31 16:26:00|            true|              false|          46290|        1|
|205751000|         Tanjunguban|            Belgium|                Asing|     Tanker|2022-02-25 10:41:17|2022-07-22 00:04:39|           false|              false|       12662602|        2|
|205751000|         Tanjunguban|            Belgium|                Asing|     Tanker|2022-05-03 19:17:00|2022-07-22 00:04:39|           false|              false|        6842859|        1|
|205761000|            Sekupang|            Belgium|                Asing|     Tanker|2022-06-08 11:03:12|2022-11-20 11:27:06|            true|              false|       14257434|        2|
|205761000|            Sekupang|            Belgium|                Asing|     Tanker|2022-06-08 12:51:13|2022-11-20 11:27:06|            true|              false|       14250953|        1|
|205781000|            Sekupang|            Belgium|                Asing|     Tanker|2022-07-06 12:40:58|2022-07-05 12:31:56|           false|              false|          86942|        2|
|205781000|            Sekupang|            Belgium|                Asing|     Tanker|2022-07-06 12:40:58|2022-07-05 14:34:57|           false|              false|          79561|        1|
|205787000|            Sekupang|            Belgium|                Asing|      Other|2022-03-11 15:07:17|2022-03-11 13:04:56|           false|              false|           7341|        1|
|205787000|            Sekupang|            Belgium|                Asing|      Other|2022-03-11 16:41:03|2022-03-11 13:04:56|           false|              false|          12967|        2|
|209004000|         Pulau Sambu|             Cyprus|                Asing|      Cargo|2022-05-11 04:30:43|2022-01-24 16:20:57|            true|               true|        9202186|        1|
|209034000|            Sekupang|             Cyprus|                Asing|      Cargo|2022-07-24 06:04:36|2022-07-24 13:16:39|            true|              false|          25923|        2|
|209034000|            Sekupang|             Cyprus|                Asing|      Cargo|2022-07-24 06:34:39|2022-07-24 13:16:39|            true|              false|          24120|        1|
|209116000|         Pulau Sambu|             Cyprus|                Asing|      Cargo|2022-02-01 04:56:25|2022-02-01 02:34:36|            true|              false|           8509|        1|
|209116000|         Pulau Sambu|             Cyprus|                Asing|      Cargo|2022-02-01 05:46:55|2022-02-01 02:34:36|            true|              false|          11539|        2|
|209135000|         Tanjunguban|             Cyprus|                Asing|      Cargo|2022-01-29 07:30:12|2022-08-31 17:41:15|            true|              false|       18526263|        2|
|209135000|         Tanjunguban|             Cyprus|                Asing|      Cargo|2022-05-03 01:25:16|2022-08-31 17:41:15|            true|              false|       10426559|        1|
|209287000|         Pulau Sambu|             Cyprus|                Asing|      Cargo|2022-03-01 13:52:15|2022-03-02 02:52:30|            true|              false|          46815|        2|
|209287000|         Pulau Sambu|             Cyprus|                Asing|      Cargo|2022-03-01 17:28:32|2022-03-02 02:52:30|            true|              false|          33838|        1|
|209287000|         Tanjunguban|             Cyprus|                Asing|      Cargo|2022-01-18 23:46:32|2022-03-01 13:52:15|           false|               true|        3593143|        2|
|209287000|         Tanjunguban|             Cyprus|                Asing|      Cargo|2022-01-18 23:46:32|2022-01-19 00:10:45|           false|               true|           1453|        1|
|209317000|         Pulau Sambu|             Cyprus|                Asing|      Cargo|2022-02-05 20:38:04|2022-02-05 22:59:15|            true|               true|           8471|        1|
|209363000|Tanjung Balai Kar...|             Cyprus|                Asing|      Cargo|2022-12-13 14:21:19|2022-12-13 12:41:20|            true|               true|           5999|        1|
|209388000|              Banten|             Cyprus|                Asing|      Cargo|2022-10-03 09:04:41|2022-10-03 16:17:39|            true|              false|          25978|        2|
|209388000|              Banten|             Cyprus|                Asing|      Cargo|2022-10-03 14:04:42|2022-10-03 16:17:39|            true|              false|           7977|        1|
|209407000|         Pulau Sambu|             Cyprus|                Asing|     Tanker|2022-06-06 00:28:42|2022-05-02 01:16:11|           false|              false|        3021151|        1|
|209407000|         Pulau Sambu|             Cyprus|                Asing|     Tanker|2022-06-06 02:02:27|2022-05-02 01:16:11|           false|              false|        3026776|        2|
|209425000|         Pulau Sambu|             Cyprus|                Asing|      Cargo|2022-06-21 21:06:40|2022-06-24 16:39:02|            true|              false|         243142|        2|
|209425000|         Pulau Sambu|             Cyprus|                Asing|      Cargo|2022-06-26 08:08:28|2022-06-24 16:39:02|            true|              false|         142166|        1|
|209425000|            Sekupang|             Cyprus|                Asing|      Cargo|2022-07-10 07:48:02|2022-07-20 03:23:47|            true|              false|         848145|        2|
|209425000|            Sekupang|             Cyprus|                Asing|      Cargo|2022-07-10 20:05:03|2022-07-20 03:23:47|            true|              false|         803924|        1|
|209442000|            Sekupang|             Cyprus|                Asing|      Cargo|2022-04-19 10:00:34|2022-04-19 08:42:35|           false|              false|           4679|        1|
|209442000|            Sekupang|             Cyprus|                Asing|      Cargo|2022-10-14 16:10:02|2022-10-14 18:17:08|           false|              false|           7626|        2|
|209442000|         Tanjunguban|             Cyprus|                Asing|      Cargo|2022-06-27 18:54:11|2022-06-09 03:18:47|           false|              false|        1611324|        2|
|209442000|         Tanjunguban|             Cyprus|                Asing|      Cargo|2022-06-27 18:54:11|2022-06-27 18:58:24|           false|              false|            253|        1|
|209444000|         Pulau Sambu|             Cyprus|                Asing|      Cargo|2022-08-07 21:50:25|2022-08-25 00:38:47|            true|              false|        1478902|        2|
|209444000|         Pulau Sambu|             Cyprus|                Asing|      Cargo|2022-09-08 01:27:33|2022-08-25 00:38:47|            true|              false|        1212526|        1|
|209444000|         Tanjunguban|             Cyprus|                Asing|      Cargo|2022-10-05 11:40:48|2022-10-24 03:37:39|           false|              false|        1612611|        2|
|209444000|         Tanjunguban|             Cyprus|                Asing|      Cargo|2022-12-07 07:24:40|2022-11-23 14:30:31|           false|              false|        1184049|        1|
|209527000|         Pulau Sambu|             Cyprus|                Asing|   Dredging|2022-11-19 13:16:11|2022-10-19 23:41:49|            true|              false|        2640862|        1|
|209527000|         Pulau Sambu|             Cyprus|                Asing|   Dredging|2022-11-20 07:28:13|2022-10-19 23:41:49|            true|              false|        2706384|        2|
+---------+--------------------+-------------------+---------------------+-----------+-------------------+-------------------+----------------+-------------------+---------------+---------+
only showing top 50 rows

In [74]:
# drop kolom yg tidak diperlukan
result_diff = result_diff.select("mmsi", "Port", col("flag_country_vessel").alias('fc_vessel'), col("status_country_vessel").alias('sc_vessel'), "vessel_type", "dt_pos_utc_aoi", "dt_pos_utc_nonaoi", col("diff_nonaoi_aoi").alias('diff_time'))

In [80]:
result_diff.count()

18902

## Menentukan Masuk atau Keluar

In [75]:
# Menambahkan kolom untuk menunjukkan masuk atau keluar
result_out_in = result_diff.withColumn(
    "movement",
    when(col("dt_pos_utc_nonaoi") < col("dt_pos_utc_aoi"), "Masuk").otherwise("Keluar")
)

### Save Data

In [ ]:
# Save Data
result_out_in.write.option("header", True).mode("overwrite").parquet(path_unique + "data-ais-1persen-masuk-keluar-indonesia-2022.parquet")

### Masuk

In [77]:
# Masuk
result_in = result_out_in.filter(col("movement") == "Masuk")

In [79]:
result_in.count()

9216

In [90]:
# Kapal Asing
result_in_asing = result_in.filter(col("status_country_vessel") == "Asing")

In [92]:
result_in_asing.count()

7286

### Keluar

In [81]:
# Keluar
result_out = result_out_in.filter(col("movement") == "Keluar")

In [83]:
result_out.count()

9686

In [87]:
# Kapal Asing
result_out_asing = result_out.filter(col("status_country_vessel") == "Asing")

In [89]:
result_out_asing.count()

7746

## Menghitung Jumlah

### Masuk

In [93]:
# Hitung jumlah kapal masuk
vessel_in_count_month = result_in.withColumn("months", F.date_format("dt_pos_utc_aoi", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_in"))

In [94]:
# Tampilkan hasil
vessel_in_count_month.show()

+---------+---------+
|   months|vessel_in|
+---------+---------+
|     July|      808|
| November|      668|
| February|      610|
|  January|      519|
|    March|      654|
|  October|      990|
|      May|      659|
|   August|      868|
|    April|      720|
|     June|      711|
| December|     1067|
|September|      942|
+---------+---------+

In [95]:
# Hitung jumlah kapal masuk
vessel_in_count_country = result_in.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_in"))

In [99]:
# Tampilkan hasil
vessel_in_count_country.show(vessel_in_count_country.count(), truncate = False)

+---------------------+---------+
|fc_vessel            |vessel_in|
+---------------------+---------+
|Philippines          |40       |
|Malaysia             |334      |
|Singapore            |1321     |
|Germany              |13       |
|Greece               |59       |
|Belgium              |7        |
|Sierra Leone         |18       |
|Bahamas              |112      |
|China                |220      |
|India                |29       |
|Malta                |175      |
|Marshall Islands     |820      |
|Tuvalu               |26       |
|Cayman Islands       |59       |
|Italy                |28       |
|Norway               |71       |
|Denmark              |80       |
|Russian Federation   |5        |
|Thailand             |99       |
|Panama               |1290     |
|Hong Kong            |582      |
|South Korea          |197      |
|Cyprus               |78       |
|Indonesia            |1930     |
|Mongolia             |16       |
|Liberia              |956      |
|UK                   |62       |
|Azores               |23       |
|Cook Islands         |19       |
|Belize               |11       |
|Japan                |43       |
|Luxembourg           |19       |
|Australia            |5        |
|Bermuda              |18       |
|Madeira              |70       |
|Vietnam              |116      |
|Netherlands          |31       |
|Kiribati             |2        |
|France               |12       |
|Sri Lanka            |2        |
|Dominica             |1        |
|Kuwait               |8        |
|Gabon                |16       |
|Netherlands Antilles |2        |
|Spain                |3        |
|Barbados             |1        |
|Bangladesh           |12       |
|Saint Kitts and Nevis|2        |
|Saudi Arabia         |18       |
|Ethiopia             |1        |
|Brunei               |6        |
|Antigua and Barbuda  |51       |
|Cameroon             |2        |
|Niue                 |9        |
|Taiwan               |23       |
|Iran                 |3        |
|United Arab Emirates |1        |
|Brazil               |11       |
|Turkey               |7        |
|Bahrain              |2        |
|Northern Mariana     |1        |
|Vanuatu              |10       |
|Djibouti             |2        |
|Montenegro           |1        |
|Sweden               |6        |
|Palau                |7        |
|Equatorial Guinea    |1        |
|Libya                |2        |
|USA                  |5        |
|Qatar                |1        |
|Tanzania             |1        |
|Gibraltar            |1        |
|Pakistan             |1        |
+---------------------+---------+

In [97]:
# Hitung jumlah kapal masuk
vessel_in_count_vess_type = result_in.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_in"))

In [98]:
# Tampilkan hasil
vessel_in_count_vess_type.show()

+--------------+---------+
|   vessel_type|vessel_in|
+--------------+---------+
|       Sailing|       32|
|        Tanker|     4718|
|         Other|      251|
|     Passenger|      517|
|      Dredging|       35|
|         Cargo|     3618|
|Pleasure Craft|       32|
|   Port Tender|        3|
|       Fishing|       10|
+--------------+---------+

### Keluar

In [87]:
# Hitung jumlah kapal keluar
vessel_out_count_month = result_out.withColumn("months", F.date_format("dt_pos_utc_nonaoi", "MMMM")) \
    .groupBy("months").agg(F.count("mmsi").alias("vessel_out"))

In [88]:
# Tampilkan hasil
vessel_out_count_month.show()

+---------+----------+
|   months|vessel_out|
+---------+----------+
|     July|       101|
| November|        98|
| February|       100|
|  January|       113|
|    March|        78|
|  October|       141|
|      May|        82|
|   August|       112|
|    April|        96|
|     June|       109|
| December|       123|
|September|       150|
+---------+----------+

In [101]:
# Hitung jumlah kapal keluar
vessel_out_count_country = result_out.select("fc_vessel","mmsi").groupBy("fc_vessel").agg(F.count("mmsi").alias("vessel_out"))

In [102]:
# Tampilkan hasil
vessel_out_count_country.show(vessel_out_count_country.count(), truncate = False)

+---------------------+----------+
|fc_vessel            |vessel_out|
+---------------------+----------+
|Philippines          |41        |
|Malaysia             |374       |
|Singapore            |1419      |
|Turkey               |10        |
|France               |15        |
|Greece               |99        |
|Togo                 |3         |
|Sierra Leone         |16        |
|Bahamas              |161       |
|China                |215       |
|India                |23        |
|Malta                |232       |
|Kuwait               |8         |
|Marshall Islands     |888       |
|Tuvalu               |27        |
|Cayman Islands       |51        |
|Italy                |28        |
|Norway               |95        |
|Denmark              |89        |
|Iran                 |12        |
|Thailand             |90        |
|Panama               |1313      |
|Hong Kong            |580       |
|Saint Kitts and Nevis|6         |
|South Korea          |214       |
|Cyprus               |70        |
|Indonesia            |1940      |
|Mongolia             |26        |
|Liberia              |954       |
|UK                   |73        |
|Saudi Arabia         |20        |
|Ethiopia             |9         |
|Brunei               |2         |
|Azores               |22        |
|Cook Islands         |29        |
|Belize               |6         |
|Antigua and Barbuda  |43        |
|Japan                |33        |
|Luxembourg           |8         |
|Australia            |5         |
|Bermuda              |36        |
|Madeira              |56        |
|Vietnam              |154       |
|Germany              |15        |
|Palau                |10        |
|Taiwan               |16        |
|Belgium              |12        |
|Qatar                |1         |
|Bangladesh           |25        |
|Russian Federation   |7         |
|Vanuatu              |7         |
|Netherlands          |36        |
|Gabon                |8         |
|Barbados             |4         |
|Netherlands Antilles |7         |
|Gibraltar            |4         |
|Honduras             |1         |
|United Arab Emirates |3         |
|Brazil               |11        |
|Niue                 |5         |
|Montenegro           |1         |
|Cameroon             |5         |
|Kiribati             |1         |
|Dominica             |3         |
|Spain                |3         |
|Sri Lanka            |2         |
|USA                  |1         |
|Djibouti             |2         |
|Pakistan             |1         |
+---------------------+----------+

In [103]:
# Hitung jumlah kapal keluar
vessel_out_count_vess_type = result_out.select("vessel_type","mmsi").groupBy("vessel_type").agg(F.count("mmsi").alias("vessel_out"))

In [104]:
# Tampilkan hasil
vessel_out_count_vess_type.show()

+--------------+----------+
|   vessel_type|vessel_out|
+--------------+----------+
|       Sailing|        17|
|        Tanker|      5468|
|         Other|       273|
|     Passenger|       460|
|      Dredging|        37|
|         Cargo|      3397|
|Pleasure Craft|        19|
|       Fishing|        10|
|   Port Tender|         5|
+--------------+----------+

In [ ]:
spark.stop()